{{#markdown}}
## General
File uploaders are commonly found in forms, but they can also live as stand alone elements.

**Add files** is the default text that appears with the file uploader button.

File uploaders should always be accompanied by a **Submit** or **Upload**, which is to be styled as a <a class="base-link" href="http://design-system.stage1.mybluemix.net/elements/buttons.html">secondary button.</a>

 [ example ]

## Interaction
1. The user may select 1 or more files to upload at a time.
2. The action of clicking **Add files** will trigger a browser-specific upload window.
3. Once the user chooses files to upload, the browswer-specific upload window closes and the files will appear below the **Add files** button.
4. User clicks **Submit** or **Upload** to submit their data.
4. Any errors that may occur with the file should appear as an inline error <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/notifications.html">notification</a>.

{{/markdown}}
