{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

A user may have multiple rows open at once. There is no limit to the height of an open row, however, the padding specs below should be followed. The width of an accordion varies based on the content, layout, and page design. The chevron icon may be found in the <a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank">Icon repo</a> or on the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography library</a> page. The chevron has two different colors, one when the row is closed and a second for when the row is open.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/accordion/Accordion_Mobile@2x.png">
    <img src="/assets/images/style/accordion/Accordion_Desktop@2x.png">
    </picture>
    <p class="caption">Accordion | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/accordion/light-ui/Accordion_Mobile@2x.png">
    <img src="/assets/images/style/accordion/light-ui/Accordion_Desktop@2x.png">
    </picture>
    <p class="caption">Accordion | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Row height</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
    <div class="table__row">
      <p>Chevron height</p>
      <p class="table--light">10px</p>
      <p class="table--light">.635rem</p>
    </div>
    <div class="table__row">
      <p>Divider line</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
  </div>

**The width of the accordion varies based based on the layout and content of a page's design.**

  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Open chevron</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
        <div class="table__row">
          <p>Closed chevron</p>
          <p class="table--light">#ffffff <span class="table__swatch--white"></span></p>
          <p class="table--light">$color__white</p>
        </div>
        <div class="table__row">
          <p>Divider line</p>
          <p class="table--light">#20343e <span class="table__swatch--navy-gray-2"></span></p>
          <p class="table--light">$color__navy-gray-2</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Open chevron</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
        <div class="table__row">
          <p>Closed chevron</p>
          <p class="table--light">#152935 <span class="table__swatch--blue-90"></span></p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Divider line</p>
          <p class="table--light">#dfe3e6 <span class="table__swatch--gray-1"></span></p>
          <p class="table--light">$color__gray-1</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Avoid having any text within 16px / 1rem of the accordion's sides. Additionally, include padding between labels, body copy, and separation lines to provide breathing room between elements.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/accordion/Accordion_Padding_Mobile@2x.png">
    <img src="/assets/images/style/accordion/Accordion_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Accordion padding | px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/accordion/light-ui/Accordion_Padding_Mobile@2x.png">
    <img src="/assets/images/style/accordion/light-ui/Accordion_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Accordion padding | px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Between chevron & label</p>
      <p class="table--light">16px</p>
      <p class="table--light">1em</p>
    </div>
    <div class="table__row">
      <p>Between content & right edge</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Between label & content</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Between content & line</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
</div>

### Typography

All accordion labels are set in title case, with the first letter of each word capitalized. Labels should not exceed three words. Set body text appropriately based on content. All text should follow the typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Body copy</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>FONT WEIGHT</p>
        <p>KEYWORD</p>
        <p>NUMERICAL VALUE</p>
      </div>
      <div class="table__row">
        <p>Label</p>
        <p class="table--light">normal</p>
        <p class="table--light">400</p>
      </div>
      <div class="table__row">
        <p>Body copy</p>
        <p class="table--light">normal</p>
        <p class="table--light">400</p>
      </div>
    </div>



  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Label</p>
          <p class="table--light">#ffffff <span class="table__swatch--white"></span></p>
          <p class="table--light">$color__white</p>
        </div>
        <div class="table__row">
          <p>Body copy</p>
          <p class="table--light">#ffffff <span class="table__swatch--white"></span></p>
          <p class="table--light">$color__white</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Label</p>
          <p class="table--light">#152935 <span class="table__swatch--blue-90"></span></p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Body copy</p>
          <p class="table--light">#152935 <span class="table__swatch--blue-90"></span></p>
          <p class="table--light">$color__blue-90</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>


</div>

</div>

{{/markdown}}
