{{#markdown}}
## General
Accordions are best used when users need to consume a few specific areas of content within a page. They can also be used when vertical space is a concern.

Use accordions only if there is enough content to warrant condensing it. Avoid the use of nested accordions, as this increases cognitive load on users.


## Interaction
* Allow the user to have multiple accordions open at the same time.
* By default, one accordion should be open to inform the user that there is collapsable content.
* The entire header area should be clickable to expand or collapse the content below.


{{/markdown}}
