{{#markdown}}
## General
Accordions are best used when users need to consume specific areas of content within a page or when vertical space is limited.

Use accordions when there is enough content to condense. Avoid nested accordions because it increases the cognitive load for users.


## Interaction
* Users may have multiple accordions open at the same time.
* By default, one accordion should be open to inform the user there is collapsible content.
* The entire header area is clickable to expand or collapse the content below.


{{/markdown}}
