{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

Search boxes are a single color fill with a contrasting color for the text of the label. The width of the search field should appropriately fit the design and layout of content. Larger search fields should include a filter button with a label and filter icon. Smaller search fields should have a filter button with a filter icon and no label.

**Search Box Color:
Dark UI: #ffffff at 10% opacity rgba(255, 255, 255, 0.10)
Light UI: #3d70b2 at 10% opacity rgba(61, 112, 178, 0.10)**
**Search Box Height: 50px / 3.125em**
**Small Search Box Height: 40px / 2.5em**
**Filter Icon (height & width): 16 px / 1em**
**Search Icon (height & width): 20 px /1.25em**
**Small Search Icon (height & width): 20px / 1.25em**

</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding

**Space between box and search icon: 12px / .75em**
**Space between search icon and search text: 12px / .75em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Small_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Small_Desktop@2x.png">
    </picture>
    <p class="caption">Small Search Field | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Large_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Large_Desktop@2x.png">
    </picture>
    <p class="caption">Large Search Field | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Search_Small_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Search_Small_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Small Search Field | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Large_Search_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Large_Search_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Large Search Field | units in px / em</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### States

Search fields have three states: normal, hover, and input. There are specific elements such as type and button color that change depending on the state.

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Small_States_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Small_States_Desktop@2x.png">
    </picture>
    <p class="caption">Small Search Field States | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Large_States_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Large_States_Desktop@2x.png">
    </picture>
    <p class="caption">Large Search Field States | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Search_Small_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Search_Small_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Small Search Field States | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Large_Search_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Large_Search_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Large Search Field States | units in px / em</p>
  </div>
</div>

</div>

## Typography
<div class="view__section">

<div class="view__full">

Search text should be set in sentence case, with only the first letter of the first word capitalized. Search text should follow the Bluemix Typography font stack for sans-serif.

**Large Search Field Normal and Hover font-size: 14px / .875rem**
**Large Search Field Normal and Hover font weight: roman italic / 400**
**Large Search Field Input font-size: 14px / .875rem**
**Large Search Field Input font-weight: bold / 700**
**Filter Button font-size: 14px / .875rem**
**Filter Button font-weight: bold / 700**

</div>

</div>

{{/markdown}}
