{{#markdown}}

## Structure
<div class="view__section">

<div class="view__full">

### Basics

Search inputs are solid, one color boxes with contrasting color for the text. The width of the search field should appropriately fit the design and layout of content. Larger search fields should include a filter button, with a label and filter icon. Smaller search fields contain only a filter icon.

**Search Box Color White rgba(255,255,255,0.10);**
**Search Box Height: 50px / 3.125em**
**Filter Icon (height & width): 16 px / 1em**
**Search Icon (height & width): 20 px /1.25em**

</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding

**Space between box and search icon: 12px / .75em**
**Space between search icon and search text: 12px / .75em**

</div>

<div class="view__half">
<picture>
  <source media="(max-width: 550px)" srcset="/assets/images/Search Small_2px_640(1).png">
  <img src="/assets/images/Search Small_2px_640.png">
</picture>
<p class="caption">Small Search Field | units in px / em</p>
<picture>
  <source media="(max-width: 550px)" srcset="/assets/images/Search_Large_2px_640.png">
  <img src="/assets/images/Search_Large_2px_640(1).png">
</picture>
<p class="caption">Large Search Field | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

### States

Search fields have three states: normal, hover, and input. There are specific elements such as type and button color that change depending on the state.

</div>

<div class="view__half">
<picture>
  <source media="(max-width: 550px)" srcset="/assets/images/Search_Small_States_2px_640(1).png">
  <img src="/assets/images/Search_Small_States_2px_640.png">
</picture>
<p class="caption">Small Search Field States | units in px / em</p>
<picture>
  <source media="(max-width: 550px)" srcset="/assets/images/Search_Large_States_2px_640(1).png">
  <img src="/assets/images/Search_Large_States_2px_640.png">
</picture>
<p class="caption">Large Search Field States | units in px / em</p>
</div>

</div>

## Typography
<div class="view__section">

<div class="view__full">

Search text should be set in sentence case, with only the first letter of the first word capitalized. Search text should follow the Bluemix Typography font stack for sans-serif.

**Large Search Field Normal and Hover font-size: 14px / .875rem**
**Large Search Field Normal and Hover font weight: roman italic / 400**
**Large Search Field Input font-size: 14px / .875rem**
**Large Search Field Input font-weight: bold / 700**
**Filter Button font-size: 14px / .875rem**
**Filter Button font-weight: bold / 700**

</div>

</div>

{{/markdown}}
