{{#markdown}}

## General

### Search Fields

Search fields should include autocomplete and search history to aid the user in finding the correct query. Set users' context for the search with helpful hint text within the search field (Search Docs, Search Bluemix).

### Filtering
If additional sorting is necessary, filtering can be used as a way to further narrow content based on the user's search query.

<p class="caption">Example:</h5>
<div class="overlay-image mb2">
  <img class="thumbnail-img" src="/assets/images/usage/search-filter.png" />
  <a href="/assets/images/usage/search-filter.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p></p>
  </a>
</div>

### Search Results

- Clearly show which results are being displayed with labels or headers (i.e. **Results for X**).
- Categorize the search results if they come from different areas of the site (eg. docs, services, apps, tutorials, blogs).
- Give the user control over their viewing options and ability to sort results (eg. relevancy, popularity, ratings, date).
- Have a clear, no results message if there are no results, and offer suggestions if possible.
- Have smart algorithms that can search for similar terms or can search even with misspelled words.
- Include enough of a description in the results for users to make a judgement as to whether that  particular result is relevant.
- Highlight the search term in the results, where appropriate.


<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/search-results.gif" />
  <a href="/assets/images/usage/search-results.gif" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p></p>
  </a>
</div>

## Size
The standard sized search bar should be used when Search can aid in the discoverability of content.

<p class="caption">Example:</h5>
<div class="overlay-image mb2">
  <img class="thumbnail-img" src="/assets/images/usage/search-large.png" />
  <a href="/assets/images/usage/search-large.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p></p>
  </a>
</div>

A smaller, more compact search bar can be used when there is space constraints in your design. Use the magnifying glass icon to inform users that search is available within the page. Once the user clicks the magnifying glass, a search field will expand and allow the user to type in their query.

<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/search-small-2.png" />
  <a href="/assets/images/usage/search-small-2.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>

{{/markdown}}

<!-- -Leaving out until we confirm mobile use case
##Mobile
For Search as Primary intent, the search field will always be presented to the user but respond to the viewport size.  For Search as Help and Search as a Filter, it is acceptable to hide the search field until a user-initiated action. If the search field is hidden a user can reveal it by tapping on the standard Bluemix magnifying glass icon. Upon tapping the magnifying glass icon the search field should appear and enter the active state ready for text entry.   -->
