{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

Search boxes are a single color fill with a contrasting color for the text of the label. The width of the search field should appropriately fit the design and layout of content. Larger search fields should include a filter button with a label and filter icon. Smaller search fields should have a filter button with a filter icon and no label.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">50px</p>
      <p class="table--light">3.125rem</p>
    </div>
    <div class="table__row">
      <p>Small search height</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
    <div class="table__row">
      <p>Filter Icon (height & width)</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Search Icon (height & width)</p>
      <p class="table--light">20px</p>
      <p class="table--light">1.25rem</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#ffffff at 10% opacity</p>
          <p class="table--light">$color__inputs--bg</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#3d70b2 at 10% opacity</p>
          <p class="table--light">$color__inputs--bg--light-ui</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Small_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Small_Desktop@2x.png">
    </picture>
    <p class="caption">Small Search Field | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Large_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Large_Desktop@2x.png">
    </picture>
    <p class="caption">Large Search Field | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Search_Small_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Search_Small_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Small Search Field | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Large_Search_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Large_Search_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Large Search Field | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Space between box and search icon</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Space between search icon and search text</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### States

Search fields have three states: normal, hover, and input. There are specific elements such as type and button color that change depending on the state.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Small_States_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Small_States_Desktop@2x.png">
    </picture>
    <p class="caption">Small Search Field States | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/Search_Large_States_Mobile@2x.png">
      <img src="/assets/images/style/search/Search_Large_States_Desktop@2x.png">
    </picture>
    <p class="caption">Large Search Field States | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Search_Small_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Search_Small_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Small Search Field States | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/search/light-ui/Large_Search_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/search/light-ui/Large_Search_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Large Search Field States | units in px / em</p>
  </div>
</div>

</div>

</div>

## Typography
<div class="view__section">

<div class="view__full">

Search text should be set in sentence case, with only the first letter of the first word capitalized. Search text should follow the Bluemix Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Search placeholder text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Search field text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Filter button text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Search placeholder text</p>
      <p class="table--light">Normal italic</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Search field text</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Filter button text</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
  </div>
</div>

</div>

</div>
</div>
{{/markdown}}
