.wrapped-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  max-width: 50rem;
}

.color {
  margin-bottom: 3rem;

  &--border {
    .color__example {
      border: 1px solid $color__gray-1;
    }
  }

  p {
    font-weight: 600;

    &:last-child {
      font-weight: 400;
    }
  }
}

.hover-card p:last-child {
  font-size: 12px;
}

.color__example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: em(165px);
  height: em(120px);
  transition: transform $transition--base;
  margin-bottom: 1rem;

  button {
    font-family: 'ibm-plex-sans', Arial, Helvetica, sans-serif;
    font-size: rem(12px);
    background: transparent;
    border: 2px solid currentColor;
    padding: 0.5em 0.75em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: opacity $transition--base;
    opacity: 0;
  }

  &:hover,
  &:focus,
  button:focus {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;

    button {
      opacity: 1;
    }
  }

  input {
    display: none;
  }

  &.hover-primary {
    background-color: darken(#3d70b2, 10%);

    button {
      color: white;
    }
  }

  &.hover-primary-text {
    background-color: darken(#3d70b2, 15%);

    button {
      color: white;
    }
  }

  &.hover-danger {
    background-color: darken($support-01, 10%);

    button {
      color: white;
    }
  }

  &.hover-secondary {
    background-color: #3d70b2;

    button {
      color: white;
    }
  }

  &.hover-row {
    background-color: rgba($brand-02, 0.1);
  }
}

.dark-text {
  color: #152935;
}

.light-text {
  color: #fff;
}
