<h1 id="alerts">Alerts</h1>
<h2 id="types-of-alerts">Types of Alerts</h2>
<h2 id="example">Example</h2>
<div class="alert" role="alert">
    <div class="alert--danger">
        <div class="alert__title">&#39;App Name&#39; is stopped</div>
        <div class="alert__subtitle">Your application was stopped.</div>
        <!-- <div class="alert__body">August 1st 2015 11:50pm - August 2nd 2015 1:30am</div> -->
        <div class="alert__caption">10:47 AM</div>
    </div>
    <button class="alert__close" type="button">
        <span aria-label="close">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="22px" height="22px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <g>
            <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414
              20.293,21.707 21.707,20.293 17.414,16 21.707,11.707   "/>
            <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
              s12,5.383,12,12S22.617,28,16,28z"/>
          </g>
          </svg>
        </span>
    </button>
</div>

<pre><code class="lang-markup">&lt;div class=&quot;alert&quot; role=&quot;alert&quot;&gt;
    &lt;div class=&quot;alert--danger&quot;&gt;
        &lt;div class=&quot;alert__title&quot;&gt;&#39;App Name&#39; is stopped&lt;/div&gt;
        &lt;div class=&quot;alert__subtitle&quot;&gt;Your application was stopped.&lt;/div&gt;
        &lt;!-- &lt;div class=&quot;alert__body&quot;&gt;August 1st 2015 11:50pm - August 2nd 2015 1:30am&lt;/div&gt; --&gt;
        &lt;div class=&quot;alert__caption&quot;&gt;10:47 AM&lt;/div&gt;
    &lt;/div&gt;
    &lt;button class=&quot;alert__close&quot; type=&quot;button&quot;&gt;
        &lt;span aria-label=&quot;close&quot;&gt;
          &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
          &lt;!DOCTYPE svg PUBLIC &quot;-//W3C//DTD SVG 1.1//EN&quot; &quot;http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd&quot;&gt;
          &lt;svg version=&quot;1.1&quot; id=&quot;Layer_1&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; x=&quot;0px&quot; y=&quot;0px&quot;
             width=&quot;22px&quot; height=&quot;22px&quot; viewBox=&quot;0 0 32 32&quot; enable-background=&quot;new 0 0 32 32&quot; xml:space=&quot;preserve&quot;&gt;
          &lt;g&gt;
            &lt;polygon points=&quot;20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414
              20.293,21.707 21.707,20.293 17.414,16 21.707,11.707   &quot;/&gt;
            &lt;path d=&quot;M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
              s12,5.383,12,12S22.617,28,16,28z&quot;/&gt;
          &lt;/g&gt;
          &lt;/svg&gt;
        &lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
</code></pre>
