<h1 id="data-modules">Data Modules</h1>
<ul>
<li>create modules within a <code>module-section</code></li>
</ul>
<pre><code class="lang-html">&lt;section class=&quot;data-section&quot;&gt;
  &lt;div class=&quot;data-module--full&quot;&gt;
    //...
  &lt;/div&gt;
&lt;/section&gt;
</code></pre>
<p>Classes for base module containers:</p>
<ul>
<li><code>data--one-third</code></li>
<li><code>data--two-third</code></li>
<li><code>data--half</code></li>
<li><code>data--full</code></li>
</ul>
<p>Classes for internal modules (within the containing ones):</p>
<ul>
<li><code>.full</code></li>
<li><code>.half</code></li>
</ul>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/0078/0001/0513/1ec9a934-d19a-11e5-8896-c826996c75cf.png" alt="screen shot 2016-02-12 at 3 02 07 pm">
<img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/0078/0001/0514/21e4eb38-d19a-11e5-861c-f15185eed35d.png" alt="screen shot 2016-02-12 at 3 01 58 pm"></p>
<h1 id="components-required">Components required</h1>
<pre><code class="lang-scss">@import &#39;bluemix-components/core/colors/colors&#39;;

@import &#39;bluemix-components/components/modules/modules&#39;;
</code></pre>
