<h1 id="data-modules">Data Modules</h1>
<h3 id="deprecated-use-modules-https-github-ibm-com-bluemix-bluemix-components-tree-master-components-modules-instead-">Deprecated: Use <a href="https://github.ibm.com/Bluemix/bluemix-components/tree/master/components/modules">modules</a> instead.</h3>
<h3 id="usage">Usage</h3>
<p>Create modules within a <code>module-section</code></p>
<pre><code class="lang-html">&lt;section class=&quot;data-section&quot;&gt;
  &lt;div class=&quot;data-module--full&quot;&gt;
    &lt;!-- ... --&gt;
  &lt;/div&gt;
&lt;/section&gt;
</code></pre>
<p>Classes for base module containers:</p>
<ul>
<li><code>data--one-third</code></li>
<li><code>data--two-third</code></li>
<li><code>data--half</code></li>
<li><code>data--full</code></li>
</ul>
<p>Classes for internal modules (within the containing ones):</p>
<ul>
<li><code>.full</code></li>
<li><code>.half</code></li>
</ul>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/0078/0001/0513/1ec9a934-d19a-11e5-8896-c826996c75cf.png" alt="screen shot 2016-02-12 at 3 02 07 pm">
<img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/0078/0001/0514/21e4eb38-d19a-11e5-861c-f15185eed35d.png" alt="screen shot 2016-02-12 at 3 01 58 pm"></p>
<h1 id="required">Required</h1>
<pre><code class="lang-scss">@import &#39;bluemix-components/global/global&#39;;

@import &#39;bluemix-components/components/data-module/data-module&#39;;
</code></pre>
