<h1 id="header">Header</h1>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/0908/0000/7745/a423e5c8-c3f2-11e5-985c-d49edfa1621d.gif" alt="header"></p>
<p>This component represents the composed header template. The actual header inside Bluemix.Common will populate the template with actual content, but this is the base skeleton.
Has taxonomy menu that lets user switch different feature areas.</p>
<h1 id="components-required">Components required</h1>
<pre><code>@import &#39;bluemix-components/core/reset/reset&#39;;
@import &#39;bluemix-components/core/colors/colors&#39;;
@import &#39;bluemix-components/core/fonts/font-face&#39;;
@import &#39;bluemix-components/core/typography/typography&#39;;
@import &#39;bluemix-components/core/layout/grid&#39;;
@import &#39;bluemix-components/core/layout/z-index&#39;;

@import &#39;bluemix-components/components/taxonomy-item/taxonomy-item&#39;;
</code></pre>