<h1 id="taxonomy-item">Taxonomy Item</h1>
<h2 id="taxonomy-item-styles">Taxonomy Item Styles</h2>
<h3 id="global-dashboard">Global Dashboard</h3>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/2212/0000/8852/927dba40-c9c1-11e5-90f2-dbec9a4e8037.png" alt="Global Dashboard"></p>
<p>Create a global dashboard taxonomy item:</p>
<pre><code class="lang-html">&lt;a href=&quot;&quot; class=&quot;taxonomy-item--global-dash is-empty&quot;&gt;
  &lt;div class=&quot;taxonomy-item__icon&quot;&gt;
    &lt;svg class=&quot;svg--taxonomy--compute-dims&quot;&gt;
      &lt;use xlink:href=&quot;../../images/sprite.svg#taxonomy--compute&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;p class=&quot;taxonomy-item__metric&quot;&gt;&lt;/p&gt;
  &lt;p class=&quot;taxonomy-item__label&quot;&gt;Compute&lt;/p&gt;
&lt;/a&gt;
</code></pre>
<h4 id="taxonomy-item-states">Taxonomy Item states</h4>
<ul>
<li>Empty state</li>
</ul>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/2212/0000/8853/cfeb859c-c9c1-11e5-9cff-f85fbe6e64c8.png" alt="Empty state"></p>
<p>To create the empty state, add the class <code>is-empty</code>.</p>
<ul>
<li>Healthy state</li>
</ul>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/2212/0000/8868/554dadcc-c9c3-11e5-9503-39928e2a5dd7.png" alt="Healhty state"></p>
<p>To create the healthy state, add the class <code>is-healthy</code>.</p>
<ul>
<li>Error state</li>
</ul>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/2212/0000/8867/554ca206-c9c3-11e5-948e-807ce62aede0.png" alt="Error state"></p>
<p>To create the error state, add the class <code>is-error</code>.</p>
<ul>
<li>Stopped state</li>
</ul>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/2212/0000/8866/554c8208-c9c3-11e5-8ec7-4db9fc247789.png" alt="Stopped state"></p>
<p>To create the stopped state, add the class <code>is-stopped</code>.</p>
<h3 id="taxonomy-menu">Taxonomy Menu</h3>
<p><img src="https://uploads.github.ibm.com/github-enterprise-assets/0000/2212/0000/8871/b47e2088-c9c3-11e5-8b67-b47196b3eae9.png" alt="Taxonomy Menu"></p>
<p>Create a taxonomy menu item:</p>
<pre><code class="lang-html">&lt;a href=&quot;&quot; class=&quot;taxonomy-item--taxonomy-menu&quot;&gt;
  &lt;div class=&quot;taxonomy-item__icon&quot;&gt;
    &lt;svg class=&quot;svg--taxonomy--compute-dims&quot;&gt;
      &lt;use xlink:href=&quot;../../images/sprite.svg#taxonomy--compute&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
  &lt;p class=&quot;taxonomy-item__label&quot;&gt;Compute&lt;/p&gt;
&lt;/a&gt;
</code></pre>
