# dependencies
node_modules

# testing
coverage

# production
build
dist
scripts
!scripts/build.js
!scripts/frontmatter.js
!scripts/start.js
!scripts/templates.js

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
