{{#markdown}}

## General
The persistent navigation occupies the left of the screen and spans vertically from the global header bar to the bottom of the screen. The text is left-justified, and each title may occupy up to a maximum of 2 lines of space.

<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Light/dashboard-cf-apps-1.png" />
  <a href="/assets/images/templates/Instance_Dashboard/Light/dashboard-cf-apps-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>
<!--
The pattern has a parent/child relationship and supports a maximum of 2 levels of hierarchy. Organization may vary based on what makes given the context. There may be at most 6 parent items. Similarly, up to 6 child items may nest beneath each parent. Depending on the context, there are certain required navigation items, recommended ones, and the rest are extensible.





<br>
Parents and children are active targets. Parents that appear with a caret icon indicates there is at least one child nested below. When selected, a parent reveals the child item(s). Clicking a child directly affects content to the right of the left navigation. A selected child remains exposed after reloading. In cases where a parent does not feature any children, the carrot is removed and the parent may be directly selected.


<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/left-nav-2.gif" />
  <a href="/assets/images/usage/left-nav-2.gif" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div> -->


{{/markdown}}
