{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

Regardless if a user is on Level 1 or Level 2, the width of the menu stays consistent. The menu height varies based on the height of the browser, always spanning from the global header to the bottom of the browser. The top header bar is only used on Level 2 to navigate back to the Level 1 version of the menu.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">250</p>
      <p class="table--light">15.625</p>
    </div>
    <div class="table__row">
      <p>Height of selected area</p>
      <p class="table--light">36</p>
      <p class="table--light">2.25</p>
    </div>
    <div class="table__row">
      <p>Dividing line weight</p>
      <p class="table--light">1</p>
      <p class="table--light">-</p>
    </div>
  </div>
</div>

**Height of left navigation varies based on browser height, and should always span the screen height vertically.**

<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Dividing line</p>
          <p class="table--light">#5a6872 <span class="table__swatch--navy-gray-6"></span></p>
          <p class="table--light">$color__navy-gray-6</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Dividing line</p>
          <p class="table--light"></span>#dfe6eb <span class="table__swatch--navy-gray-8"></p>
          <p class="table--light">$color__navy-gray-8</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/interior_left_nav_level_1_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/interior_left_nav_level_1_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 1 | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_1_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_1_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 1 | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height of header bar</p>
      <p class="table--light">50</p>
      <p class="table--light">3.125</p>
    </div>
  </div>
</div>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/interior_left_nav_level_2_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/interior_left_nav_level_2_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 2 | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_2_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_2_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 2 | units in px / rem</p>
  </div>
</div>

</div>
</div>



<div class="view__section">

<div class="view__full">

### Padding

The internal padding for both Level 1 and Level 2 is the same. However, Level 2 has additional elements which have specific padding requirements.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal</p>
      <p class="table--light">24</p>
      <p class="table--light">1.5</p>
    </div>
  </div>
</div>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/interior_left_nav_level_1_padding_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/interior_left_nav_level_1_padding_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 1 | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_1_padding_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_1_padding_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 1 | units in px / rem</p>
  </div>
</div>

**Level two only**
<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Arrow & text</p>
      <p class="table--light">20</p>
      <p class="table--light">1.125</p>
    </div>
    <div class="table__row">
      <p>Divider line & selected area</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
  </div>
</div>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/interior_left_nav_level_2_padding_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/interior_left_nav_level_2_padding_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 2 padding | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_2_padding_desktop@2x.png">
    <img src="/assets/images/style/interior-left-nav/light-ui/interior_left_nav_level_2_padding_desktop@2x.png">
    </picture>
    <p class="caption">Interior left navigation level 2 padding | units in px / rem</p>
  </div>
</div>

</div>
</div>

<div class="view__section">

<div class="view__full">

### Typography
All left navigation titles should be set in title case, with the first letter of each word capitalized. Labels should not exceed more than 3 words. All left navigation type should follow the typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Level 1 label</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Level 2 header </p>
      <p class="table--light">14</p>
      <p class="table--light">0.875</p>
    </div>
    <div class="table__row">
      <p>Level 2 label</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>

  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Level 1 unselected </p>
      <p class="table--light">roman</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Level 1 selected </p>
      <p class="table--light">bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Level 2 header</p>
      <p class="table--light">roman</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Level 2 unselected label</p>
      <p class="table--light">roman</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Level 2 selected label</p>
      <p class="table--light">bold</p>
      <p class="table--light">700</p>
    </div>
  </div>
</div>

</div>
</div>

{{/markdown}}
