{{#markdown}}

## Effective form design

<div class="view__section">

<div class="view__half">

All forms are comprised of 5 elements:

**Labels:** Inform users what the corresponding input fields mean.

**Input fields:** Enable users to provide feedback. These range from text fields, to radio buttons, to checkboxes.

**Hint text:** Provides assistance on how to fill out a field.

**Actions:** Allow users to submit a form.

**Validation:** Ensures the data submitted by the user conforms to acceptable parameters.

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/usage/forms-02.png">
    <img class="pt0" src="/assets/images/usage/forms-02.png">
  </picture>
</div>

</div>



<div class="view__section">

<div class="view__full">

## General guidelines

### Keep it short

Be as concise as possible when designing forms. Think about each field and what value the data will provide. What do you gain by collecting this information?

Begin by asking:

- Is this a piece of information that is valuable to us?
- Is this a piece of information that is so valuable that it's worth preventing the user from continuing if they choose not to provide it?

### Validation and errors

Effective error messaging can help the user to understand the problem and how to fix it. First, inform the user what has happened, then provide guidance on next steps or possible resolutions.

Use visual cues to guide the user as to where the problem lies within the form. This will help to easily identify the elements that need correction.

<a href="http://design-system.stage1.mybluemix.net/components/notifications.html" target="_blank">Inline Notifications</a> are used to inform users there is an error within the form.
Form validation is used to state the specific problem with the user's data and provide guidance on next steps.

## Form logic

<img class="width-full" src="/assets/images/usage/form-logic-01.png" />

</div>

</div>

{{/markdown}}
