{{#markdown}}

## Effective form design

<div class="view__section">

<div class="view__half">

All forms are comprised of 5 elements.

**Labels:** Informs user what the corresponding input fields mean.
**Input fields:** Enable users to provide feedback. These range from text fields, to radio buttons, to checkboxes.
**Hint text:** Provides assistance on how to fill out the field.
**Actions:** Allow users to submit a form.
**Validation:** Ensure the data submitted by the user conforms to acecptable parameters.

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/forms-02.png">
    <img class="pt0" src="/assets/images/forms-02.png">
  </picture>
</div>

</div>



<div class="view__section">

<div class="view__full">

## General guidelines

### Keep it short

Be as concise as possible when designing forms. Think about each field, and what value the data will provide. Does it present a benefit to your team to be collecting this information?

Begin by asking:

- Is this a piece of information that is valuable to us?
- Is this a piece of information that is so valuable that it's worth preventing the user from continuing if they choose not to provide it?

### Validation and errors

Effective error messaging can help the user to understand the problem and how to fix it. First, inform the user what has happened, then provide guidance on next steps or possible resolutions.

Use visual cues to guide the user as to where the problem lies within the form. This will help to easily identify the elements that need to be corrected.
<a href="http://design-system.stage1.mybluemix.net/components/notifications.html">Inline notifications</a> can be used to inform the user that there has been an error with their form submission.
Form validation is used to state the specific problem with the user's data and provide guidance on next steps.

## Form logic

<img class="width-full" src="/assets/images/form-logic-01.png" />

</div>

</div>

{{/markdown}}
