.cta-btns--white {
  display: flex;

  @media screen and (max-width: $width__screen-size--x-small) {
    flex-direction: column;
  }
}

.cta-btns--white__btn {
  display: flex;
  align-items: center;
  padding: 1.25em;
  border: none;
  background-color: $color__white;
  color: $color__dark-blue;
  font-weight: 600;
  font-size: .8rem;
  margin-right: em(35px);
  text-decoration: none;
  transition: $transition--base;

  .btn-icon {
    width: em(20px);
    height: em(20px);
    transform: rotate(180deg);
    margin-left: 1em;
  }

  &:hover {
    background-color: $color__light-btn--hover;
    color: $color__dark-blue;
  }

  @media screen and (max-width: $width__screen-size--x-small) {
    width: 100%;
    margin-top: 1em;
    justify-content: space-between;
  }
}

.cta-btn--icon {
  display: flex;
  width: em(250px);
  align-items: center;
  padding: 1em;
  border: none;
  background-color: $color__blue-40;
  color: $color__dark-blue;
  font-weight: 600;
  font-size: .8rem;
  margin-right: em(35px);
  text-decoration: none;
  transition: $transition--base;
  justify-content: space-between;
  margin-top: 1.5em;

  img {
    width: auto;
  }

  &:hover {
    background-color: $color__blue-30;
    color: $color__dark-blue;
  }

  @media screen and (max-width: $width__screen-size--x-small) {
    width: 100%;
  }
}

.cta-btns--border {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color__blue-20;
  padding-top: 2em;

  .cta-btns--border__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    color: $color__blue-30;
    border-color: $color__blue-30;

    &:hover {
      background-color: $color__blue-30;
      color: $color__blue-90;

      .btn-icon {
        fill: $color__blue-90;
      }
    }
  }

  .btn-icon {
    width: em(16px);
    height: em(16px);
    fill: $color__blue-30;
    transform: rotate(180deg);
  }
}

.theme-switcher-btns {
  position: absolute;
  top: .75em;
  right: .75em;

  .view & {
    top: 4rem;
    right: 0;

    .theme-switcher-btns__btn svg {
      width: rem(25px);
      height: rem(25px);
    }
  }

  .templates & {

    @include breakpoint(bp--sm--major) {
      top: 14rem;
    }
  }

  &__btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0 0 .3rem 0;

    svg {
      width: rem(20px);
      height: rem(20px);
      transition: 0s;
    }

    &--dark {
      border-bottom: 2px solid $color__blue-30;

      svg {
        fill: $color__blue-30;
      }

      .bx--global-light-ui & {
        border-bottom: 2px solid transparent;

        svg {
          fill: none;
          path {
            stroke: $color__navy-gray-7;
          }
        }
      }
    }

    &--light {
      border-bottom: 2px solid transparent;
      margin-right: .5rem;

      svg {
        fill: $color__navy-gray-7;

        circle {
          stroke: $color__navy-gray-7;
          fill: none;
        }
      }

      .bx--global-light-ui & {
        border-bottom: 2px solid $color__blue-51;

        svg {
          fill: $color__blue-51;

          circle {
            fill: $color__blue-51;
            stroke: none;
          }
        }
      }
    }
  }
}
