.cta-btns--white {
  display: flex;
  padding-bottom: .5rem;

  @media screen and (max-width: $width__screen-size--x-small) {
    flex-direction: column;
  }
}

.cta-btns--white__btn {
  display: flex;
  align-items: center;
  padding: 1.25em;
  border: none;
  background-color: $color__white;
  color: $color__dark-blue;
  font-weight: 600;
  font-size: .8rem;
  margin-right: em(35px);
  text-decoration: none;
  transition: $transition--base;

  .btn-icon {
    width: em(20px);
    height: em(20px);
    transform: rotate(180deg);
    margin-left: 1em;
  }

  &:hover {
    background-color: $color__light-btn--hover;
    color: $color__dark-blue;
  }

  @media screen and (max-width: $width__screen-size--x-small) {
    width: 100%;
    margin-top: 1em;
    justify-content: space-between;
  }
}

.cta-btn--icon {
  display: flex;
  width: em(250px);
  align-items: center;
  padding: .75rem;
  background-color: transparent;;
  color: $color__blue-40;
  border: 2px solid $color__blue-40;
  font-weight: 600;
  font-size: .8rem;
  margin-right: em(35px);
  text-decoration: none;
  transition: $transition--base;
  justify-content: space-between;
  margin-top: 1.5em;

  img {
    width: auto;
  }

  &:hover {
    background-color: $color__blue-40;
    color: $color__blue-90 !important;
  }

  @media screen and (max-width: $width__screen-size--x-small) {
    width: 100%;
  }
}

.cta-btns--border {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.cta-btns--border__btn {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  margin-top: 1em;
  color: $color__blue-30;
  border-color: $color__blue-30;
  max-width: 15rem;

  &:hover {
    background-color: $color__blue-30;
    color: $color__blue-90;

    .btn-icon {
      fill: $color__blue-90;
    }
  }

  .btn-icon {
    width: em(16px);
    height: em(16px);
    fill: $color__blue-30;
  }

  .btn-icon--rotated {
    transform: rotate(180deg);
  }

  &--dark {
    color: $color__blue-40;
    border-color: $color__blue-40;

    &:hover {
      background-color: $color__blue-40;
    }

    .btn-icon {
      fill: $color__blue-40;
    }
  }
}

.show-issue-form {
  color: $color__navy-gray-8;
  font-weight: 700;
  margin-top: .5rem;
  cursor: pointer;

  &:hover {
    color: $color__blue-30;
  }
}

.theme-switcher-btns {
  position: absolute;
  top: .75em;
  right: .75em;

  .view:not(.brand-page) & {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    top: 0;
    right: 0;
    transform: translateY(rem(350px));
    background-color: $color__gray-3;
    padding: 1.3rem 1.5rem 1rem;
    box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, .15);

    .theme-switcher-btns__btn svg {
      width: rem(28px);
      height: rem(28px);
    }

    @media all and (min-width: 768px) {
      &.scrolled {
        position: fixed;
        transform: translateY(rem(40px));
      }
    }

    @include breakpoint(bp--sm--major) {
      transform: translateY(rem(300px));
    }

    @include breakpoint(bp--xs--major) {
      background-color: transparent;
      position: static;
      transform: translateY(0);
      margin-top: -100px;
      margin-bottom: 50px;
      padding-right: 0;
      width: rem(60px);
      align-self: flex-end;
      box-shadow: none;
    }
  }

  .templates & {

    @include breakpoint(bp--sm--major) {
      top: 14rem;
    }
  }

  &__btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0 0 .3rem 0;
    outline: none;

    svg {
      width: rem(20px);
      height: rem(20px);
      transition: 0s;
    }

    &--dark {
      border-bottom: 2px solid $color__blue-30;

      svg {
        fill: $color__blue-30;
      }

      .bx--global-light-ui & {
        border-bottom: 2px solid transparent;

        svg {
          fill: none;
          stroke: $color__navy-gray-7;
        }
      }
    }

    &--light {
      border-bottom: 2px solid transparent;
      margin-right: .5rem;

      svg {
        fill: $color__navy-gray-7;
      }

      .bx--global-light-ui & {
        border-bottom: 2px solid $color__blue-51;

        svg {
          fill: $color__blue-51;
        }
      }
    }
  }
}
