// base
code,
code[class*='language-'],
pre[class*='language-'] {
  color: $code--black;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 0;
  hyphens: none;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text;
  letter-spacing: normal;
}

// code blocks
pre[class*='language-'] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: 85%;
}

p code,
li code,
table code {
  margin: 0;
  border-radius: 3px;
  font-size: 85%;

  &:before,
  &:after {
    letter-spacing: -.2em;
    content: '\00a0';
  }
}

// inline code
:not(pre) > code[class*='language-'] {
  padding: .1em;
  border-radius: .3em;
}


// token colors
.token {

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $code--dark-gray;
  }

  &.punctuation,
  &.string,
  &.atrule,
  &.attr-value {
    color: $code--dark-blue;
  }

  &.property,
  &.tag {
    color: $code--dark-blue;
  }

  &.boolean,
  &.number {
    color: $code--light-blue;
  }

  &.selector,
  &.attr-name,
  &.attr-value .punctuation:first-child,
  &.keyword,
  &.regex,
  &.important {
    color: $code--light-blue;
  }


  &.operator,
  &.entity,
  &.url,
  .language-css &.string {
    color: $code--light-blue;
  }

  &.entity {
    cursor: help;
  }

}

.namespace {
  opacity: .7;
}
