.demo--panels {
  width: 100%;
  height: 3.75rem;
}

.demo--panel {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1em;

  &.bx--content-switcher--selected,
  &.bx--tabs--selected {
    opacity: 1;
  }
}
