.glossary-letter {

  &__img {
    width: rem(80px);
    margin: 3.25rem 0 3.5rem;
  }

  &__container {
    margin-left: 2.875rem;

    @include breakpoint('bp--sm--major') {
      margin-left: 0;
    }
  }

  &__word {
    margin-bottom: 1.5rem;

    &--heading {
      font-weight: 700;
      color: $color__blue-90;
      padding-bottom: .25rem;
    }

    &--caption {
      font-style: normal;
      padding-top: 0;
      color: $color__navy-gray-7;
      font-size: rem(13px);
      line-height: 1.75;
    }
  }
}

.glossary__side-nav {
  position: absolute;
  right: 3.625rem;
  top: 41rem;
  transition: $transition--base;

  &.fixed {
    position: fixed;
    top: 3rem;
  }

  li {
    list-style: none;
  }

  &--link {
    text-decoration: none;
    color: $color__navy-gray-7;
    transition: $transition--base;

    &.selected {
      font-weight: 700;
      color: $color__blue-51;
    }

    &:hover {
      color: $color__blue-40;
    }
  }

  @include breakpoint('bp--sm--major') {
    display: none;
  }
}
