.view--grid {

  &__grid-examples {
    display: flex;
    color: $color__text--dark;
    margin-top: 1.5em;

    @media screen and (max-width: $width__screen-size--medium) {
      flex-direction: column;
    }

    li {
      display: flex;
      flex-direction: column;
      height: em(235px);
      margin-right: 2em;

      @media screen and (max-width: $width__screen-size--medium) {
        margin-bottom: 5em;
      }

      p {
        font-weight: 700;
        font-size: 1rem;
        color: $color__text--dark;
        padding-bottom: 2em;
      }

      .overlay {
        opacity: 0;
        background-color: rgba(85, 150, 230, .8);
        position: absolute;
        z-index: 2;
        transition: $transition--base;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: em(235px);

        p {
          color: $color__white;
          font-size: rem(12px);
          padding-top: 1em;
          letter-spacing: .5px;
          font-weight: 400;
        }
      }

      &:first-child {

        .overlay {
          width: em(345px);
        }
      }

      &:nth-child(2) {

        .overlay {
          width: em(235px);
        }
      }

      &:nth-child(3) {

        .overlay {
          width: em(98px);
        }
      }

      .image {
        position: relative;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        img {
          height: 100%;

          @media screen and (max-width: $width__screen-size--x-small) {
            width: 100%;
          }
        }
      }

      &:hover {
        cursor: pointer;

        & .overlay {
          opacity: 1;
        }
      }
    }

    &__keys {
      color: $color__text--dark;
      display: flex;
      margin-top: 4em;
      margin-bottom: 2em;
      font-size: rem(14px);
      align-items: baseline;

      p {
        font-weight: 700;
      }

      li {
        margin-left: .5em;

        &:after {
          content: '';
          display: inline-block;
          margin-left: .5em;
          width: 10px;
          height: 10px;
        }

        &:nth-child(2) {

          &:after {
            background-color: $color__text--dark;
          }
        }

        &:nth-child(3) {

          &:after {
            background-color: $color__yellow-30;
          }
        }

        &:nth-child(4) {

          &:after {
            background-color: $color__magenta;
          }
        }
      }
    }
  }
}
