/////////////////////////////////
// VIEW: GRID                  //
/////////////////////////////////

.view--grid {

  &__grid-examples {
    display: flex;
    color: $color__text--dark;
    margin-top: 1.5em;

    @media screen and (max-width: $width__screen-size--medium) {
      flex-direction: column;
    }

    li {
      display: flex;
      flex-direction: column;
      height: em(235px);
      margin-right: 2em;

      @media screen and (max-width: $width__screen-size--medium) {
        margin-bottom: 5em;
      }

      p {
        font-weight: 700;
        font-size: 1rem;
        color: $color__text--dark;
        padding-bottom: 2em;
      }

      .overlay {
        opacity: 0;
        background-color: rgba(85, 150, 230, .8);
        position: absolute;
        z-index: 2;
        transition: $transition--base;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: em(235px);

        p {
          color: $color__white;
          font-size: rem(12px);
          padding-top: 1em;
          letter-spacing: .5px;
          font-weight: 400;
        }
      }

      &:first-child {

        .overlay {
          width: em(345px);
        }
      }

      &:nth-child(2) {

        .overlay {
          width: em(235px);
        }
      }

      &:nth-child(3) {

        .overlay {
          width: em(98px);
        }
      }

      .image {
        position: relative;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        img {
          height: 100%;

          @media screen and (max-width: $width__screen-size--x-small) {
            width: 100%;
          }
        }
      }

      &:hover {
        cursor: pointer;

        & .overlay {
          opacity: 1;
        }
      }
    }

    &__keys {
      color: $color__text--dark;
      display: flex;
      margin-top: 4em;
      margin-bottom: 2em;
      font-size: rem(14px);
      align-items: baseline;

      p {
        font-weight: 700;
      }

      li {
        margin-left: .5em;

        &:after {
          content: '';
          display: inline-block;
          margin-left: .5em;
          width: 10px;
          height: 10px;
        }

        &:nth-child(2) {

          &:after {
            background-color: $color__text--dark;
          }
        }

        &:nth-child(3) {

          &:after {
            background-color: $color__yellow-30;
          }
        }

        &:nth-child(4) {

          &:after {
            background-color: $color__magenta;
          }
        }
      }
    }
  }
}



/////////////////////////////////
// VIEW: COLORS                //
/////////////////////////////////

.view--color {

  @for $i from 1 through length($ui-colors) {
    .ui-colors__color:nth-of-type(#{$i}) {
      .color__example {
        background-color: nth($ui-colors, $i);
      }
    }
  }

  @for $i from 1 through length($accent-colors) {
    .accent-colors__color:nth-of-type(#{$i}) {
      .color__example {
        background-color: nth($accent-colors, $i);
      }
    }
  }

  .ui-colors,
  .accent-colors {
    display: flex;
    flex-wrap: wrap;
    max-width: em(660px);

    &__color {
      margin-bottom: 2em;
    }
  }

  .color {

    &__example {
      width: em(165px);
      height: em(120px);
      transition: transform $transition--base;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: rem(12px);
        color: $color__text--dark;
        border: 2px solid $color__text--dark;
        padding: .5em .75em;
        font-weight: 700;
        text-align: center;
        visibility: hidden;

        &.light {
          color: $color__white;
          border: 2px solid $color__white;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);

        p {
          visibility: visible;
        }
      }

      &.white {
        border: 1px solid $color__navy-gray-9;
      }
    }

    &__name,
    &__hex-value,
    &__variable {
      font-size: 1rem;
      line-height: 1.5;
    }

    &__name {
      font-weight: 700;
      color: $color__blue-90;
      padding-top: 1em;
    }

    &__hex-value,
    &__variable {
      color: $color__navy-gray-5;
    }

    &__hidden-input {
      opacity: 0;
    }
  }

  &__icon-explanations {
    display: flex;

    li {
      display: flex;
      align-items: center;
      margin-right: 1em;

      &:nth-child(2) {
        margin-left: 2em;
      }
    }

    p {
      padding-left: 1em;
      color: $color__text--dark;
      font-weight: 700;

      span {
        font-weight: 400;
      }
    }
  }

  &__contrast-examples {
    margin-top: 4em;
    color: $color__text--dark;

    .example-heading {
      text-transform: uppercase;
      font-size: rem(12px);
      color: $color__navy-gray-5;
      font-weight: 700;
      padding: 1.5em 0;
      letter-spacing: 1.2px;
    }

    .contrast-examples {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5em;
    }

    .bg-colors {
      margin-right: 2em;

      ul {
        border-top: 1px solid $color__navy-gray-8;
        padding-top: 2em;
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0 .5em;

          &:first-child {
            margin-left: 0;
          }

          p {
            padding-top: 1em;
            font-weight: 700;

            span {
              font-weight: 400;
            }
          }

          @media screen and (max-width: $width__screen-size--x-small) {
            margin: 0 .5em 1em 0;
          }
        }
      }
    }

    .type-colors {

      ul {
        border-top: 1px solid $color__navy-gray-8;
        padding-top: 2em;

        li {
          display: flex;
          margin-bottom: .75em;

          &:nth-child(1) {

            .color {
              background-color: $color__white;
              border: 1px solid $color__navy-gray-8;
            }

            .color--other {
              background-color: $color__blue-90;
            }
          }

          &:nth-child(2) {

            .color {
              background-color: $color__navy-gray-8;
            }

            .color--other {
              background-color: $color__navy-gray-5;
            }
          }

          &:nth-child(3) {

            .color {
              background-color: $color__blue-20;
            }

            .color--other {
              background-color: $color__blue-40;
            }
          }

          &:nth-child(4) {

            .color {
              background-color: $color__blue-30;
            }

            .color--other {
              background-color: $color__blue-50;
            }
          }

          .color, .color--other {
            width: em(24px);
            height: em(24px);
            margin-right: 1.5em;
          }

          p {
            font-weight: 700;
            line-height: 1.2;

            span {
              font-weight: 400;
              color: $color__navy-gray-5;
            }
          }
        }
      }

      @media screen and (max-width: $width__screen-size--x-small) {
        margin-top: 3em;
      }
    }

    @media screen and (max-width: $width__screen-size--x-small) {
      margin-top: 2em;
    }
  }

  &__resources {
    display: flex;

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 5em;

      img {
        padding-bottom: 1em;
      }

      a {
        padding: .5em 0;
      }

      @media screen and (max-width: $width__screen-size--x-small) {
        margin: 2em 0;
      }
    }

    @media screen and (max-width: $width__screen-size--x-small) {
      flex-direction: column;
    }
  }
}
