///////////////////////////////
// Mixins                    //
///////////////////////////////
@mixin clearfix {
  &:after {
    clear: both;
  }

  &:before,
  &:after {
    display: table;
    content: ' ';
  }
}
