.issue-form {
  transform: translateX(-125%);
  transition: transform .7s cubic-bezier(.5, 0, .1, 1);
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color__white;
  margin: 0 rem(245px);
  width: calc(100% - 245px);
  height: 100vh;
  overflow-y: scroll;
  z-index: 4;
  display: flex;
  padding-top: 2rem;
  padding-left: 3rem;

  &.is-active {
    transform: translateX(0);
  }

  &.full-width {
    margin: 0;
    width: 100%;
    padding-left: 1rem;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }

  @include breakpoint('800px') {
    margin: 0;
    width: 100%;
    padding-left: 1rem;
  }
}

.form-container {
  display: none;
  width: 100%;
  margin-left: 3rem;
  padding-right: 5rem;

  @include breakpoint('800px') {
    margin-left: 1rem;
    padding-right: 3rem;
  }

  &.is-active {
    display: block;
  }

  p {
    font-size: 1rem;
    max-width: 30rem;
    margin-bottom: 1.5rem;
  }

  form {
    width: 100%;
    max-width: 35rem;
    padding-bottom: 5rem;
  }

  a {
    transition: 0s;
    margin-bottom: 0;
    color: $color__blue-51;

    &:hover {
      color: $color__blue-40;
    }
  }

  h2 {
    color: $color__blue-40;
    position: relative;
    margin-top: 3rem;
    padding: .5rem 0 1rem;
    font-weight: 700;

    &:before {
      content: '';
      width: 3em;
      height: .2em;
      display: block;
      background-color: currentColor;
      position: absolute;
      top: -.5em;
      left: 0;
    }
  }

  &__category {
    margin-top: 1.5rem;

    .bx--checkbox__label-text {
      color: $color__blue-90;
    }

    .bx--checkbox__label {
      margin: .75rem 0;
    }
  }

  .bx--text__input,
  .bx--textarea__input {
    width: 100%;

    &::placeholder {
      color: rgba($color__blue-90, .4);
    }
  }

  .bx--textarea__input {
    line-height: 1.5;
    margin-top: 0;
    height: 15rem;
    padding: 1.5rem;
  }

  .bx--form__label {
    font-weight: 700;
    padding-bottom: .25rem;
  }

  .bx--select__arrow {
    top: 2.3rem;
  }

  &__description {

    .description__header {
      display: flex;
      justify-content: space-between;
    }

    .description__tabs {
      display: flex;

      li {
        font-size: .875rem;
        padding-bottom: .5rem;
        font-weight: 700;
        cursor: pointer;

        &:first-child {
          margin-right: 1rem;
        }

        &.selected {
          border-bottom: 2px solid $color__blue-90;
        }
      }
    }

    .description__toolbar {
      display: flex;

      li {
        position: relative;
        cursor: pointer;

        &:hover {
          svg,
          svg text,
          svg g {
            fill: $color__blue-51;
          }
        }

        &:nth-child(3n+4) {
          margin-left: 1rem;
        }

        button {
          cursor: pointer;

          &:hover {

            svg,
            svg text,
            svg g,
            svg path {
              fill: $color__blue-51;
            }
          }
        }
      }

      .toolbar-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      .toolbar-header-styles {
        @include box-shadow;
        position: absolute;
        background-color: $color__white;
        padding: .5rem .25rem;
        left: -5px;
        top: 30px;
        display: none;

        &:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-bottom: .5rem solid $color__white;
          border-right: .5rem solid transparent;
          border-left: .5rem solid transparent;
          position: absolute;
          top: -8px;
          left: 8px;
        }

        &.active {
          display: block;
        }

        li button {
          font-weight: 700;
          cursor: pointer;

          svg {
            cursor: pointer;
          }

          &:hover {
            color: $color__blue-51;
          }
        }

        li:nth-child(1) button {
          font-size: rem(20px);
        }

        li:nth-child(2) button {
          font-size: rem(18px);
        }

        li:nth-child(3) button {
          font-size: rem(14px);
        }
      }
    }

    .description__write,
    .description__preview {
      display: none;

      &.show {
        display: block;
      }

      .preview {
        margin-bottom: 1rem;
        border: 1px solid $color__navy-gray-8;
        padding: 1rem;
        color: $color__blue-90 !important;

        h1,
        h2,
        h3,
        h4 {
          color: $color__blue-90 !important;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-weight: bold;
        }

        h1,
        h2 {
          padding-bottom: .3rem;
          line-height: 1.225;
          border-bottom: 1px solid #eee;
        }

        h1 {
          font-size: 2.25rem;
        }

        h2 {
          font-size: 1.75rem;

          &:before {
            display: none;
          }
        }

        h3 {
          font-size: 1.5rem;
          line-height: 1.43;
        }

        h4 {
          font-size: 1.25rem;
        }

        ul {
          display: block;
          list-style: disc;
          -webkit-margin-before: 1em;
          -webkit-margin-after: 1em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          -webkit-padding-start: 20px;
        }

        ol {
          display: block;
          list-style: decimal;
          -webkit-margin-before: 1em;
          -webkit-margin-after: 1em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          -webkit-padding-start: 20px;
        }

        blockquote {
          padding: 0 1rem;
          color: #777;
          border-left: 4px solid #ddd;
        }
      }
    }
  }

  &__submit-new-issue {
    display: block;
    margin-top: 2rem;
  }
}
