///////////////////////////////
// Item                      //
///////////////////////////////

// Views styles
.view--foundation, .view--usage, .view--style {
  display: none;
  opacity: 0;
  position: absolute;
  padding-right: 9em;
  top: $height__header + em(50px);

  &.is-active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity .3s;
  }
}

// Styles for an item (single Components and Base Elements)
.item {

  &__container {
    @include clearfix;
    padding: 4em 9em;
    width: 80%;
  }

  &__header {
    background-color: $color__blue-30;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: $height__header;
    padding-left: 9em;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 6em;
  }

  &__main-heading {
    @extend %font-smoothing;
    @extend %type-constrain;
    font-size: rem(64px);
    color: $color__white;
    padding-top: .2em;
    margin: 0;
    font-weight: 200;
  }

  &__category {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: em(2px);
  }

  &__tabs {
    display: flex;

    li {
      padding: 1em 0;
      margin: 0 1.5em;
      font-size: rem(14px);
      font-weight: 600;
      letter-spacing: em(.2px);
      border-bottom: 3px solid transparent;
      text-align: center;
      transition: .2s;

      &:first-child {
        margin-left: 0;
      }

      &:hover,
      &:focus,
      &.is-selected {
        cursor: pointer;
        color: $color__text--dark;
      }

      &.is-selected {
        border-bottom: 3px solid $color__text--dark;
      }
    }
  }

  &__main-desc {
    @extend %type-constrain;
    padding-bottom: 1.5em;
    color: $color__text--dark;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5;
    font-size: rem(18px);

    .highlight {
      color: $color__blue-30;
    }
  }
}

// Styles for variations within an item

.item-section {
  padding: 0 0 4em;

  &__main-heading {
    @extend %font-smoothing;
    color: $color__blue-30;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .12em;
    margin: .5em 0 1.5em;
  }

  &__heading {
    @extend %font-smoothing;
    font-size: rem(24px);
    font-weight: 600;
    color: $color__blue-30;
    font-size: 1.5em;
    position: relative;

    &:before {
      content: '';
      width: 3em;
      height: .2em;
      display: block;
      background-color: currentColor;
      position: absolute;
      top: -.5em;
      left: 0;
    }
  }

  &__sub-heading {
    font-size: rem(24px);
    color: $color__text--dark;
    padding: .5em 0;
  }

  &__desc {
    @extend %type-constrain;
    font-size: 1em;
    line-height: 1.5;
    padding-bottom: 1em;
    color: $color__text--dark;

    &--list {
      list-style: disc;
      color: $color__text--dark;
    }
  }

  &__example {
    padding: 2em;
    background-color: $color__item-preview-bg;

    &--light {
      background-color: $color__white;
    }

    img {
      width: 100%;
    }
  }

  &__list {
    color: $color__text--dark;

    h4 {
      font-size: rem(18px);
      padding: 1em 0 .5em;
    }
  }
}
