///////////////////////////////
// Item group                //
///////////////////////////////

.item-group {
  @include clearfix;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  padding-right: 4em;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  & ~ & {
    margin-top: 0;
  }

  & > & {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

// Styles for single Components and Base Elements
.item {
  @include clearfix;
  color: $color__dark-blue;
  padding: 0 2em 0 0;
  width: 100%;

  &__main-heading {
    font-size: 2.5rem;
  }

  &__nav {
    border-left: 3px solid $color__blue-40;
    margin: 2em 0;
    padding-left: 1em;

    li {
        padding: .2em 0;

      a {
        color: $color__blue-40;
        font-weight: 600;
        font-size: rem(14px);
      }
    }
  }

  &__sub-heading {
    font-size: rem(30px);
  }

  hr {
    margin: 1em 0 2em;
  }

  &__example {
    padding: 1em 0;
  }

  &__sub-desc {
    line-height: 1.5;
    padding-bottom: 1em;
  }

  &__main-desc {
    padding-bottom: 1.5em;
  }

  &__bg {
    padding: 2em;
    background-color: $color__item-preview-bg;
  }
}

.snippet {
  margin-top: 2em;
  width: 100%;

  &__btns {
    display: flex;

    &--html,
    &--js {
      display: block;
      padding: 1em;
      font-size: .8rem;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: #DEDEDE;
    }
  }

  &__html {
    display: none;
  }

  &__js {
    display: none;
  }

  .show-snippet {
    display: flex;
  }

  .active-btn {
    background-color: $color__light-gray;
  }

  pre {
    width: 100%;
    margin: 0;
    padding-left: 0;
    background-color: $color__light-gray;
  }
}
