///////////////////////////////
// Item                      //
///////////////////////////////

// Views styles
.view--foundation, .view--usage, .view--style {
  display: none;
  opacity: 0;
  padding-right: 9em;
  top: $height__header + em(50px);
  width: 100%;
  max-width: 72em; // nothing will do wider than this (72 is arbitrary for now)

  &.is-active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity .3s;
  }

  @media screen and (max-width: $width__screen-size--small) {
    padding-right: 2em;
  }
}

// Styles for an item (single Components and Base Elements)
.item {

  &__container {
    @include clearfix;
    margin-left: 9em; // push away from sidebar
    padding: 4em 9em 4em 0;
    transition: $transition--slow;

    @media screen and (max-width: $width__screen-size--medium) {
      padding-right: 4em;
      padding-top: 4em;
      margin-left: 9em;
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding: 3em 1em 4em;
      margin-left: 0;
    }
  }

  &__header {
    background-color: $color__blue-30;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: $height__header;
    padding-left: 9em;
    transition: $transition--slow;

    @media screen and (max-width: $width__screen-size--medium) {
      padding-left: 9em;
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding-left: 1em;
      height: 17.75em;
      padding-right: 1em;
    }

    &.scrolled {
      position: fixed;
      height: 3.5em;
      z-index: 2;
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 6em;

    @media screen and (max-width: $width__screen-size--small) {
      padding-top: 5em;
    }
  }

  &__main-heading {
    @extend %font-smoothing;
    @extend %type-constrain;
    font-size: rem(64px);
    color: $color__white;
    padding-top: .2em;
    margin: 0;
    font-weight: 200;

    @media screen and (max-width: $width__screen-size--small) {
      font-size: 3rem;
    }
  }

  &__category {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
  }

  &__tabs {
    display: flex;

    li {
      @extend %font-smoothing;
      padding: 1em 0;
      margin: 0 1.5em;
      font-size: rem(16px);
      font-weight: 600;
      letter-spacing: em(.2px);
      border-bottom: 3px solid transparent;
      text-align: center;
      transition: .2s;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:hover,
      &:focus,
      &.is-selected {
        cursor: pointer;
        color: $color__text--dark;
      }

      &.is-selected {
        border-bottom: 3px solid $color__text--dark;
      }
    }
  }

  &__main-desc {
    @extend %type-constrain;
    color: $color__text--dark;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    font-size: rem(18px);

    .highlight {
      color: $color__blue-30;
    }

    @media screen and (max-width: $width__screen-size--small) {
      font-size: 1rem;
    }
  }
}

// Styles for variations within an item

.example__code {
  position: relative;
}

.item-section {
  padding: 0;
  margin-bottom: 4em;

  &__main-heading {
    @extend %font-smoothing;
    color: $color__blue-40;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .12em;
    margin: 3em 0 1em;
  }

  &__heading {
    @extend %font-smoothing;
    font-size: rem(24px);
    font-weight: 600;
    color: $color__blue-40;
    font-size: 1.5rem;
    position: relative;
    padding-top: .5em;
    padding-bottom: 1.5em;

    &:before {
      content: '';
      width: 3em;
      height: .2em;
      display: block;
      background-color: currentColor;
      position: absolute;
      top: -.5em;
      left: 0;
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding-bottom: 1em;
    }
  }

  &__sub-heading {
    font-size: rem(24px);
    color: $color__text--dark;
    padding: .5em 0;
    font-weight: 600;
  }

  &__desc {
    @extend %type-constrain;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1em;
    color: $color__text--dark;

    &--list {
      list-style: disc;
      color: $color__text--dark;
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding-bottom: 1em;
    }
  }

  &__list {
    color: $color__text--dark;

    h4 {
      font-size: rem(18px);
      padding: 1em 0 .5em;
    }
  }
}

// Styles for item example

%code-snippet {
  background-color: $color__snippet-bg;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  max-height: 12em;
  transition-duration: $transition--slow;
  display: none;
  min-height: 7em;
}

.item-section__example {
  min-width: 100%;
  display: block;
  margin-bottom: 5em;

  @media screen and (max-width: $width__screen-size--small) {
    width: 100vw;
    position: relative;
    left: em(-16px);
  }

  .example__rendered {
    background-color: $color__rendered-example;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1em;
    position: relative;
    transition-duration: $transition--base;

    &.light-ui {
      background: white;

      .btn--theme-switcher {
        color: $color__navy-gray-5;
      }
    }
  }

  .rendered__item {
    flex: 1;
    text-align: center;
    margin: 3.5em 0 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .rendered__view-full-size {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $color__navy-gray-7;
    font-size: rem(12px);
    padding: 1.5em;
  }

  .btn--theme-switcher {
    color: $color__navy-gray-7;
    font-size: rem(12px);
    border: none;
    background: none;
    text-decoration: underline;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    cursor: pointer;
  }

  .code__tabs {
    background-color: $color__code-tabs;
    display: flex;

    .tabs__html, .tabs__js {
      padding: 1em 0;
      margin: 0 1em;
      font-size: rem(12px);
      font-weight: 600;
      letter-spacing: em(1px);
      cursor: pointer;
    }

    .tabs__html {
      margin-left: 2.5em;
    }

    .is-selected {
      border-bottom: 3px solid $color__blue-30;
    }
  }

  .code__html,
  .code__js {
    @extend %code-snippet;

    @media screen and (max-width: $width__screen-size--small) {
      padding: 1em 0;
    }

    &.is-expanded {
      transition-duration: $transition--code-snippet;
      max-height: 200em;
    }

    &.is-active {
      display: flex;
    }

    .code__copy {
      color: #000;
      position: absolute;
      right: em(160px);
      z-index: 1;
      background-color: $color__blue-40;
      border: none;
      width: em(60px);
      height: em(60px);
      cursor: pointer;
      right: 1em;
      top: 4.5em;

      &:hover {
        background-color: $color__blue-30;
      }

      svg {
        fill: $color__white;
        width: 2em;
        height: 3.5em;
      }

      @media screen and (max-width: $width__screen-size--medium) {
        right: 5em;
      }

      @media screen and (max-width: $width__screen-size--small) {
        right: 1em;
      }
    }

    .code__show-full {
      text-align: right;
      background: none;
      border: none;
      color: $color__navy-gray-7;
      font-size: rem(12px);
      text-decoration: none;
      position: absolute;
      right: 0;
      bottom: 1em;
      padding: 1em;
    }

    pre[class*='language-'], pre {
      margin: 0;
      font-size: rem(12px);
      overflow-y: scroll;
      overflow-x: hidden;

      code {
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      @media screen and (max-width: $width__screen-size--small) {
        font-size: .7rem;
      }
    }

    .line-numbers {

      @media screen and (max-width: $width__screen-size--small) {
        padding-left: 3.2em;
      }
    }

    .line-numbers .line-numbers-rows {
      border-right: none;
    }
  }
}
