.menu {
  @extend %font-smoothing;
  z-index: z('menu');
  font-size: rem(14px);
  background-color: $color__menu-bg;
  border-right: 2px solid $color__border--menu;
  width: $width__menu;
  height: 100%;
  padding: 1rem 1.5rem 2rem 1.5rem;
  position: fixed;
  overflow-y: auto;
  transition: $transition--slow;

  &.is-hidden {
    transform: translateX(-100%);
    overflow: visible;

    .sidebar-toggle {
      background-color: $color__blue-30;
      padding: 2rem 2.9rem 2.1rem 1.2rem;
      border-radius: 50%;
      top: 7px;
      right: 6px;
    }
  }

  &__header {
    display: inline-block;
    font-size: rem(20px);
    color: $color__blue-20;
    font-weight: 200;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-decoration: none;

    &--bold {
      color: $color__navy-gray-8;
      font-weight: 600;
    }
  }

  @media screen and (max-width: $width__screen-size--small) {
    width: 100%;

    &.is-hidden {
      transform: translateX(-100%);
    }
  }
}

.menu__header--mobile {
  opacity: 0;
}

.main-nav {
  list-style: none;

  &__item {
    border-top: 1px solid $color__blue-20;
    padding: 1.5rem 0;

    .item__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $color__navy-gray-8;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 2px;
      transition: .2s;
      margin-bottom: 0;

      &:hover {
        color: $color__blue-40;
      }
    }

    .item__arrow {
      height: rem(10px);
      width: rem(10px);
      fill: $color__gray-3;
      margin-right: .5rem;
      transform: rotate(-180deg);

      &.rotated {
        transform: rotate(0deg);
      }

      &.transition {
        transition: .3s;
      }
    }
  }
}

.item__sub-nav {
  max-height: 30rem;
  overflow: hidden;

  &.closed {
    max-height: 0rem;
  }

  &.transition {
    transition: .3s;
  }

  .sub-nav__item {
    text-transform: capitalize;
    margin-left: 0;
    padding: .5rem;
    color: $color__navy-gray-8;

    &.active {
      background-color: $color__blue-30;
      color: $color__blue-90;

      &:hover {
        color: $color__blue-90;
      }
    }

    &:hover {
      color: $color__blue-30;
    }

    &:first-child {
      margin-top: 1rem;
    }

    .item__link {
      color: inherit;
      text-decoration: none;
      transition: .2s;
      cursor: pointer;
      font-weight: normal;
    }
  }
}

.sidebar-toggle {
  z-index: z('overlay');
  display: inline-block;
  position: absolute;
  top: 0;
  right: 15px;
  padding: 2rem;
  cursor: pointer;
  transition: $transition--slow;
  transform: translate(5rem);
  background-color: transparent;

  &.active {
    transform: translateX(0);

    span {
      background-color: transparent;
    }

    span:before,
    span:after {
      top: 0;
    }

    span:before {
      transform: rotate(45deg);
    }

    span:after {
      transform: rotate(-225deg);
    }
  }

  span,
  span:before,
  span:after {
    border-radius: 1px;
    height: rem(2px);
    width: rem(28px);
    background: $color__white;
    cursor: pointer;
    position: absolute;
    display: block;
    content: '';
    transition: all $transition--slow ease-in-out;
  }

  span:before {
    top: -6px;
  }

  span:after {
    bottom: -6px;
  }
}
