form {
  width: 30em;
}

.bx--search {
  width: 35em;
}

.bx--detail-page-header--with-tabs {
  width: 60em;
}

.bx--notification {
  width: 30em;
}

.bx--tabs li a {
  text-decoration: none;
}

.bx--file__label:after {
  height: 2.2em;
  padding: .2em 1rem;
}

.bx--text__input {
  width: 35em;

  @media screen and (max-width: $width__screen-size--small) {
    width: 22em;
  }
}

.bx--tabs {

  @media screen and (max-width: 767px) {
    width: 25em;
  }
}

.bx--table {
  width: 100%;
}

.bx--table__column-title, .bx--table__body__cell {

  @media screen and (max-width: 1445px) {
    width: 15%;
  }

  @media screen and (max-width: $width__screen-size--medium) {
    width: auto;
  }
}

.demo--panel {
  width: 50% !important;
  padding: 1em 0 !important;

  @media screen and (max-width: $width__screen-size--small) {
    width: 80% !important;
  }
}
