form {
  width: 30em;
}

.bx--search {
  width: 35em;
}

.bx--detail-page-header--with-tabs {
  width: 60em;
}

.bx--notification {
  width: 30em;
}

.tabs__nav li a {
  text-decoration: none;
}

.bx--file__label:after {
  height: 2.2em;
  padding: .2em 1rem;
}

.bx--text__input {
  width: 35em;

  @media screen and (max-width: $width__screen-size--small) {
    width: 22em;
  }
}
