// Modal styles - Temporary

.under-construction-modal .bx--modal-inner {
  border-top: 6px solid #FDD430;
}

.under-construction-modal .bx--modal__header {
  padding: 1em 3.125em 0;
  margin: -2.5em -3.125em 0;
}

.under-construction-modal .bx--modal-content__heading {
  margin-bottom: 0;
}

.under-construction-modal .bx--modal {
  padding-top: 2em;
  padding-bottom: 2em;
}

///////////////////

.overview-header {
  display: flex;
  background-color: $color__section-bg;
  margin: 0;
  padding: 8em 9em 10em;
  width: 100%;
  transition: padding $transition--slow;

  @include breakpoint(bp--md--major) {
    padding: 5em 4em;
  }

  @include breakpoint(bp--sm--major) {
    padding: 5em 2em;
  }

  @include breakpoint(bp--xs--major) {
    padding: 5em 1.5em;

    h1 {
      font-size: 2.5rem;
    }
  }
}

.overview-section {
  @extend %font-smoothing;
  display: flex;
  padding: 1em 9em;

  @include breakpoint(bp--md--major) {
    padding: 0 4em;
  }

  @include breakpoint(bp--sm--major) {
    padding: 0 2em;
  }

  @include breakpoint(bp--xs--major) {
    flex-direction: column;
    padding: 0 1em;
  }

  &:nth-child(3) {
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $color__border--light;
  }

  &:nth-child(3n+2) {

    div:first-child {
      order: 2;

      @include breakpoint(bp--xs--major) {
        order: 1;
      }

      @include breakpoint(bp--sm--major) {
        padding-left: 2em;
      }
    }

    div:nth-child(2) {
      padding-right: 7em;

      @include breakpoint(bp--xs--major) {
        padding-right: 0;
        order: 2;
      }
    }
  }

  &:last-child {
    padding: 0;
  }

  &__main {
    font-weight: 600;
    line-height: 2;
    padding: 7em;
    z-index: z('overlay');

    @include breakpoint(bp--xs--major) {
      padding: 2.5em 0;
    }

    @include breakpoint(bp--md--major) {
      padding: 4em 0;
    }
  }
}

.overview-footer {
  display: flex;
  flex-direction: column;
  background-color: $color__dark-blue;
  color: $color__white;
  margin-top: 5em;
  padding: 3em 9em 20em;

  @include breakpoint(bp--md--major) {
    padding: 2em 4em 20em;
  }

  @include breakpoint(bp--sm--major) {
    padding: 2em 2em 10em;
  }

  @include breakpoint(bp--xs--major) {
    padding: 2em 1.5em;
    margin-top: 2em;

    h1 {
      font-size: 2.5rem;
      padding-top: 1em;
    }
  }
}
