
.page-header {
  background-color: $color__blue-30;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 9em;
  min-height: $height__header;
  transition: $transition--slow;

  @include breakpoint(bp--md--major) {
    padding-left: 4em;
  }

  @include breakpoint(bp--sm--major) {
    padding: 0 2em;
    min-height: 14.75em;
  }

  @include breakpoint(bp--xs--major) {
    padding: 0 1em;
  }

  .tabs {

    &__nav--light {

      @include breakpoint(bp--sm--major) {
        margin-left: 0;
      }
    }

    &--light {
      font-weight: 700;
      color: $color__text--dark;
      background-color: $color__blue-30;
      margin-top: 1em;
      margin-bottom: 0;
      transition: .3s;

      @media screen and (max-width: $width__tab-break) {
        width: 100%;
        background-color: lighten($color__blue-30, 5%);
        margin-bottom: 1.5em;
      }
    }

    &__trigger {

      &-text--light {
        color: $color__text--dark;
        line-height: 1;
        margin-bottom: 0;
      }

      &--light {
        border-top: none;
        background: lighten($color__blue-30, 8%);

        &:hover {
          background: lighten($color__blue-30, 8%);
        }

        svg {
          fill: $color__white;
        }
      }

      &__nav--light {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  .nav__item {

    &--light {
      background: $color__blue-30;

      @media screen and (max-width: $width__tab-break) {
        background-color: lighten($color__blue-30, 5%);

        &:hover {
          background: lighten($color__blue-30, 10%);
        }
      }

      &.bx--tabs--selected {
        border-bottom: 3px solid $color__text--dark;

        @media screen and (max-width: $width__tab-break) {
          border-bottom: none;
        }
      }

      a {
        color: $color__text--dark;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: .0125em;
        transition: .2s;


        &:hover {
          color: $color__white;

          @media screen and (max-width: $width__tab-break) {
            color: $color__text--dark;
          }
        }

        @media screen and (max-width: $width__tab-break) {
          font-size: .9rem;
        }
      }

      &:hover {

        a {
          color: $color__white;
        }
      }
    }
  }
}

.page-info {
  display: flex;
  flex-direction: column;
  padding-top: 6em;

  @media screen and (max-width: $width__screen-size--small) {
    padding-top: 5em;
  }
}
