
.page-header {
  background-color: $color__blue-30;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 9em;
  height: $height__header;
  transition: $transition--slow;

  @include breakpoint(bp--md--major) {
    padding-left: 4em;
  }

  @include breakpoint(bp--sm--major) {
    padding: 0 2em;
    height: auto;
  }

  @include breakpoint(bp--xs--major) {
    padding: 0 1em;
  }

  .tabs {

    &__nav--light {

      @include breakpoint(bp--sm--major) {
        margin-left: 0;
      }
    }

    &--light {
      font-weight: 700;
      color: $color__text--dark;
      background-color: $color__blue-30;
      margin-bottom: 0;
      transition: .3s;
      z-index: 5;

      @media screen and (max-width: $width__tab-break) {
        width: 100%;
        background-color: lighten($color__blue-30, 5%);
        margin-bottom: 1.5em;
      }
    }

    &__trigger {

      &-text--light {
        color: $color__text--dark;
        line-height: 1;
        margin-bottom: 0;
      }

      &--light {
        border-top: none;
        background: lighten($color__blue-30, 8%);

        &:hover {
          background: lighten($color__blue-30, 8%);
        }

        svg {
          fill: $color__white;
        }
      }

      &__nav--light {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  .nav__item {

    &--light {
      background: $color__blue-30;

      @media screen and (max-width: $width__tab-break) {
        background-color: lighten($color__blue-30, 5%);

        &:hover {
          background: lighten($color__blue-30, 10%);
        }
      }

      &.bx--tabs--selected {
        border-bottom: 3px solid $color__text--dark;

        @media screen and (max-width: $width__tab-break) {
          border-bottom: none;
        }
      }

      a {
        color: $color__text--dark;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: .0125em;
        transition: .2s;


        &:hover {
          color: $color__white;

          @media screen and (max-width: $width__tab-break) {
            color: $color__text--dark;
          }
        }

        @media screen and (max-width: $width__tab-break) {
          font-size: .9rem;
        }
      }

      &:hover {

        .tab-theme-icon {
          fill: $color__white;
          stroke: $color__white;

          path {
            stroke: $color__white;
            fill: $color__white;
          }

          circle {
            stroke: $color__white;
            fill: $color__white;
          }

          &.dark--selected, &.light--selected {
            fill: $color__white;

            circle {
              fill: $color__white;
            }
          }
        }

        a {
          color: $color__white;
        }
      }

      .tab-theme-icon {
        width: rem(18px);
        height: rem(18px);
        fill: $color__blue-90;
        stroke: $color__blue-90;
        margin-right: .5rem;

        &--dark {
          fill: none;
        }

        path {
          stroke: $color__blue-90;
        }

        circle {
          stroke: $color__blue-90;
          fill: none;
        }

        &.dark--selected {
          fill: $color__blue-90;
        }

        &.light--selected {
          fill: $color__blue-90;

          circle {
            fill: $color__blue-90;
          }
        }
      }

      .item__link {
        display: flex;
        align-items: center;
        margin-bottom: 0;
      }
    }
  }
}

.page-info {
  display: flex;
  flex-direction: column;
  padding-top: 6em;

  @media screen and (max-width: $width__screen-size--small) {
    padding-top: 5em;
  }
}
