.page {

  padding: 0;
  margin-bottom: 4em;

  &__main-heading {
    @extend %font-smoothing;
    color: $color__blue-40;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .12em;
    margin: 2em 0 1em;
    padding-top: 0;
  }

  &__heading {
    @extend %font-smoothing;
    font-weight: 600;
    color: $color__blue-40;
    font-size: 1.5rem;
    position: relative;
    margin-top: 2.5em;
    padding-top: .5em;
    padding-bottom: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:before {
      content: '';
      width: 3em;
      height: .2em;
      display: block;
      background-color: currentColor;
      position: absolute;
      top: -.5em;
      left: 0;
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding-bottom: 1em;
    }
  }

  &__sub-heading {
    font-size: rem(24px);
    color: $color__text--dark;
    padding: .5em 0;
    font-weight: 600;
  }

  &__small-heading {
    font-size: 1.125rem;
    color: $color__blue-40;
    font-weight: 600;
    padding: 1em 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &__x-small-heading {
    @extend .page__small-heading;
    font-size: .889rem;
  }

  &__img {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;

    @media screen and (max-width: $width__screen-size--medium) {
      width: auto;
      object-fit: cover;
    }

    &--small {
      @extend .page__img;
      padding: 0;
    }

    &--thumbnail {
      max-width: 40rem;
      position: relative;
      margin-bottom: 2em;

      .thumbnail-img {
        width: 100%;
        height: auto;
      }

      .overlay {
        opacity: 0;
        background-color: rgba(85, 150, 230, .8);
        position: absolute;
        z-index: 2;
        transition: $transition--base;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        p {
          color: $color__white;
          font-size: rem(12px);
          padding-top: 1em;
          letter-spacing: .5px;
          font-weight: 400;
        }
      }

      &:hover {
        cursor: pointer;

        & .overlay {
          opacity: 1;
        }
      }
    }

    &--dark {
      @extend .page__img;
      background-color: $color__blue-90;
    }

    &--x-dark {
      @extend .page__img;
      background-color: $color__navy-gray-1;
    }

    &--light {
      @extend .page__img;
      background-color: $color__navy-gray-3;
    }

    &--vertical {
      width: 100%;
      min-height: 10em;
      object-fit: cover;
    }
  }

  .example__code {
    position: relative;
  }

  &__desc {
    @extend %type-constrain;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1em;
    color: $color__text--dark;
    word-wrap: break-word;

    &--bold {
      font-weight: 700;
      font-size: .9rem;
    }

    &--small {
      @extend .page__desc;
      font-size: rem(14px);
    }

    &--list {
      @extend .bx--list--unordered;
      @extend %type-constrain;
      list-style: disc;
      color: $color__text--dark;
      padding-bottom: 1em;

      li {
        @extend .bx--list--unordered__item;
      }

      &--ordered {
        @extend .bx--list--ordered;
        color: $color__text--dark;
        padding-bottom: 1em;

        li {
          @extend .bx--list--ordered__item;
        }
      }

      .green, .yellow, .red, .blue {
        background-color: $color__navy-gray-2;
      }

      .green {
        color: $color__green-30;
      }

      .yellow {
        color: $color__yellow-30;
      }

      .red {
        color: $color__red-40;
      }

      .blue {
        color: $color__blue-20;
      }
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding-bottom: 1em;
    }
  }

  &__example-heading {
    color: $color__navy-gray-7;
    font-size: rem(14px);
    font-style: italic;
    padding: 1em 0;
    margin-top: 1.5em;
  }

  &__list {
    color: $color__text--dark;

    h4 {
      font-size: rem(18px);
      padding: 1em 0 .5em;
    }
  }

  &__container {
    margin-left: 9em; // push away from sidebar
    margin-right: 9em;
    padding: 4em 0 4em 0;
    transition: $transition--slow;

    @media screen and (max-width: $width__screen-size--medium) {
      padding-right: 4em;
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding: 3em 1em 4em;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__header {
    background-color: $color__blue-30;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: $height__header;
    padding-left: 9em;
    transition: $transition--slow;

    @media screen and (max-width: $width__screen-size--medium) {
      padding-left: 9em;
    }

    @media screen and (max-width: $width__screen-size--small) {
      padding-left: 1em;
      height: 17.75em;
      padding-right: 1em;
    }

    &.scrolled {
      position: fixed;
      height: 3.5em;
      z-index: 2;
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 6em;

    @media screen and (max-width: $width__screen-size--small) {
      padding-top: 5em;
    }
  }

  &__large-heading {
    @extend %font-smoothing;
    @extend %type-constrain;
    font-size: rem(64px);
    color: $color__white;
    padding-top: .2em;
    margin: 0;
    font-weight: 200;

    @media screen and (max-width: $width__screen-size--small) {
      font-size: 3rem;
    }
  }

  &__category {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
  }

  &__tabs {
    display: flex;

    li {
      @extend %font-smoothing;
      color: $color__text--dark;
      padding: 1em 0;
      margin: 0 1.5em;
      font-size: rem(16px);
      font-weight: 600;
      letter-spacing: em(.2px);
      border-bottom: 3px solid transparent;
      text-align: center;
      transition: .2s;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:hover,
      &:focus {
        color: $color__white;
      }

      &:hover,
      &:focus,
      &.is-selected {
        cursor: pointer;
      }

      &.is-selected {
        border-bottom: 3px solid $color__text--dark;
      }
    }
  }

  &__main-desc {
    @extend %type-constrain;
    color: $color__text--dark;
    font-weight: 600;
    line-height: 1.5;
    font-size: rem(18px);
    margin-bottom: 2em;

    .highlight {
      color: $color__blue-40;
    }

    @media screen and (max-width: $width__screen-size--small) {
      font-size: 1rem;
    }
  }
}

// Specific element styles

.link-examples {
  display: flex;
  align-items: baseline;

  .do-example__img, .dont-example__img {
    width: 100%;
    padding-left: 1em;
  }

  .do-example__img {
    border-left: 10px solid $color__green-30;
  }

  .dont-example__img {
    border-left: 10px solid $color__red-40;
  }

  .dont-example {
    margin-left: 5%;

    @media screen and (max-width: $width__screen-size--medium) {
      margin-left: 0;
    }
  }

  .page__example-heading {
    display: flex;
    align-items: baseline;

    img {
      padding-right: 1em;
    }
  }

  @media screen and (max-width: $width__screen-size--medium) {
    flex-direction: column;
  }
}

// Styles for full render view

.generatedIcons {
  position: absolute;
}

.rendered {
  width: 100vw;
  padding: 1em;
}
