.snippet {
  margin-top: 2em;
  width: 100%;

  &__btns {
    display: flex;

    &--html,
    &--js {
      display: block;
      padding: 1em;
      font-size: .8rem;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: #dedede;
    }
  }

  &__html {
    display: none;
  }

  &__js {
    display: none;
  }

  .show-snippet {
    display: flex;
  }

  .active-btn {
    background-color: $color__light-gray;
  }

  pre {
    width: 100%;
    margin: 0;
    padding: 2em 2em 3em;
    background-color: $color__light-gray;
  }
}
