// Base
code,
code[class*='language-'],
pre[class*='language-'] {
  color: $code--black;
  background: $color__snippet-bg;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 0;
  hyphens: none;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text;
  letter-spacing: normal;
}

// Token colors
.token {

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $code--dark-gray;
  }

  &.punctuation,
  &.string,
  &.atrule,
  &.attr-value {
    color: $code--dark-blue;
  }

  &.property,
  &.tag {
    color: $code--dark-blue;
  }

  &.boolean,
  &.number {
    color: $code--light-blue;
  }

  &.selector,
  &.attr-name,
  &.attr-value .punctuation:first-child,
  &.keyword,
  &.regex,
  &.important {
    color: $code--light-blue;
  }


  &.operator,
  &.entity,
  &.url,
  .language-css &.string {
    color: $code--light-blue;
  }

  &.entity {
    cursor: help;
  }
}

%code-snippet {
  background-color: $color__snippet-bg;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  max-height: 12em;
  transition-duration: $transition--slow;
  display: none;
}

.element__example .code__html, .element__example .code__js {
  height: auto;
}

.element__example {
  min-width: 100%;
  display: block;
  margin-bottom: 5em;
  margin-top: 1em;

  @media screen and (max-width: $width__screen-size--small) {
    width: 100vw;
    position: relative;
    left: em(-16px);
  }

  .example__rendered {
    background-color: $color__rendered-example;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1em;
    position: relative;
    transition-duration: $transition--base;

    &.light-ui {
      background: $color__white;

      .btn--theme-switcher {
        color: $color__navy-gray-5;
      }
    }
  }

  .rendered__element {
    margin: 3.5em 0 2em;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    min-width: 200px; // needed for layout reasons

    &--column {
      @extend .rendered__element;
      flex-direction: column;
      margin: 3.5em auto 2em;
    }
  }

  .rendered__view-full-size {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $color__navy-gray-7;
    font-size: rem(12px);
    padding: 1.5em;
  }

  .btn--theme-switcher {
    color: $color__navy-gray-7;
    font-size: rem(12px);
    border: none;
    background: none;
    text-decoration: underline;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    cursor: pointer;
  }

  .code__tabs {
    background-color: $color__code-tabs;
    display: flex;

    .tabs__html, .tabs__js {
      padding: 1em 0;
      margin: 0 1em;
      font-size: rem(12px);
      font-weight: 600;
      letter-spacing: em(1px);
      cursor: pointer;
    }

    .tabs__html {
      margin-left: 2.5em;
    }

    .is-selected {
      border-bottom: 3px solid $color__blue-30;
    }
  }

  .hiddenHTMLSnippet {
    opacity: 0;
  }

  .hiddenJSSnippet {
    opacity: 0;
  }

  .code__html,
  .code__js {
    @extend %code-snippet;

    @media screen and (max-width: $width__screen-size--small) {
      padding: 1em 0;
    }

    &.is-expanded {
      transition-duration: $transition--code-snippet;
      max-height: 200em;
    }

    &.is-active {
      display: flex;
    }

    .code__copy {
      position: absolute;
      display: inline-block;
      background-color: $color__navy-gray-8;
      border: none;
      color: $color__navy-gray-3;
      cursor: pointer;
      padding: .75em;
      right: .75em;
      top: 4em;
      font-weight: 700;
      font-size: .8rem;
      outline: none;
      transition: background-color $transition--base;

      .copy-icon {
        margin-left: .25em;
      }

      &:hover {
        background-color: $color__white;
        color: $color__blue-30;

        .copy-icon g g {
          fill: $color__blue-30;
        }
      }

      .copyFeedback {
        position: absolute;
        z-index: 1;
        background-color: $color__code-tabs;
        color: $color__navy-gray-8;
        padding: .5em;
        top: 100%;
        left: 50%;
        visibility: hidden;
        font-size: rem(12px);
        font-weight: 200;
        width: 6em;
        text-align: center;
        margin-left: -3em;
        margin-top: .5em;
        transition: visibility $transition--base;

        &:after {
          content: '';
          display: inline;
          position: absolute;
          width: 0;
          height: 0;
          top: -15%;
          right: 50%;
          border-left: em(6px) solid transparent;
          border-right: em(6px) solid transparent;
          border-bottom: em(6px) solid $color__code-tabs;
        }
      }

      @media screen and (max-width: $width__screen-size--medium) {
        right: 1em;
      }
    }

    .code__show-full {
      text-align: right;
      background: none;
      border: none;
      color: $color__navy-gray-7;
      background-color: $color__snippet-bg;
      font-size: rem(12px);
      text-decoration: none;
      position: absolute;
      right: 0;
      bottom: 1em;
      padding: 1em;
      cursor: pointer;
    }

    pre[class*='language-'], pre {
      margin: 0;
      font-size: rem(12px);
      overflow-y: scroll;
      overflow-x: hidden;

      code {
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      @media screen and (max-width: $width__screen-size--small) {
        font-size: .7rem;
      }
    }

    .line-numbers {

      @media screen and (max-width: $width__screen-size--small) {
        padding-left: 3.2em;
      }
    }

    .line-numbers .line-numbers-rows {
      border-right: none;
    }
  }
}
