@mixin table-swatch($color, $borders: false) {
  background-color: $color;
  display: inline-block;
  width: 12px;
  height: 12px;

  @if ($borders) {
    border: 1px solid $color__navy-gray-7;
  }
}

.table {
  color: $color__text--dark;
  width: 100%;
  font-weight: 700;
  overflow: hidden;
  max-height: em(645px);
  transition-duration: $transition--slow;
  margin-top: 2em;

  .table__header, .table__row {
    display: flex;

    p {
      flex: 1;
      min-width: 20%;
    }
  }

  .table__header {
    border-bottom: 2px solid $color__blue-40;
    padding: .75em 0;
    margin-bottom: 1em;

    & > p {
      font-size: 13px;
      letter-spacing: 1px;
    }

    &--side {
      font-size: 13px;
      letter-spacing: 1px;
      text-align: right;
      padding-right: 1.5rem;
      margin-left: -1.5rem;
    }
  }

  .table__row {
    align-items: baseline;
    margin-bottom: 1em;

    & > .small-text {
      font-size: .875rem;
      font-weight: 400;
    }
  }

  .actual-size {
    color: $color__navy-gray-6;
    font-weight: 400;
    white-space: nowrap;
  }

  &.expanded {
    max-height: 200em;
    transition-duration: $transition--code-snippet;
  }

  &__swatch {
    &--blue-30 { @include table-swatch($color__blue-30); }
    &--blue-20 { @include table-swatch($color__blue-20); }
    &--blue-51 { @include table-swatch($color__blue-51); }
    &--blue-40 { @include table-swatch($color__blue-40); }
    &--navy-gray-7 { @include table-swatch($color__navy-gray-7); }
    &--navy-gray-8 { @include table-swatch($color__navy-gray-8, true); }
  }
}

.expand-table {
  width: 100%;
  background-color: $color__navy-gray-9;
  margin-top: 1em;
  padding: .75em 1em .75em 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3em;

  p {
    color: $color__navy-gray-7;
    font-size: rem(12px);
    padding-right: 1em;
  }
}

.style-properties {

  &__switcher {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .table {
    margin-top: 1rem;
  }

  .style-properties__dark,
  .style-properties__light {

    .table {
      margin-top: 0;
    }
  }

  .style-properties__dark {
    opacity: 1;
    z-index: 2;

    .bx--global-light-ui & {
      opacity: 0;
      z-index: -1;
    }
  }

  .style-properties__light {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    .bx--global-light-ui & {
      opacity: 1;
      z-index: 2;
    }
  }

  .table__row p {
    @include font-size('16');
    padding: .25rem 0;
  }

  .table--light {
    font-weight: 400;
  }

  .table__header {
    padding-bottom: .5rem;
  }

  .table__header p {
    font-size: 13px;
    letter-spacing: 1px;
    color: $color__navy-gray-3;
  }

  .table__header, .table__row {

    p:first-child {
      flex: 2;
      min-width: 20%;
      padding-right: 2rem;
    }
  }

  .table__row--heading {
    margin-bottom: .75rem;
  }
}
