.table {
  color: $color__text--dark;
  width: 100%;
  font-weight: 700;
  overflow: hidden;
  max-height: em(645px);
  transition-duration: $transition--slow;
  margin-top: 2em;

  .table__header, .table__row {
    display: flex;

    p {
      flex: 1;
      min-width: 20%;
    }
  }

  .table__header {
    border-bottom: 2px solid $color__blue-40;
    padding: .75em 0;
    margin-bottom: 1em;

    p {
      padding-bottom: 0;
    }
  }

  .table__row {
    align-items: baseline;
    margin-bottom: 1em;
  }

  .actual-size {
    color: $color__navy-gray-6;
    font-weight: 400;
    white-space: nowrap;
  }

  &.expanded {
    max-height: 200em;
    transition-duration: $transition--code-snippet;
  }
}

.expand-table {
  width: 100%;
  background-color: $color__navy-gray-9;
  margin-top: 1em;
  padding: .75em 1em .75em 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3em;

  p {
    color: $color__navy-gray-7;
    font-size: rem(12px);
    padding-right: 1em;
  }
}
