.taxonomy-map {
  width: 100%;
  height: 100%;
  padding: 9rem 0;
  margin-bottom: 13rem;

  ul {
    list-style: none;
    margin-left: 0;
    line-height: 1;
    padding-bottom: 0;
  }

  p {
    padding-bottom: 0;
  }

  a {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1400px) {
    padding-top: 0;
  }

  &__cards {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

    @media screen and (max-width: 1400px) {
      flex-direction: column;
      display: none;
    }
  }

  .card__plus-sign {

    img {
      width: rem(30px);
    }
  }

  &__card {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &.home {

      & > .taxonomy-map__detail-card {
        top: 13rem;

        &.is-open {
          transform: scale(1);
        }

        &:before {
          margin-left: 4.5rem;
        }
      }
    }

    .content {
      background-color: $color__navy-gray-9;
      border-radius: 10px;
      width: 100px;
      height: 85px;
      display: flex;
      flex-direction: column;
      margin: 16px;
      position: relative;

      @media screen and (max-width: 1400px) {
        display: none;
      }

      &.home {
        margin-left: 0;

        &::after {
          content: '';
          position: absolute;
          border-top: 1px solid #bbb;
          width: 185px;
          top: 2.75rem;
          left: 6.5rem;

          @media screen and (max-width: 1400px) {
            display: none;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
    }

    .top-branch {
      top: 0;
      left: 2.1rem;
      position: absolute;
    }

    .bottom-branch {
      margin-left: 48px;

      li {
        position: relative;

        &:first-child {

          .content {

            &::before {
              content: '';
              text-align: right;
              position: absolute;
              border-top: 1px solid #bbb;
              width: 60px;
              left: -4.7rem;
              top: 2.6rem;

              @media screen and (max-width: 1400px) {
                display: none;
              }
            }

            &::after {
              content: '';
              position: absolute;
              top: 6rem;
              left: -7.5rem;
              border-top: 2px dotted #bbb;
              width: 350px;
              transform: rotate(90deg);
              z-index: -1;

              @media screen and (max-width: 1400px) {
                display: none;
              }
            }
          }

          .card-content {

            &:before {
              content: url('../images/templates/arrow.svg');
              height: 5px;
              width: 5px;
              position: absolute;
              top: 3px;
              left: -19px;
              z-index: 5;
            }
          }
        }

        &:nth-child(2) {

          .content {

            &::before {
              content: '';
              position: absolute;
              border-top: 1px solid #bbb;
              width: 50px;
              top: 2.3rem;
              left: 6.2rem;

              @media screen and (max-width: 1400px) {
                display: none;
              }
            }

            &:after {
              content: url('../images/templates/arrow.svg');
              height: 5px;
              width: 5px;
              position: absolute;
              top: 34.5px;
              left: -19px;
              z-index: 5;
            }
          }
        }

        &:nth-child(3) {

          .content {

            &::before {
              content: '';
              position: absolute;
              border-top: 1px solid #bbb;
              width: 60px;
              top: 2.7rem;
              left: -4.7rem;

              @media screen and (max-width: 1400px) {
                display: none;
              }
            }

            &:after {
              content: url('../images/templates/arrow.svg');
              height: 5px;
              width: 5px;
              position: absolute;
              top: 32.5px;
              left: -18px;
              z-index: 5;
            }
          }
        }
      }
    }

    .bottom-branch {
      .bottom-branch-row {
        flex-direction: row;

        .taxonomy-map__card .content {

          &::before {
            display: none;
          }

          &::after {
            content: '';
            position: absolute;
            border-top: 1px solid #bbb;
            width: 90px;
            transform: rotate(0deg);
            left: -6.7rem;
            top: 2.6rem;

            @media screen and (max-width: 1400px) {
              display: none;
            }
          }
        }

      }

      .line-two {
        margin-left: 0;
        margin-bottom: 77px;
        position: relative;
        width: 75px;
        text-align: center;

        p {
          color: #000;
          font-size: em(10px);
        }

        &::before {
          content: '';
          position: absolute;
          right: 0;
          border-top: 1px solid #bbb;
          width: 130px;
          height: 47px;
          transform: rotate(90deg);
          top: 5rem;

          @media screen and (max-width: 1400px) {
            display: none;
          }
        }

        &:after {
          content: url('../images/templates/circle-icon.png');
          height: 10px;
          width: 10px;
          position: absolute;
          top: 26px;
          left: 28px;
          z-index: 5;
        }
      }
    }

    .split-line {
      height: 235px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid #bbb;
      padding-right: 8px;
      margin-left: 0;

      @media screen and (max-width: 1400px) {
        display: none;
      }

      li {
        color: #000;
        font-size: rem(10px);
        position: relative;

        &:first-child {
          margin-top: -5px;
          margin-left: -50px;

          &:after {
            right: -5px;
          }
        }

        &:nth-child(2) {
          margin-bottom: 17px;

          &:after {
            right: -2px;
            top: 12px;
          }
        }

        &:last-child {
          margin-left: -55px;
          top: .2rem;

          &:after {
            top: 1px;
            right: -3px;
          }
        }

        &:after {
          content: url('../images/templates/circle-icon.png');
          height: 10px;
          width: 10px;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 5;
        }
      }
    }

    &.top-branch-main {
      flex-direction: row;
      margin-bottom: 96px;

      .card__plus-sign {
        position: absolute;

        &.first {
          &::after {
            content: '';
            position: absolute;
            border-top: 2px dotted #bbb;
            width: 40px;
            height: 20px;
            transform: rotate(90deg);
            top: -2rem;
            left: -1rem;

            @media screen and (max-width: 1400px) {
              display: none;
            }
          }

          &::before {
            content: '';
            position: absolute;
            border-top: 2px dotted #bbb;
            width: 85px;
            height: 69px;
            transform: rotate(90deg);
            top: 3rem;
            z-index: 1;
            left: -4rem;
          }

          img {
            position: absolute;
            top: .25rem;
          }
        }

        @media screen and (max-width: 1400px) {
          display: none;
        }
      }

      ul li .card__plus-sign {
        top: 1rem;
        left: 5rem;

        &::after {
          content: '';
          position: absolute;
          border-top: 2px dotted #bbb;
          width: 294px;
          top: 1rem;
          left: -18.5rem;

          @media screen and (max-width: 1400px) {
            display: none;
          }
        }

        &::before {
          content: '';
          position: absolute;
          border-top: 2px dotted #bbb;
          width: 310px;
          top: 1rem;
          left: 2rem;

          @media screen and (max-width: 1400px) {
            display: none;
          }
        }

        @media screen and (max-width: 1400px) {
          display: none;
        }
      }
    }

    .right-branch {
      order: 1;
      position: absolute;
      top: -5rem;
      left: 14.4rem;
    }

    .right-branch-row {
      flex-direction: row;
      margin-left: 436px;
      position: absolute;
      top: -1.9rem;

      ul {
        margin-left: 112px;

        .taxonomy-map__card {
          left: -2rem;
          top: 0;

          &:before {
            content: url('../images/templates/arrow.svg');
            height: 5px;
            width: 5px;
            position: absolute;
            top: 51px;
            left: -7px;
            z-index: 5;
          }

          &::after {
            content: '';
            position: absolute;
            border-top: 1px solid #bbb;
            width: 90px;
            left: -6rem;
            top: 3.8rem;

            @media screen and (max-width: 1400px) {
              display: none;
            }
          }
        }
      }

      &:before {
        content: url('../images/templates/arrow.svg');
        height: 5px;
        width: 5px;
        position: absolute;
        top: 53px;
        left: -13px;
        z-index: 5;
      }
    }

    .line {
      position: absolute;
      left: 8rem;
      top: -1rem;

      &:before {
        content: url('../images/templates/circle-icon.png');
        height: 10px;
        width: 10px;
        position: absolute;
        top: 12px;
        left: 37px;
        z-index: 5;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 2.2rem;
        border-top: 1px solid #bbb;
        width: 50px;
        height: 30px;
        transform: rotate(90deg);

        @media screen and (max-width: 1400px) {
          display: none;
        }
      }
    }

    .line p {
      color: $color__blue-90;
      font-size: em(10px);
    }

    .card-header {
      height: 50px;
      background-color: $color__navy-gray-8;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px 10px 0 0;

      &__heading {
        font-size: .5rem;
        color: $color__blue-90;
        font-weight: 700;
        text-align: center;
        padding: 0;
        margin: 0;
      }
    }

    .card-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 8px;
      position: relative;

      &__icon {
        width: rem(45px);
      }

      .blue-dot {
        width: 20px;
        height: 20px;
        background-color: $color__blue-30;
        border-radius: 50%;
        position: absolute;
        z-index: 3;
        left: -.5rem;
        top: .2rem;

        &--right {
          left: 5.5rem;
        }
      }
    }
  }

  &__detail-card {
    @include box-shadow;
    background-color: $color__navy-gray-9;
    width: em(400px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    margin-top: 1.5rem;
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    z-index: 5;
    left: -2.75rem;
    top: 5.5rem;

    &.left-aligned {
      left: -17.75rem;

      &.is-open {
        transform: scale(1);
        opacity: 1;
      }

      &:before {
        margin-left: 20.5rem;
      }
    }

    .detail-card__content {
      padding: 1rem 1rem 0 1rem;
    }

    .detail-card__desc {
      @include font-size('14');
      color: $color__blue-90;

      &--blue {
        color: $color__blue-30;
        font-weight: 700;
      }
    }

    .detail-card__img {
      width: 100%;
      padding: 1rem 0;
    }

    .detail-card__link {
      @include font-size('14');
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      color: $color__white;
      width: 100%;
      height: em(50px);
      background-color: $color__blue-30;
      border-radius: 0 0 10px 10px;
      transition: .5s;
      position: relative;

      .link-icon {
        width: 12px;
        height: 12px;
        fill: $color__white;
        transform: rotate(180deg);
        margin-left: 1rem;
        position: absolute;
        top: 35%;
      }

      &:hover {
        background-color: $color__blue-20;
      }
    }

    &:before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      border-top: 20px solid transparent;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      border-bottom: 20px solid $color__navy-gray-9;
      position: absolute;
      top: -2rem;
      margin-left: 5.7rem;
    }

    &.is-open {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.taxonomy-map__cards--mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;

  li {
    width: 48%;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  .taxonomy-map__detail-card {
    position: static;
    transform: scale(1);
    opacity: 1;
    width: 100%;
    min-height: rem(300px);
    justify-content: space-between;

    &:before {
      display: none;
    }
  }

  @media screen and (min-width: 1401px) {
    display: none;
  }
}

// Firefox Specific Styles

// @-moz-document url-prefix() {
//
// }

// Internet Explorer specific styles

// @media all and(-ms-high-contrast: none), (-ms-high-contrast: active) {
//
// }
