///////////////////////////////
// Colors                    //
///////////////////////////////

$color__menu-bg: $color__blue-90;
$color__section-bg: $color__blue-40;
$color__border: $color__blue-20;
$color__white: #fff;
$color__dark-blue: #1d3649;
$color__light-gray: #f7f7f7;
$color__text--light: $color__atlas-gray-1;
$color__text--dark: #1d3649;
$color__item-preview-bg: #0d3449;
$color__snippet-bg: $color__light-gray;
$color__section-border: $color__atlas-gray-1;
$color__toggle-menu: $color__navy-gray-5;
$color__toggle-menu--is-closed: $color__blue-90;
$color__toggle-menu-icon: $color__white;

///////////////////////////////
// Code                      //
///////////////////////////////

$code--dark-blue: #0e58a1;
$code--black: #333;
$code--dark-gray: #5a6872;
$code--light-blue: #318fec;

///////////////////////////////
// Typography                //
///////////////////////////////

$base-font-size: 16px;

///////////////////////////////
// SIZES                     //
///////////////////////////////

$width__menu: 17.5em;
$height__header: em(300px);
$width__screen-size--small: 50em;
$width__screen-size--medium: 80em;

$transition--slow: .5s;
