%view {
  display: none;
  opacity: 0;
  padding-right: 0 9em 15em 0;
  top: $height__header + em(50px);
  width: 100%;
  max-width: 90em; // nothing will do wider than this (72 is arbitrary for now)

  &.is-active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity .3s;
  }

  @media screen and (max-width: $width__screen-size--small) {
    padding-right: 1em;
  }

  a {
    font-weight: bold;
    color: $color__blue-40;
    text-decoration: underline;
    transition: $transition--link;

    &:visited {
      color: $color__blue-40;
    }

    &:active,
    &:hover,
    &:focus {
      color: $color__blue-30;
    }
  }

  .page-section__heading {
    margin-top: 4em;
  }

  .text-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;

    @media screen and (max-width: $width__screen-size--small) {
      flex-direction: column;
    }

    li {
      width: 50%;
      margin-bottom: 2em;

      @media screen and (max-width: $width__screen-size--small) {
        width: 100%;
      }
    }
  }

  .img-desc {
    font-size: rem(12px);
    color: $color__navy-gray-6;
    padding: .75em 0;
  }

  .download-btn {
    display: flex;
    width: em(250px);
    align-items: center;
    padding: 1.25em;
    border: none;
    background-color: $color__blue-40;
    color: $color__dark-blue !important;
    font-weight: 600;
    font-size: .8rem;
    margin-right: em(35px);
    text-decoration: none;
    transition: $transition--base;
    justify-content: space-between;
    margin-top: 1.5em;

    img {
      width: auto;
    }

    &:hover {
      background-color: $color__blue-30;
    }

    @media screen and (max-width: $width__screen-size--x-small) {
      width: 100%;
    }
  }
}

.view--grid,
.view--typography,
.view--iconography,
.view--color,
.view--usage,
.view--style,
.view--foundation {
  @extend %view;
}

/////////////////////////////////
// VIEW: STYLE                 //
/////////////////////////////////

.view--style {

  .page__heading {
    margin-bottom: 1em;
  }

  &__section {
    display: flex;
    margin-bottom: 5em;

    .page__example-heading {
      margin-top: 0;
      padding-bottom: 2em;
    }

    @media screen and (max-width: $width__screen-size--medium) {
      flex-direction: column;
    }
  }

  &__right-column {
    width: 60%;

    @media screen and (max-width: $width__screen-size--medium) {
      width: 100%;
    }
  }

  &__left-column {
    width: 40%;
    padding-right: 5%;

    @media screen and (max-width: $width__screen-size--medium) {
      padding-right: 0;
      width: 100%;
    }
  }

  &__full-width {
    width: 100%;
  }

  &__right-column {

    img {
      width: 100%;
    }
  }
}

.view--iconography__code-example {

  pre {
    font-size: .75rem;
    padding: 0;
    max-width: 75em;
    padding-top: .75em;

    @media screen and (max-width: $width__screen-size--small) {
      padding: .75em 1em 0;
    }

    code {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
