.overview-page {
  @include reset;
  @include grid-padding;
  background-color: $color__white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: rem(48px);

  @include breakpoint('620px') {
    padding-bottom: 10rem;
  }

  &__top-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3%;
    width: 100%;
    transition: $transition--base ease;
    border-bottom: 1px solid $color__gray-1;

    @include breakpoint('bp--sm--major') {
      height: rem(640px);
      padding: 4rem 10%;
    }

    @include breakpoint('1024px') {
      padding: 7rem 15%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: rem(704px);
  }

  &__title--column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-right: 6.25vw;

    @include breakpoint('990px') {
      margin-right: rem(75px);
    }

    &:last-child {
      margin-right: 0;
    }

    span:last-child {
      margin-bottom: 0;
    }

    .overview-page__title--letter,
    .overview-page__title--shape {
      margin-bottom: 6.25vw;

      @include breakpoint('990px') {
        margin-bottom: rem(70px);
      }
    }
  }

  &__content {
    @include helvetica;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: rem(48px);
    max-width: 55rem;

    @include breakpoint('620px') {
      padding-top: 8rem;
    }

    .overview-page__main-intro {
      width: 100%;
      margin-bottom: 3rem;
      display: flex;
      align-items: flex-start;
    }

    .overview-page__main-intro--icon {
      margin-right: 1.2rem;

      @include breakpoint('620px') {
        margin-right: 2rem;
      }
    }

    .overview-page__main-intro--text {
      font-size: rem(18px);
      font-weight: 700;
      line-height: 1.75;
      width: 100%;
    }

    .overview-page__main-intro--link {
      margin-top: 1.5rem;
    }

    .overview-page__tiles {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 2rem;

      @include breakpoint('1440px') {
        flex-direction: row;
      }
    }

    .overview-page__tile {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 2rem;

      @include breakpoint('620px') {
        flex: 1;
        margin-right: 2rem;
      }
    }

    .overview-page__tile--icon {
      margin-right: 1.2rem;

      @include breakpoint('620px') {
        margin-right: 2rem;
      }
    }

    .overview-page__tile--heading {
      font-weight: 700;
    }

    .overview-page__tile--text {
      line-height: 1.7;
      margin-bottom: 1rem;
    }
  }
}

.overview__letter {
  user-select: none;
  position: relative;
  transition: transform 250ms;
  transform: scale(1);
  cursor: pointer;
  will-change: transform;

  span {
    @include font-smoothing;
    font-weight: 700;
    font-size: 8vw;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    transition: all 250ms cubic-bezier(.8,-.5,.2,1.8);
    @include breakpoint('990px') {
      font-size: 4.5rem;
    }
  }

  svg {
    width: 8vw;
    height: 8vw;
    transition: all 250ms cubic-bezier(.8,-.5,.2,1.8);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1);
    will-change: transform, opacity, visibility;
    @include breakpoint('990px') {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &--active {
    span {
      visibility: hidden;
      opacity: 0;
      transform: translateX(-50%) scale(0.1);
    }

    svg {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &--hover {
    animation: rock 350ms infinite forwards linear 250ms,
               pop 250ms 1;
  }
}

@keyframes rock {
  0%, 100% { transform: scale(1.0) rotate(0deg) }
  25% { transform: rotate(-3deg) }
  75% { transform: rotate(3deg) }
}

@keyframes pop {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}
