.images-container {
  margin: 50px 0 100px 0;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.small-container {
  margin: 50px 0 100px 0;
  max-width:610px;
  display: flex;
}

.checkmark {
  max-width: 24px;
  height: auto;
  vertical-align:middle;
}

.x-mark {
  max-width: 24px;
  height: auto;
  vertical-align:middle;
}

.example {
  max-width: 260px;
  height: auto;
  vertical-align: middle;
  padding-left: 20px;
}

.small-example {
  max-width: 80px;
  height: auto;
  vertical-align: middle;
  padding-left: 20px;
}

.small-column {
  margin: 0 60px 0 0;
}

@media (max-width: 645px) {
  .images-container {
    flex-direction: column;
  }

  .column {
    margin-bottom: 15px;
  }
}
