.front-page {

    &__heading {
        font-size: rem(90px);
        font-weight: lighter;
        color: map-get($base-colors, accent);
        padding-top: .5em;
    }

    &__text {
        width: 50%;
        font-size: rem(20px);
        font-weight: lighter;
        line-height: 1.75;
        letter-spacing: 1px;
    }
}
