// menu
.menu {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-20em, 0);
	width: 20em;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
    padding: 2em;

    &__header {
        font-size: rem(24px);
        color: $color__blue-20;
        font-weight: lighter;

        span {
            color: $color__text--light;
            font-weight: bolder;
        }
    }

	.menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: 1rem;

		> li {
			margin-top: 1rem;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
        padding: .5em 0;
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 1.5;

		&:hover {
			text-decoration: underline;
		}
	}

	.menu__heading {
		font-weight: 700;
		font-size: 0.875rem;
	}
}
