{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics
Select boxes are single color filled at 10% opacity. The width of a select dropdown box should appropriately fit the design and layout of the content.

**Select box height: 40px / 2.5em**

**Select Box Background Color:**
**Dark UI:**
#ffffff at 10% opacity rgba(255,255,255, .10)
**Light UI:**
#3d70b2 at 10% opacity rgba(61, 112, 178, .10)

</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding

**Padding between label and select box: 10px / .625em**
**Internal side padding: 16px / 1em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/Select_Mobile@2x.png">
      <img src="/assets/images/style/select/Select_Desktop@2x.png">
    </picture>
    <p class="caption">Select Basics | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/light-ui/Select_Mobile_Light@2x.png">
      <img src="/assets/images/style/select/light-ui/Select_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Select Basics | units in px / em</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### States

- Default Non-Selected State: Browser Defined
- Hover: 1px outline #5aaafa (rgb 90, 170, 250)
- Open: Style determined by browser
- Form Validation:
  Dark UI: 2px bottom border #ff50f0 rgb(255, 80, 80)
  Light UI: 2px bottom border #e71d21 rgb(231, 29, 50)
- Help: Tool tip should be left aligned with the text field box and underlined to indicate a link.
- Disabled: 50% opacity

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/Select_States_Mobile@2x.png">
      <img src="/assets/images/style/select/Select_States_Desktop@2x.png">
    </picture>
    <p class="caption">Select States</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/light-ui/Select_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/select/light-ui/Select_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Select States</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Groupings

Select dropdowns can be grouped horizontally and vertically for tablet and desktop views. Select dropdowns cannot be grouped horizontally for mobile views.

**Padding between vertical groupings: 32px / 2em**
**Padding between horizontal groupings: 16px / 2em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/Select_Groupings_Mobile@2x.png">
      <img src="/assets/images/style/select/Select_Groupings_Desktop@2x.png">
    </picture>
    <p class="caption">Select Groupings Orientations | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/light-ui/Select_Groupings_Mobile_Light@2x.png">
      <img src="/assets/images/style/select/light-ui/Select_Groupings_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Select Groupings Orientations | units in px / em</p>
  </div>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Select labels should be set in title case, with the first letter of every word capitalized. Labels should be 3 words or less. Select dropdown text should be set in sentence case, with only the first letter of the first word capitalized. Select dropdown text should follow the Bluemix Typography font stack for sans-serif.

**Select Label font-size: 14px / .875rem**
**Select Label font-weight: bold / 700**
**Select Dropdown Text font-size: 14px / .875rem**
**Select Dropdown Text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
