{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics
Select boxes are single color filled at 10% opacity. The width of a select dropdown box should appropriately fit the design and layout of the content.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#ffffff at 10% opacity</p>
          <p class="table--light">$color__inputs--bg</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#3d70b2 at 10% opacity</p>
          <p class="table--light">$color__inputs--bg--light-ui</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/Select_Mobile@2x.png">
      <img src="/assets/images/style/select/Select_Desktop@2x.png">
    </picture>
    <p class="caption">Select basics | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/light-ui/Select_Mobile_Light@2x.png">
      <img src="/assets/images/style/select/light-ui/Select_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Select basics | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between label and select box</p>
      <p class="table--light">10px</p>
      <p class="table--light">.625rem</p>
    </div>
    <div class="table__row">
      <p>Internal side padding</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>
</div>
</div>

<div class="view__section">

<div class="view__full">

### States

**Default non-selected state:** Browser defined
**Open:** Style determined by browser
**Disabled:** 50% opacity
**Help:** Tool tip should be left aligned with the text field box and underlined to indicate a link.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Hover outline</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Form validation bottom border</p>
      <p class="table--light">2px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Form validation</p>
          <p class="table--light">#ff50f0</p>
          <p class="table--light">$color__red-40</p>
        </div>
        <div class="table__row">
          <p>Hover outline</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Form validation</p>
          <p class="table--light">#e71d21</p>
          <p class="table--light">$color__red-50</p>
        </div>
        <div class="table__row">
          <p>Hover outline</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/Select_States_Mobile@2x.png">
      <img src="/assets/images/style/select/Select_States_Desktop@2x.png">
    </picture>
    <p class="caption">Select states</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/light-ui/Select_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/select/light-ui/Select_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Select states</p>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Groupings

Select dropdowns can be grouped horizontally and vertically for tablet and desktop views. Select dropdowns cannot be grouped horizontally for mobile views.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/Select_Groupings_Mobile@2x.png">
      <img src="/assets/images/style/select/Select_Groupings_Desktop@2x.png">
    </picture>
    <p class="caption">Select groupings orientations | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/select/light-ui/Select_Groupings_Mobile_Light@2x.png">
      <img src="/assets/images/style/select/light-ui/Select_Groupings_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Select groupings orientations | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between vertical groupings</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Padding between horizontal groupings</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Select labels should be set in sentence case, with only the first word in a phrase and any proper nouns capitalized. Labels should be 3 words or less. Select dropdown text should be set in sentence case, with only the first word in a phrase and any proper nouns capitalized. Select dropdown text should follow the Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Dropdown text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Dropdown text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
