{{#markdown}}

## Structure
<div class="view__section">

<div class="view__half">

### Basics
Notifications on desktop and mobile should not exceed two lines including the notification title. Notifications on mobile should not exceed three lines including the notification title. The border color should indicate the type of notification. The left border of a notification should be 5px.

Desktop and Tablet Notifications:

**One-line notification height: 40px / 2.5em**
**Two-line notification height: 56px / 3.5em**
**Notification width: varies based on content**
**Padding between top and bottom of notification and text: 12px / .75em**
**Padding around close icon: 16px / 1em**
**Notification Icon height and width: 16px / 1em**
**Padding around notification state icon: 16px / 1em**
**Left notification border: 5px**

Mobile Notifications:

**One-line notification height: 40px / 2.5em**
**Two-line notification height: 56px / 3.5em**
**Three-line notification height: 85px / 5.313em**
**Notification width: varies based on content**
**Padding around close icon: 16px / 1em**
**Notification icon height and width: 16px / 1em**
**Padding around notification state icon: 16px / 1em**
**Left notification border: 5px**

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Notifications_2px_640.png">
    <img src="/assets/images/Notifications_2x_640.png">
  </picture>
  <p class="caption">Notifications | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

### States
There are four types of notifications: warning, informational, error, and success. The different notifications are indicated by icon and border color. All icons can be found in the <a href="https://pages.github.ibm.com/bluemix/bluemix-icons/">Bluemix Icon Repo</a>.

**Warning notification color: #EFC100**
**Informational notification color: #7CC7FF**
**Error notification color: #FF5050**
**Success notification color: #8CD211**

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Notifications_States_2px_640.png">
    <img src="/assets/images/Notifications_States_2px_640(1).png">
    </picture>
  <p class="caption">Notifications States | units in px / em</p>
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Notifications_States2_2px_640.png">
    <img src="/assets/images/Notifications_States2_2px_640.png">
  </picture>
  <p class="caption">Notifications States | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

Notifications can also appear as a modal. The color of the top border on the modal indicates the type of notification it is. Modal notifcations should be used when the user needs to take an action once receiving a notification. Please refer to the <a href= "http://design-system.stage1.mybluemix.net/components/modals.html">Modal</a> section for additional guidelines on styling and using modals.

**Notification height: varies based on content and layout**
**Notification width: varies based on content and layout**
**Close button height and width: 10px / .625em**
**Padding between buttons 16px / 1em**

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Notifications_Modal_2px_640(1).png">
    <img class="pt0" src="/assets/images/Notifications_Modal_2px_640.png">
  </picture>
  <p class="caption">Modal Notifications | units in px / em</p>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Notification titles should be set in bold and title case with the first letter of each word capitalized. Notification titles should not exceed more than 3 words. Notification text should be set in sentence case with only the first word capitalized. All notification type should follow the Bluemix Typography font stack for sans-serif.

**Notification title font-size: 14px / .875rem**
**Notification title font-weight: roman / 400**
**Notification text font-size: 14px / .875rem**
**Notification text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
