.image-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
  max-width: 45rem;

  > div,
  > p {
    width: 100%;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    strong {
      display: block;
      margin-bottom: .5rem !important;
    }

    img {
      border: 1px solid $color__navy-gray-8;
    }

    &.dark-bg {

      img {
        background-color: $color__blue-90;
      }
    }
  }

  p:first-child:nth-last-child(2),
  p:first-child:nth-last-child(2) ~ p {

    @include breakpoint('900px') {
      width: calc(50% - 1rem);
    }
  }

  p:first-child:nth-last-child(3),
  p:first-child:nth-last-child(3) ~ p {
    @include breakpoint('900px') {
      width: calc(33.3333% - 1rem);
    }
  }

  > p:first-child:nth-last-child(4),
  > p:first-child:nth-last-child(4) ~ p {
    @include breakpoint('900px') {
      width: calc(25% - 1rem);
    }
  }

  &.donts {
    align-items: flex-start;

    > div img:first-child {
      border: none;
      border-left: 8px solid red;
      padding-left: 1rem;
    }

    > div img:nth-child(2) {
      margin: 0;
      border: none;
      width: auto;
    }

    > div {
      line-height: 1.75;
      width: 100%;
      margin-right: 2rem;
      
      @include breakpoint('900px') {
        width: calc(50% - 2rem);
      }
    }

    strong {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

@for $i from 1 through 4 {
  .image-grid--#{$i} {

    > p:nth-child(#{$i}) {

      img {
        background-color: $color__blue-90;
      }
    }
  }
}

#be-essential,
#be-inclusive,
#be-consistent,
#be-humanistic,
#be-delightful {
  & + p {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 45rem;

    img {
      width: 100%;
      max-width: 10rem;
      margin-left: 0;
      padding: 0;
      margin-top: 4rem;
    }

    @include breakpoint('bp--md--major') {
      flex-direction: row;
      align-items: flex-start;

      img {
        width: 40%;
        margin-left: 1rem;
        padding: 2rem 4rem 4rem;
        max-width: 30rem;
        margin-top: 0;
      }
    }
  }
}