---
fabricator: true
category: Brand
title: Bluemix | Carbon Design System
name: Bluemix
---

{{> page-header}}

<div class="view brand-page">

  <p class="main"><span class="blue-30">Brand</span> is the unified experience that Bluemix presents to users, regardless of medium or environment. It reflects the Bluemix identity and purpose; it is more than what Bluemix looks like, it is who we are. Brand is how Bluemix users perceive it and what it feels like when they interact with the product.</p>

{{#markdown}}

<div class="view__section">

<div class="view__full mt3 relative">

## Bluemix Logo

{{> theme-switcher-btns}}
<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <img src="/assets/images/brand/Logo-Spec_Dark.svg">
    </picture>
  </div>
  <div class="style-img--light">
    <picture>
      <img src="/assets/images/brand/Logo-Spec_Light.svg">
    </picture>
  </div>
</div>
<br/>
<br/>

The Bluemix logo is the most prominent visual element associated with our identity. The logo itself is the combination of the icon and wordmark. We are proud of our logo and it should be treated with respect by following the guidelines on this page.

<a class="cta-btns--border__btn cta-btns--border__btn--dark bx--btn--secondary" href="https://github.ibm.com/Bluemix/design-kit/blob/master/Bluemix_Logo-Assets.zip?raw=true">Bluemix Logo Assets<svg class="btn-icon"><use xlink:href="/assets/sprite.svg#common--download"></use></svg></a>
</div>

</div>

<div class="view__section">

<div class="view__full relative">

  ### Wordmark
  When using the workmark as a stand alone element, "IBM" should always be typeset in Helvetica Neue Light and "Bluemix" should always be typeset in Helvetica Neue Bold.

  <div class="table max-width-45">
    <div class="table__header">
      <p>Wordmark Color On:</p>
    </div>
    <div class="table__row">
      <p>Dark Background</p>
      <p>White, #ffffff</p>
    </div>
    <div class="table__row">
      <p>Light Background</p>
      <p>Blue 80, #1d3649</p>
    </div>
  </div>

</div>

</div>

<div class="view__section">

<div class="view__full relative">

  ### Icon
  <p class="mb2">The Bluemix icon may be used on its own in cases where the Bluemix brand has already been established. There are several manifestations of the Bluemix Icon. <span class="bold">When possible always use to the primary version.</span> However, when there are technical restraints one of these official alternative icons may be used.</p>

  <div class="style-img brand-icon flex-row">
    <div class="width-half">
      <picture>
        <img class="brand-icon--light" src="/assets/images/brand/Bluemix-icon-primary-lightbg-large.svg">
        <p class="bold pb0 mt1">Primary Icon</p>
        <p>Light Background</p>
      </picture>
    </div>
    <div class="width-half ml1">
      <picture>
        <img class="brand-icon--dark bg-blue-90" src="/assets/images/brand/Bluemix-icon-primary-darkbg-large.svg">
        <p class="bold pb0 mt1">Primary Icon</p>
        <p>Dark Background</p>
      </picture>
    </div>
  </div>

  <div class="style-img brand-icon-sm flex-row mt4">
    <div class="flex-1">
      <picture>
        <img class="brand-icon--light" src="/assets/images/brand/Bluemix-icon-decorative-lightbg.svg">
        <p class="bold pb0 mt1">Decorative Icon</p>
        <p>Light Background</p>
      </picture>
    </div>
    <div class="flex-1 ml1">
      <picture>
        <img class="brand-icon--dark bg-blue-90" src="/assets/images/brand/Bluemix-icon-decorative-darkbg.svg">
        <p class="bold pb0 mt1">Decorative Icon</p>
        <p>Dark Background</p>
      </picture>
    </div>
    <div class="flex-1 ml1">
      <picture>
        <img class="brand-icon--light" src="/assets/images/brand/Bluemix-icon-onecolor-solid-lightbg-large.svg">
        <p class="bold pb0 mt1">One-color Solid</p>
        <p>Light Background</p>
      </picture>
    </div>
    <div class="flex-1 ml1">
      <picture>
        <img class="brand-icon--dark bg-blue-90" src="/assets/images/brand/Bluemix-icon-onecolor-solid-darkbg-large.svg">
        <p class="bold pb0 mt1">One-color Solid</p>
        <p>Dark Background</p>
      </picture>
    </div>
  </div>

</div>

</div>

<div class="view__section">

<div class="view__full relative">

  ## Logo Usage

  <div class="style-img brand-icon flex-row">
    <div class="width-full">
      <picture>
        <img class="mb2" src="/assets/images/brand/logo-exclusion-zone.svg">
      </picture>
    </div>
  </div>

  ### Exclusion zone
  No other piece of content can be in the logo's exclusion zone. This is to insure that the logo always has acceptable breathing room; as well as guarantees that the icon and work mark as always associated together.

  The exclusion zone is equal to the height of the “B” in the work mark. It is shown above by the magenta border around the logo.

  ### Space between icon and wordmark
  The space between the icon and wordmark is determined by the trajectory of the outer angles of the right edges of top and bottom hexagons. It is demonstrated in the above image by the dotted lines that make an "X".

  ### Minimum sizing
  Including in the use of the logo.

  <div class="table max-width-45">
    <div class="table__header">
      <p>Type of Icon</p>
      <p>Minimum Size</p>
    </div>
    <div class="table__row">
      <p>Primary Icon</p>
      <p>24px</p>
    </div>
    <div class="table__row">
      <p>Decorative Icon</p>
      <p>72px</p>
    </div>
    <div class="table__row">
      <p>One-color Solid</p>
      <p>24px</p>
    </div>
  </div>

</div>

</div>

<div class="view__section">

<div class="view__full relative">

  ## Logo Misusage
  In order to maintain logo consistency please do not do any of the following to the logo. The logo should never be modified, transformed or reinterpreted. The logo and icon should remain as defined above - there are no exceptions.

  <div class="examples">
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-01.svg" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> use the old wordmark that includes the capital "M" in "Bluemix"</p>
      </div>
    </div>
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-02.png" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> mess with the general appearance of the logo - no drop-shadows, feather, glow or other effects should be applied.</p>
      </div>
    </div>
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-03.svg" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> change the wordmark typeface or font weight.</p>
      </div>
    </div>
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-04.svg" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> skew or disproportionally scale the logo.</p>
      </div>
    </div>
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-05.svg" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> change the size relationship of the icon and wordmark.</p>
      </div>
    </div>
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-06.svg" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> invert the positioning of the icon and wordmark.</p>
      </div>
    </div>
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-07.svg" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> use any other colors in the logo or icon other than the color combinations defined in these guidelines.</p>
      </div>
    </div>
    <div class="dont-example">
      <div class="examples__container">
        <div class="examples__border"></div>
        <img class="dont-example__img" src="/assets/images/brand/logo-misusage-08.png" />
      </div>
      <div>
        <p class="pt1"><img src="/assets/images/icons/red-x.png" />
        <span class="bold">Do not</span> place the logo on busy backgrounds that make it hard to distinguish.</p>
      </div>
    </div>
  </div>

</div>

</div>

<div class="view__section">

<div class="view__full relative">

  ## Bluemix brand colors
  The primary Bluemix brand colors are the colors found in the Bluemix Icon: IBM Design Blue 30, Blue 80 and Teal 30. These colors directly correlate to the Bluemix identity. While we have other colors in our broader UI and communication palette, these three colors should be the most prominent outward facing brand colors.

  <div class="brand-page__shapes mt2 mb2">
    <div class="shapes__container">
      <div class="hexagon hexagon--blue-30"></div>
      <p class="bold pt2 pb0">IBM Blue 30</p>
      <p class="subtext pb0">#5AAAFA</p>
      <p class="subtext pb0">RGB 90 170 250</p>
    </div>
    <div class="shapes__container">
      <div class="hexagon hexagon--blue-80"></div>
      <p class="bold pt2 pb0">IBM Blue 80</p>
      <p class="subtext pb0">#1D3649</p>
      <p class="subtext pb0">RGB 29 54 73</p>
    </div>
    <div class="shapes__container">
      <div class="hexagon hexagon--teal-30"></div>
      <p class="bold pt2 pb0">IBM Teal 30</p>
      <p class="subtext pb0">#41D6C3</p>
      <p class="subtext pb0">RGB 65 214 195</p>
    </div>
  </div>

  ### Best practices:
  - Use color with purpose.
  - Use Color, along with spacing and sizing, to create page hierarchy and focus.
  - If a brand color is not creating the proper page hierarchy, evaluate all the visual elements (size, padding, pacing) before selecting the use of a non-brand color.
  - Use contrast to influence the legibility of a design.
  - Understand visual deficiencies such as low vision and color blindness.
  - Avoid eye strain (such as color combinations that cause vibration).
  - Understand cultural associations with colors.

</div>

</div>

<div class="view__section">

<div class="view__full relative brand-fonts">

  ## Bluemix Brand Fonts
  Helvetica Neue is the official Bluemix font as well as one of the official fonts of the greater IBM Brand. Helvetica Neue should be used whenever possible when working with the Bluemix Brand.

  <h1 class="bold blue-90">Helvetica Neue Bold</h1>
  <h1 class="normal blue-90">Helvetica Neue Roman</h1>
  <h1 class="light blue-90">Helvetica Neue Light</h1>

</div>

</div>

<div class="view__section">

<div class="view__full relative">

  ## Parent Brands
  Bluemix falls under two different parent brands, <a href="http://www.ibm.com/cloud-computing/" class="base-link" target="_blank">IBM Cloud</a> and <a href="http://www.ibm.com/design/" class="base-link" target="_blank" >IBM Design</a>. IBM Cloud is the product and business ecosystem in which Blumeix lives. IBM Design is the greater <a href="http://www.ibm.com/design/language/" target="_blank" class="base-link">design language and practices</a> we use to design and develop Bluemix.

</div>

</div>

<div class="view__section">

<div class="view__full mt3 relative">

  ## Thank You
  Thank you for respecting and correctly using the Bluemix Brand. If you have any questions, concerns or requests about using the Bluemix brand please contact the Carbon Design System team through our <a href="https://github.ibm.com/Bluemix/design-kit" target="_blank" class="base-link">GitHub repo</a>.

</div>

</div>

<div class="view__section">

<div class="view__full relative">

  ## Resources
  <div class="brand-page__resources">
    <div class="width-half">
      <svg class="mb1 icon-blue icon-med"><use xlink:href="/assets/sprite.svg#common--link"></use></svg>
      <a href="http://design-system.stage1.mybluemix.net/principles/experience.html" target="_blank" class="base-link">Experience Principles</a><br>
      <a href="http://www.ibm.com/design/language/" target="_blank" class="pt1 base-link">IBM Design Language</a>
    </div>
    <div class="width-half">
      <a class="cta-btns--border__btn cta-btns--border__btn--dark bx--btn--secondary" href="https://github.ibm.com/Bluemix/design-kit/blob/master/Bluemix_Logo-Assets.zip?raw=true">Bluemix Logo Assets<svg class="btn-icon"><use xlink:href="/assets/sprite.svg#common--download"></use></svg></a>
    </div>
  </div>

</div>

</div>


{{/markdown}}

</div>
