---
fabricator: true
category: Principles
title: Design Principles | IBM Bluemix Design System
name: Design
---

{{> page-header}}

<div class="view design-principles">

  <p class="main">At IBM, we define <span class="blue-30">design</span> as the intent behind an outcome. Great experiences deliver meaningful outcomes to your user. They reach both head and heart. To design for great user experiences, you must understand how they are put together and why they can touch people at a deeper level.</p>

{{#markdown}}

<div class="view__section align-center mt4">

<div class="view__half">

## Be essential

Every element in an experience should have a purpose. Leaving complexity behind allows you to design with restraint by emphasizing the essential and stripping away the distracting. Provide all the necessary information in a sleek and elegant way, so we can be distinct, clear, and concise with our users.

</div>

<div class="view__half">
  <div class="px7">
    <img class="principles__img" src="../assets/images/principles/01_Essential.png" alt="" />
  </div>
</div>

</div>

<div class="view__section align-center mt2">

<div class="view__half">
  <div class="px7">
    <img class="principles__img" src="../assets/images/principles/02_Inclusive.png" alt="" />
  </div>
</div>

<div class="view__half">

## Be inclusive

Good design should work for everyone. We need not to focus only on the average person, with average needs and expectations. Keep in mind that the people using your products will be extremely diverse. User diversity covers variation in capabilities, needs, and aspirations. Don't design around a checklist, empathize with a full spectrum of potential users.

</div>

</div>

<div class="view__section align-center mt2">

<div class="view__half">

## Be consistent

Usability is greatly improved when an experience acts and feels the same throughout. When users encounter something that is expected, it creates a sense of comfort and trust. Being consistent within a design gives users the power to anticipate what will happen next. Consistency is not exact replication. Rather, it's a harmonious uniformity, instilling predictability and stability. A successful design should leave our users feeling like, &ldquo;Yes, that makes sense.&rdquo;

</div>

<div class="view__half">
  <div class="px8 pt2">
    <img class="principles__img" src="../assets/images/principles/03_Consistant.png" alt="" />
  </div>
</div>

</div>

<div class="view__section align-center mt2">

<div class="view__half">
  <div class="px7">
    <img class="principles__img" src="../assets/images/principles/04_Humanistic.png" alt="" />
  </div>
</div>

<div class="view__half">

## Be humanistic

We must be more than user-centered, we must be human-centered. To know people first as people, not as users or customers or clients. Our designs are conceived from a deep understanding of humanity and with the desire to help individuals accomplish their goals. Part of being humanistic is embracing empathy. Empathy is the ability to understand and share another person's perspective, feelings, and challenges. Go out of your way to identify with your user's needs.

</div>

</div>

<div class="view__section align-center mt2">

<div class="view__half">

## Be delightful

Everything we design enhances usability and delight. We embrace the spirit of just enough design. We can help users feel smart by engaging them in moments of inspiration and curiosity. Design enlightening experiences that encourage critical thinking and creative confidence. Be mindful of what users need by providing them with the right tools at the right time. The goal is to make our offering so effective that it doesn't read as a software or a product, but simply acts as something useful in that person's life.

</div>

<div class="view__half">
  <div class="px7">
    <img class="principles__img" src="../assets/images/principles/06_Delightful.png" alt="" />
  </div>
</div>

</div>

{{/markdown}}

</div>
