---
fabricator: true
category: Getting Started
title: Designers | IBM Bluemix Design System
name: Designers
---
<div class="page-header">
  <div class="page-info">
    <p class="category white">{{category}}</p>
      <h1>{{name}}</h1>
  </div>
</div>


  <div class="view">

{{#markdown}}
<p class="main">
The <span class="blue-30">Bluemix Design Kit</span> is a living, breathing document that contains all of our visual assets (base elements, components, iconography, color palettes, grids, responsive behavior, etc). This document evolves and changes as we collaborate with partners and service teams.</p>

## Setup
#### 1. Download the Kit
Go to the <a href="https://github.ibm.com/Bluemix/design-kit">Bluemix Design Kit repo</a> and click on the latest version of the Design Kit.
<div class="overlay-image mb2">
  <img class="thumbnail-img" src="/assets/images/getting-started/designers-1.png" />
</div>

Click the "View Raw" link to begin downloading the kit.
<div class="overlay-image mb2">
  <img class="thumbnail-img" src="/assets/images/getting-started/designers-2.png" />
</div>

#### 2. Open the Design Kit in Sketch

### Why Sketch?

<a href="https://www.sketchapp.com/">Sketch</a> is the industry standard design tool for UI design. You can purchase a lifetime liscence for $99.  If you don't have a liscence for Sketch, you can sign up for a 30 day free trial. Sketch is easy to learn, and they offer many <a href="https://leveluptutorials.com/tutorials/sketch-3-tutorials">tutorials</a> for further learning.

<div class="overlay-image mb2">
  <img class="thumbnail-img" src="/assets/images/getting-started/designers-4.png" />
</div>



#### 3. Using the Design Kit
The Bluemix Design Kit contains core visual styles, components and elements, and templates. It contains a collection of symbols and text styles for rapid design and prototyping of layouts for the Bluemix platform. Each are broken out into respective pages, which can be navigated to through the left side panel.

### Light and Dark UI
Light UI is a theme we’ve developed for Bluemix to cater to those users who either prefer light UI or are entering Bluemix from SoftLayer, which is currently light. Each component and element was designed with a light and a dark theme.

<div class="overlay-image mb2">
  <img class="thumbnail-img" src="/assets/images/getting-started/designers-5.png" />
</div>

<div class="overlay-image mb2">
  <img class="thumbnail-img" src="/assets/images/getting-started/designers-6.png" />
</div>


## Releases
The Bluemix Design System team makes frequent updates to the Design Kit. We track all release updates in our <a href="https://github.ibm.com/Bluemix/design-kit/releases">change log</a>, so check back frequently!

{{/markdown}}
  </div>
</div>
