---
fabricator: true
category: Getting Started
title: Developers | Carbon Design System
name: Developers
---
<div class="page-header">
  <div class="page-info">
    <p class="category white">{{category}}</p>
      <h1>{{name}}</h1>
  </div>
</div>


  <div class="view">

{{#markdown}}
<p class="main">
  <span class="blue-30">The Carbon Component library</span> gives developers (Front End Developers & Engineers) a collection of re-usable HTML and Sass partials they can use for building websites and user-interfaces for Bluemix. The aim is for all developers to use consistent markup, styles, and behavior in their prototype and production work.
</p>


## Installing
There are a few ways to get started. Before installing Carbon Components, make sure you set up your <a class="base-link" href="https://help.github.com/articles/generating-an-ssh-key"/>SSH key on GitHub Enterprise.</a> You may also need to set up your SSH key on **Jenkins** or **Travis** if you use those for continuous integration or deployment.


### NPM
Carbon Components is published to a private npm registry maintained by Bluemix Ops Console team.

Before installing with npm, you must create an **.npmrc** file - you can create this in the root of your project folder or on your computer's ~ directory.

```html
$ touch .npmrc
```

<br>
Next, write the following into your **.npmrc** file:

```html
//dev-console-npm.stage1.ng.bluemix.net/:_authToken="u6vjQywpRv51/eKBiRcAFA=="
@console:registry=https://dev-console-npm.stage1.ng.bluemix.net/
```

<br>
If you haven't done so already, create a **package.json** for your project:

```html
$ npm init
```

<br>
Finally, install Carbon Components with `npm`.

```html
$ npm install @console/bluemix-components --save
```

### Bower

We also publish Carbon Components to a private bower registry.
It's required to set up your <a href="https://help.github.com/articles/generating-ssh-keys/" class="base-link">SSH Key on GitHub Enterprise</a> and on **Jenkins** or **Travis** if you use those as well.


Create a **bower.json** file:

```json
$ bower init
```
<br>
Create a **.bowerrc** file in the root of your project directory and write the following config:

```json
{ "registry": "http://9.37.228.216:5678/" }
```

<br>
Finally, install the bower package.

```json
$ bower install bluemix-components --save
```

## Download

* Download the latest version of the <a href="https://github.ibm.com/Bluemix/bluemix-components" class="base-link">Carbon Component Library.</a>
* See <a href="https://github.ibm.com/Bluemix/bluemix-components/tags" class="base-link">tags</a> on GitHub Enterprise for older versions.
* See <a href="https://github.ibm.com/Bluemix/bluemix-components/releases" class="base-link">releases</a> for release notes and changelogs.

{{/markdown}}
  </div>
</div>
