---
fabricator: true
category: Getting Started
title: Front End Best Practices
---
<div class="page-header">
  <div class="page-info">
    <p class="category white">{{category}}</p>
      <h1>{{title}}</h1>
  </div>
</div>


  <div class="view">

{{#markdown}}

## Maintainability

IBM Design says, "focus on the user."

Front end development bridges design and engineering, bringing content to reality and making products valuable for users. - IBM Design Language

But, this also includes the engineers and front-end developers you work with &mdash; they are also users because we all share and rely on each other's code to build products for our end-users.

Writing maintainable code ensures that we continuously fulfill our responsibilities to continue making essential, delightful products for our end-users.

- Write readable and well-named code.
- Write code that's well-documented.
- Write testable code.

The Bluemix Design System's technical documentation, including contribution and code guidelines, can be found <a href="https://pages.github.ibm.com/Bluemix/fed-guidelines/index.html">here.</a>

<div class="border-top-color--navy-gray-9 mt1 pt1">
See the <a href="https://www.ibm.com/design/language/framework/front-end/introduction">IBM Design Front End Guidelines</a> for more guidance.
</div>

{{/markdown}}
  </div>
</div>
