---
fabricator: true
category: Getting Started
title: Service Providers
name: Service Providers
---

{{> page-header}}

<div class="view">

{{#markdown}}

## Using the Bluemix Design System

We encourage service teams to utilize the Bluemix Design System for visual styles and user experience guidance. By utilizing the <a href="https://github.ibm.com/Bluemix/bluemix-components">Bluemix Component Library</a>, your development teams can easily implement our ready-made components and elements to create a comprehensive UI.

The Bluemix Design System's technical documentation, including contribution and code guidelines, can be found <a href="https://pages.github.ibm.com/Bluemix/fed-guidelines/index.html">here.</a>

## Stages
Design approval is required prior to Experimental, Beta, or GA launch.

### Experimental & Pre-Beta
Experimental is the place for early-stage testing of your service. Maybe you're still working on getting all of the functionality implemented. Or perhaps you're just trying to see how your offering would work with Bluemix.

Beta approval allows your service to be available in the public catalog. Make sure have the following items taken care of.


#### Design Requirements

1. **Catalog Service Icon:** Make sure your Service Icon meets Bluemix <a href="http://design-system.stage1.mybluemix.net/templates/catalog.html">guidelines,</a> then submit the files to the <a href="">Master Icon List</a> for approval.
2. **Service Dashboard:** Service Dashboards are used for showing information and details of an instance that exists. Use these <a href="">templates</a> as a starting point and foundation for your design.
3. **Service Configuration Pages:** Configuration pages appear when a user has clicked on a category or service from the Bluemix catalog. Use these <a href="">templates</a> as a starting point and foundation for your design.

When you have met the above requirements, schedule a playback with your design director to go over your work and gain approval.

### Beta
Welcome to Beta, where the bulk of the work happens to make your service better than ever.

#### Design Requirements

1. **Net Promoter Score:** Bluemix uses Net Promoter Score (NPS) to track user feedback. The NPS question, "How likely are you to recommend this service to a friend or coworker?" will be presented to users in the product on their third use of your service. Users answer on a scale from 0-10, and will have the oppurtunity to provide additional feedback through a follow-up response. Achieve and maintain a minimum NPS of 30% from a minimum of 25 non-IBM users. Use user feedback to inform design decisions and make approprate changes.
2. **User Testing:** User testing is an important part of the Beta process, as it can help you find problems within your design. Refer to the <a href="https://releaseblueprints.ibm.com/display/CLOUDOE/User+Testing+Worksheet">user testing worksheet</a> to help you conduct these tests. Complete 5 User Tests while your service is in Beta.
3. **Playback:** At its core, a Playback is a presentation. Plan to communicate the current state of your work and any plans moving forward.

### GA

1. **Net Promoter Score:** You must maintain an NPS of 30%. There will be a 6 month post-GA check-in to look at your score and discuss user feedback.

## Resources
Currently all assets and resources are for internal use only.

<a href="https://releaseblueprints.ibm.com/display/CLOUDOE/Service+Provider+Home+Page">Service Provider Homepage</a>

Start here to get a comprehensive understanding on how to onboard your service onto our platform.


<a href="https://jazzop27.rtp.raleigh.ibm.com:9443/ccm/auth/authrequired#action=com.ibm.team.dashboard.viewDashboard">Bluemix Service Operation Plan (SOP)</a>

The Bluemix Service Operation Plan (SOP) is an RTC work item for Bluemix Services that is the single trusted source of service information including onboarding dates, contacts, and requirements compliance information. Every service must have an SOP entry.



<a href="https://releaseblueprints.ibm.com/display/CLOUDOE/New+Service+Provider+Onboarding+Checklist+and+Schedule+Template">Onboarding Checklist</a>

Learn about how to update your Service Operation Plan, as well as information on guidelines and approvals needed to onboard a service to the Bluemix Catalog.


{{/markdown}}
  </div>
</div>
