---
fabricator: true
title: Front End Best Practices
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">Guidelines</p>
      <h1 id="{{name}}" class="page__large-heading">FED Best Practices</h1>
  </div>
</div>

<div class="page__container">
  <section class="page" id="primary">
    <h2 class="page__heading">Maintainability</h2>
    <p class="page__desc">

      IBM Design says, "focus on the user."
      <br><br>
      Front end development bridges design and engineering, bringing content to reality and making products valuable for users. - IBM Design Language
      <br><br>
      But, this also includes the engineers and front-end developers you work with - they are also users because we all share and rely on each other's code to build products for our end-users.
      <br><br>
      Writing maintainable code ensures that we continuously fulfill our responsibilities to continue making essential, delightful products for our end-users.
      <br>
      <ul class="page__desc--list">
          <li> Write readable and well-named code.</li>
          <li> Write code that's well-documented.</li>
          <li> Write testable code.</li>
      </ul>
    </p>
      <br>
      <p class="page__desc">
      The Bluemix Design System's technical documentation, including contribution and code guidelines, can be found <a class="bx--link" href="https://pages.github.ibm.com/Bluemix/fed-guidelines/index.html">here.</a>
    </p>
  </section>

  <section class="page" id="secondary">
    <hr>
    <p class="page__desc">See the <a class="bx--link" href="https://www.ibm.com/design/language/framework/front-end/introduction">IBM Design Front End Guidelines</a> for more guidance.</p>
  </section>
</div>
