---
fabricator: true
title: User Experience
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">Guidelines</p>
      <h1 id="{{name}}" class="page__large-heading">User Experience</h1>
  </div>
</div>

<div class="page__container">

  <section class="page" id="primary">
    <h2 class="page__heading">Don't overwhelm the user</h2>
    <p class="page__desc">A user should never be faced with too many choices or too much information without any obvious next steps. A developer’s experience with Bluemix should be stable in that he/she does not experience a lot of guidance and then none at all. Utilize progressive disclosure and the Gestalt principles where appropriate.
      <br><br>
      Make the 80% use-case great and make edge cases possible. It is easy to get bogged down making sure obscure edge cases don’t break a design, but in order to keep Bluemix simple and usable, you should optimize for the 80% use case and simply ensure edge cases are possible.
    </p>
  </section>

  <section class="page" id="secondary">
    <h2 class="page__heading">It's never simple enough</h2>
    <p class="page__desc">Enterprise software is complex and as a result it has a reputation for being horribly unusable. As a designer on Bluemix you must assume your design is never simple enough.</p>
  </section>

  <section class="page" id="secondary">
    <h2 class="page__heading">Create designs that can grow with the platform</h2>
    <p class="page__desc">Bluemix is a rapidly growing platform that is constantly expanding in scope and capability. Designs need to be resilient and able to adapt as the platform grows in complexity and capability.</p>
  </section>
<!--
  <section class="page" id="secondary">
    <h2 class="page__heading">Set smart defaults</h2>
    <p class="page__desc">Set smart defaults for the user but make defaults easy to change to avoid being over prescriptive. Choose the right level of concreteness for defaults. A loosely prescribed default could be text field can provide an example entry that is intended to be. Whereas, a strictly prescribed default could be making a selection for the user if you can infer that would most likely be the correct choice.</p>
  </section> -->

  <section class="page" id="secondary">
    <h2 class="page__heading">Transparency</h2>
    <p class="page__desc">Let the user know what’s going on in the background and allow them to peek under the hood a little. If we are giving the user something by default they didn’t explicitly ask for, tell them why.</p>
  </section>

  <section class="page" id="secondary">
    <h2 class="page__heading">The &ldquo;Hello World&rdquo; approach</h2>
    <p class="page__desc">Many developers like to start from the basics and figure out how something works by playing with it, not by reading about it. Every developer started their development career with a simple &ldquo;Hello World&rdquo; application. Bluemix should leverage these habits and allow developers to start from a state of &ldquo;Hello World&rdquo; and then grow their own understanding through experimentation.</p>
  </section>

  <section class="page" id="secondary">
    <hr>
    <p class="page__desc">See the <a class="bx--link--dark" href="http://www.ibm.com/design/language/framework/interaction/introduction">IBM Design Interaction Guidelines</a> for more guidance.</p>
  </section>
</div>
