---
fabricator: true
title: Visual Design
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">Guidelines</p>
      <h1 class="page__large-heading">Visual Design</h1>
  </div>
  <ul class="page__tabs">
    <li class="toggle-view--typography is-selected">Typography</li>
    <li class="toggle-view--color">Color</li>
    <li class="toggle-view--grid">Grid</li>
    <li class="toggle-view--iconography">Iconography</li>
  </ul>
</div>


<div class="page__container">

  <div class="view--typography is-active">
    <p class="page__main-desc">
      <span class="highlight">Typography</span> is used to create clear heirarchy throughout the layout. It is the core structure for well designed interfaces. When type scaling is used appropriately it creates intentional flows, user focus, and progressive emphasis.
    </p>

    <h1 class="page__heading">Typeface</h1>
    <p class="page__desc">IBM uses a custom version of Helvetica Neue for both its Marketing and Product brands. It is a strong but neural typeface that lends personality to the page without over powering the content. The font files for Bluemix can be found at <a href="https://github.ibm.com/Design/fonts/tree/master/fonts" target="_blank">https://github.ibm.com/Design/fonts/tree/master/fonts</a></p>

    <pre class="view--typography__code-example"><code class="language-css">%helvetica { font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, 	Helvetica, sans-serif; }</code></pre>

    <h1 class="page__heading">Major Second Type Scale | 1.125</h1>
    <p class="page__desc">Bluemix uses the Major Second scale with a base size of 16px for 1 rem. Exclusively using sizes from this type scale will create visual as well as heirarchical consistency throughout the product.</p>

    <div class="view--typography__table">
      <div class="table__header">
        <p>REM</p>
        <p>PX</p>
        <p>Actual Size</p>
      </div>
      <div class="table__row">
        <p>0.702 rem</p>
        <p>11 px</p>
        <p class="actual-size" style="font-size: .702rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>0.79 rem</p>
        <p>12 px</p>
        <p class="actual-size" style="font-size: .79rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>0.889 rem</p>
        <p>14 px</p>
        <p class="actual-size" style="font-size: .889rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>1 rem</p>
        <p>16 px</p>
        <p class="actual-size" style="font-size: 1rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>1.125 rem</p>
        <p>18 px</p>
        <p class="actual-size" style="font-size: 1.125rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>1.266 rem</p>
        <p>20 px</p>
        <p class="actual-size" style="font-size: 1.266rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>1.424 rem</p>
        <p>23 px</p>
        <p class="actual-size" style="font-size: 1.424rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>1.602 rem</p>
        <p>26 px</p>
        <p class="actual-size" style="font-size: 1.602rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>1.802 rem</p>
        <p>29 px</p>
        <p class="actual-size" style="font-size: 1.802rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>2.027 rem</p>
        <p>32 px</p>
        <p class="actual-size" style="font-size: 2.027rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>2.281 rem</p>
        <p>36 px</p>
        <p class="actual-size" style="font-size: 2.281rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>2.566 rem</p>
        <p>41 px</p>
        <p class="actual-size" style="font-size: 2.566rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>2.887 rem</p>
        <p>46 px</p>
        <p class="actual-size" style="font-size: 2.887rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>3.247 rem</p>
        <p>52 px</p>
        <p class="actual-size" style="font-size: 3.247rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>3.653 rem</p>
        <p>58 px</p>
        <p class="actual-size" style="font-size: 3.653rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>4.11 rem</p>
        <p>66 px</p>
        <p class="actual-size" style="font-size: 4.11rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>4.624 rem</p>
        <p>74 px</p>
        <p class="actual-size" style="font-size: 4.624rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>5.202 rem</p>
        <p>83 px</p>
        <p class="actual-size" style="font-size: 5.202rem">Good design is good business</p>
      </div>
      <div class="table__row">
        <p>5.852 rem</p>
        <p>94 px</p>
        <p class="actual-size" style="font-size: 5.852rem">Good design is good business</p>
      </div>
    </div>
    <div class="view--typography__show-more"><p>Show more</p> <img src="../assets/images/icon--down-arrow.svg"></div>

    <h1 class="page__heading">Font weights</h1>
    <p class="page__desc">Font weight is another typographic style that can add emphasis and differentiate content in the hierarchy of the design. Font weight in conjunction with type size must be carefully balanced. At the same size, Bold weight will always have more emphasis than a lighter weight font. However, a larger, lighter weight font is ranked higher than a smaller, bold font.</p>
    <ul class="view--typography__font-weights">
      <li>
        <p>
          Font-weight: 300 / Light<br>
          <span>Should only be used at sizes greater than or <br> equal to 1.125em/18px</span>
        </p>
        <h1 class="light-example">Light 300</h1>
      </li>
      <li>
        <p>
          Font-weight: 400 / Normal
        </p>
        <h1 class="normal-example">Normal 400</h1>
      </li>
      <li>
        <p>
          Font-weight: 700 / Bold
        </p>
        <h1 class="bold-example">Bold 700</h1>
      </li>
    </ul>

    <h1 class="page__heading">Headers</h1>
    <p class="page__desc">Size of headers are determined by layout or template structure. Bluemix has several levels of architecture and areas that require varying sizes of headers. Nevertheless, all headers must be sized from Major Second type scale with a thoughtfully consider font weight.</p>

    <h1 class="page__heading">Body Copy</h1>

    <h3 class="page__small-heading">Font Size</h3>
    <p class="page__desc">Bluemix uses two sizes for body copy. The first is UI specific. Due to valuable screen real estate we chose a smaller 0.889em / 14px body copy size for the standard UI console. However, for areas that have prolonged reading, like Documentation, we use a larger body copy size of 1em/16px to enhance readability.</p>
    <p class="page__desc view--typography__body-copy">
      Standard Console: 0.880em / 14px<br>
      Prolonged reading: 1em / 16px
    </p>

    <h3 class="page__small-heading">Line-height</h3>
    <p class="page__desc">Line-height, traditionally known as leading, is one of several factors that directly contribute to readability and pacing of copy. Line-heights are based off the size of the font itself. Ideal line-heights for standard copy have a ratio of 1.5. For example, a type at 1em/16px would have a line-height of 24px (16 x 1.5). The exceptation to this rule is headings, which need less spacing and therefore have a line-height ratio of 1.25.</p>
    <p class="page__desc view--typography__body-copy">
      Standard line-height: 1.5<br>
      Headings line-height: 1.25
    </p>

    <h3 class="page__small-heading">Line-length</h3>
    <p class="page__desc">Line-length, traditionally known as measure, is the number of characters in a single line. It also directly contributes to readability and pacing of copy. Lines that are too long degrade eye tracking from line to line, making it difficult to gauge which line to read next. In contrast, lines that are too short make it difficult for a reader to maintain a steady reading rhythm. Short lines also often create disproportionate ragged edges that negatively affect the design.</p>
    <p class="page__desc view--typography__body-copy">
      Line-length: 52 - 78 characters
    </p>

    <h1 class="page__heading">Custom Styling</h1>

    <h3 class="page__small-heading">Letter-spacing</h3>
    <p class="page__desc">Custom letter-spacing is used only on a few special styles. The styles that it can be applied to are headers, bold weights and always to All Caps.</p>
    <p class="page__desc view--typography__body-copy">
      Letter-spacing: 1px
    </p>

    <h3 class="page__small-heading">Font-smoothing</h3>
    <p class="page__desc">Font-smoothing is only used on bold weights (700). It is never used on thin (200) and light (300) weights.</p>
  </div>

  <div class="view--color">
    <p class="page__main-desc">
      <span class="highlight">Color</span> brings a design to life. Color is versatile; its used to express emotion and tone as well as place emphasis and create associations. Color should always be used in meaningful and intentional ways that create patterns and visual cues.
    </p>

    <h1 class="page__heading">UI Color Scheme</h1>
    <ul class="ui-colors">
      <li class="ui-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Blue 20</p>
        <p class="color__hex-value">#7cc7ff</p>
        <p class="color__variable">$color__blue-20</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Blue 30</p>
        <p class="color__hex-value">#5aaafa</p>
        <p class="color__variable">$color__blue-30</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Blue 40</p>
        <p class="color__hex-value">#5596e6</p>
        <p class="color__variable">$color__blue-40</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Blue 50</p>
        <p class="color__hex-value">#4178be</p>
        <p class="color__variable">$color__blue-50</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 3</p>
        <p class="color__hex-value">#2dsf49</p>
        <p class="color__variable">$color__navy-gray-3</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 2</p>
        <p class="color__hex-value">#20343e</p>
        <p class="color__variable">$color__navy-gray-2</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">IBM Blue 90</p>
        <p class="color__hex-value">#152934</p>
        <p class="color__variable">$color__blue-90</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 1</p>
        <p class="color__hex-value">#0f212e</p>
        <p class="color__variable">$color__navy-gray-1</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 7</p>
        <p class="color__hex-value">#8c9ba5</p>
        <p class="color__variable">$color__navy-gray-7</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 6</p>
        <p class="color__hex-value">#5a6872</p>
        <p class="color__variable">$color__navy-gray-6</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 5</p>
        <p class="color__hex-value">#42535c</p>
        <p class="color__variable">$color__navy-gray-5</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p class="light">Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 4</p>
        <p class="color__hex-value">#394b54</p>
        <p class="color__variable">$color__navy-gray-4</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example white">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">White</p>
        <p class="color__hex-value">#ffffff</p>
        <p class="color__variable">$color__white</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 9</p>
        <p class="color__hex-value">#eff2f5</p>
        <p class="color__variable">$color__navy-gray-9</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="ui-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">Navy-Gray 8</p>
        <p class="color__hex-value">#dfe6eb</p>
        <p class="color__variable">$color__navy-gray-8</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
    </ul>

    <h1 class="page__heading">Accent Colors</h1>
    <ul class="accent-colors">
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Teal 20</p>
        <p class="color__hex-value">#6eedd8</p>
        <p class="color__variable">$color__teal-20</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Teal 30</p>
        <p class="color__hex-value">#41d6c3</p>
        <p class="color__variable">$color__teal-30</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Teal 40</p>
        <p class="color__hex-value">#00b4a0</p>
        <p class="color__variable">$color__teal-40</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Green 30</p>
        <p class="color__hex-value">#8cd211</p>
        <p class="color__variable">$color__green-30</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Yellow 30</p>
        <p class="color__hex-value">#efc100</p>
        <p class="color__variable">$color__yellow-30</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Orange 30</p>
        <p class="color__hex-value">#ff7832</p>
        <p class="color__variable">$color__orange-30</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Red 40</p>
        <p class="color__hex-value">#ff5050</p>
        <p class="color__variable">$color__red-40</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
      <li class="accent-colors__color">
        <div class="color__example">
          <p>Copy HEX</p>
        </div>
        <p class="color__name">IBM Purple 40</p>
        <p class="color__hex-value">#af6ee8</p>
        <p class="color__variable">$color__purple-40</p>
        <input class="color__hidden-input" type="text" value="" />
      </li>
    </ul>

    <h1 class="page__heading">Color Contrast | 4.5 : 1 Ratio</h1>
    <p class="page__desc">All type color combinations on Bluemix must pass WCAG AA standards of 4.5 : 1. In the table below are approved color combinations.</p>
    <ul class="view--color__icon-explanations">
      <li>
        <img src="/assets/images/normal-text-icon.png" />
        <p>Normal Text</p>
      </li>
      <li>
        <img src="/assets/images/large-text-icon.png" />
        <p>Large Text: <span>18px bold or larger</span></p>
      </li>
    </ul>

    <ul class="view--color__contrast-examples">
      <li class="contrast-examples">
        <div class="bg-colors">
          <h4 class="example-heading">Dark Background Colors:</h4>
          <ul>
            <li>
              <img src="/assets/images/navy-gray-3-bg-example.png" />
              <p>Navy-Gray 3 <br><span>#2d4f49</span></p>
            </li>
            <li>
              <img src="/assets/images/navy-gray-2-bg-example.png" />
              <p>Navy-Gray 2 <br><span>#20343e</span></p>
            </li>
            <li>
              <img src="/assets/images/blue-90-bg-example.png" />
              <p>IBM Blue 90<br><span>#152934</span></p>
            </li>
            <li>
              <img src="/assets/images/navy-gray-1-bg-example.png" />
              <p>Navy-Gray 1 <br><span>#0f212e</span></p>
            </li>
          </ul>
        </div>
        <div class="type-colors">
          <h4 class="example-heading">Type Colors:</h4>
          <ul>
            <li>
              <div class="color"></div>
              <p>White <br><span>#ffffff</span></p>
            </li>
            <li>
              <div class="color"></div>
              <p>Navy-Gray 8 <br><span>#dfe6eb</span></p>
            </li>
            <li>
              <div class="color"></div>
              <p>IBM Blue 20 <br><span>#7cc7ff</span></p>
            </li>
            <li>
              <div class="color"></div>
              <p>IBM Blue 30 <br><span>#5aaafa</span></p>
            </li>
          </ul>
        </div>
      </li>
      <li class="contrast-examples">
        <div class="bg-colors">
          <h4 class="example-heading">Other Background Colors:</h4>
          <ul>
            <li>
              <img src="/assets/images/white-bg-example.png" />
              <p>White <br><span>#ffffff</span></p>
            </li>
            <li>
              <img src="/assets/images/light-gray-bg-example.png" />
              <p>Navy-Gray 8 <br><span>#dfe6eb</span></p>
            </li>
            <li>
              <img src="/assets/images/blue-30-bg-example.png" />
              <p>IBM Blue 30<br><span>#5aaafa</span></p>
            </li>
            <li>
              <img src="/assets/images/blue-40-bg-example.png" />
              <p>IBM Blue 40 <br><span>#5596e6</span></p>
            </li>
          </ul>
        </div>
        <div class="type-colors">
          <h4 class="example-heading">Type Colors:</h4>
          <ul>
            <li>
              <div class="color--other"></div>
              <p>IBM Blue 90 <br><span>#152934</span></p>
            </li>
            <li>
              <div class="color--other"></div>
              <p>Navy-Gray 5 <br><span>#42535c</span></p>
            </li>
            <li>
              <div class="color--other"></div>
              <p>IBM Blue 40 <br><span>#5596e6</span></p>
            </li>
            <li>
              <div class="color--other"></div>
              <p>IBM Blue 50 <br><span>#4178be</span></p>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <h1 class="page__heading">Additional Resources</h1>
    <ul class="view--color__resources">
      <li>
        <img src="/assets/images/link-icon.png" />
        <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html" target="_blank">IBM Accessible Color Guide</a>
        <a href="http://w3-03.ibm.com/able/devtest/quick/" target="_blank">IBM Accessibility Quick Guidance</a>
        <a href="http://webaim.org/resources/contrastchecker/" target="_blank">Color Contrast Checker</a>
        <a href="s: http://www.ibm.com/design/language/framework/visual/color" target="_blank">IBM Design Language Colors</a>
      </li>
      <li>
        <img src="/assets/images/download-light-icon.png" />
        <a href="#" target="_blank">Bluemix Swatch Palette</a>
      </li>
    </ul>

  </div>

  <!-- GRIDS -->
  <div class="view--grid">
    <p class="page__main-desc">
      <span class="highlight">Grid systems</span> are used for creating page layouts through a series of rows and columns that house your content. The Bluemix designs use a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases.
    </p>

    <h1 class="page__heading">Basic Structure</h1>
    <ul class="view--grid__grid-examples">
      <li>
        <p>1440 px</p>
        <a href="/assets/images/1440px-2x.png" target="_blank" class="overlay">
          <img src="/assets/images/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
        <div class="image">
          <img srcset="/assets/images/1440px-2x.png 2x" src="../assets/images/1440px-1x.png" />
        </div>
      </li>
      <li>
        <p>768 px</p>
        <a href="/assets/images/768px-2x.png" target="_blank" class="overlay">
          <img src="/assets/images/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
        <div class="image">
          <img srcset="/assets/images/768px-2x.png 2x" src="../assets/images/768-1x.png" /></a>
        </div>
      </li>
      <li>
        <p>320 px</p>
        <a href="/assets/images/320px-2x.png" target="_blank" class="overlay">
          <img src="/assets/images/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
        <div class="image">
          <img srcset="/assets/images/320px-2x.png 2x" src="/assets/images/320px-1x.png" />
      </li>
    </ul>
    <ul class="view--grid__grid-examples__keys">
      <p>Key:</p>
      <li>Columns</li>
      <li>/ Gutter</li>
      <li>/ Margins</li>
    </ul>

    <h1 class="page__heading">How it works:</h1>

    <h3 class="page__small-heading">Gutters</h3>
    <p class="page__desc">
      Columns create gutters (gaps between column content) via padding. That padding is offset in rows for the first and last column via negative margin on rows.
      In devices with a screen width of ≥768px, the column padding is 10px left, 10px right.
      This creates a gutter of 10px + 10px = 20px between column content. In devices with a screen width of < 768px, the column padding is 5px left, 5px right.
      This creates a gutter of 5px + 5px = 10px between column content.
      <br><br>
      <span class="page__desc--bold">
        ≥ 768px = 20px gutters <br>
        < 768px = 10px gutters
      </span>
    </p>

    <br><br>

    <h3 class="page__small-heading">Columns</h3>
    <p class="page__desc">
      Bluemix designs should be limited to twelve columns.
      If designers feel that they need fewer columns than this in their grid, they can specify the number of twelve available columns they wish to span.
      This can translate to percentages of the twelve columns. Using this method, a designer can create a folded, less granular grid.
      For example, if your component spans three equal columns, that is equal to 25% of twelve columns.
      <br><br>
      <span class="page__desc--bold">
        Base column count: 12
      </span>
    </p>
    <img class="page__img" srcset="/assets/images/column-spread_2x.png 2x" src="/assets/images/column-spread_1x.png" />
    <p class="img-desc">@1440px - 12 Columns / 20px Gutters / 5% Margins</p>

    <br><br>

    <h3 class="page__small-heading">Margins</h3>
    <p class="page__desc">
      The twelve column grid does not have a max width.
      It has a width of 100% with built in margins that create padding between column count and the edges of the viewport.
    </p>
    <p class="page__desc">
      <span class="page__desc--bold">
        In devices with a screen width of ≥768px, the margins are 5% left, 5% right.
      </span><br>
      Example: Screen Width 768px<br>
      5% left = 38px<br>
      5% right = 38px<br>
      12 columns + gutters = 768px - 30px - 30px = 692px
    </p>

    <p class="page__desc">
      <span class="page__desc--bold">
        In devices with a screen width of < 768px, the margins are 3% left, 3% right.
      </span><br>
      Example: Screen Width 320px<br>
      3% left = 16px<br>
      3% right = 16px<br>
      12 columns + gutters = 320px - 16px - 16px = 288px
    </p>

    <br><br>

    <h3 class="page__small-heading">Breakpoints</h3>
    <ul class="text-boxes">
      <li>
        <p class="page__desc">
          <span class="page__desc--bold">
            Extra small devices Phones (< 768px)
          </span><br>
          12 Equal Columns<br>
          Column Padding: 5px left, 5px right<br>
          Gutters: 5px + 5px = 20px<br>
          Outer Margins: 3% left, 3% right
        </p>
      </li>
      <li>
        <p class="page__desc">
          <span class="page__desc--bold">
            Small devices Tablets (≥ 768px)
          </span><br>
          12 Equal Columns<br>
          Column Padding: 10px left, 10px right<br>
          Gutters: 10px + 10px = 20px<br>
          Outer Margins: 5% left, 5% right
        </p>
      </li>
      <li>
        <p class="page__desc">
          <span class="page__desc--bold">
            Medium devices Desktops (≥ 992px)
          </span><br>
          12 Equal Columns<br>
          Column Padding: 10px left, 10px right<br>
          Gutters: 10px + 10px = 20px<br>
          Outer Margins: 5% left, 5% right
        </p>
      </li>
      <li>
        <p class="page__desc">
          <span class="page__desc--bold">
            Large devices Desktops (≥ 1200px)
          </span><br>
          12 Equal Columns<br>
          Column Padding: 10px left, 10px right<br>
          Gutters: 10px + 10px = 20px<br>
          Outer Margins: 5% left, 5% right
        </p>
      </li>
    </ul>

    <h1 class="page__heading">Use the Grid</h1>
    <p class="page__desc">Starter grid templates can be found in the design kit. Included example grids size are at 1440px, 768px and 320px.</p>
    <a class="bx--btn--right-icon download-btn" href="https://github.ibm.com/Bluemix/design-kit" target="_blank">Design Kit <img src="/assets/images/download-icon.png" /></a>

  </div>

  <div class="view--iconography">
    <h1 class="page__heading">Iconography</h1>
  </div>

</div>
