---
fabricator: true
title: Visual Design
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">Guidelines</p>
      <h1 class="page__large-heading">Visual Design</h1>
  </div>
  <ul class="page__tabs">
    <li class="toggle-view--typography is-selected">Typography</li>
    <li class="toggle-view--color">Color</li>
    <li class="toggle-view--grid">Grid</li>
    <li class="toggle-view--iconography">Iconography</li>
  </ul>
</div>


<div class="page__container">

  <div class="view--typography is-active">
    {{> typography}}
  </div>

  <div class="view--color">
    {{> colors}}
  </div>

  <!-- GRIDS -->
  <div class="view--grid">
    {{> grids}}
  </div>

  <div class="view--iconography">
    <h1 class="page__heading">Iconography</h1>
  </div>

</div>
