---
fabricator: true
title: Visual Design
---
<div class="item__header">
  <div class="item__info">
    <p class="item__category">Guidelines</p>
      <h1 id="{{name}}" class="item__main-heading">Visual Design</h1>
  </div>
  <ul class="item__tabs">
    <li class="toggle-view--foundation is-selected">Typography</li>
    <li class="toggle-view--usage">Color</li>
    <li class="toggle-view--style">Grid</li>
    <li class="toggle-view--style">Iconography</li>
  </ul>
</div>


<div class="page__container">



</div>
