---
fabricator: true
name: file uploader
category: elements
mainDesc: "allows the user to transfer a file or submit content of their own."
tag:
  new:
    text: New in 7.0
    class: third-party
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->


<!-- View: Foundation -->
<div id="foundation" class="hidden">
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> file-uploader-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> file-uploader-style}}
</div>
<!-- View: Style ends -->
