---
fabricator: true
name: Progress Indicator
title: Progress Indicator | IBM Bluemix Design System
category: components
mainDesc: "are a visual representation of a user's progress through a set of steps. They guide the user through a number of steps in order to complete a specified process.."
iterations:
  tabs:
    title: "Accordion"
    htmlFile: ""
    jsFile: ""
    desc: "Progress indicators are a visual representation of a user's progress through a set of steps. They guide the user through a number of steps in order to complete a specified process. "
    needWrap: "true"
---

<!--EXAMPLES NEED TO BE ADDED TO THIS PAGE-->
