.cursor-table {
  img {
    width: auto;
    margin: 1.5rem 1rem -0.5rem;
  }

  tbody tr {
    background: $ui-02;
  }

  tr td {
    padding: 0 3rem 2rem 0;
  }

  tr td:nth-child(2) {
    padding: 0 3rem 0 0;
  }

  tr:first-child {
    cursor: default;
  }

  tr:nth-child(2) {
    cursor: not-allowed;
  }

  tr:nth-child(3) {
    cursor: pointer;
  }

  tr:nth-child(4) {
    cursor: text;
  }
}
