{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics
The height of a number input is always the same. The width however, varies based on content, layout and design.
The arrows icon can be found in the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography Library</a> or the <a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/">Icon Repo</a>.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/Number_Input_Mobile_dark_@2x.png">
    <img src="/assets/images/style/number-input/Number_Input_Desktop_dark_@2x.png">
    </picture>
    <p class="caption">Number Input | units in px / em</p>
  </div>

  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/light-ui/Number-Input-Mobile-Light@2x.png">
    <img src="/assets/images/style/number-input/light-ui/Number-Input-Desktop-Light@2x.png">
    </picture>
    <p class="caption">Number Input | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
  </div>
</div>

**Width: varies based on content, layout, and design**

<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#ffffff at 10% opacity</p>
          <p class="table--light">$color__inputs--bg</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#3d70b2 at 10% opacity</p>
          <p class="table--light">$color__inputs--bg--light-ui</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding
There should be 16px / 1em of internal padding on the left and right side of the number input.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/Number-Padding-Mobile-Light@2x.png">
    <img src="/assets/images/style/number-input/Number-Padding-Desktop-Light@2x.png">
    </picture>
    <p class="caption">Number Input Padding | units in px / em</p>
  </div>

  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/light-ui/Number-Padding-Mobile-Light@2x.png">
    <img src="/assets/images/style/number-input/light-ui/Number-Padding-Desktop-Light@2x.png">
    </picture>
    <p class="caption">Tool Tip Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between left side and text</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between right side and arrows</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

## Typography
Number input labels should be set in bold and sentence case, with only the first word in a phrase and any proper nouns capitalized. Number input text should be set in roman and only contain numbers, no letters. All number input type should follow the Typography font stack for san-serif.



<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
