{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__half">

  ### Basics
  The height of a number input is always the same. The width however, varies based on content, layout and design.
  The arrows icon can be found in the <a href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library">Bluemix Iconography Library</a> or the <a href="https://pages.github.ibm.com/bluemix/bluemix-icons/">Bluemix Icon Repo</a>.


**Number input width: varies based on content, layout, and design**
**Number input height: 40px / 2.5em**

**Dark Number input color: #FFFFFF at 10% opacity**
**Light Number input color: #3D70B2 at 10% opacity**


</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/Number_Input_Mobile_dark_@2x.png">
    <img src="/assets/images/style/number-input/Number_Input_Desktop_dark_@2x.png">
    </picture>
    <p class="caption">Number Input | units in px / em</p>
  </div>

  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/light-ui/Number-Input-Mobile-Light@2x.png">
    <img src="/assets/images/style/number-input/light-ui/Number-Input-Desktop-Light@2x.png">
    </picture>
    <p class="caption">Number Input | units in px / em</p>

  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding
There should be 16px / 1em of internal padding on the left and right side of the number input.

**Padding between left side and text: 16px / 1em**
**Padding between right side and arrows: 16px / 1em**


</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/Number-Padding-Mobile-Light@2x.png">
    <img src="/assets/images/style/number-input/Number-Padding-Desktop-Light@2x.png">
    </picture>
    <p class="caption">Number Input Padding | units in px / em</p>
  </div>

  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/number-input/light-ui/Number-Padding-Mobile-Light@2x.png">
    <img src="/assets/images/style/number-input/light-ui/Number-Padding-Desktop-Light@2x.png">
    </picture>
    <p class="caption">Tool Tip Padding | units in px / em</p>
  </div>
</div>
</div>


<div class="view__section">

<div class="view__full">

## Typography
Number input titles should be set in bold and title case, with the first letter of each word capitalized. Number input text should be set in roman and only comtain numbers, no letters. All number input type should follow the Bluemix Typography font stack for san-serif.

**Number Input title font-size: 14px / .875rem**
**Number Input title font-weight: bold / 400**
**Number Input text font-size: 14px / .875rem**
**Number Input text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
