{{#markdown}}
## General guidelines
* Number inputs should not be used when large value changes are expected. They work best for making small, incremental changes that only require a few clicks.
* The user may also chose to physically type in a number into the field.
* Number inputs should have a default value shown within the field.
* A clear and concise label should accompany number inputs.
* See further guidance for using number labels within <a href="http://design-system.stage1.mybluemix.net/elements/forms.html#usage">Forms</a>

{{/markdown}}
