.svg--sprite {
  @include hidden;
}

.live-component__variation {
  width: 100%;
  max-width: 1000px;

  & > .primary-button button,
  & > .secondary-button button {
    margin: .5rem;
  }

  & > .detail-page-header--no-tabs > .bx--detail-page-header--no-tabs  {
    width: 100%;
    top: 300px;
    left: 0;
  }

  & .bx--detail-page-header--with-tabs {
    .bx--tabs__nav-link {
      padding-bottom: 14px;
    }
  }

  & > .inline-notification .bx--inline-notification {
    display: inline-flex;
    margin-right: 10rem;
  }

  & > .overflow-menu .bx--overflow-menu {
    position: absolute;
    left: 3rem;

    &:last-child {
      left: 15em;
    }
  }

  & .text-input .bx--form-item {
    margin-right: 0;
  }
}

.component-example__live {
  position: relative;

  .button button {
    margin: .5rem;
  }

  & .detail-page-header .bx--detail-page-header.bx--detail-page-header--no-tabs {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: calc(100% - 4rem);

    .bx--overflow-menu--flip {
      left: auto;
    }
  }

  & .detail-page-header .bx--detail-page-header.bx--detail-page-header--with-tabs {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: calc(100% - 4rem);

    .bx--overflow-menu--flip {
      left: auto;
    }

    .bx--tabs__nav {
      bottom: 0;
    }
  }

  & > .dropdown > div {
    width: 100%;
    max-width: 502px;
  }

  & .loading .bx--loading-overlay {
    position: absolute;
  }

  & .notification .bx--inline-notification {
    display: inline-flex;
  }

  & .tabs > div {
    width: 100%;
  }

  & .text-input .bx--form-item {
    margin-right: 0;
  }
}

.page-header + div > .bx--tabs {
  background-color: $field-01;

  @include breakpoint('768px') {
    background-color: transparent;
  }
}
