.svg--sprite {
  @include hidden;
}

.live-component__variation {
  width: 100%;
}

.component-example,
.live-component {

  .dropdown > div {
    width: 100%;
  }
}

.page-header + div > .bx--tabs {
  background-color: $field-01;

  @include breakpoint('768px') {
    background-color: $ui-02;
  }
}
