.global-search {
  padding: 0 1.25rem;
  position: absolute;
  top: rem(154px);
  left: 0;
  margin: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 400ms $bx--standard-easing;
  transform: translateY(-100%);
  z-index: 500;

  &--active {
    margin: 0 0 1rem;
    padding-top: .5rem;
    transition: opacity 500ms $bx--standard-easing, transform 0s;
    overflow: initial;
    opacity: 1;
    transform: translateY(0);
  }

  &__results {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 0 1.25rem;
    width: 100%;

    &--section {
      margin-bottom: 2rem;

      &--hidden {
        display: none;
      }
    }

    h4 {
      @include font-size('12');
      font-weight: 700;
      width: 100%;
      padding-bottom: .5rem;
      border-bottom: 1px solid $text-03;
      text-transform: uppercase;
      color: $text-03;
      max-width: rem(660px);
      letter-spacing: 1px;
    }
  }

  .result {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid $ui-04;
    padding: 1rem 0;

    &.top-result {
      border-bottom: none;
      padding-bottom: .5rem;
    }

    &.is-hidden {
      display: none;
    }

    .result__component-name {
      @include font-size('16');
      text-transform: capitalize;
      font-weight: 700;
    }

    a span {
      text-transform: capitalize;
    }
  }

  .result-content {
    @include font-size('14');
    max-width: 100%;
    overflow: hidden;
    font-style: italic;
    font-weight: 400;
    max-height: rem(48px);
    color: $text-03;
    word-break: break-all;

    span.query {
      background-color: #ddd;
    }
  }

  .related-results__link {
    @include font-size('12');

    .bx--link {
      @include font-size('12');
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .no-result__text {
    @include font-size('12');
    font-weight: 700;
    margin-top: rem(8px);
    margin-bottom: rem(16px);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $text-03;
  }

  .no-result__help-text {
    @include font-size('14');
  }
}
