<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Carbon Design System">
  <meta property="og:description" content="Carbon is the design system for IBM Cloud products. It is a series of individual styles, components, and guidelines used for creating unified UI.">
  <meta property="og:image" content="https://media.github.ibm.com/user/525/files/59e3bfde-b990-11e7-87ef-072e89a87719">
  <meta property="og:url" content="http://carbondesignsystem.com">
  <meta property="og:site_name" content="Carbon Design System">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:image:alt" content="Carbon Design System">
  <meta name="description" content="Carbon is the design system for IBM Cloud products. It is a series of individual styles, components, and guidelines used for creating unified UI.">
  <meta name="keywords" content="IBM, design, system, Carbon, design system, Bluemix, styleguide, style, guide, components, library, pattern, kit, component, cloud">
  <title>Carbon Design System</title>
</head>

<body>
  <main id="root" role="main" aria-label="Main website wrapper"></main>
  <script src="/js/carbon-components.min.js"></script>
  <script>
    CarbonComponents.settings.disableAutoInit = true;
  </script>
</body>

</html>
