{{#markdown}}

## General

- Modals should not contain scrolling content
- Consider using a <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/notifications.html" target="_blank"> Notification</a> if a modal only contains informational content.

### Dismissal

Modals may be dismissed in 3 ways:

- Using the &ldquo;x&rdquo; in the upper right-hand corner of the modal
- Pressing the <code>ESC</code> key
- Clicking / touching outside of the modal area

## Structure

### Header
Include a heading within the modal that mirrors the action or button that was clicked by the user. Headers include a close button (&ldquo;x&rdquo;) in the upper right hand corner of the modal.

### Body
The body content within a modal should be as minimal as possible. Base elements that may be used in modals include: form fields, text area, select, and radio buttons.

### Footer
The footer area of a modal typically contains a set of buttons. Refer to <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html" target="_blank">Button</a> guidelines for usage.

## Examples

### Transactional modal

Typically, this type of modal requests either a &ldquo;yes&rdquo; or &ldquo;no&rdquo; response from the user. Use this modal when secondary confirmation is needed.

<p class="caption">Example:</h5>
<div class="small-img">
  <img src="/assets/images/usage/components/modals-1.png"/>
</div>

### Input modal
Modals used in this case include input areas that the user may interact with. These may include but are not limited to forms, dropdowns, selectors, and links.

<p class="caption">Example:</h5>
<div class="small-img">
  <img src="/assets/images/usage/components/modals-2.png"/>
</div>

{{/markdown}}
