{{#markdown}}

## Structure

<div class="view__section">

<div class="view__full">

### Basics

There are two different types of modals, passive and transactional. Passive modals contain information while transactional modals contian information and have actionable buttons in the bottom left hand corner. Refer to the <a href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html">button style guidelines</a> for styling. On mobile the button/action bar is sticky to the bottom of the screen. Both passive and transactional modals can have a label above the title, however it is optional.

**Modal top border: 5px**
**Modal top border color: #5596E6**
**Close button height and width: 10px / .625em**
**Space between buttons: 16px / 1em**
**Transactional button bar height: 92px / 5.75em**

</div>

</div>

<div class="view__section">

<div class="view__half">

For desktop and tablet:

**Modal width: varies based on layout, design, and content**
**Modal height: varies based on layout, design, and content**

</div>

<div class="view__half">
<picture>
<img src="/assets/images/style/modals/Passive_Modal_Desktop@2x.png">
</picture>
<p class="caption">Passive Modal | units in px / em</p>
<picture>
<img src="/assets/images/style/modals/Passive_Modal_Label_Desktop@2x.png">
</picture>
<p class="caption">Passive Modal with Label | units in px / em</p>
<picture>
<img src="/assets/images/style/modals/Transactional_Modal_Desktop@2x.png">
</picture>
<p class="caption">Transactional Modal with Label | units in px / em</p>
<picture>
<img src="/assets/images/style/modals/Transactional_Modal_Label_Desktop@2x.png">
</picture>
<p class="caption">Transactional Modal | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

For mobile:

**Modal width: full screen (size varies based on devices type)**
**Modal height: full screen (size varies based on devices type)**

</div>

<div class="view__half">
<picture>
<img src="/assets/images/style/modals/Passive_Modal_Mobile@2x.png">
</picture>
<p class="caption">Passive Mobile Modal | units in px / em</p>
<picture>
<img src="/assets/images/style/modals/Passive_Modal_Label_Mobile@2x.png">
</picture>
<p class="caption">Passive Mobile Modal with Label | units in px / em</p>
<picture>
<img src="/assets/images/style/modals/Transactional_Modal_Mobile@2x.png">
</picture>
<p class="caption">Transactional Mobile Modal with Label | units in px / em</p>
<picture>
<img src="/assets/images/style/modals/Transactional_Modal_Label_Mobile@2x.png">
</picture>
<p class="caption">Transactional Mobile Modal | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Modals should have plently of breathing room around each element. See below for specific space measurements between elements. Modals on mobile should follow page margins of grid of 3%.

**Top of modal to label: 44px / 2.75em**
**Top of modal to title: 44px / 2.75em**
**Padding between label and title: 8px / .5em**
**Padding between title and body copy: 24px / 1.5em**
**Padding between top of modal and close button: 16px / 1em**
**Padding between right edge of modal and close button: 16px / 1em**
**Padding between left/right edge of modal and modal text: 48px / 3em**

</div>

</div>

<div class="view__section">

<div class="view__half">

For Passive Modals only:

**Space between body copy and bottom of modal: 48px / 3em**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Padding_Mobile@2x.png">
<img src="/assets/images/style/modals/Passive_Modal_Padding_Desktop@2x.png">
</picture>
<p class="caption">Passive Modal Internal and Element Padding | units in px / em</p>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
<img src="/assets/images/style/modals/Passive_Modal_Padding_Desktop@2x.png">
</picture>
<p class="caption">Passive Modal with Label Internal and Element Padding | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

For Transactional Modals only:

**Padding between body copy and butto/action bar: 42px / 2.625em**
**Padding between top of button/action bar and button: 24px / 1.5em**
**Padding between bottom of button/action bar and button: 24px / 1.5em**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Padding1_Mobilep@2x.png">
<img src="/assets/images/style/modals/Transactional_Modal_Padding1_Desktop@2x.png">
</picture>
<p class="caption">Transactional Modal Element Padding | units in px / ems</h5>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Padding2_Mobile@2x.png">
<img src="/assets/images/style/modals/Transactional_Modal_Padding2_Desktop@2x.png">
</picture>
<p class="caption">Transactional Modal Internal and Button/Action Bar Padding | units in px / ems</h5>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Label_Padding_Mobilep@2x.png">
<img src="/assets/images/style/modals/Transactional_Modal_Label_Padding_Desktop@2x.png">
</picture>
<p class="caption">Transactional Modal with Label Element Padding | units in px / ems</h5>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Label_Padding2_Mobilep@2x.png">
<img src="/assets/images/style/modals/Transactional_Modal_Label_Padding2_Desktop@2x.png">
</picture>
<p class="caption">Transactional Modal Internal and Button/Action Bar Padding | units in px / ems</h5>
</div>

</div>

<div class="view__section">

<div class="view__half">

Mobile:

**Top of modal to label: 44px / 2.75em**
**Top of modal to title: 44px / 2.75em**
**Padding between label and title: 8px / .5em**
**Padding between title and body copy: 24px / 1.5em**
**Padding between top of modal and close button: 16px / 1em**
**Padding between right edge of modal and close button: 16px / 1em**
**Padding between left/right edge of modal and modal text: Follow page margins of grid of 3%**

</div>

<div class="view__half">
<picture
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Padding_Mobile@2x.png">
<img src="/assets/images/style/modals/Passive_Modal_Padding_Mobile@2x.png">
</picture>
<p class="caption">Passive Modal Internal and Element Padding for Mobile | units in px / ems</h5>
<picture
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
<img src="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
</picture>
<p class="caption">Passive Modal with Label Internal and Element Padding for Mobile | units in px / ems</h5>
<picture
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Padding_Mobile@2x.png">
<img src="/assets/images/style/modals/Transactional_Modal_Padding_Mobile@2x.png">
</picture>
<p class="caption">Transactional Modal Internal and Element Padding for Mobile | units in px / ems</h5>
<picture
<source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Label_Padding_Mobile@2x.png">
<img src="/assets/images/style/modals/Transactional_Modal_Label_Padding_Mobile@2x.png">
</picture>
<p class="caption">Transactional Modal with Label Internal and Element Padding for Mobile | units in px / ems</h5>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Modal Labels are optional and should be set in all caps when used. Modal Titles should be set in title case with the first letter of each word capitalized. Modal Titles should not exceed more than 3 words. Modal body copy text should be sentence case with only the first word of the sentence capitalized. Important directions or information in the body copy can be bold, othewise it should be in roman. Modal labels, titles, and text should all follow the Bluemix Typography font stack for sans-serif.

**Modal Label font-size: 12px / .75rem**
**Modal label font-weight: bold / 700 / all caps**
**Modal Title font-size: 26px / 1.625rem**
**Modal Title font-weight: roman / 400**
**Modal body copy font-size: 14px / .875rem**
**Modal body copy font-weight: bold / 700**
**Modal body copy font-weight: roman / 400**

</div>

</div>

{{/markdown}}
