{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

There are two different types of modals, passive and transactional. Passive modals only contain information while transactional modals have information and actionable buttons on the bottom left-hand corner. Refer to the <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html" target="_blank">Button style guidelines</a> for styling. On mobile, the button/action bar is sticky to the bottom of the screen. Both passive and transactional modals may have an optional label above its title.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Top border</p>
      <p class="table--light">5px</p>
      <p class="table--light">.312rem</p>
    </div>
    <div class="table__row">
      <p>Close button height & width</p>
      <p class="table--light">10px</p>
      <p class="table--light">.625rem</p>
    </div>
    <div class="table__row">
      <p>Space between buttons</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Transactional button bar height</p>
      <p class="table--light">92px</p>
      <p class="table--light">5.75rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>COLOR</p>
      <p>HEX</p>
      <p>SCSS VARIABLE</p>
    </div>
    <div class="table__row">
      <p>Top border</p>
      <p class="table--light">#5596e6</p>
      <p class="table--light">$color__blue-40</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### For desktop and tablet

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <img src="/assets/images/style/modals/Passive_Modal_Desktop@2x.png">
    </picture>
    <p class="caption">Passive modal | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/Passive_Modal_Label_Desktop@2x.png">
    </picture>
    <p class="caption">Passive modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/Transactional_Modal_Desktop@2x.png">
    </picture>
    <p class="caption">Transactional modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/Transactional_Modal_Label_Desktop@2x.png">
    </picture>
    <p class="caption">Transactional modal | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <img src="/assets/images/style/modals/light-ui/P_Modal__Desktop_Light@2x.png">
    </picture>
    <p class="caption">Passive modal | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/light-ui/P_Modal_-_Label_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Passive modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/light-ui/T_Modal_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Transactional modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/light-ui/T_Modals_-_Label_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Transactional modal | units in px / em</p>
  </div>
</div>

**Modal width: varies based on layout, design, and content**
**Modal height: varies based on layout, design, and content**

</div>

</div>

<div class="view__section">

<div class="view__full">

### For mobile

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <img src="/assets/images/style/modals/Passive_Modal_Mobile@2x.png">
    </picture>
    <p class="caption">Passive mobile modal | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/Passive_Modal_Label_Mobile@2x.png">
    </picture>
    <p class="caption">Passive mobile modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/Transactional_Modal_Mobile@2x.png">
    </picture>
    <p class="caption">Transactional mobile modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/Transactional_Modal_Label_Mobile@2x.png">
    </picture>
    <p class="caption">Transactional mobile modal | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <img src="/assets/images/style/modals/light-ui/P_Modal_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Passive mobile modal | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/light-ui/P_Modal_-_Label_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Passive mobile modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/light-ui/T_Modal_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Transactional mobile modal with label | units in px / em</p>
    <picture>
    <img src="/assets/images/style/modals/light-ui/T_Modal_-_Label_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Transactional mobile modal | units in px / em</p>
  </div>
</div>

**Modal width: full screen (size varies based on devices type)**
**Modal height: full screen (size varies based on devices type)**

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Modals should have plently of breathing room around each element. See below for specific space measurements between elements. Modals on mobile should follow page margins of grid of 3%.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Top of modal to label</p>
      <p class="table--light">44px</p>
      <p class="table--light">2.75rem</p>
    </div>
    <div class="table__row">
      <p>Top of modal to title</p>
      <p class="table--light">44px</p>
      <p class="table--light">2.75rem</p>
    </div>
    <div class="table__row">
      <p>Padding between label and title</p>
      <p class="table--light">8xpx</p>
      <p class="table--light">.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between title and body copy</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between edge of modal and close button</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between edge of modal and text</p>
      <p class="table--light">48px</p>
      <p class="table--light">3rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### For Passive Modals only

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Padding_Mobile@2x.png">
    <img src="/assets/images/style/modals/Passive_Modal_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Passive modal internal and element padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
    <img src="/assets/images/style/modals/Passive_Modal_Label_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Passive modal with label internal and element padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/P_Modal_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/P_Modal_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Passive modal internal and element padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/P_Modal_-_Label_Padding_Desktop_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/P_Modal_-_Label_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Passive modal with label internal and element padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Space between body copy and bottom of modal</p>
      <p class="table--light">48px</p>
      <p class="table--light">3rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### For Transactional modals only

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Padding1_Desktop@2x.png">
    <img src="/assets/images/style/modals/Transactional_Modal_Padding1_Desktop@2x.png">
    </picture>
    <p class="caption">Transactional modal element padding | units in px / ems</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Padding2_Desktop@2x.png">
    <img src="/assets/images/style/modals/Transactional_Modal_Padding2_Desktop@2x.png">
    </picture>
    <p class="caption">Transactional modal internal and button/action bar padding | units in px / ems</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Label_Padding_Desktop@2x.png">
    <img src="/assets/images/style/modals/Transactional_Modal_Label_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Transactional modal with label element padding | units in px / ems</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/T_Modal_Padding_Top_Desktop_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/T_Modal_Padding_Top_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Transactional modal element padding | units in px / ems</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/T_Modal_Padding_Bottom_Desktop_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/T_Modal_Padding_Bottom_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Transactional modal internal and button/action bar padding | units in px / ems</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/T_Modals_-_Label_Padding_Top_Desktop_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/T_Modals_-_Label_Padding_Top_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Transactional modal with label element padding | units in px / ems</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between body copy and button/action bar</p>
      <p class="table--light">42px</p>
      <p class="table--light">2.625rem</p>
    </div>
    <div class="table__row">
      <p>Padding between top of button/action bar and button</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between bottom of button/action bar and button</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Mobile

<div class="style-img">
  <div class="style-img--dark">
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Padding_Mobile@2x.png">
    <img src="/assets/images/style/modals/Passive_Modal_Padding_Mobile@2x.png">
    </picture>
    <p class="caption">Passive modal internal and element padding for mobile | units in px / ems</p>
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
    <img src="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
    </picture>
    <p class="caption">Passive modal with label internal and element padding for mobile | units in px / ems</p>
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Padding_Mobile@2x.png">
    <img src="/assets/images/style/modals/Transactional_Modal_Padding_Mobile@2x.png">
    </picture>
    <p class="caption">Transactional modal internal and element padding for mobile | units in px / ems</p>
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Transactional_Modal_Label_Padding_Mobile@2x.png">
    <img src="/assets/images/style/modals/Transactional_Modal_Label_Padding_Mobile@2x.png">
    </picture>
    <p class="caption">Transactional modal with label internal and element padding for mobile | units in px / ems</p>
  </div>
  <div class="style-img--light">
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/P_Modal_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/P_Modal_Padding_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Passive modal internal and element padding for mobile | units in px / ems</p>
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
    <img src="/assets/images/style/modals/Passive_Modal_Label_Padding_Mobile@2x.png">
    </picture>
    <p class="caption">Passive modal with label internal and element padding for mobile | units in px / ems</p>
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/T_Modal_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/T_Modal_Padding_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Transactional modal internal and element padding for mobile | units in px / ems</p>
    <picture
    <source media="(max-width: 550px)" srcset="/assets/images/style/modals/light-ui/T_Modal_-_Label_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/modals/light-ui/T_Modal_-_Label_Padding_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Transactional modal with label internal and element padding for mobile | units in px / ems</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Top of modal to label</p>
      <p class="table--light">44px</p>
      <p class="table--light">2.75rem</p>
    </div>
    <div class="table__row">
      <p>Top of modal to title</p>
      <p class="table--light">44px</p>
      <p class="table--light">2.75rem</p>
    </div>
    <div class="table__row">
      <p>Padding between label and title</p>
      <p class="table--light">8px</p>
      <p class="table--light">.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between title and body copy</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between top of modal and close button</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between edge of modal and close button</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>

**Padding between left/right edge of modal and modal text: Follow page margins of grid of 3%**

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Modal Labels are optional and should be set in all caps when used. Modal Titles should be set in title case with the first letter of each word capitalized. Modal Titles should not exceed more than 3 words. Modal body copy text should be sentence case with only the first word of the sentence capitalized. Important directions or information in the body copy can be bold, othewise it should be in roman. Modal labels, titles, and text should all follow the Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">26px</p>
      <p class="table--light">1.625rem</p>
    </div>
    <div class="table__row">
      <p>Body copy</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Body copy</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
