$temp-bg: $color__navy-gray-9;
$temp-text: $color__blue-90;

.code-example {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;

  // code[class*="language-"], pre[class*="language-"] {
  //   background-color: #fff;
  // }

  .bx--snippet__icon {
    top: 0;
    right: .25rem;
  }
}

.code-example__copy-btn {
  height: rem(24px);
  position: absolute;
  top: .75rem;
  right: .75rem;
  color: transparent;
  background-color: #F5F7FF;
  cursor: pointer;

  &:hover svg {
    fill: $brand-02;
  }
}

.code-example__raw-html {
  max-height: 12rem;
  min-height: 7rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  transition: $transition--base;

  &--expanded {
    max-height: 100rem;
  }
}

.code-example__expand {
  @include helvetica;
  position: absolute;
  bottom: 0;
  right: 1rem;
  color: $temp-text;
  background-color: $temp-bg;
  border: none;
  padding: 1rem 0 1rem 1rem;
  cursor: pointer;

  span {
    font-size: rem(12px);
  }

  &--icon {
    margin-left: .5rem;
    fill: $temp-text;
    transition: $transition--base;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &--hidden {
    display: none;
  }
}
