$temp-bg: $color__navy-gray-9;
$temp-text: $color__blue-90;

.code-example {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1rem;
  max-width: 100%;
}

.code-example__snippet {
  color: initial;
}

.code-example__copy-btn {
  width: 10rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  color: transparent;
}

.code-example__raw-html {
  padding: 1rem 1.5rem;
  max-height: 12rem;
  min-height: 7rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  transition: $transition--base;

  &--expanded {
    max-height: 100rem;
  }
}

.code-example__expand {
  @include helvetica;
  position: absolute;
  bottom: 0;
  right: 1rem;
  color: $temp-text;
  background-color: $temp-bg;
  border: none;
  padding: 1rem 0 1rem 1rem;
  cursor: pointer;

  span {
    font-size: rem(12px);
  }

  &--icon {
    margin-left: .5rem;
    fill: $temp-text;
    transition: $transition--base;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &--hidden {
    display: none;
  }
}