.component-variation {
  margin: 3rem 0 6rem;

  &__name {
    @include font-smoothing;
    position: relative;
    color: $color__blue-90;
    font-weight: 600;
    padding: 1rem 0 1.5rem;

    &:before {
      content: '';
      width: rem(80px);
      height: rem(5px);
      display: block;
      background-color: $color__blue-40;
      position: absolute;
      top: -.5rem;
      left: 0;
    }
  }

  &__desc {
    max-width: 45rem;
    margin: 1rem 0;
  }
}
