{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

Tables may contain <a class="base-link" href="http://design-system.stage1.mybluemix.net/elements/checkbox.html#foundation" target="_blank">checkboxes</a> that enable users to select multiple rows at once. Table width varies based on the layout, amount of data, and content.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Row height</p>
      <p class="table--light">48px</p>
      <p class="table--light">3rem</p>
    </div>
    <div class="table__row">
      <p>Space between columns (greater than or equal to)</p>
      <p class="table--light">64px</p>
      <p class="table--light">4rem</p>
    </div>
  </div>
</div>

<div class="style-img">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Desktop@2x.png">
    <img src="/assets/images/style/tables/Tables_Desktop@2x.png">
  </picture>
  <p class="caption">Table | units in px / em</p>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Filter arrow width</p>
      <p class="table--light">10px</p>
      <p class="table--light">.625rem</p>
    </div>
    <div class="table__row">
      <p>Filter arrow height</p>
      <p class="table--light">5px</p>
      <p class="table--light">.313rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>COLOR</p>
      <p>HEX</p>
      <p>SCSS VARIABLE</p>
    </div>
    <div class="table__row">
      <p>Row hover color</p>
      <p class="table--light">#20343e</p>
      <p class="table--light">$color__navy-gray-2</p>
    </div>
    <div class="table__row">
      <p>Row hover border color</p>
      <p class="table--light">#5aaafa</p>
      <p class="table--light">$color__blue-30</p>
    </div>
  </div>
</div>
<br>

### Table with Checkboxes
<div class="style-img">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Checkboxes_Desktop@2x.png">
    <img src="/assets/images/style/tables/Tables_Checkboxes_Desktop@2x.png">
  </picture>
  <p class="caption">Table with Checkboxes | units in px / em</p>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Checkbox height & width</p>
      <p class="table--light">18px</p>
      <p class="table--light">1.125rem</p>
    </div>
    <div class="table__row">
      <p>Unchecked box border</p>
      <p class="table--light">2px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>COLOR</p>
      <p>HEX</p>
      <p>SCSS VARIABLE</p>
    </div>
    <div class="table__row">
      <p>Unchecked box border color</p>
      <p class="table--light">#8c9ba5</p>
      <p class="table--light">$color__navy-gray-7</p>
    </div>
    <div class="table__row">
      <p>Checked box color</p>
      <p class="table--light">#8c9ba5</p>
      <p class="table--light">$color__navy-gray-7</p>
    </div>
    <div class="table__row">
      <p>Selected row border</p>
      <p class="table--light">#20343e</p>
      <p class="table--light">$color__navy-gray-2</p>
    </div>
    <div class="table__row">
      <p>Selected row border color</p>
      <p class="table--light">#5aaafa</p>
      <p class="table--light">$color__blue-30</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding
There must be 24 pixels / 1.5 em of space between the sides of a table and the text within the table.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal side padding</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
</div>

<div class="style-img">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Padding_Desktop@2x.png">
    <img src="/assets/images/style/tables/Tables_Padding_Desktop@2x.png">
  </picture>
  <p class="caption">Table Padding | units in px / em</p>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between label and arrow</p>
      <p class="table--light">9px</p>
      <p class="table--light">.563rem</p>
    </div>
  </div>
</div>

<div class="style-img">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Checkboxes_Padding_Desktop@2x.png">
    <img src="/assets/images/style/tables/Tables_Checkboxes_Padding_Desktop@2x.png">
  </picture>
  <p class="caption">Table with Checkboxes Padding | units in px / em</p>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between checkbox and column text</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Column label should be in all caps. All other table text should be cased as appropriate. Column labels and table text should both follow the Bluemix Typography font stack for sans-serif.

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Column label</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Table text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Column label</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Table text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
