{{#markdown}}

## Structure

### Header Row
Headers guide users to the data that is presented below. Use meaningful text to label the table data and provide clarity to the content below. If necessary, use foot notes to clarify more detailed or technical information that would otherwise clutter the table.

### Number of Columns
For large sets of data, it is preferred to use rows rather than columns, to guide the eye across the page. Readers can scan quickly down a single row, but find it harder to scan across many columns to relate connected data.

### Minimal
By following a minimal design structure of your table, it allows the user to focus on the content without any visual distractions. Use clean, subtle grid lines along with a simple font/color style that contrasts nicely with the background.

### Zebra Stripes
Alternating colors on rows increases readability, and helps the guide the users through the data in the table.

<p class="caption">Example:</h5>
<div>
  <img src="/assets/images/table-1.png" />
</div>

## Interactions

### Loading Additional Data
Depending on the context, two different patterns for loading additional data can be used. Pagination  directs a user to a different page that contains additional content. Continuous scrolling loads data as the user scrolls. A simple, &ldquo;View More&rdquo; link that loads a more data is appropriate for use.

### Filters/Sorting
Usability of your table will be greatly improved by making data sortable. Sorting can be helpful when users are looking to compare adjacent information. By making header labels clickable, it allows the user to easily filter the data to their liking.

### Expandable Rows
Expanable rows allow for minimal information to be shown at a high level, and a more detailed description/action set hidden within the overflow of the row.

## Example

<div class="overlay-image">
<img class="thumbnail-img" src="/assets/images/tables-2.png" />
<a href="/assets/images/tables-2.png" target="_blank" class="overlay">
<img src="/assets/images/ibm-eye.png" />
<p>View at 100%</p>
</a>
</div>

{{/markdown}}
