{{#markdown}}

## Structure

### Header Row
Use meaningful text to label the table data and provide clarity to the content below.

### Number of Columns
For large sets of data, it is preferable to use rows instead of columns in order to guide the eye across the page. It is quicker and easier to scan down a single row rather than scan across multiple columns of related data.

### Zebra Stripes
Alternate colors on rows to increase readability. This also helps to guide the user through data in a table.

## Interactions
### Search
Search functionality within a table follows <a class="base-link" href="http://design-system.stage1.mybluemix.net/elements/search.html#foundation" target="_blank">Small Search</a> conventions.

### Sorting
Improve table usability by making data sortable. Clickable headers enable users to sort table data up or down. The specific attribute being sorted is accompanied by a caret label.

### Batch Actions
Batch actions are functions that may be performed on multiple items within a table. Use an <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/overflow-menu.html#foundation" target="_blank">Overflow Menu</a> to present batch actions to the user. The overflow menu appears when the user clicks on the icon. If there is only one batch action available for the table data, that action should be styled as a <a class="base-link" href="http://design-system.stage1.mybluemix.net/elements/buttons.html#foundation" target="_blank">Primary Button</a>.

### Inline Actions
Inline actions are functions that may be performed on a specific table row. When the user hovers over a table cell, an <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/overflow-menu.html#foundation" target="_blank">Overflow Menu</a> icon appears that contains actions related specifically to that table row.
<!--
### Inline edit
Inline edit enables the user to edit text directly in the page without going to a separate page. It makes the interaction more direct and intuitive as the user can edit the text in the same place where it is shown.
-->

### Expandable Rows
Expandable rows show minimal information at a high-level and a more detailed view nested within that row.


## Additional Content
Depending on the type of data within a table, any of the options below may be used to load additional content. It is important to note that only 1 of these solutions should be implemented.

### Pagination
Pagination divides table data into separate pages. Pagination is accompanied by an option that enables the user to change the number of items per page.

### Lazy Load
Lazy loading loads additional content as users scroll in their viewport.

## Example

<div class="overlay-image">
<img class="thumbnail-img" src="/assets/images/usage/components/tables.png" />
<a href="/assets/images/usage/table-1.png" target="_blank" class="overlay">
<img src="/assets/images/icons/ibm-eye.png" />
<p>View at 100%</p>
</a>
</div>

{{/markdown}}
