{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__half">

### Basics

Tables may contain <a class="base-link" href="http://design-system.stage1.mybluemix.net/elements/checkbox.html#foundation" target="_blank">checkboxes</a> that enable users to select multiple rows at once. Table width varies based on the layout, amount of data, and content.

**Row height: 48px / 3em**
**Spacing between columns : 64px / 4em minimum**
**Spacing between columns : greater than or equal to 64px / 4em**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Desktop@2x.png">
<img src="/assets/images/style/tables/Tables_Desktop@2x.png">
</picture>
<p class="caption">Table | units in px / em</p>

**Filter arrow width: 10 px / .625em**
**Filter arrow height: 5px / .313em**
**Row hover color: #20343E / $color__navy-gray-2**
**Row hover border color: #5AAAFA / $color__blue-30**

<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Checkboxes_Desktop@2x.png">
<img src="/assets/images/style/tables/Tables_Checkboxes_Desktop@2x.png">
</picture>
<p class="caption">Table with Checkboxes | units in px / em</p>

**Checkbox height and width: 18px / 1.125em**
**Unchecked box border: 2px**
**Unchecked box border color: #8C9BA5**
**Checked box color: #8C9BA5**
**Selected Row border: #20343E**
**Selected Row border color: #5AAAFA**

</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding
There must be 24 pixels / 1.5 em of space between the sides of a table and the text within the table.

**Internal side padding: 24px / 1.5em**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Padding_Desktop@2x.png">
<img src="/assets/images/style/tables/Tables_Padding_Desktop@2x.png">
</picture>
<p class="caption">Table Padding | units in px / em</p>

**Padding between label and arrow: 9px / .563em**

<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/tables/Tables_Checkboxes_Padding_Desktop@2x.png">
<img src="/assets/images/style/tables/Tables_Checkboxes_Padding_Desktop@2x.png">
</picture>
<p class="caption">Table with Checkboxes Padding | units in px / em</p>

**Padding between check box and column text: 24px / 1.5em**

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Column label should be in all caps. All other table text should be cased as appropriate. Column labels and table text should both follow the Bluemix Typography font stack for sans-serif.

**Column Label font-size: 12px / .75rem**
**Table Text font-size: 14px / .875rem**
**Column Label font-weight: bold / 700**
**Table Text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
