.glossary-entry {

  img.glossary-entry__main-heading {
    width: 5rem;
    margin: 3.25rem 0 .5rem;
  }

  h2.glossary-entry__heading {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }

  h4.glossary-entry__word-heading {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }

  .glossary-entry__word > p {

    &:nth-child(3) {
      span p {
        font-size: rem(13px);
        color: $color__navy-gray-7;
        margin-top: .25rem;
      }
    }
  }

  .glossary-entry__list {
    margin-bottom: 5rem;
  } 
}