{{#markdown}}

## General

### Text

The text within an overflow menu should be direct so users can quickly decide on an action.  Actions that could cause a significant change to the user's data (Delete app, Delete Service, etc), should be separated by a horizontal rule and live below the primary set of actions.

<p class="caption">Example:</h5>
<div>
  <img src="/assets/images/usage/overflow-cards.png" />
</div>

### Positioning

Depending on where the overflow menu is appears within the UI, the caret/arrow can be left or right aligned so the overflow menu is clearly visible.

<p class="caption">Left-aligned overflow menu:</h5>
<div>
  <img src="/assets/images/usage/overflow-menu-left.png" />
</div>
<p class="caption">Right-aligned overflow menu:</h5>
<div>
  <img src="/assets/images/usage/overflow-menu-right.png" />
</div>


## Usage

### Overflow menu in Detail Page Header

<p class="caption">Example:</h5>

### Overflow menu in Cards

Due to the space constraints, it is often not possible to contain all relevent actions to manipulate an object within the card. An overflow menu may be used to present additional menu options that directly relate to the card.

<p class="caption">Example:</h5>
<div>
  <img src="/assets/images/usage/overflow-cards-2.png" />
</div>

{{/markdown}}
