{{#markdown}}

## Structure

<div class="view__section">

<div class="view__half">

### Basics

The overflow menu should always have a width of 180px / 11.25. The height of an overflow menu is determined by the amount of content in the menu. The overflow menu icon can be found on the <a href="https://pages.github.ibm.com/Bluemix/bluemix-icons/">Bluemix Icons</a> page.

**Overflow menu height: varies based on content**
**Overflow menu width: 180px / 11.25em**
**Line height: 32px / 2em**
**Dividing Line border: 1px**
**Dividing Line color: #5A6872**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Overflow_menu_2px_640(1).png">
<img src="/assets/images/Overflow_menu_2px_640.png">
</picture>
<p class="caption">Overflow Menu | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

### States

Open overflow menus have a hover state, indicated by a color change. All hover states should be #5AAAFA unless the option the user is hovering over cannot be undone, in which case the color is #FF5050. Menu option text color changes during a hover state.

**Regular hover color: #5AAAFA**
**Warning hover color: #FF5050**
**Text hover color: #152934**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Overflow_menu_States_2px_640.png">
<img src="/assets/images/Overflow_menu_States_2px_640(1).png">
</picture>
<p class="caption">Overflow Menu States | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding

Internally there must be 16px / 1em of space between the menu text and sides of the overflow menu.

**Internal Padding: 16px / 1em**
**Padding between menu icon and overflow menu: 8px / .5em**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Overflow_menu_Padding_2px_640.png">
<img src="/assets/images/Overflow_menu_Padding_2px_640(1).png">
</picture>
<p class="caption">Overflow Menu Padding | units in px / em</p>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Overflow menu text should be set in title case with the first letter of each significant word capitalized. Text should follow the Bluemix Typography font stack for sans-serif.

**Overflow menu font-size: 14px / .875rem**
**Overflow menu font-weight: roman / 400**

</div>

</div>

{{/markdown}}
