{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

The overflow menu should always have a width of 180px / 11.25em. The height of an overflow menu is determined by the amount of content in the menu. The overflow menu icon can be found in the <a class="base-link" href="https://pages.github.ibm.com/Bluemix/bluemix-icons/" target="_blank">Icons repo</a> or on the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography Library</a> page.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/overflow-menu/Overflow_menu_Mobile@2x.png">
    <img src="/assets/images/style/overflow-menu/Overflow_menu_Desktop@2x.png">
    </picture>
    <p class="caption">Overflow menu | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/overflow-menu/light-ui/Overflow_menu_Mobile_Light@2x.png">
    <img src="/assets/images/style/overflow-menu/light-ui/Overflow_menu_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Overflow menu | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">180</p>
      <p class="table--light">11.25</p>
    </div>
    <div class="table__row">
      <p>Line height</p>
      <p class="table--light">32</p>
      <p class="table--light">2</p>
    </div>
    <div class="table__row">
      <p>Dividing line border</p>
      <p class="table--light">1</p>
      <p class="table--light">-</p>
    </div>
  </div>

  **Height: varies based on content**

  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Dividing line</p>
          <p class="table--light">#5a6872 <span class="table__swatch--navy-gray-6"></p>
          <p class="table--light">$color__navy-gray-6</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Dividing line</p>
          <p class="table--light">#dfe3e6 <span class="table__swatch--gray-3"></p>
          <p class="table--light">$color__gray-3</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### States

Open overflow menus have a hover state that is indicated by a color change. All hover states should be #5aaafa (Light UI: #3d70b2) unless the option the user is hovering over cannot be undone, in which case the color is #ff5050 (Light UI: #e71d32). Menu option text color changes during a hover state.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/overflow-menu/Overflow_menu_States_Mobile@2x.png">
    <img src="/assets/images/style/overflow-menu/Overflow_menu_States_Desktop@2x.png">
    </picture>
    <p class="caption">Overflow menu states | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/overflow-menu/light-ui/Overflow_Menu_States_Mobile_Light@2x.png">
    <img src="/assets/images/style/overflow-menu/light-ui/Overflow_Menu_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Overflow menu states | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Regular hover color</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
        <div class="table__row">
          <p>Warning hover color</p>
          <p class="table--light">#ff5050 <span class="table__swatch--red-40"></span></p>
          <p class="table--light">$color__red-40</p>
        </div>
        <div class="table__row">
          <p>Text hover color</p>
          <p class="table--light">#152935 <span class="table__swatch--blue-90"></span></p>
          <p class="table--light">$color__blue-90</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Regular hover color</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
        <div class="table__row">
          <p>Warning hover color</p>
          <p class="table--light">#e71d32 <span class="table__swatch--red-50"></span></p>
          <p class="table--light">$color__red-50</p>
        </div>
        <div class="table__row">
          <p>Text hover color</p>
          <p class="table--light">#ffffff <span class="table__swatch--white"></span></p>
          <p class="table--light">$color__white</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Internally, there must be 16px / 1em of space between the menu text and the ssides of the overflow menu.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/overflow-menu/Overflow_menu_Padding_Mobile@2x.png">
    <img src="/assets/images/style/overflow-menu/Overflow_menu_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Overflow menu padding | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/overflow-menu/light-ui/Overflow_Menu_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/overflow-menu/light-ui/Overflow_Menu_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Overflow menu padding | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal padding</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Padding between menu icon and overflow menu</p>
      <p class="table--light">8</p>
      <p class="table--light">0.5</p>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Overflow menu text should be set in title case with the first letter of each significant word capitalized. Text should follow the Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">14</p>
      <p class="table--light">0.875</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
