{{#markdown}}

### Text

- Use text for links rather than graphics or icons.
- Links should be 3 words or less.
- Text should be consistent with the title of the intented destination.
- Use caution with links that are several words long. It is recommended that links are long enough to be understood by the user, but short enough to prevent text wrapping.
- Avoid the term, **Click here**, other links to **here**, or the web address itself.
- Instead, use a meaningful descriptive label for the link, and match the destination site name.

### Visual Styling

- Use consistent visual clickablility cues for links, such as underline, text color, or arrows.
- As a general rule, colors used for link text should be reserved for links.

<div class="examples">
  <div class="do-example">
    <p class="caption"><img src="/assets/images/icons/green-check.png" />Do:</p>
    <img class="do-example__img" src="/assets/images/usage/Links-Good.png" />
  </div>
  <div class="dont-example">
    <p class="caption"><img src="/assets/images/icons/red-x.png" />Don't:</p>
    <img class="dont-example__img" src="/assets/images/usage/Links-bad.png" />
  </div>
</div>

{{/markdown}}
