{{#markdown}}

## Structure



<div class="view__section">

<div class="view__half">

### Basics

Links can be grouped horizontally or vertically and must be underlined.

**Font size: 14px / .875rem**
**Font weight: bold / 700**
**Line height: 24px / 1.5em**
**Space between each link (horizontally): 18px / 2.75em**
**Line height: 24px / 1.5em**

</div>

<div class="view__half">
<picture>
  <source media="(max-width: 550px)" srcset="/assets/images/Link_Groupings-640_2px(2).png">
  <img src="/assets/images/Link_Groupings-640_2px.png">
</picture>
<p class="caption">Horizontal and vertical Link styling</h5>
</div>

</div>



<div class="view__section">

<div class="view__half">

### Link States

Links have three different states, normal, hover, and disabled which are indicated through color change.

- Browser Defined
- Hover: One shade lighter on the IBM Design Langauge color scale than normal color.
- Disabled: 50% opacity

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Link_States-640_2px.png">
    <img src="/assets/images/Link_States-640px_2px.png">
  </picture>
</div>

</div>



## Typography

<div class="view__section">

<div class="view__full">

Links should be set in title case, with the first letter of each word capitalized. Links should be 3 words or less. Links should follow the Bluemix Typography font stack for sans-serif.

</div>

</div>

{{/markdown}}
