{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

Links can be grouped horizontally or vertically and must be <span style="font-weight:bold;">underlined.</span>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/Link_Groupings_Mobile@2x.png">
      <img src="/assets/images/style/links/Link_Groupings_Desktop@2x.png">
    </picture>
    <p class="caption">Horizontal and vertical Link styling</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/light-ui/Links_Groupings_Mobile_Light@2x.png">
      <img src="/assets/images/style/links/light-ui/Links_Groupings_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Horizontal and vertical Link styling</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Line height</p>
      <p class="table--light">24</p>
      <p class="table--light">1.5</p>
    </div>
    <div class="table__row">
      <p>Padding between each link (horizontally)</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Link states

Links have three different states: normal, hover, and disabled, each are indicated by change in color.


<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Normal</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color_blue-30</p>
        </div>
        <div class="table__row">
          <p>Hover</p>
          <p class="table--light">#7cc7ff <span class="table__swatch--blue-20"></span></p>
          <p class="table--light">$color__blue-20</p>
        </div>
        <div class="table__row">
          <p>Disabled</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span><br>at 50% opacity</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Normal</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
        <div class="table__row">
          <p>Hover</p>
          <p class="table--light">#5596e6 <span class="table__swatch--blue-40"></span></p>
          <p class="table--light">$color__blue-40</p>
        </div>
        <div class="table__row">
          <p>Disabled</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span><br>at 50% opacity</p>
          <p class="table--light">$color__blue-51</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/Link_States_Mobile@2x.png">
      <img src="/assets/images/style/links/Link_States_Desktop@2x.png">
    </picture>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/light-ui/Links_Mobile_Light@2x.png">
      <img src="/assets/images/style/links/light-ui/Links_Desktop_Light@2x.png">
    </picture>
  </div>
</div>

</div>

</div>



## Typography

<div class="view__section">

<div class="view__full">

Links should be set in title case, with the first letter of each word capitalized. Links should not exceed more than 3 words. Links should follow the typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Link text</p>
      <p class="table--light">14</p>
      <p class="table--light">.875</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Link text</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
