{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__half">

### Basics

Links can be grouped horizontally or vertically and must be underlined.

**Line height: 24px / 1.5em**
**Padding between each link (horizontally): 18px / 2.75em**
**Line height: 24px / 1.5em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/Link_Groupings_Mobile@2x.png">
      <img src="/assets/images/style/links/Link_Groupings_Desktop@2x.png">
    </picture>
    <p class="caption">Horizontal and vertical Link styling</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/light-ui/Links_Groupings_Mobile_Light@2x.png">
      <img src="/assets/images/style/links/light-ui/Links_Groupings_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Horizontal and vertical Link styling</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Link States

Links have three different states, normal, hover, and disabled which are indicated by change in color.

- Browser Defined
- Hover: One shade lighter on the IBM Design Langauge color scale than normal color.
- Disabled: 50% opacity

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/Link_States_Mobile@2x.png">
      <img src="/assets/images/style/links/Link_States_Desktop@2x.png">
    </picture>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/links/light-ui/Links_Mobile_Light@2x.png">
      <img src="/assets/images/style/links/light-ui/Links_Desktop_Light@2x.png">
    </picture>
  </div>
</div>

</div>



## Typography

<div class="view__section">

<div class="view__full">

Links should be set in title case, with the first letter of each word capitalized. Links should not exceed more than 3 words. Links should follow the Bluemix Typography font stack for sans-serif.

**Font size: 14px / .875rem**
**Font weight: bold / 700**

</div>

</div>

{{/markdown}}
