<p class="main">This section covers the approved action labels and idioms for use in the Bluemix UI and documentation. Users rely on consistent labels for common actions to predict how to interact with an interface. Idioms are expressions that have a meaning different from the meaning of each word in the expression.</p>

<p>This section is a living document. When new terms are introduced, they'll be added here. To submit new terms, go to <a class="base-link" href="https://releaseblueprints.ibm.com/display/CLOUDOE/Proposed+idioms+and+abbreviations+for+Bluemix">Proposed idioms and abbreviations for Bluemix</a>.</p>
<p class="pb0">If you're looking for the product glossary, go to <a class="base-link" href="https://new-console.ng.bluemix.net/docs/overview/glossary/index.html">Glossary terms for Bluemix</a>.</p>

<ul class="glossary__side-nav">
  <li><a href="#glossary#A" class="glossary__side-nav--link">A</a></li>
  <li><a href="#glossary#B" class="glossary__side-nav--link">B</a></li>
  <li><a href="#glossary#C" class="glossary__side-nav--link">C</a></li>
  <li><a href="#glossary#D" class="glossary__side-nav--link">D</a></li>
  <li><a href="#glossary#E" class="glossary__side-nav--link">E</a></li>
  <li><a href="#glossary#F" class="glossary__side-nav--link">F</a></li>
  <li><a href="#glossary#G" class="glossary__side-nav--link">G</a></li>
  <li><a href="#glossary#H" class="glossary__side-nav--link">H</a></li>
  <li><a href="#glossary#I" class="glossary__side-nav--link">I</a></li>
  <li><a href="#glossary#L" class="glossary__side-nav--link">L</a></li>
  <li><a href="#glossary#M" class="glossary__side-nav--link">M</a></li>
  <li><a href="#glossary#N" class="glossary__side-nav--link">N</a></li>
  <li><a href="#glossary#O" class="glossary__side-nav--link">O</a></li>
  <li><a href="#glossary#P" class="glossary__side-nav--link">P</a></li>
  <li><a href="#glossary#R" class="glossary__side-nav--link">R</a></li>
  <li><a href="#glossary#S" class="glossary__side-nav--link">S</a></li>
  <li><a href="#glossary#T" class="glossary__side-nav--link">T</a></li>
  <li><a href="#glossary#U" class="glossary__side-nav--link">U</a></li>
  <li><a href="#glossary#V" class="glossary__side-nav--link">V</a></li>
  <li><a href="#glossary#W" class="glossary__side-nav--link">W</a></li>
</ul>

{{#each glossary as |item|}}

<img class="glossary-letter__img" src="/assets/images/content-guide/Letters/{{{@key}}}.png" id="glossary#{{@key}}" alt={{@key}} />

<div class="glossary-letter__container">

  {{#if item.common-actions}}

  <h2 class="glossary-letter__section-heading">COMMON ACTIONS</h2>

  {{#each item.common-actions}}

  <div class="glossary-letter__word">

  <h5 id={{this.hash}} class="glossary-letter__word--heading">{{title}}</h5>
  <p class="glossary-letter__word--desc">{{desc}}</p>
  {{#if caption}}
  <span class="glossary-letter__word--caption">{{{caption}}}</span>
  {{/if}}

  </div>

  {{/each}}

  {{/if}}

  {{#if item.idioms}}

  <h2 class="glossary-letter__section-heading">IDIOMS</h2>

  {{#each item.idioms}}

  <div class="glossary-letter__word">

  <h5 id={{this.hash}} class="glossary-letter__word--heading">{{title}}</h5>
  <p class="glossary-letter__word--desc">{{desc}}</p>
  {{#if caption}}
  <span class="glossary-letter__word--caption">{{{caption}}}</span>
  {{/if}}

  </div>

  {{/each}}

  {{/if}}

</div>

{{/each}}
