<p class="main">
  <span class="blue-30">Iconography</span> uses images and symbols to visually represent an object. They communicate a message, and should be simple, distinct, and informative. Icons should be used sparingly throughout the product to provide clarity and reduce cognitive load on users.
</p>

{{#markdown}}

## Resources
You can find the source file for the Bluemix icon library within the <a class="base-link" href="https://github.ibm.com/Bluemix/design-kit">Bluemix Design Kit.</a>


<svg class="icon-blue icon-med"><use xlink:href="/assets/sprite.svg#common--link"></use></svg>

<a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-icons" target="_blank">Bluemix Icons GitHub Repo</a>
<a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank">Bluemix Icon Library</a>
<a class="base-link" href="https://releaseblueprints.ibm.com/display/CLOUDOE/Master+Icon+List" target="_blank">Service Provider Master Icon List</a>
<a class="base-link" href="http://www.ibm.com/design/language/resources/icon-library/">IBM Design Language Icon Library</a>


## Visual Usage

### Sizing

Bluemix uses a standard set for icon sizes. Icons from the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography Library</a> should always be used at one of the specified sizes in the table below. The shape of the icon itself does not have to completely fill the entire square artboard. However, the icon should optically fill the space.

24 x 24 px is the default svg size for the library.

<div class="table mb2 max-width-45">
  <div class="table__header">
    <p>NAME</p>
    <p>DIMENSIONS</p>
  </div>
  <div class="table__row">
    <p>Large (48)</p>
    <p>48px x 48px</p>
  </div>
  <div class="table__row">
    <p>Medium (32)</p>
    <p>32px x 32px</p>
  </div>
  <div class="table__row">
    <p>Small (24)</p>
    <p>24px x 24px</p>
  </div>
  <div class="table__row">
    <p>Glyph (16)</p>
    <p>16px x 16px</p>
  </div>
</div>

### Background and Internal Padding

All icons should be on a transparent background and centered within the artboard boundaries at one of the below standard dimensions. This means that icons could have extra internal horizontal or vertical space.

**Background: 100% Transparent**
**Artboard Alignment: Centered**

<div class="my2">
  <img src="../assets/images/iconography-page/icongraphy_background.png" alt="" />
</div>

### External Padding

Include enough padding around the icons so that no matter the icon size, it will always meet the standand touch affordance of 44 pixels or higher.

**Target Area: 44 px or higher**

<div class="my2">
  <img src="../assets/images/iconography-page/icongraphy_external-padding.png" alt="" />
</div>

### Color

Interactive UI Icons need to pass the same color contrast ratio as typography at a 4.5:1 ratio. UI icons are always a solid color. The color of the icon should depend on the  importance of the icon's action. If it is a primary action then the icon should be Blue 30. If the icon is a secondary or supplementary action, then icon color should be a neutral color, like Navy-Gray-8. Blue should always be used with an icon to show that it is interactive. For secondary UI Icons the hover state should be blue to help emphasize that it is interactive.

**Exception:** There is an exception to both the Blue and Neutral color rules. Certain icons, such as status or notification icons, can inherit their parent color. For example, a warning icon is yellow because warning notifications are yellow.

**Primary UI Icon Color State**

- Normal: Blue 30 #5aaafa
- Hover: Blue 20 #7cc7ff
- Disabled: @ 50% opacity

**Secondary UI Icon Color State**

- Normal: Navy-Gray-8 #dfe6eb
- Hover: Blue 30 #5aaafa
- Disabled: @ 50% opacity

<div class="my2">
  <img src="../assets/images/iconography-page/icongraphy_color.png" alt="" />
</div>

### Weight

Icons of the same size should have the same visual weight. One icon should not look heavier or lighter than another icon of the same size. Most Bluemix UI Icons are drawn with a two pixel stroke.

Be mindful when resizing icons, make sure that the 2px stroke does not increase or decrease causing icons to look uneven. When scaling icons you should always start each icon at the same base size (preferrably the default of 24px).

**Glyphs** or 16 pixel icons, should always be a filled icon. This adds visual weight to the icon, allowing it to maintain its proper emphasis and stay legible. Fine stroke weights can disappear or break at the glyph size.

<div class="examples">
  <div class="do-example">
    <p class="caption"><img src="/assets/images/icons/green-check.png" /></p>
    <img class="do-example__img" src="../assets/images/iconography-page/icongraphy_weight-good.png" alt="" />
  </div>
  <div class="dont-example">
    <p class="caption"><img src="/assets/images/icons/red-x.png" /></p>
    <img class="dont-example__img" src="../assets/images/iconography-page/icongraphy_weight-bad.png" alt="" />
  </div>
</div>

### Pixel Grid

When drawing or re-sizing icons make sure the vector always aligns to the base pixel grid. This insures pixel clarity and crispness on all screen ratios. The x and y coordinates of icons should never contain decimals.


## Code Usage

Access the <a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-icons" target="_blank">GitHub Repo</a> for Bluemix Icons.

The main file here is `sprite.svg`, which contains an SVG sprite (every SVG included in a single file within a `<defs>` tag inside of a `<symbol>`). We're using the <a class="base-link" href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use" target="_blank">SVG</a> to access them.

The `sprite.svg` file can be used **locally** or **dynamically** from <a class="base-link" href="https://github.ibm.com/Bluemix/bluemix.common" target="_blank">Bluemix Common.</a>

### HTML

```html

<svg class="icon--add">
  <use xlink:href="{LOCAL_OR_DYNAMIC_PATH}/sprite.svg#service--add-filled"></use>
</svg>
```


### Styling
In this usage, you style the SVG in CSS. Make sure to give it a width and height (default is 100% of parent). Some icons are colored while others are black by default. You can edit the fill to change this. See the <a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank" />reference page</a> for a guide with what `xlink:href` to use.

To edit these icons in CSS, add your own class to the `svg`.

_For example:_


```css

.icon--add {
  fill: #cc6699; // additional styling
}
```

## Troubleshooting and Development Use

Please refer to the guidelines in the <a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-icons" target="_blank">Bluemix Icons GitHub Repo</a> if you experience any problems using the icons.

{{/markdown}}
