{{#markdown}}

## UI Icons

UI Icons are used in the product to present common actions and commands. All icons below are rendered in their native state as 24 pixel svgs. Basic styling should be done within the svg code.

{{/markdown}}

<div class="bx--search search--light max-width-45 mt1" role="search">
  <svg class="bx--search__icon--magnifier">
    <use  xlink:href="#common--search"></use>
  </svg>
  <label for="search__input" class="bx--search__label">Search</label>
  <input type="search" class="bx--search__input icon-search mr2" id="search__input" placeholder="Search Icons">
</div>

<div class="icon-container max-width-45">
  {{#each icons}}
  <div class="icon" data-tags="{{this.name}}">
    <div class="icon__card">
      <svg>
        <use xlink:href="/assets/sprite.svg#{{this.id}}"></use>
      </svg>
      <div class="icon__actions">
        <button type="button" class="icon__button clipboard-button">Copy Code</button>
        <button type="button" class="icon__button">
          <a href="/download/{{this.tags}}/{{this.name}}">Download</a>
        </button>
      </div>
    </div>
    <h5>{{this.name}}</h5>
    <span>#{{this.id}}</span>
  </div>
  {{/each}}
</div>
