<p class="main">
  <span class="blue-30">Iconography</span> uses images and symbols to visually represent an object. They communicate a message, and should be simple, distinct, and informative. Icons should be used sparingly throughout the product to provide clarity and reduce cognitive load on users.
</p>

{{#markdown}}

## Resources
You can find the source file for the Bluemix icon library within the <a class="base-link" href="https://github.ibm.com/Bluemix/design-kit">Bluemix Design Kit.</a>


<svg class="icon-blue icon-med"><use xlink:href="/assets/sprite.svg#common--link"></use></svg>

<a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-icons" target="_blank">Bluemix Icons GitHub Repo</a>
<a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank">Bluemix Icon Library</a>
<a class="base-link" href="https://releaseblueprints.ibm.com/display/CLOUDOE/Master+Icon+List" target="_blank">Service Provider Master Icon List</a>
<a class="base-link" href="http://www.ibm.com/design/language/resources/icon-library/">IBM Design Language Icon Library</a>


## Visual Usage

### Sizing

Icons come in 2 sizes: `24px` and `16px`.
While most icons occupy a square artboard, some icons may occupy a rectangular artboard where the width or height of the icons is either `24px` or `16px`.

In most cases, you can use icons at their original sizes.

<div class="table mb2 max-width-45">
  <div class="table__header">
    <p>NAME</p>
    <p>DIMENSIONS</p>
  </div>
  <div class="table__row">
    <p>Standard (24)</p>
    <p>24px x 24px</p>
  </div>
  <div class="table__row">
    <p>Glyph (16)</p>
    <p>16px x 16px</p>
  </div>
</div>

### Background

All icons should be on a transparent background and centered within the artboard boundaries at one of the below standard dimensions.

- Background: 100% Transparent

<div class="my2">
  <img src="../assets/images/iconography-page/icons-1.png" alt="" />
</div>

### Padding

When **creating icons**: 

- Do not add internal padding with Sketch or Illustrator. 
- If the icon needs padding, developers can add this with CSS.

When **using icons**: 

- All touch targets need to be 44px or higher. With that said, a developer can add padding to a touch target with CSS to meet the 44px requirement.

<div class="my2">
  <img src="../assets/images/iconography-page/icons-2.png" alt="" />
</div>

### Color

Interactive UI Icons need to pass the same color contrast ratio as typography at a 4.5:1 ratio. UI icons are always a solid color. The color of the icon should depend on the importance of the icon's action. 

If it is a **primary action** then the icon should be: 

- <span class="table__swatch--blue-30"></span> **Blue 30** for the dark UI 
- <span class="table__swatch--blue-51"></span> **Blue 51** for the light UI 

If the icon is a **secondary** or **supplementary action**, then the icon color should be: 

- <span class="table__swatch--navy-gray-8"></span> Navy-Gray-8 for the dark UI
- <span class="table__swatch--navy-gray-7"></span> Navy-Gray-7 for the light UI. 

Blue should always be used with an icon to show that it is interactive. For secondary UI Icons the hover state should be blue to help emphasize that it is interactive.

**Exception**: There is an exception to both the Blue and Neutral color rules. Certain icons, such as status or notification icons, can inherit their parent color. For example, a warning icon is yellow because warning notifications are yellow.

<div class="table mb2 max-width-45">
  <div class="table__header">
    <p> </p>
    <p>NORMAL</p>
    <p>HOVER</p>
    <p>DISABLED</p>
  </div>
  <div class="table__row dark">
    <p class="table__header--side">PRIMARY (DARK)</p>
    <p><span class="table__swatch--blue-30"></span> Blue 30</p>
    <p><span class="table__swatch--blue-20"></span> Blue 20</p>
    <p>@ 50% opacity</p>
  </div>
  <div class="table__row dark">
    <p class="table__header--side">SECONDARY (DARK)</p>
    <p><span class="table__swatch--navy-gray-8"></span> Navy-Gray-8</p>
    <p><span class="table__swatch--blue-30"></span> Blue 30</p>
    <p>@ 50% opacity</p>
  </div>
  <div class="table__row">
    <p class="table__header--side">PRIMARY (LIGHT)</p>
    <p><span class="table__swatch--blue-51"></span> Blue 51</p>
    <p><span class="table__swatch--blue-40"></span> Blue 40</p>
    <p>@ 50% opacity</p>
  </div>
  <div class="table__row">
    <p class="table__header--side">SECONDARY (LIGHT)</p>
    <p><span class="table__swatch--navy-gray-7"></span> Navy-Gray-7</p>
    <p><span class="table__swatch--blue-51"></span> Blue 51</p>
    <p>@ 50% opacity</p>
  </div>
</div>

<div class="small-img">
  <img src="/assets/images/iconography-page/icons-3.png" alt="" />
</div>

### Weight

Icons of the same size should have the same visual weight. One icon should not look heavier or lighter than another icon of the same size. Most Bluemix UI Icons are drawn with a two pixel stroke.

Be mindful when resizing icons, make sure that the 2px stroke does not increase or decrease causing icons to look uneven. When scaling icons you should always start each icon at the same base size (preferrably the default of 24px).

Glyphs or 16 pixel icons, should always be a filled icon. This adds visual weight to the icon, allowing it to maintain its proper emphasis and stay legible. Fine stroke weights can disappear or break at the glyph size.

<div class="examples">
  <div class="do-example">
    <p class="caption"><img src="/assets/images/icons/green-check.png" /></p>
    <img class="do-example__img" src="../assets/images/iconography-page/icons-4.png" alt="" />
  </div>
  <div class="dont-example">
    <p class="caption"><img src="/assets/images/icons/red-x.png" /></p>
    <img class="dont-example__img" src="../assets/images/iconography-page/icons-5.png" alt="" />
  </div>
</div>

### Pixel Grid

When drawing or re-sizing icons make sure the vector always aligns to the base pixel grid. This insures pixel clarity and crispness on all screen ratios. The x and y coordinates of icons should never contain decimals.


## Developer Usage

The following guidelines are for developers who are using <a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-icons" target="_blank">bluemix-icons</a>.

### Using SVG file from Static Assets

You can use **sprite.svg** or **bluemix-icons.svg** by serving it as a static asset (like an image file) and use it with the following HTML:

```html
  <!-- From static assets  -->
<svg>
  <use xlink:href="path/to/static-assets/img/sprite.svg#common--arrows"></use>
</svg>
```

### Using SVG file from Bluemix.Common

<a class="base-link" href="https://github.ibm.com/Bluemix/Bluemix.Common">Bluemix.Common</a> provides an endpoint to access their currently installed version of bluemix-icons. Using the icons in your HTML will look like this.

```html
  <!-- From Bluemix.Common -->
<svg>
  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--arrows"></use>
</svg>
```

**Important notes about Bluemix.Common**:
- If you need more control over how the polyfill is invoked, use bluemix-icons locally as a static asset.
- The polyfill acts directly on the window object, so it shouldn't need to be re-imported if you are using the header JavaScript from Bluemix.Common.

### Main files

Bluemix Icons ships with two main SVG files that contain different sets of external SVG sprite files:

<div class="table mb2 max-width-45">
  <div class="table__header">
    <p>FILENAME</p>
    <p>DESCRIPTION</p>
    <p>SUPPORTED</p>
    <p>API</p>
  </div>
  <div class="table__row">
    <p>bluemix-icons.svg</p>
    <p class="small-text">Contains current icons</p>
    <p class="small-text"><code>3.x</code> and newer</p>
    <p class="small-text">/api/v5/files/bluemix-icons.svg</p>
  </div>
  <div class="table__row">
    <p>bluemix-icons.json</p>
    <p class="small-text">JSON file created from bluemix-icons.svg</p>
    <p class="small-text"><code>3.x</code> and newer</p>
    <p> </p>
  </div>
  <div class="table__row">
    <p>sprite.svg</p>
    <p class="small-text">legacy SVG sprite</p>
    <p class="small-text"><code>3.x</code> and older</p>
    <p class="small-text">/api/v4/files/sprite.svg</p>
  </div>
  <div class="table__row">
    <p>icons.json</p>
    <p class="small-text">legacy JSON file created from sprite.svg</p>
    <p class="small-text"><code>3.x</code> and older</p>
    <p> </p>
  </div>
</div>

### Styling Icons with CSS

**Note:** The icons use original color by default, which should be black. Colors can be changed with CSS.

Some icons are colored while others are black by default. You can edit the fill to change this. See the temporary <a href="https://pages.github.ibm.com/Bluemix/bluemix-icons/" class="base-link">reference page</a> for a guide with what `xlink:href` to use.

To edit these icons in CSS, add your own class to the `<svg>`. For example:

**SCSS:**

```css
  .icon--add {
  fill: #cc6699;
}
```

**HTML:**

```html
  <svg class="icon--add">
  <use xlink:href="path/to/sprite.svg#service--add-filled"></use>
</svg>
```

### Accessibility

For screen reader accessibility, use `<title>` element and `aria-labelledby` attribute.

```html
  <svg class="icon--add" aria-labelledby="add">
  <title id="add">Add a new service</title>
  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--add"></use>
</svg>
```

- The `aria-labelledby` attribute will reference the `id` attribute in the the `<title>` element. Make sure that you do not duplicate this `id`.
- The `<title>` element will be read by the screen reader to the user so it should describe it's purpose.

{{/markdown}}
