{{#markdown}}

## Icon library

{{/markdown}}

<p class="caption pt2 pb1">Version: {{package.dependencies.[@console/bluemix-icons]}}</p>
<div class="bx--search search--light max-width-45 mt1" role="search">
  <svg class="bx--search__icon--magnifier">
    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#search"></use>
  </svg>
  <label for="search__input" class="bx--search__label">Search</label>
  <input type="search" class="bx--search__input icon-search mr2" id="search__input">
</div>

<div class="icon-container max-width-45">
  {{#each bluemix-icons}}
  <div class="icon" data-tags="{{this.name}}">
    <div class="icon__card">
      <svg width="{{this.width}}" height="{{this.height}}">
        <use xlink:href="/assets/bluemix-icons.svg#{{this.name}}"></use>
      </svg>
      <div class="icon__actions">
        <button type="button" class="icon__button clipboard-button">Copy Code</button>
        <a class="icon__button icon__button--link" href="/download/{{this.name}}">Download</a>
      </div>
    </div>
    <h5>{{this.name}}</h5>
    <span>#{{this.id}}</span>
  </div>
  {{/each}}
</div>
