{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section mb1">

<div class="view__full">

### Basics

The width of detail headers extends across the entire browser, therefore the width of the detail page header is determined by the width of the browser. Please refer to the <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/dropdown.html" target="_blank">Dropdown</a> section for additional guidelines on styling dropdown menus.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_Mobile@2x.png">
    <img src="/assets/images/style/detail-page-header/Detail_Page_Mobile@2x.png">
    </picture>
    <p class="caption">Detail page mobile header | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Mobile_Light@2x.png">
    <img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Detail page mobile header | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Desktop and tablet title height</p>
      <p class="table--light">148px</p>
      <p class="table--light">9.25rem</p>
    </div>
    <div class="table__row">
      <p>Scrolling title height</p>
      <p class="table--light">64px</p>
      <p class="table--light">4rem</p>
    </div>
    <div class="table__row">
      <p>Mobile title height</p>
      <p class="table--light">135px</p>
      <p class="table--light">8.438rem</p>
    </div>
    <div class="table__row">
      <p>Tab menu height</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
  </div>
</div>

**Width: varies based on browser size**

</div>

</div>

<div class="view__section">

<div class="view__full">

<div class="overlay-image width-full">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Desktop@2x.png">
    <a href="/assets/images/style/detail-page-header/Detail_Page_Desktop@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Desktop_Light@2x.png">
    <a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Detail page header | units in px / rem</p>

<div class="overlay-image width-full">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Scrolling@2x.png">
    <a href="/assets/images/style/detail-page-header/Detail_Page_Scrolling@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Desktop_Light@2x.png">
    <a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Detail page header for scrolling | units in px / rem</p>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Each of the three detail page header variations have very specific padding requirements. The back arrow icon can be found in the <a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-icons/" target="_blank">Icon repo</a> or the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Icon library</a>.

### Detail page header for desktop and tablet

<div class="overlay-image overlay-image--full">
<div class="style-img--dark">
  <img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Padding_Desktop@2x.png">
  <a href="/assets/images/style/detail-page-header/Detail_Page_Padding_Desktop@2x.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>
<div class="style-img--light">
  <img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Padding_Desktop_Light@2x.png">
  <a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Padding_Desktop_Light@2x.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>
</div>
<p class="caption">Details page header padding | units in px / em</p>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between top of header and breadcrumb</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Padding between breadcrumb and header title </p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between header title and tab options</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between tab options and bottom of header</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between left side of header and internal elements</p>
      <p class="table--light">68px</p>
      <p class="table--light">4.25rem</p>
    </div>
    <div class="table__row">
      <p>Padding between back arrow icon and breadcrumb</p>
      <p class="table--light">8px</p>
      <p class="table--light">.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between tabs</p>
      <p class="table--light">48px</p>
      <p class="table--light">3rem</p>
    </div>
  </div>
</div>

### Detail page header for scrolling

<div class="overlay-image overlay-image--full">
<div class="style-img--dark"><img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Scrolling_Padding_Desktop@2x.png">
<a href="/assets/images/style/detail-page-header/Detail_Page_Scrolling_Padding_Desktop@2x.png" target="_blank" class="overlay">
<img src="/assets/images/icons/ibm-eye.png" />
<p>View at 100%</p>
</a></d>
</div>
<div class="style-img--light"><img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Padding_Desktop_Light@2x.png">
<a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Padding_Desktop_Light@2x.png" target="_blank" class="overlay">
<img src="/assets/images/icons/ibm-eye.png" />
<p>View at 100%</p>
</a></d>
</div>
</div>
<p class="caption">Detail page header padding for scrolling | units in px / em</p>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between top/bottom of header and internal elements</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between left side of header and internal elements</p>
      <p class="table--light">68px</p>
      <p class="table--light">4.25rem</p>
    </div>
  </div>
</div>

### Detail page header for mobile

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_Padding_Mobile@2x.png">
    <img src="/assets/images/style/detail-page-header/Detail_Page_Padding_Mobile@2x.png">
    </picture>
    <p class="caption">Detail page mobile header padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Padding_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Detail page mobile header padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between top of header and title</p>
      <p class="table--light">22px</p>
      <p class="table--light">1.375rem</p>
    </div>
    <div class="table__row">
      <p>Padding between title and tab menu</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between tab menu and bottom of header</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between left side and internal elements</p>
      <p class="table--light">20px</p>
      <p class="table--light">1.25rem</p>
    </div>
    <div class="table__row">
      <p>Padding between back arrow icon and divider</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between divider and title</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### States
The detail page header for mobile uses a tab menu that has two states, open and closed. Additionally, when the menu is open there is a hover state for when users mouse over a tab menu option. Please refer to the <a class="base-link" href= "http://design-system.stage1.mybluemix.net/components/dropdown.html" target="_blank">Dropdown</a> section for additional guidelines on styling dropdown menus.

<div class="style-img">
<div class="style-img--dark">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_OpenState_Mobile@2x.png">
<img src="/assets/images/style/detail-page-header/Detail_Page_OpenState_Mobile@2x.png">
</picture>
<p class="caption">Mobile detail page header open tab menu</p>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_OpenState_Hover_Mobile@2x.png">
<img src="/assets/images/style/detail-page-header/Detail_Page_OpenState_Hover_Mobile@2x.png">
</picture>
<p class="caption">Mobile detail page header open tab menu with hover</p>
</div>
<div class="style-img--light">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Open_Mobile_Light@2x.png">
<img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Open_Mobile_Light@2x.png">
</picture>
<p class="caption">Mobile detail page header open tab menu</p>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Selected-Open_Mobile_Light@2x.png">
<img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Selected-Open_Mobile_Light@2x.png">
</picture>
<p class="caption">Mobile detail page header open tab menu with hover</p>
</div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Detail page titles, breadcrumb titles, and tab labels should all be set in title case with the first letter of each word capitalized. Text should follow the Typography font stack for sans-serif.

### Detail Page Header for desktop and tablet

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Breadcrumb title</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Tab label</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
    <div class="table__row">
      <p>Breadcrumb title</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Tab label</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
  </div>
</div>

### Detail page header for scrollling

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">26px</p>
      <p class="table--light">1.625rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
  </div>
</div>

### Detail page header for mobile

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">23px</p>
      <p class="table--light">1.438rem</p>
    </div>
    <div class="table__row">
      <p>Current tab</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Tab menu</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
    <div class="table__row">
      <p>Current tab</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Tab menu</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
