{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section mb1">

<div class="view__half">

### Basics

The width of detail headers extends across the entire browser, therefore the width of the detail page header is determined by the width of the browser.
When a user first comes to a Detail Page the header should be full height of 148px / 9.25em, when the user starts to scroll down the page it should shrink to 64px / 4em. The header is sticky to the top of the page.
On mobile the height of the header bar stays consistant at 135px / 8.438em. Please refer to the <a  href= "http://design-system.stage1.mybluemix.net/components/dropdown.html">dropdown</a> section for additional guidelines on styling dropdown menus.

Detail Page Header for desktop and tablet:

**Detail Page Title height: 148px / 9.25em**
**Detail Page Title width: varies based on browser size**

Detail Page Header for scrolling:

**Detail Page Title height for scrolling: 64px / 4em**
**Detail Page Title width: varies based on browser size**

Detail Page Header for mobile:

**Detail Page Title height: 135px / 8.438em**
**Tab menu height: 40px / 2.5em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_Mobile@2x.png">
    <img src="/assets/images/style/detail-page-header/Detail_Page_Mobile@2x.png">
    </picture>
    <p class="caption">Detail Page Mobile Header | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Mobile_Light@2x.png">
    <img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Detail Page Mobile Header | units in px / em</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__full">

<div class="overlay-image width-full">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Desktop@2x.png">
    <a href="/assets/images/style/detail-page-header/Detail_Page_Desktop@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Desktop_Light@2x.png">
    <a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Detail Page Header | units in px / em</p>

<div class="overlay-image width-full">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Scrolling@2x.png">
    <a href="/assets/images/style/detail-page-header/Detail_Page_Scrolling@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Desktop_Light@2x.png">
    <a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Detail Page Header for Scrolling | units in px / em</p>

</div>

</div>

<div class="view__section mb0">

<div class="view__half">

### Padding

Each of the three detail page header variations have very specific padding requirements. Please see below for the details. The back arrow icon can be found in the <a href="https://pages.github.ibm.com/bluemix/bluemix-icons/"> Bluemix Icons Repo</a>.

Detail Page Header for desktop and tablet:

**Padding between top of header and Breadcrumb Title: 32px / 2em**
**Padding between Breadcrumb Title and Detail Page Title: 16px / 1em**
**Padding between Detail Page Title and Tab Options: 24px / 1.5em**
**Tab Options and bottom of header: 16px / 1em**
**Padding between left side of header and internal elements: 68 px / 4.25em**
**Padding between Back Arrow Icon and Breadcrumb Title: 8px / .5em**
**Padding between tabs: 48px/ 3em**

Detail Page Header for scrolling:

**Padding between top and bottom of header and internal elements: 16px / 1em**
**Padding between left side of header and internal elements: 68 px / 4.25em**

Detail Page Header for mobile:

**Padding between top of header and Detail Pager Title: 22px / 1.375em**
**Padding between Detail Page Title and Tab Menu: 16px / 1em**
**Padding between Tab Menu and bottom of header: 24px / 1.5em**
**Padding between left side of header and internal elements: 20 px / 1.25em**
**Padding between Back Arrow Icon and divider: 16px / 1em**
**Padding between divider and Detail Page Title: 16px / 1em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_Padding_Mobile@2x.png">
    <img src="/assets/images/style/detail-page-header/Detail_Page_Padding_Mobile@2x.png">
    </picture>
    <p class="caption">Detail Page Mobile Header Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Padding_Mobile_Light@2x.png">
    </picture>
    <p class="caption">Detail Page Mobile Header Padding | units in px / em</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__full">

<div class="overlay-image overlay-image--full">
<div class="style-img--dark">
  <img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Padding_Desktop@2x.png">
  <a href="/assets/images/style/detail-page-header/Detail_Page_Padding_Desktop@2x.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>
<div class="style-img--light">
  <img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Padding_Desktop_Light@2x.png">
  <a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Large_Padding_Desktop_Light@2x.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>
</div>
<p class="caption">Details Page Header Padding | units in px / em</p>

<div class="overlay-image overlay-image--full">
<div class="style-img--dark"><img class="thumbnail-img" src="/assets/images/style/detail-page-header/Detail_Page_Scrolling_Padding_Desktop@2x.png">
<a href="/assets/images/style/detail-page-header/Detail_Page_Scrolling_Padding_Desktop@2x.png" target="_blank" class="overlay">
<img src="/assets/images/icons/ibm-eye.png" />
<p>View at 100%</p>
</a></d>
</div>
<div class="style-img--light"><img class="thumbnail-img" src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Padding_Desktop_Light@2x.png">
<a href="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Thin_Padding_Desktop_Light@2x.png" target="_blank" class="overlay">
<img src="/assets/images/icons/ibm-eye.png" />
<p>View at 100%</p>
</a></d>
</div>
</div>
<p class="caption">Detail Page Header Padding for Scrolling | units in px / em</p>

</div>

</div>

<div class="view__section">

<div class="view__half">

### States
The detail page header for mobile uses a tab menu that has two states, open and closed. Additionally when the menu is open there is a hover state for when users mouse over a tab menu option. Please refer to the <a href= "http://design-system.stage1.mybluemix.net/components/dropdown.html">dropdown</a> section for additional guidelines on styling dropdown menus.

</div>

<div class="view__half">

<div class="style-img--dark">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_OpenState_Mobile@2x.png">
<img src="/assets/images/style/detail-page-header/Detail_Page_OpenState_Mobile@2x.png">
</picture>
<p class="caption">Mobile Details Page Header Open Tab Menu</p>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/Detail_Page_OpenState_Hover_Mobile@2x.png">
<img src="/assets/images/style/detail-page-header/Detail_Page_OpenState_Hover_Mobile@2x.png">
</picture>
<p class="caption">Mobile Details Page Header Open Tab Menu with Hover</p>
</div>

<div class="style-img--light">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Open_Mobile_Light@2x.png">
<img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Open_Mobile_Light@2x.png">
</picture>
<p class="caption">Mobile Details Page Header Open Tab Menu</p>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Selected-Open_Mobile_Light@2x.png">
<img src="/assets/images/style/detail-page-header/light-ui/Detail_Page_Header_Selected-Open_Mobile_Light@2x.png">
</picture>
<p class="caption">Mobile Details Page Header Open Tab Menu with Hover</p>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Detail page titles, breadcrumb titles, and tab labels should all be set in title case with the first letter of each word capitalized. Text should follow the Bluemix Typography font stack for sans-serif.

Detail Page Header for desktop and tablet:

**Detail Page Title font-size: 32px / 2em**
**Detail Page Title font-weight: light / 300**
**Breadcrumb Title font-size: 14px / .8765em**
**Breadcrumb Title font-weight: bold / 700**
**Tab Label font-size: 14px / .8765em**
**Tab Label font-weight: bold / 700**

Detail Page Header for scrollling:

**Detail Page Header font-size: 26px / 1.625em**
**Detail Page Header font-weight: light / 300**

Detail Page Header for mobile:

**Detail Page Title font-size: 23px / 1.438em**
**Detail Page Title font-weight: light / 300**
**Current Tab font-size: 14px / .875 em**
**Current Tab font-weight: bold / 700**
**Tab Menu Option Text font-size: 14px / .875em**
**Tab Menu Option Text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
