{{#markdown}}

## Structure
The Detail Page Header appears at the top of the page, and provides context to the content below.

### Animation
The header above the content area extends across the entire viewport. When the user scrolls, the header shrinks to preserve vertical real estate. The title will hide while the tabs persistent along to top of the viewport.

<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img border-color--navy-gray-9" src="/assets/images/usage/components/detail-header-1.png" />
  <a href="/assets/images/usage/components/detail-header-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>



{{/markdown}}
