{{#markdown}}

## Structure
The Detail Page Header appears at the top of the page. It allows users to navigate throughout the views of Bluemix. The header uses <a href="http://design-system.stage1.mybluemix.net/components/tabs.html" target="_blank">Tabs</a> to navigate between views within the same context.

<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/detail-header.png" />
  <a href="/assets/images/usage/detail-header.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>

## Animation

The header above the content area extends across the entire viewport. When the user scrolls, the header shrinks to preserve vertical real estate. The title will hide while the tabs persistent along to top of the viewport.

{{/markdown}}
