{{#markdown}}

## General
The waiting experience is a crucial design oppurtunity. Although the user may not be able to see what's happening in the back-end, we can communicate and provide reassurance that something is happening.

It is best practice to use a loading spinner whenever the wait time is anticipated to be longer than 3 seconds.

Adopted from the <a href="http://www.ibm.com/design/language/framework/animation/introduction">IBM Design Language</a> Animation Library:
&ldquo;The rhythmic oscillations of tape reels in motion got us thinking about a user’s waiting experience. If a user watches search results load, showing the machine at work relays a sense of efficiency. The swift and even balance of the spinning circles indicates that progress is being made.&rdquo;

<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/loading-animation-2.gif" />
  <a href="/assets/images/usage/loading-animation-2.gif" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>

### Size

Loading spinners can be scaled down if the loading experience is contextual to a certain item on the page.

<p class="caption">Example:</h5>
<div class="mb2 bg-navy-gray-1">
  <img src="/assets/images/usage/small-loading-2.gif" />
</div>
<div class="bg-navy-gray-3">
  <img src="/assets/images/usage/small-loading.gif" />
</div>

{{/markdown}}
