{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

There are two types of loading spinners, large and small. The large loading spinner appears with an overlay on top of a whole page of content. The smaller loading spinner is used on its own.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/Loading_Large_Mobile@2x.png">
    <img src="/assets/images/style/loading/Loading_Large_Desktop@2x.png">
    </picture>
    <p class="caption">Large loading spinner | units in px / rem</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/Loading_Small_Mobile@2x.png">
    <img src="/assets/images/style/loading/Loading_Small_Desktop@2x.png">
    </picture>
    <p class="caption">Small loading spinner | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/light-ui/Loading_Large_Mobile_Light@2x.png">
    <img src="/assets/images/style/loading/light-ui/Loading_Large_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Large Loading Spinner | units in px / rem</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/light-ui/Loading_Small__Mobile_Light@2x.png">
    <img src="/assets/images/style/loading/light-ui/Loading_Small_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Small loading spinner | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Large loading spinner height & width</p>
      <p class="table--light">84</p>
      <p class="table--light">5.25</p>
    </div>
    <div class="table__row">
      <p>Small loading spinner height & width</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Large loading spinner</p>
          <p class="table--light">#1cb3a0 <span class="table__swatch--teal-40"></span></p>
          <p class="table--light">$color__teal-40</p>
        </div>
        <div class="table__row">
          <p>Small loading spinner</p>
          <p class="table--light">#8c9ba5 <span class="table__swatch--navy-gray-7"></span></p>
          <p class="table--light">$color__navy-gray-7</p>
        </div>
        <div class="table__row">
          <p>Overlay background (at 75% opacity)</p>
          <p class="table--light">#0f212e <span class="table__swatch--navy-gray-1"></span></p>
          <p class="table--light">$color__navy-gray-1</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Large loading spinner</p>
          <p class="table--light">#6eedd8 <span class="table__swatch--teal-20"></span></p>
          <p class="table--light">$color__teal-20</p>
        </div>
        <div class="table__row">
          <p>Small loading spinner</p>
          <p class="table--light">#8c9ba5 <span class="table__swatch--navy-gray-7"></p>
          <p class="table--light">$color__navy-gray-7</p>
        </div>
        <div class="table__row">
          <p>Overlay background (at 50% opacity)</p>
          <p class="table--light">#0f212e <span class="table__swatch--navy-gray-1"></p>
          <p class="table--light">$color__navy-gray-1</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Placement

The large loading spinner should appear centered over a page or content that it is loading. Please note that the navigation is not included in the page loading overlay. The small loading spinner should be placed to the left of a label.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/Loading_Large_Spacing_Mobile@2x.png">
    <img src="/assets/images/style/loading/Loading_Large_Spacing_Desktop@2x.png">
    </picture>
    <p class="caption">Large loading spinner placement</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/Loading_Large_Context_Desktop@2x.png">
    <img src="/assets/images/style/loading/Loading_Large_Context_Desktop@2x.png">
    </picture>
    <p class="caption">Large loading spinner context</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/Loading_Small_Spacing_Mobile@2x.png">
    <img src="/assets/images/style/loading/Loading_Small_Spacing_Desktop@2x.png">
    </picture>
    <p class="caption">Small loading spinner placement</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/Loading_Small_Context_Mobile@2x.png">
    <img src="/assets/images/style/loading/Loading_Small_Context_Desktop@2x.png">
    </picture>
    <p class="caption">Small loading spinner context</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/light-ui/Loading_Large_Spacing_Mobile_Light@2x.png">
    <img src="/assets/images/style/loading/light-ui/Loading_Large_Spacing_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Large loading spinner placement</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/light-ui/Loading_Overlay_Full_Page_Light@2x.png">
    <img src="/assets/images/style/loading/light-ui/Loading_Overlay_Full_Page_Light@2x.png">
    </picture>
    <p class="caption">Large loading spinner context</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/loading/light-ui/Loading_Small_Spacing__Mobile_Light@2x.png">
    <img src="/assets/images/style/loading/light-ui/Loading_Small_Spacing_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Small loading spinner context</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Large loading spinner</p>
      <p class="table--light">Centered in loading area</p>
      <p class="table--light"></p>
    </div>
    <div class="table__row">
      <p>Small loading spinner</p>
      <p class="table--light">8</p>
      <p class="table--light">0.5</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
