{{#markdown}}

## Structure

<div class="view__section">

<div class="view__half">

### Basics

There are two types of loading spinners, large and small. The large loading spinner appears with an overlay on top of a whole page of content.

**Large Loading Spinner height and width: 84px / 5.25em**
**Large Loading Spinner color: Teal 40 #1CB3A0**
**Overlay background color: #0F212E at 75% opacity**
**Small Loading Spinner height and width: 16px / 1em**
**Small Loading Spinner color: Navy-Gray 7 #8C9BA5**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Loading_Large_2px_640(1).png">
<img src="/assets/images/Loading_Large_2px_640.png">
</picture>
<p class="caption">Large Loading Spinner | units in px / em</p>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Loading_Small_2px_640(1).png">
<img src="/assets/images/Loading_Small_2px_640.png">
</picture>
<p class="caption">Small Loading Spinner | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Placement

The large loading spinner should appear centered over a page or content that it is loading. Please note that the naviagation is not included in the page loading overlay. The small loading spinner should be placed to the left of a label.

**Large Loading Spinner: centered in loading area**
**Small Loading Spinner: 8px / .5em to the left of label**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Loading_Large_Spacing_2px_640.png">
<img src="/assets/images/Loading_Large_Spacing_2px_640(1).png">
</picture>
<p class="caption">Large Loading Spinner Placement</h5>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Loading_Large_Context_2px.png">
<img src="/assets/images/Loading_Large_Context_2px.png">
</picture>
<p class="caption">Large Loading Spinner Context</h5>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Loading_Small_Spacing_2px_640.png">
<img src="/assets/images/Loading_Small_Spacing_2px_640(1).png">
</picture>
<p class="caption">Small Loading Spinner Placement</h5>
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Loading_Small_Context_2px_640.png">
<img src="/assets/images/Loading_Small_Context_2px_640(1).png">
</picture>
<p class="caption">Small Loading Spinner Context</h5>
</div>

</div>

{{/markdown}}
