{{#markdown}}

## Content

### Length
Due to its disruptive nature, tool tip content should be kept to an absolute minimum.
For larger sets of content or data, consider using a <a href="http://design-system.stage1.mybluemix.net/components/modals.html">Passive Modal</a>.

### Interactive Elements
A tool tips primary purpose is to provide additional help or context to an item. Therefore, they should contain read-only text. No interactive elements are permitted for use, including buttons or links.

### Titles
Titles can be used within tool tips as a way to further structure content.

<div class="examples">
  <div class="do-example">
  <p class="caption"><img src="/assets/images/icons/green-check.png" />Do:</p>
  <img class="do-example__img" src="/assets/images/usage/tool-tip-good.png" />
  </div>
  <div class="dont-example">
  <p class="caption"><img src="/assets/images/icons/red-x.png" />Don't:</p>
  <img class="dont-example__img" src="/assets/images/usage/tool-tip-bad.png" />
  </div>
</div>

## Interaction

Tool tips appear when the user hovers over the informational icon.
When using a Passive Modal as a tool tip, the user clicks on the information icon to view more information.

<p class="caption">Example:</h5>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/passive-modal-tool-tip.png" />
  <a href="/assets/images/usage/passive-modal-tool-tip.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
