{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__half">

### Basics

The width of tool tip is always the same at 240px / 15em however the height varies based on the amount of content. The tool tip icon can be found in the <a href="https://pages.github.ibm.com/bluemix/bluemix-icons/">Bluemix Icons Repo</a>.

**Tool tip height: varies based on amount of content**
**Tool tip width: 240px / 15em**
**Tool tip icon height and width: 16px / 1em**
**Tool tip icon color: #5AAAFA**
**Tool Tip box drop shadow: #000000 50% Opacity**
**Tool Tip box pointer: 8px / .5em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Min_Mobile@2px.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Min_Desktop@2x.png">
    </picture>
    <p class="caption">Tool Tip | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Mobile@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Desktop@2x.png">
    </picture>
    <p class="caption">Tool Tip Maximum sizing | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Min_Bot__Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Min_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tool Tip | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Max_Bottom_Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Max_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tool Tip Maximum sizing | units in px / em</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding

Internally there must be 24px / 1.5em of space between the tool tip text and sides of the tool tip. Padding around the tool tip icon is 10px / .625em

**Padding between header and icon: 10 px / .625em**
**Padding between icon and tool tip: 10 px / .625em**
**Internal Padding: 24px / 1.5em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Padding_Mobile@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Tool Tip Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tips_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tool Tip Padding | units in px / em</p>
  </div>
</div>
</div>

<div class="view__section">

<div class="view__half">

### Placement

Tool tips should always be placed below the tool tip logo unless it is within the height of the tool tip box plus 16px / 1em of the bottom of the page. In that instance, the tool tip should appear to the right of the tool tip icon.
On mobile, tool tips can only appear below the tool tip icon.

**Tool tip placement below icon: bottom of tool tip must be at least 16px / 1em from the bottom of page**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Placement_Mobile@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Placement_Min_Desktop@2x.png">
    </picture>
    <p class="caption">Tool Tip Placement</h5>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Placement_Desktop@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Placement_Desktop@2x.png">
    </picture>
    <p class="caption">Tool Tip Placement</h5>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Placement_Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Min_Placement_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tool Tip Placement</h5>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Max_Placement_Desktop_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Placement_Max_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tool Tip Placement</h5>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__full">

### Typography
Tool tip labels should be set in title case with the first letter of each significant word capitalized. Tool tip text should be in sentence case with only the first word of every sentence capitalized. Text should follow the Bluemix Typography font stack for sans-serif.

**Tool Tip Label font-size: 14 px / .875rem**
**Tool Tip Label font-weight: bold / 700**
**Tool Tip Text font-size: 14 px / .875rem**
**Tool Tip Text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
