{{#markdown}}

## Content

### Length
Due to its disruptive nature, tooltip content should be kept to an absolute minimum.
For larger sets of content or data, consider using a <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/modals.html" target="_blank">Passive Modal</a>.

### Interactive elements
The primary purpose of a tooltip is to provide additional help or context to an item. Therefore, they should contain read-only text. No interactive elements are permitted for use, including buttons or links.

### Titles
A title may be used within a tooltip as a way to structure content.

<div class="examples">
  <div class="do-example">
  <p class="caption"><img src="/assets/images/icons/green-check.png" />Do:</p>
  <img class="do-example__img" src="/assets/images/usage/elements/tooltip-1.png" />
  </div>
  <div class="dont-example">
  <p class="caption"><img src="/assets/images/icons/red-x.png" />Don't:</p>
  <img class="dont-example__img" src="/assets/images/usage/elements/tooltip-2.png" />
  </div>
</div>

## Interaction

Tooltips appear when the user hovers over an informational icon. When using a passive modal as a tooltip, the user may click on the information icon to view more content.

<p class="caption">Example:</p>
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/elements/tooltip-3.png" />
  <a href="/assets/images/usage/elements/tooltip-3.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
