{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

The width of a tooltip is fixed at 240px / 15em, however, the height varies based on content. The tooltip icon can be found in the <a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank">Bluemix Icons Repo</a> and the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Bluemix Iconography Library</a>.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Min_Mobile@2px.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Min_Desktop@2x.png">
    </picture>
    <p class="caption">Tooltip | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Mobile@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Desktop@2x.png">
    </picture>
    <p class="caption">Tooltip maximum sizing | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Min_Bot__Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Min_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tooltip | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Max_Bottom_Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Max_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tooltip maximum sizing | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">240px</p>
      <p class="table--light">15rem</p>
    </div>
    <div class="table__row">
      <p>Icon height & width</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Box pointer</p>
      <p class="table--light">8px</p>
      <p class="table--light">.5rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>COLOR</p>
      <p>HEX</p>
      <p>SCSS VARIABLE</p>
    </div>
    <div class="table__row">
      <p>Icon color</p>
      <p class="table--light">#5aaafa</p>
      <p class="table--light">$color__blue-30</p>
    </div>
    <div class="table__row">
      <p>Box drop shadow</p>
      <p class="table--light">#000000 at 50% opacity</p>
      <p class="table--light"></p>
    </div>
  </div>
</div>

**Tooltip height: varies based on amount of content**

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Internally, there must be 24px / 1.5rem of space between the tooltip text and the sides of the tooltip. Padding around the tooltip icon is 10px / .625rem.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Padding_Mobile@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Tooltip Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tips_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tooltip Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between header and icon</p>
      <p class="table--light">10px</p>
      <p class="table--light">.625rem</p>
    </div>
    <div class="table__row">
      <p>Padding between icon and tooltip</p>
      <p class="table--light">10px</p>
      <p class="table--light">.625rem</p>
    </div>
    <div class="table__row">
      <p>Internal Padding</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Placement

Tooltips should always be placed below the tooltip logo unless it is within the height of the tooltip box plus 16px / 1em of the bottom of the page. In that instance, the tooltip should appear to the right of the tooltip icon. On mobile, tooltips can only appear below the tooltip icon.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Placement_Mobile@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Placement_Min_Desktop@2x.png">
    </picture>
    <p class="caption">Tooltip Placement</h5>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/Tool_Tip_Placement_Desktop@2x.png">
    <img src="/assets/images/style/tooltips/Tool_Tip_Placement_Desktop@2x.png">
    </picture>
    <p class="caption">Tooltip Placement</h5>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Placement_Mobile_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Min_Placement_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tooltip Placement</h5>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tooltips/light-ui/Tool_Tip_Max_Placement_Desktop_Light@2x.png">
    <img src="/assets/images/style/tooltips/light-ui/Tool_Tip_Max_Placement_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tooltip Placement</h5>
  </div>
</div>

**Tooltip placement below icon: bottom of tool tip must be at least 16px / 1em from the bottom of page**

</div>



</div>

<div class="view__section">

<div class="view__full">

## Typography
Tooltip labels should be set in title case with the first letter of each significant word capitalized. Tooltip text should be in sentence case with only the first word of every sentence capitalized. Text should follow the Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
