.page-tabs {
  @include grid-margins;
  margin-top: -3.5rem;
  width: auto;

  .bx--tabs--hidden {
    display: none;

    @include breakpoint('768px') {
      display: flex;
    }
  }

  .bx--tabs__trigger {
    background-color: rgba(61, 112, 178, .1);

    &-text,
    svg {
      color: $text-01;
      fill: $brand-01;
    }
  }

  .bx--tabs__nav {
    @include layer('overlay');
    z-index: 5;
  }

  @include breakpoint('768px') {
    @include grid-padding;
    background-color: transparent;
    margin: -2.95rem 0 0 0;

    .bx--tabs__nav {
      margin: 0;
      box-shadow: none;
    }

    .bx--tabs__nav-item {
      padding: 0;

      .bx--tabs__nav-link {
        font-size: 1rem;
        padding: .75rem 0 1rem;
        color: $text-01;
      }

      &:hover {
        .bx--tabs__nav-link {
          color: $brand-01;
        }
      }

      &.bx--tabs--selected {
        border-bottom: 3px solid $brand-01 !important;
      }
    }
  }
}
