---
fabricator: true
---

<h1 id="buttons" class="item__main-heading">Buttons</h1>

<p class="item__main-desc">Description about buttons in general.</p>

<ul class="item__nav">
  <li><a href="#primary">Primary Button</a></li>
  <li><a href="#secondary">Secondary Button</a></li>
  <li><a href="#danger">Danger Button</a></li>
  <li><a href="#disabled">Disabled Button</a></li>
  <li><a href="#button-with-icon">Button with Icon</a></li>
</ul>

<!-- PRIMARY -->

<h2 id="primary" class="item__sub-heading">Primary Button</h2>

<p class="item__sub-desc">This is a primary button.</p>

<br>

{{> button-raw}}

{{#markdown}}

  ```markup

  {{> button-raw}}

  ```

{{/markdown}}

<!-- SECONDARY -->

<h2 id="secondary" class="item__sub-heading">Secondary Button</h2>

<p class="item__sub-desc">This is a secondary button.</p>

<br>

{{> button--secondary-raw}}

{{#markdown}}

  ```markup

  {{> button--secondary-raw}}

  ```

{{/markdown}}

<!-- DANGER -->

<h2 id="danger" class="item__sub-heading">Danger Button</h2>

<p class="item__sub-desc">This is a danger button.</p>

<br>

{{> button--danger-raw}}

{{#markdown}}

  ```markup

  {{> button--danger-raw}}

  ```

{{/markdown}}

<!-- DISABLED -->

<h2 id="disabled" class="item__sub-heading">Disabled Button</h2>

<p class="item__sub-desc">This is a disabled button.</p>

<br>

{{> button--disabled-raw}}

{{> button--secondary--disabled-raw}}

{{> button--danger--disabled-raw}}

{{#markdown}}

  ```markup

  {{> button--disabled-raw}}

  {{> button--secondary--disabled-raw}}

  {{> button--danger--disabled-raw}}

  ```

{{/markdown}}

<!-- BUTTON WITH ICON -->

<h2 id="button-with-icon" class="item__sub-heading">Button with icon</h2>

<p class="item__sub-desc">This is a button with icon.</p>

<br>

{{> button--right-icon-raw}}

{{#markdown}}

```markup

{{> button--right-icon-raw}}

```

{{/markdown}}
