---
fabricator: true
name: buttons
category: base elements
---

<!-- Item header -->
<div class="item__header">
  <div class="item__info">
    <p class="item__category">{{category}}</p>
    <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>
  </div>
  <ul class="item__tabs">
    <li class="toggle-view--foundation is-selected">Foundation</li>
    <li class="toggle-view--usage">Usage</li>
    <li class="toggle-view--style">Style</li>
  </ul>
</div>
<!-- Item header ends -->

<!-- Item main container -->
<div class="item__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="item__main-desc">
      <span class="highlight">{{capitalize name}}</span> use text and/or an icon to express what action will occur when the user clicks or touches it. Buttons are used to initialize an action, either in the background or foreground of an experience.
    </p>

  <h2 class="item-section__main-heading">Variations</h2>


  <!-- PRIMARY BUTTONS -->
  <section class="item-section" id="primary">

  <h2 class="item-section__heading">Primary Buttons</h2>

  <p class="item-section__desc">Primary buttons should be used for the principal call to action on the page.
    What is the most important action your user should take? Primary buttons should be three words or less.</p>

  <br>

  <div class="item-section__example">

  <div class="example__rendered">

  <div class="rendered__item">
  {{> button}}
  </div>

  {{#markdown}}

  <div class="rendered__view-full-size">
    <a href="#">View full render</a>
  </div>

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    <li class="tabs__js">JS</li>
  </ul>

  <div class="code__html is-active">

  <div class="code__copy">
    <button id="copyButton">
      <svg>
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use>
      </svg>
    </button>
  </div>

  ```markup
  {{> card}}

  ```

  <div class="code__show-full">
    <a href="#">Show full code <img src="../assets/images/icon--down-arrow.svg" /></a>
  </div>

  </div>

  <div class="code__js">

  <div class="code__copy">
    <button>
      <svg>
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use>
      </svg>
    </button>
  </div>

  ```js
  {{> fab}}

  ```

  <div class="code__show-full">
    <a href="#">Show full code <img src="../assets/images/icon--down-arrow.svg" /></a>
  </div>

  </div>


  </div>
  {{/markdown}}

  </section>


  <!-- SECONDARY BUTTONS -->

  <section class="item-section" id="secondary">

  <h2 class="item-section__heading">Secondary Buttons</h2>

  <p class="item-section__desc">Secondary buttons will be used for secondary actions on each page. Secondary buttons should be three words or less.</p>

  <br>

  <div class="item-section__example">
    {{> button--secondary}}
  </div>

  {{#markdown}}

  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> button--secondary}}

  ```

  </div>

  </div>

  {{/markdown}}

  </section>

  <!-- SETS OF BUTTONS -->

  <section class="item-section" id="sets-of-buttons">

  <h2 class="item-section__heading">Sets of Buttons</h2>

  <p class="item-section__desc">Sets of buttons are used when action required by the user may have more than one option. Always use a positive action button (primary) paired with a negative action button (secondary). Positive action buttons should be on the right, while negative action buttons will be on the left.</p>

  <br>

  <div class="item-section__example">
    {{> button--secondary}}
    {{> button}}
  </div>

  {{#markdown}}

  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> button--secondary}}

  {{> button}}

  ```

  </div>

  </div>

  {{/markdown}}

  </section>


  <!-- BUTTON WITH ICONS -->

  <section class="item-section" id="buttons-with-icons">

  <h2 class="item-section__heading">Button with icons</h2>

  <p class="item-section__desc">When words are not enough, icons are used in buttons to better communicate what the button does. Icons are always paired with text.</p>

  <br>

  <div class="item-section__example">
    {{> button--right-icon}}
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> button--right-icon}}

  ```

  </div>

  </div>

  {{/markdown}}

  </section>

  <!-- INLINE BUTTONS -->

  <section class="item-section" id="inline-buttons">

  <h2 class="item-section__heading">Inline Buttons</h2>

  <p class="item-section__desc">Inline buttons can be used when the action is directly related to the context of a form or text box. They should be one word only. </p>

  <br>

  <div class="item-section__example">
    Need example here
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  Need example here

  ```

  </div>

  </div>

  {{/markdown}}

  </section>


  <!-- DISABLED BUTTONS -->

  <section class="item-section" id="disabled">

  <h2 class="item-section__heading">Disabled Buttons</h2>

  <p class="item-section__desc">Disabled Buttons can be used when the user cannot proceed until input is collected.</p>

  <br>

  <div class="item-section__example">
    {{> button--disabled}}
    {{> button--secondary--disabled}}
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> button--disabled}}

  {{> button--secondary--disabled}}

  ```

  </div>

  </div>

  {{/markdown}}

  </section>


  <!-- DANGER BUTTONS -->

  <section class="item-section" id="danger">

  <h2 class="item-section__heading">Danger Button</h2>

  <p class="item-section__desc">Danger buttons are used when the action to be performed would cause a significant change to the user's data or cause other unanticipated consequences.</p>

  <br>

  <div class="item-section__example">
    {{> button--danger}}
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> button--danger}}

  ```

  </div>

  </div>

  {{/markdown}}

  </section>

  </div>
  <!-- View: Foundation ends -->

  <!-- View: Usage -->
  <div class="view--usage">
    <h1 class="item-section__heading">Usage</h1>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Usage -->
  <div class="view--style">
    <h1 class="item-section__heading">Style</h1>
  </div>
  <!-- View: Usage ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
