---
fabricator: true
name: checkbox
category: base elements
mainDesc: "is used when there is a list of options, and the user may select multiple, including all or none."
iterations:
  checkbox:
    title: "Checkbox"
    htmlFile: "base-elements/checkbox.html"
    desc: ""
  checkbox--disabled:
    title: "Disabled Checkbox"
    htmlFile: "base-elements/checkbox--disabled.html"
    desc: "Description here."
---

<!-- Item header -->
<section class="item__header">
  <div class="item__info">
    <p class="item__category">{{category}}</p>
    <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>
  </div>
  <ul class="item__tabs">
    <li class="toggle-view--foundation is-selected">Foundation</li>
    <li class="toggle-view--usage">Usage</li>
    <li class="toggle-view--style">Style</li>
  </ul>
</section>
<!-- Item header ends -->

<!-- Item main container -->
<div class="item__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="item__main-desc">
      <span class="highlight">{{capitalize name}} </span>{{mainDesc}}
    </p>

  <h2 class="item-section__main-heading">Variations</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="item-section" id="{{dasherize item.title}}">

      <h2 class="item-section__heading">{{item.title}}</h2>

      <p class="item-section__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="item-section__example">

  <div class="example__rendered">

  <div class="rendered__item">
  {{{findFile item.htmlFile}}}
  </div>

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy">
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy"><svg><use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use></svg></button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>
  <!-- End of Code Snippets -->


  </div>
  {{/if}}

  {{/markdown}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h3>Title</h3>
      <p class="item-section__desc">If necessary, a title may accompany a set of checkboxes to provide further clarity into what the user is making a selection on. </p>
        
      <h3>Labels</h3>
        <p class="item-section__desc">A checkbox should always be accompanied by a clear and concise label. Be explicit about the action that will follow if the checkbox is selected. Labels appear to the right of the checkbox. </p>

      <h3>Click Target</h3>
        <p class="item-section__desc">Users should be able to select the checkbox by clicking on the box directly or its label.</p>

      <h3>Tables</h3>
        <p class="item-section__desc">See <a href="http://design-system.stage1.mybluemix.net/base-elements/tables.html">Tables</a> section for guidance on how to use checkboxes within a table. </p>

        <h3>Default Selection</h3>
        <p class="item-section__desc">A set of checkboxes should default to having none of the options selected.</p>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="item-section__heading">Style</h1>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
