---
fabricator: true
name: checkboxes
description: Checkboxes are used when there is a list of options, and the user may select multiple, including all or none.
---

<div class="item__container">

  <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>

  <p class="item__main-desc">{{description}}</p>

  <!-- FOUNDATION -->

  <section class="item-section">

  <h2 class="item-section__heading">Foundation</h2>

  <div class="item-section__example">
    {{> checkbox}}
    <br>
    {{> checkbox--disabled}}
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> checkbox}}

  {{> checkbox--disabled}}

  {{/markdown}}

  </div>

  </section>


  <!-- GUIDELINES -->

  <section class="item-section" id="guidelines">

  <h2 class="item-section__heading">Guidelines</h2>

  <h3 class="item-section__sub-heading">Title</h3>

  <p class="item-section__desc">If necessary, a title may accompany a set of checkboxes to provide further clarity into what the user is making a selection on.</p>

  <br>

  <h3 class="item-section__sub-heading">Labels</h3>

  <p class="item-section__desc">A checkbox should always be accompanied by a clear and concise label. Be explicit about the action that will follow if the checkbox is selected. Labels appear to the right of the checkbox.</p>

  <br>

  <h3 class="item-section__sub-heading">Click Target</h3>

  <p class="item-section__desc">Users should be able to select the checkbox by clicking on the box directly or its label.</p>

  <br>

  <h3 class="item-section__sub-heading">Tables</h3>

  <p class="item-section__desc">See [Tables] section for guidance on how to use checkboxes within a table.</p>

  <br>

  <h3 class="item-section__sub-heading">Default Selection</h3>

  <p class="item-section__desc">A set of checkboxes should default to having none of the options selected.</p>

  </section>
</div>
