---
fabricator: true
name: file uploader
category: base elements
mainDesc: "allows the user to transfer a file or submit content of their own. "
iterations:
  checkbox:
    title: "File Uploader"
    htmlFile: "base-elements/file.html"
    jsFile: "js/file.js"
    desc: ""
---

<!-- Item header -->
<section class="item__header">
  <div class="item__info">
    <p class="item__category">{{category}}</p>
    <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>
  </div>
  <ul class="item__tabs">
    <li class="toggle-view--foundation is-selected">Foundation</li>
    <li class="toggle-view--usage">Usage</li>
    <li class="toggle-view--style">Style</li>
  </ul>
</section>
<!-- Item header ends -->

<!-- Item main container -->
<div class="item__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="item__main-desc">
      <span class="highlight">{{capitalize name}} </span>{{mainDesc}}
    </p>

  <h2 class="item-section__main-heading">Foundation</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="item-section" id="{{dasherize item.title}}">

      <h2 class="item-section__heading">{{item.title}}</h2>

      <p class="item-section__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="item-section__example">

  <div class="example__rendered">

  <div class="rendered__item">
  {{{findFile item.htmlFile}}}
  </div>

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy">
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy"><svg><use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use></svg></button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>
  <!-- End of Code Snippets -->


  </div>
  {{/if}}

  {{/markdown}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h1 class="item-section__heading">General</h1>
      <p class="item-section__desc">
      File uploaders are commonly found in forms, but they can also live as stand alone elements.
      <br><br>
      File uploaders should always be accompanied by a <a href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html">Set of Buttons</a>.
      </p>
      <h3 class="item-section__small-heading">Stand alone uploaders</h3>
        <p class="item-section__desc">
          When using a file uploader as a stand alone element, a common pattern for sets of buttons is "Cancel/Upload".
          <h5 class="item-section__example-heading">Example:</h5>
        </p>
      <h3 class="item-section__small-heading">Uploaders in forms</h3>
        <p class="item-section__desc">
          When using a file uploader within a form, a common pattern for sets of buttons is "Cancel/Submit".
          <h5 class="item-section__example-heading">Example:</h5>
        </p>

    <h1 class="item-section__heading">Interaction</h1>
    <p class="item-section__desc">
      <ol class="bx--list--ordered">
        <li>The user may select 1 or more files to upload at a time</li>
        <li>The action of clicking "Choose File" will trigger a browser-specific upload window</li>
        <li>Once the user chooses files to upload, the text field should respond to this behavior. If one file is selected, the text field should display the name of the file. If more than one file is selected, the text field should read "# files selected"</li>
      </ol>
      <h5 class="item-section__example-heading">Example:</h5>
    </p>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="item-section__heading">Style</h1>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
