---
fabricator: true
name: lists
description: A list consists of multiple line items of related content grouped together and organized vertically.
---

<div class="item__container">

  <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>

  <p class="item__main-desc">{{description}}</p>

  <!-- UNORDERED LIST -->

  <section class="item-section">

  <h2 class="item-section__heading">Unordered List</h2>

  <p class="item-section__desc">Unordered or bulleted lists are commonly used to present content of equal status or value. They generally present items in a random order.</p>

  <div class="item-section__example">
    {{> list--unordered}}
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> list--unordered}}

  ```

  </div>

  {{/markdown}}

  </div>

  </section>

  <!-- ORDERED LIST -->

  <section class="item-section">

  <h2 class="item-section__heading">Ordered List</h2>

  <p class="item-section__desc">Ordered or numbered lists are used if a particular order to the items is warranted. They imply sequence and order, and are most commonly used when giving a set of instructions.</p>

  <div class="item-section__example">
    {{> list--ordered}}
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> list--ordered}}

  ```

  </div>

  {{/markdown}}

  </div>

  </section>

  <!-- DATA LIST -->

  <section class="item-section">

  <h2 class="item-section__heading">Data List</h2>

  <div class="item-section__example">
    Need example here
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  Need example here

  ```

  </div>

  {{/markdown}}

  </div>

  </section>

  <!-- GUIDELINES -->

  <section class="item-section" id="guidelines">

  <h2 class="item-section__heading">Guidelines</h2>

  <h3 class="item-section__sub-heading">Length</h3>

  <p class="item-section__desc">Generally, lists should be used when there is a single line item of information per line. For larger or more complex sets of data, consider using a [table](#). Both lists and table may alternatively be displayed as a grid.</p>

  <br>

  <h3 class="item-section__sub-heading">Scrolling</h3>

  <p class="item-section__desc">Lists should only scroll vertically. If more horizontal space is needed, consider using a larger line height per item or adjusting to a grid view to accomodate the additional information.</p>

  <br>

  <h3 class="item-section__sub-heading">Order</h3>

  <p class="item-section__desc">The default order of a list should make sense given the context and facilitate the user's goal. For example, if the list is about resource use, perhaps the default order should be highest resource use to lowest and not alphabetically.</p>

  <p class="item-section__desc">If there is no such meaningful default, alpabetical or numeric order should be used. Grouping items by categories into smaller, more specific lists may be more meaningful to users in some contexts.</p>

  <br>

  <h3 class="item-section__sub-heading">Filter & Sort</h3>

  <p class="item-section__desc">Even with a meaningful default order, in many cases, lists should be filterable and sortable, allowing the user to manipulate and view the content as they see fit.</p>

  </section>
