---
fabricator: true
name: radio buttons
description: Radio buttons are used when the list of two or more options are mutually exclusive, meaning the user must select only one option.
---

<div class="item__container">

  <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>

  <p class="item__main-desc">{{description}}</p>

  <!-- FOUNDATION -->

  <section class="item-section">

  <h2 class="item-section__heading">Foundation</h2>

  <div class="item-section__example">
    {{> radio}}
    {{> radio--disabled}}
  </div>

  {{#markdown}}
  <div class="snippet">

  <div class="snippet__btns">
    <button class="snippet__btns--html active-btn">HTML</button>
  </div>

  <div class="snippet__html show-snippet">

  ```markup <!--Very important to have an empty line between this line and the code snippet -->

  {{> radio}}
  {{> radio--disabled}}

  ```

  </div>

  {{/markdown}}

  </div>

  </section>

  <!-- GUIDELINES -->

  <section class="item-section" id="guidelines">

  <h2 class="item-section__heading">Guidelines</h2>

  <h3 class="item-section__sub-heading">Title</h3>

  <p class="item-section__desc">If necessary, a title may accompany a set of radio buttons to provide further clarity into what the user is making a selection on.</p>

  <br>

  <h3 class="item-section__sub-heading">Labels</h3>

  <p class="item-section__desc">A radio button should always be accompanied by a clear and concise label. Be explicit about the action that will follow if the radio button is selected. Labels appear to the right of radio buttons.</p>

  <br>

  <h3 class="item-section__sub-heading">Default Selection</h3>

  <p class="item-section__desc">A set of radio buttons should default to having exactly one option selected. Never display them without a default selection.</p>

  <br>

  <h3 class="item-section__sub-heading">"Other"</h3>

  <p class="item-section__desc">If using the label "other" in a set of radio buttons, it's recommended to provide a text field for the user to input text to clarify their selection.</p>

  </section>
