---
fabricator: true
name: search
category: base elements
mainDesc: "enables users to specify a word or a phrase to find particular relevant pieces of content without the use of navigation. Search can be used as the primary means of discovering content, or as a filter to aid the user in finding content."
iterations:
  search:
    title: "Search"
    htmlFile: "base-elements/search.html"
    desc: "Search is used primarily to filter large sets of information that is contextual to the content on the page. Search results manipulate a group of primary content on the page. Do not use search for navigating to other parts of the site."
---

<!-- Item header -->
<section class="item__header">
  <div class="item__info">
    <p class="item__category">{{category}}</p>
    <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>
  </div>
  <ul class="item__tabs">
    <li class="toggle-view--foundation is-selected">Foundation</li>
    <li class="toggle-view--usage">Usage</li>
    <li class="toggle-view--style">Style</li>
  </ul>
</section>
<!-- Item header ends -->

<!-- Item main container -->
<div class="item__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="item__main-desc">
      <span class="highlight">{{capitalize name}} </span>{{mainDesc}}
    </p>

  <h2 class="item-section__main-heading">Foundation</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="item-section" id="{{dasherize item.title}}">

      <h2 class="item-section__heading">{{item.title}}</h2>

      <p class="item-section__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="item-section__example">

  <div class="example__rendered">

  <div class="rendered__item">
  {{{findFile item.htmlFile}}}
  </div>

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy">
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy"><svg><use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use></svg></button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>
  <!-- End of Code Snippets -->


  </div>
  {{/if}}

  {{/markdown}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h3 class="item-section__small-heading">Search Fields</h3>
    <p class="item-section__desc">Search fields should include autocomplete and search history to aid the user in finding the correct query. Set users context for the search with helpful blank states of the search field ("Search Docs", "Search Bluemix").</p>

    <h3 class="item-section__small-heading">Filtering</h3>
    <p class="item-section__desc">If additional sorting is necessary, filtering can be used as a way to further narrow content based on the user's search query. </p>

    <h3 class="item-section__small-heading">Search Results</h3>
    <p class="item-section__desc">
      <ul class="item-section__desc--list">
        <li>Clearly show which results are being displayed with labels or headers (i.e. “Results fo X”)</li>
        <li>Categorize the search results if they come from different areas of the site (eg. docs, services, apps, tutorials, blogs)</li>
        <li>Give the user control over their viewing options and ability to sort results (eg. relevancy, popularity, ratings, date</li>
        <li>Sorting options should be displayed near the search results, rather than near the search field</li>
        <li>Have a clear no results message if there are no results, and offer suggestions if possible</li>
        <li>Have smart algorithms that can search for similar terms or can search even with misspelled words </li>
        <li>Include enough of a description in the results for users to make a judgement as to whether that a particular result is relevant</li>
        <li>Highlight the search term in the results, where appropriate</li>
      </ul>
    </p>

    <h3 class="item-section__small-heading">Mobile</h3>
    <p class="item-section__desc">For Search as Primary intent, the search field will always be presented to the user but respond to the viewport size. <br> For Search as Help and Search as a Filter, it is acceptable to hide the search field until a user-initiated action. If the search field is hidden a user can reveal it by tapping on the standard Bluemix magnifying glass icon. Upon tapping the magnifying glass icon the search field should appear and enter the active state ready for text entry. </p>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="item-section__heading">Style</h1>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
