---
fabricator: true
name: select
category: base elements
mainDesc: "dropdowns display a list below the title when it is selected. They are used primarily in forms, where a user chooses one option from a list. Once the user selects an item, the dropdown will dissapear and the field will reflect the user's choice."
iterations:
  select:
    title: "Select"
    htmlFile: "base-elements/select.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- Item main container -->
<div class="page__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="page__main-desc">
      <span class="highlight">{{capitalize name}}</span> {{mainDesc}}
    </p>

  <h2 class="page__main-heading">Foundation</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="page" id="{{dasherize item.title}}">

      <h2 class="page__heading">{{item.title}}</h2>

      <p class="page__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="element__example">

  <div class="example__rendered">

  <div class="rendered__element">
  {{{findFile item.htmlFile}}}
  </div>
  <input type="text" value="" class="hiddenHTMLSnippet" />

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy code__copy--html">
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <span class="copyFeedback">Copied!</span>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy code__copy--js">
    <div class="copyFeedback">Copied!</div>
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  <!-- End of Code Snippets -->

  </div>

  {{/if}}

  {{/markdown}}

  {{#if item.jsFile}}
  <input type="text" class="hiddenJSSnippet" value="{{{findFile item.jsFile}}}"/>
  {{/if}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h3 class="page__small-heading">Labels</h3>
      <p class="page__desc">Effective form labeling helps users understand the required information to put into the field.<br><br> As a space-saving method, often placeholder/hint text is used as a label. This is not best practice, since the interaction of the label disappearing can cause issues for people with cognitive issues or who use a screen magnifier. It also increases cognitive load for all users who would have to remember the purpose of the field after they filled it in with text.</p>
      <p class="page__desc">
        <ul class="page__desc--list">
          <li>Label must be visible when the field gets focus</li>
          <li>The label must be announced to the screen reader on focus</li>
          <li>Ensure helper text that appears under a field is read when the assistive technology user stops at the field using aria</li>
        </ul>
      </p>

      <h3 class="page__small-heading">Validation</h3>
      <p class="page__desc"> Real time validation helps to streamline the process and keep data clean when the user is filling out data. Including helper or error text before, during, or after a user interacts with a text field can aid the user in making correct decisions.</p>
      <h5 class="page__example-heading">Example:</h5>
        <div class="page__img--small">
          <img src="/assets/images/select-validation.png"/>
        </div>

    <h3 class="page__small-heading">Order</h3>
    <p class="page__desc">The order of the list should be based on the frequency of use. If applicable, the list should be in increasing order relative to the content. In cases of forms, alternative orders such as alphabetical may be more fitting. A horizontal rule can be used to group similar items together.</p>

    <h3 class="page__small-heading">Styling select dropdowns</h3>
    <p class="page__desc">It is strongly recommended not to style <code>select</code> dropdowns due to accessibility purposes.</p>
    <p class="page__desc">One of the <a class="bx--link--dark" href="http://www.w3.org/TR/WCAG20-TECHS/G202.html" target="_blank">WCAG 2.0 standards</a> for accessibility is “Ensuring keyboard control for all functionality." CSS alternatives to <code>select</code> elements to not meet this requirement.
    You can see examples below of how a browser-specific <code>select</code> element renders differently.</p>
    <h5 class="page__example-heading">Chrome:</h5>
    <div class="page__img--small">
      <img src="/assets/images/select-example-chrome.png" />
    </div>

    <h5 class="page__example-heading">Firefox:</h5>
    <div class="page__img--small">
      <img src="/assets/images/select-example-firefox.png" />
    </div>

    <h5 class="page__example-heading">Safari:</h5>
    <div class="page__img--small">
      <img src="/assets/images/select-example-safari.png" />
    </div>

    <h3 class="page__small-heading">Accessibility</h3>
    <p class="page__desc">The default <code>select</code> element is completely usable either with a mouse or a keyboard, following this process:
      <ol class="page__desc--list--ordered">
        <li>Mouse: move your cursor over the <code>select</code> element <br>
            Keyboard: use the tab key to focus the <code>select</code> element</li>
        <li>Mouse: click on the <code>select</code> element<br>
            Keyboard: press enter</li>
        <li>Mouse: move your cursor over the desired option<br>
            Keyboard: use the top and bottom arrow keys to pick an option</li>
        <li>Mouse: click on the desired option<br>
            Keyboard: press enter</li>
      </ol><br>
        While you can make a CSS dropdown easily usable by a mouse, making it usable with keyboard navigation is complex.
    </p>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="page__heading">Structure</h1>
    <div class="view--style__section">
      <div class="view--style__full-width">
        <h3 class="page__x-small-heading">Basics</h3>
        <p class="page__desc--small">Select boxes are single color filled at 10% opacity. The width of a select dropdown box should appropriately fit the design and layout of the content.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Select Box Background Color: rgba(255,255,255) at 10% opacity</span><br>
          <span class="page__desc--bold">Select box height: 40px / 2.5em</span>
        </p>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Padding</h3>
        <p class="page__desc--small">
          <span class="page__desc--bold">Space between label and select box: 10px / .625em</span><br>
          <span class="page__desc--bold">Internal side padding: 16px / 1em</span>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Select_2px_640.png">
          <img src="/assets/images/Select_2px_640(1).png">
        </picture>
        <h5 class="page__example-heading">Select Basics | units in px / em</h5>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">States</h3>
        <ul class="page__desc--list">
          <li>Default Non-Selected State: Browser Defined</li>
          <li>Hover: 1px blue outline (rgb 90, 170, 250)</li>
          <li>Open: Style determined by browser</li>
          <li>New Selection:__</li>
          <li>Form Validation: 2px bottom border (rgb 255, 80, 80)</li>
          <li>Help: Tool tip should be left aligned with the text field box and underlined to indicate a link. Disabled: 50% opacity</li>
        </ul>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Select_States_2px_640.png">
          <img src="/assets/images/Select_States_2px_640(1).png">
        </picture>
        <h5 class="page__example-heading">Select States</h5>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Groupings</h3>
        <p class="page__desc--small">Select dropdowns can be grouped horizontally and vertically for tablet and desktop views. Select dropdowns cannot be grouped horizontally for mobile views.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Padding between vertical groupings: 32px / 2em</span><br>
          <span class="page__desc--bold">Padding between horizontal groupings: 16px / 2em</span>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Select_Groupings_2px_640.png">
          <img src="/assets/images/Select_Groupings_2px_640(1).png">
        </picture>
        <h5 class="page__example-heading">Select Groupings Orientations | units in px / em</h5>
      </div>
    </div>
    <h1 class="page__heading">Typography</h1>
    <div class="view--style__section">
      <div class="view--style__full-width">
        <p class="page__desc--small">Select dropdown labels should be set in title case with the first letter of every word capitalized and should not exceed more than 3 words. Select dropdown text should be set in sentence case with only the first letter of the first word capitalized. Select dropdown text should follow the Bluemix Typography font stack for sans-serif.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Select Label font-size: 14px / .875rem</span><br>
          <span class="page__desc--bold">Select Label font-weight: bold / 700</span><br>
          <span class="page__desc--bold">Select Dropdown Text font-size: 14px / .875rem</span><br>
          <span class="page__desc--bold">Select Dropdown Text font-weight: roman / 400</span><br>
        </p>
      </div>
    </div>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
