---
fabricator: true
name: tables
category: base elements
mainDesc: "are used to present raw data sets. Their main purpose is to lend meaning to a set of data, while still making the data readable, scannable, and easily comparable."
iterations:
  table--detail:
    title: "Detailed Table"
    htmlFile: "base-elements/table--detail.html"
    desc: "Description here."
  table--list-view:
    title: "List View Table"
    htmlFile: "base-elements/table--list-view.html"
    desc: "Description here."
---

<!-- Item header -->
<section class="item__header">
  <div class="item__info">
    <p class="item__category">{{category}}</p>
    <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>
  </div>
  <ul class="item__tabs">
    <li class="toggle-view--foundation is-selected">Foundation</li>
    <li class="toggle-view--usage">Usage</li>
    <li class="toggle-view--style">Style</li>
  </ul>
</section>
<!-- Item header ends -->

<!-- Item main container -->
<div class="item__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="item__main-desc">
      <span class="highlight">{{capitalize name}} </span>{{mainDesc}}
    </p>

  <h2 class="item-section__main-heading">Variations</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="item-section" id="{{dasherize item.title}}">

      <h2 class="item-section__heading">{{item.title}}</h2>

      <p class="item-section__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="item-section__example">

  <div class="example__rendered">

  <div class="rendered__item">
  {{{findFile item.htmlFile}}}
  </div>

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy">
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy"><svg><use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--copy"></use></svg></button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>
  <!-- End of Code Snippets -->


  </div>
  {{/if}}

  {{/markdown}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h1 class="item-section__heading">Structure</h1>

    <h3 class="item-section__small-heading">Header Row</h3>
    <p class="item-section__desc">Headers guide users to the data that is presented below. Use meaningful text to label the table data and provide clarity to the data below. If necessary, use footnotes to clarify more detailed or technical information that would otherwise clutter the table. Headers should be fixed on scroll if the table is longer than the viewport size.  </p>

    <h3 class="item-section__small-heading">Number of Columns</h3>
    <p class="item-section__desc"> Alternating colors on rows increases readability, and helps the guide the users through the data in the table.</p>

    <h3 class="item-section__small-heading">Minimal</h3>
    <p class="item-section__desc">Usability of your table will be greatly improved by making data sortable. Sorting can be helpful when users are looking to compare adjacent information. By making header labels clickable, it allows the user to easily filter the data to their liking. </p>

    <h3 class="item-section__small-heading">Zebra Stripes</h3>
    <p class="item-section__desc">Expanable rows allow for minimal information to be shown at a high level, and a more detailed description/action set hidden within the overflow of the row.  </p>

    <h1 class="item-section__heading">Interactions</h1>

    <h3 class="item-section__small-heading">Filters/Sorting</h3>
    <p class="item-section__desc">Usability of your table will be greatly improved by making data sortable. Sorting can be helpful when users are looking to compare adjacent information. By making header labels clickable, it allows the user to easily filter the data to their liking.</p>

    <h3 class="item-section__small-heading">Expandable Rows</h3>
    <p class="item-section__desc">Expanable rows allow for minimal information to be shown at a high level, and a more detailed description/action set hidden within the overflow of the row. .</p>

    <h3 class="item-section__small-heading">Continuous Scroll</h3>
    <p class="item-section__desc">Continuous scroll is used when presenting large amounts of data sets. Instead of directing a user to a different page that contains additional content, a simple, "View More" link that loads a more data is appropriate. </p>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="item-section__heading">Style</h1>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
