---
title: Overview | Bluemix Design System
fabricator: true
---

<h1 class="front-page__heading">Bluemix Design System</h1>

<p class="front-page__text">This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p class="front-page__text">This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2 class="front-page__sub-heading">Usage</h2>

<button class="btn">Design kit</button>
<button class="btn--secondary">Developer kit</button>
