---
title: Overview | Bluemix Design System
fabricator: true
---

<section class="page__header">
    <h1 class="header__main-heading">IBM Bluemix <br><span class="main-heading--bolder">Design System</span></h1>
    <p class="header__desc">Thoughtful, detailed guidelines that enable teams to confidently design delightful experiences.</p>
    <div class="header__download-btns">
        <a class="download-btns__btn" href="#">Get the Design Kit</a>
        <a class="download-btns__btn" href="#">Get the Developer Kit</a>
    </div>
</section>
