---
fabricator: true
name: Resources
title: Resources | IBM Bluemix Design System
---
{{> page-header}}

{{#markdown}}
<div class="view">

<div class="view__section">
<div class="view__half">

### Design Kit

The Bluemix Design Kit consists of core visual styles and patterns that are influenced by our users. It contains everything a designer needs to get started building an experience that contributes to our platform.

<a class="base-link" href="https://github.ibm.com/Bluemix/design-kit" data-design-kit="Bluemix Design Kit" target="_blank">Bluemix Design Kit</a>

</div>

<div class="view__half">

### Component Library

The Bluemix Component Library gives developers (FEDs & Engineers) a collection of re-usable HTML and Sass partials they can use for building websites and user interfaces for Bluemix.

<a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-components" data-developer-kit="Development Resources" target="_blank">Bluemix Component Library</a>

</div>
</div>

<div class="view__section">
<div class="view__half">

### IBM Design Language

Bluemix uses the IBM Design Language as our guiding principle. These core values remind us to design for an outcome and be authentically thoughtful.

<a class="base-link" href="http://www.ibm.com/design/language/" data-developer-kit="Development Resources" target="_blank">IBM Design Language</a>

</div>

<div class="view__half">

### IBM Web Fonts

IBM Design uses the Helvetica Neue for IBM font family across products for brand consistency and cohesion.

<a class="base-link" href="https://github.ibm.com/Design/fonts/tree/master/fonts" data-developer-kit="Development Resources" target="_blank">IBM web fonts</a>

</div>

</div>

<h4 class="divider-heading">Downloads</h4>
<div class="view__section bx--global-light-ui">
<div class="view__column pr2">

#### Presentation templates

Use our Bluemix branded templates for your presentation needs.

<button class="bx--btn--secondary" href="/assets/resources/Bluemix Design Systems - Dark.ase" data-design-kit target="_blank">Download Keynote</button>

</div>

<div class="view__column pr2">

#### Bluemix logo

This comprehensive file contains the various versions of the Bluemix logo.

<button class="bx--btn--secondary" href="/assets/resources/Bluemix Design Systems - Dark.ase" data-design-kit target="_blank">Download logo assets</button>

</div>

<div class="view__column pr2">

#### Design System cheat sheet

This card can be printed for go-to info such as type sizes and color values.

<button class="bx--btn--secondary" href="/assets/resources/Bluemix Design Systems - Dark.ase" data-design-kit target="_blank">Download cheat sheet</button>

</div>

</div>


</div>

{{/markdown}}
