---
fabricator: true
name: Resources
title: Resources | IBM Bluemix Design System
---
{{> page-header}}

{{#markdown}}
<div class="view resources">

<div class="view__section">
<div class="view__half">

<img src="./assets/images/resources/sketch.png" />
<h1 class="heading-bold">Design Kit</h2>

The Bluemix Design Kit consists of core visual styles and patterns. It contains everything needed to get started building an experience that contributes to our platform.

<a class="base-link" href="https://github.ibm.com/Bluemix/design-kit" data-design-kit="Bluemix Design Kit" target="_blank">Bluemix Design Kit</a>

</div>

<div class="view__half">

<img src="./assets/images/resources/github.png" />
<h1 class="heading-bold">Component Library</h2>

The Bluemix Component Library gives developers (FEDs & Engineers) a collection of re-usable HTML and Sass partials they can use for building websites and user interfaces for Bluemix.

<a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-components" data-developer-kit="Development Resources" target="_blank">Bluemix Component Library</a>

</div>
</div>

<div class="view__section">
<div class="view__half">

<h1 class="heading-bold">IBM Design Language</h1>

Bluemix uses the IBM Design Language as our guiding principle. These core values remind us to design for an outcome and be authentically thoughtful.

<a class="base-link" href="http://www.ibm.com/design/language/" data-developer-kit="Development Resources" target="_blank">IBM Design Language</a>

</div>

<div class="view__half">

<h1 class="heading-bold">IBM Web Fonts</h1>

IBM Design uses the Helvetica Neue for IBM font family across products for brand consistency and cohesion.

<a class="base-link" href="https://github.ibm.com/Design/fonts/tree/master/fonts" data-developer-kit="Development Resources" target="_blank">IBM web fonts</a>

</div>
</div>
<h4 class="divider-heading blue-90">Downloads</h4>
<div class="view__section bx--global-light-ui">
<div class="view__column pr2">

### Presentation templates

Use our Bluemix branded templates for your presentation needs.

<a class="bx--btn--secondary btn-stack" href="./assets/resources/Bluemix-Keynote-Template.key" data-design-kit target="_blank">Download Keynote</a>
<a class="bx--btn--secondary mt1 btn-stack" href="./assets/resources/Bluemix-Powerpoint-Template.pptx" data-design-kit target="_blank">Download Powerpoint</a>

</div>

<div class="view__column pr2">

### Bluemix logo

This comprehensive file contains the various versions of the Bluemix logo.

<a class="bx--btn--secondary" href="https://github.ibm.com/Bluemix/design-kit/blob/master/Bluemix_Logo-Assets.zip?raw=true">Download logo assets</a>

</div>

<div class="view__column pr2">

### Cheat sheet

This card can be printed for go-to info such as type sizes and color values.

<a class="bx--btn--secondary" href="./assets/resources/Cheatsheet.pdf" data-design-kit target="_blank">Download cheat sheet</a>

</div>

</div>


</div>

{{/markdown}}
