{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics
Content switchers must have at least two options for the user to choose from. Each container that makes up the content switcher is equal in size. The width of a container is determined by the length of the longest container option text plus the 32 px / 2em on both sides of the text.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/content-switcher/Content_Switcher_Mobile@2x.png">
    <img src="/assets/images/style/content-switcher/Content_Switcher_Desktop@2x.png">
    </picture>
    <p class="caption">Content Switcher | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/content-switcher/light-ui/Content_Switcher_Mobile_Light@2x.png">
    <img src="/assets/images/style/content-switcher/light-ui/Content_Switcher_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Content Switcher | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
    <div class="table__row">
      <p>Border</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Fill color</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
        <div class="table__row">
          <p>Border color</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Fill color</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
        <div class="table__row">
          <p>Border color</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
      </div>
    </div>
  </div>
</div>

**Width: varies based on amount of content**

</div>

</div>

<div class="view__section">

<div class="view__full">

### States

Content switchers have two states: selected and non-selected. Selected states are a solid color. There must always be only one selected state, no more, no less. Unselected options have a 1px border with no fill.

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Internally there must be 32px / 2rem of space between the content container option text and sides of the content container.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/content-switcher/Content_Switcher_Padding_Mobile@2x.png">
    <img src="/assets/images/style/content-switcher/Content_Switcher_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Content switcher padding | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/content-switcher/light-ui/Content_Switcher_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/content-switcher/light-ui/Content_Switcher_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Content switcher padding | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between side of box and text</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
  </div>
</div>

</div>


</div>

## Typography

<div class="view__section">

<div class="view__full">

Content switcher text should be set in title case with the first letter of each word capitalized. Content Switcher option text should not exceed more than 3 words. Text should follow the typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
