{{#markdown}}

## Structure

<div class="view__section">

<div class="view__half">

### Basics
Content switchers must have at least two options for the user to choose from. Each container that makes up the content switcher is equal in size. The width of a container is determined by the length of the longest container option text plus the 32 px / 2em on both sides of the text.

**Content Switcher height: 40px / 2.5em**
**Content Switcher container width: varies based on amount of content**
**Content Switcher fill color: #5AAAFA**
**Border: 1px**
**Border color: #5AAAFA**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Content_Switcher_2px_640(1).png">
<img src="/assets/images/Content_Switcher_2px_640.png">
</picture>
<p class="caption">Content Switcher | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__full">

### States

Content switchers have two states: selected and not selected. Selected states are a solid color. There must always be only one selected state, no more, no less. Unselected options have 1px border with no fill.

</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding

Internally there must be 32px / 2em of space between the content container option text and sides of the content container.

**Padding between side of content box and text: 32px / 2em**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Content_Switcher_Padding_2px_640(1).png">
<img src="/assets/images/Content_Switcher_Padding_2px_640.png">
</picture>
<p class="caption">Content Switcher Padding | units in px / em</p>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Content switcher text should be set in title case with the first letter of each word capitalized. Content Switcher option text should not exceed more than 3 words. Text should follow the Bluemix Typography font stack for sans-serif.

**Content switcher font-size: 14px / .875em**
**Content switcher font-weight: roman / 400**

</div>

</div>

{{/markdown}}
