{{#markdown}}

### Text
No more than two words may be used for any title. Be concise and specific with the text.

### Default Selection
Based on usage, there should be a default selection. This would be the first option in the switcher.

### Example
The Content Switcher is used for large groups of content, as opposed to the <a href="http://design-system.stage1.mybluemix.net/base-elements/toggles.html">Toggle</a> which is meant for a &ldquo;Yes/No&rdquo; or &ldquo;On/Off&rdquo; binary decision.

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/content-switcher-example.gif" />
  <a href="/assets/images/content-switcher-example.gif" target="_blank" class="overlay">
  <img src="/assets/images/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
