{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

  ### Basics

  Checkboxes have two states: selected (checked) and not selected (unchecked). Selected or checked boxes are a single color fill with a contrasting color for the check mark. Unselected or unchecked boxes have a 2px border with no fill.

  <div class="style-img">
    <div class="style-img--dark">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/checkbox/Checkbox_Mobile@2x.png">
        <img src="/assets/images/style/checkbox/Checkbox_Desktop@2x.png">
      </picture>
      <p class="caption">Checkbox | units in px / rem
    </div>
    <div class="style-img--light">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/checkbox/light-ui/Checkbox_Mobile_Light@2x.png">
        <img src="/assets/images/style/checkbox/light-ui/Checkbox_Desktop_Light@2x.png">
      </picture>
      <p class="caption">Checkbox | units in px / rem
    </div>
  </div>

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>PROPERTY</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Height and width</p>
        <p class="table--light">18</p>
        <p class="table--light">2.75</p>
      </div>
      <div class="table__row">
        <p>Outline</p>
        <p class="table--light">2</p>
        <p class="table--light">-</p>
      </div>
    </div>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Checkboxes cannot have any element or text within 16 pixels / 1 rem of its borders.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/checkbox/Checkbox_with_Padding_Mobile@2x.png">
      <img src="/assets/images/style/checkbox/Checkbox_with_Padding_Desktop@2x.png">
    </picture>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/checkbox/light-ui/Checkbox_Padding_Mobile_Light@2x.png">
      <img src="/assets/images/style/checkbox/light-ui/Checkbox_Padding_Desktop_Light@2x.png">
    </picture>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between checkbox and label</p>
      <p class="table--light">8</p>
      <p class="table--light">.05</p>
    </div>
    <div class="table__row">
      <p>Padding between checkboxes</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

  Checkbox legend text should be set in **bold / 700** and sentence case, with only the first word in a phrase and any proper nouns capitalized.

  Checkbox label text should be set in **regular / 400** and sentence case, with only the first word in a phrase and any proper nouns capitalized.

  Checkbox labels should not exceed more than 3 words. Checkbox text should follow the typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Legend</p>
      <p class="table--light">14</p>
      <p class="table--light">.875</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">14</p>
      <p class="table--light">.875</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Legend</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
