{{#markdown}}

## Structure



<div class="view__section">

<div class="view__half">

### Basics

Checkboxes have two states: selected (checked) and not selected (unchecked). Selected or checked boxes are single-colored and filled with a contrasting colored check mark. Unselected or unchecked boxes have a 2px border with no fill.

**Checkbox height and width: 18px / 2.7em**
**Checkbox outline: 2px border**
**Space between checkbox and checkbox label text: 8px / .05em**
**Space between checkboxes: 16px / 1em**

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/checkbox/Checkbox_Mobile@2x.png">
    <img src="/assets/images/style/checkbox/Checkbox_Desktop@2x.png">
  </picture>
  <p class="caption">Checkbox | units in px / em
</div>

</div>



<div class="view__section">

<div class="view__half">

### Padding

A checkbox cannot have any element or text within 16 pixels / 1 em of its borders.

**External Padding: 16px / 1em**

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/checkbox/Checkbox_with_Padding_Mobile@2x.png">
    <img src="/assets/images/style/checkbox/Checkbox_with_Padding_Desktop@2x.png">
  </picture>
</div>

</div>



## Typography

<div class="view__section">

<div class="view__full">

Checkbox legend text, or titles, should be set in bold / 700 and title case, with the first letter of each word capitalized.
Checkbox label text should be set in regular / 400 and sentence case, with only the first letter of the first word capitilized.

**Legend font size: 14px / .875em**
**Legend font weight: bold / 700**
**Label font size: 14px / .875em**
**Legend font weight: normal / 400**

</div>

</div>

{{/markdown}}
