{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__half">

### Basics
Dropdown menus have two major states, open and closed. The open and closed menu should be the same width and appropriately fit the design, layout, and content. The height of closed menu should always be 40px / 2.5em. The height of an open menu will vary based on the amount of menu options it has. Please note the various color differences for closed and open menus.

**Dropdown Menu height: 40px / 2.5em**
**Dropdown Menu width: varies based on content and layout**

Closed Dropdown Menu:

**Background color:**
**Dark UI**: #ffffff at 10% opacity (rgba: 255, 255, 255, 0.10)
**Light UI**: #3d70b2 at 10% opacity (rgba: 61, 112, 178, 0.10)

Open Dropdown Menu:

**Background color:**
**Dark UI**: #ffffff at 10% opacity (rgba: 255, 255, 255, 0.10)
**Light UI**: #3d70b2 at 10% opacity (rgba: 61, 112, 178, 0.10)
**Dropdown drawer background color:**
**Dark UI**: #3a4b54
**Light UI**: #ffffff

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/Menu_Dropdown_Mobile@2x.png">
  <img src="/assets/images/style/dropdown/Menu_Dropdown_Desktop@2x.png">
  </picture>
  <p class="caption">Dropdown Basics | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Mobile_Light@2x.png">
  <img src="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Dropdown Basics | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding
Internally there must be 16px / 1em of space between the sides of the dropdown menu and the elements within the menu.

**Internal side padding: 16px / 1em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/Menu_Dropdown_Padding_Mobile@2x.png">
    <img src="/assets/images/style/dropdown/Menu_Dropdown_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Dropdown Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Dropdown Padding | units in px / em</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### States
In addition to the open and closed states, dropdown menus have hover, new selection, and disabled states.

**Hover border: 1px**
**Hover color: #5aaafa**
**Disabled: 50% opacity**
**New Selection color fill: #5aaafa**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/Menu_Dropdown_States_Mobile@2x.png">
    <img src="/assets/images/style/dropdown/Menu_Dropdown_States_Desktop@2x.png">
    </picture>
    <p class="caption">Dropdown States</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/light-ui/Dropdown_Menu_States_Mobile_Light@2x.png">
    <img src="/assets/images/style/dropdown/light-ui/Dropdown_Menu_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Dropdown States</p>
  </div>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

All dropdown menu text should be set in title case with the first letter of each word capitalized. Dropdown menu options should not exceed more than 3 words. Text should follow the Bluemix Typography font stack for sans-serif.

**Dropdown menu label font-size: 14 px/ .875rem**
**Dropdown menu label font-weight: bold / 700**
**Dropdown menu option text font-size: 14px /.875rem**
**Dropdown menu option text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
