{{#markdown}}

## General

Dropdown lists are used when the selection of items are of secondary importance. If space is a concern, use dropdowns to minimize distraction.

### Text

Limit dropdown content to a single line of text that describes the action it will perform when selected. Do not use multiple lines of text, images, or icons within a dropdown. Sort the items in logical order, such as grouping related options together.

### Length

Keep dropdown options succinct. Long dropdown menus that require scrolling make it difficult for users to see all their options in one glance.

## Interaction

Dropdowns should appear on-click rather than on hover. Hover-activated dropdowns increase cognitive load on users and are not recommended due to usability issues. Dropdown menus should appear above all other elements within the UI. They can be dismissed by clicking outside of the menu item or on the parent element. Generally, selecting an item from the dropdown menu will also dismiss the menu.

## Usage

### Small dropdown

A small dropdown is used solely for number selection. The increments in the dropdown, when used in a 'show per page' case, should be 10, 25, 50 and 100. The maximum amount of items a user can see per page is 100. Small dropdowns are most commonly used in <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/tables.html#foundation" target="_blank">tables</a>.

### Dropdown as a filter

A dropdown may be used to filter a set of data.

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/components/dropdown.png" />
  <a href="/assets/images/usage/components/dropdown.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>



{{/markdown}}
