{{#markdown}}

## General

Dropdown lists are used when the selection of items are of secondary importance. If space is a concern, use dropdowns to minimize distraction.

### Text

Dropdown content should be limited to a single line of text that describes the action it will perform when selected. Do not use multiple lines of text, images, or icons within a dropdown. Sort the items in logical order, such as grouping related options together.

### Length

Dropdown options should be as succinct as possible. Long dropdown menus that require scrolling make it difficult for users to see all their options within one glance.

## Interaction

Dropdowns should appear on-click, rather than on hover. Hover-activated dropdowns increase cognitive load on users and are not recommended for use due to usability purposes. Dropdown menus should appear above all other elements within the UI. They can be dismissed by clicking outside of the menu item or on the parent element. Generally, selecting an item from the dropdown menu will also dismiss the menu.

<p class="caption">Example:</p>

## Usage

### Dropdown as a Filter

Dropdowns can be used to filter a set of data.

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/dropdown-filter.png" />
  <a href="/assets/images/usage/dropdown-filter.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>

### Dropdown for additional options

Dropdowns can be used to perform batch actions on sets of data.

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/dropdown-actions.png" />
  <a href="/assets/images/usage/dropdown-actions.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
