{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics
Dropdown menus have two major states, open and closed. The open and closed menu should be the same width and appropriately fit the design, layout, and content. The height of a closed menu should always be 40px / 2.5rem. The height of an open menu will vary based on the amount of menu options it has. Please note the various color differences for closed and open menus.

<div class="style-img">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/Menu_Dropdown_Mobile@2x.png">
  <img src="/assets/images/style/dropdown/Menu_Dropdown_Desktop@2x.png">
  </picture>
  <p class="caption">Dropdown Basics | units in px / rem</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Mobile_Light@2x.png">
  <img src="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Dropdown Basics | units in px / rem</p>
</div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
    <div class="table__row">
      <p>Small dropdown height</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Small dropdown width</p>
      <p class="table--light">56px</p>
      <p class="table--light">3.5rem</p>
    </div>
  </div>
</div>

**Width: Varies based on content and layout**
<br>

#### Closed Dropdown Menu
<div class="style-properties max-width-45 mb2">
  <div class="style-properties__switcher mt0">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#ffffff at 10% opacity</p>
          <p class="table--light">$color__inputs--bg</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#3d70b2 at 10% opacity</p>
          <p class="table--light">$color__inputs--bg--light-ui</p>
        </div>
      </div>
    </div>
  </div>
</div>

#### Open Dropdown Menu
<div class="style-properties max-width-45">
  <div class="style-properties__switcher mt0">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#ffffff at 10% opacity</p>
          <p class="table--light">$color__inputs--bg</p>
        </div>
        <div class="table__row">
          <p>Drawer background</p>
          <p class="table--light">#394b54</p>
          <p class="table--light">$color__navy-gray-4</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#3d70b2 at 10% opacity</p>
          <p class="table--light">$color__inputs--bg--light-ui</p>
        </div>
        <div class="table__row">
          <p>Drawer background</p>
          <p class="table--light">#ffffff</p>
          <p class="table--light">$color__white</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding
Internally, there must be 16px / 1rem of space between the sides of the dropdown menu and the elements within the menu.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/Menu_Dropdown_Padding_Mobile@2x.png">
    <img src="/assets/images/style/dropdown/Menu_Dropdown_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Dropdown Padding | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/dropdown/light-ui/Dropdown_Menu_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Dropdown Padding | units in px / rem</p>
  </div>
</div>
<br>

#### Large Dropdown
<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal side padding</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>
<br>

#### Small Dropdown
<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal side padding</p>
      <p class="table--light">8px</p>
      <p class="table--light">.5rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### States
In addition to the open and closed states, dropdown menus have hover, new selection, and disabled states.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/Menu_Dropdown_States_Mobile@2x.png">
    <img src="/assets/images/style/dropdown/Menu_Dropdown_States_Desktop@2x.png">
    </picture>
    <p class="caption">Dropdown States</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/dropdown/light-ui/Dropdown_Menu_States_Mobile_Light@2x.png">
    <img src="/assets/images/style/dropdown/light-ui/Dropdown_Menu_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Dropdown States</p>
  </div>
</div>
<br>

#### Dropdown
**Disabled: 50% opacity**

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Hover border</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>COLOR</p>
      <p>HEX</p>
      <p>SCSS VARIABLE</p>
    </div>
    <div class="table__row">
      <p>Hover color</p>
      <p class="table--light">#5aaafa</p>
      <p class="table--light">$color__blue-30</p>
    </div>
    <div class="table__row">
      <p>New selection color fill</p>
      <p class="table--light">#5aaafa</p>
      <p class="table--light">$color__blue-30</p>
    </div>
  </div>
</div>
<br>

#### Small Dropdown

Whichever number is displayed at the top of the dropdown box, the corresponding number in the list below should have a check mark next to it, indicating which number is the one currently selected. The icon for the check mark can be found in the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography Library</a> or the <a class="base-link" href="https://github.ibm.com/Bluemix/bluemix-icons" target="_blank">Bluemix Icons Repo</a>.

**Disabled: 50% opacity**

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Hover border</p>
      <p class="table--light">1px solid outline</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Hover color</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
        <div class="table__row">
          <p>Open hover color</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Hover color</p>
          <p class="table--light">#3d70b2</p>
          <p class="table--light">$color__blue-51</p>
        </div>
        <div class="table__row">
          <p>Open hover color</p>
          <p class="table--light">#5596e6</p>
          <p class="table--light">$color__blue-40</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

All dropdown menu text should be set in title case with the first letter of each word capitalized. Dropdown menu options should not exceed more than 3 words. Text should follow the Bluemix Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Option text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Option text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
