<p class="page__main-desc">
  Using the proper <span class="highlight">voice and tone</span> allows us to better connect and resonate with our users. Software should act and feel humanistic, just like the people that are using our products. Having a consistent tone and voice across the product conveys that humanistic approach while building the brand personality.
</p>

<h1 class="page__heading">Voice</h1>
<p class="page__desc">Voice is the foundation for communicating Bluemix's product and brand message. It expresses the core of our personality, while bringing comfort, ease, and a sense of connection to our users. Be consistent with voice across the platform. </p>



<h1 class="page__heading">Tone</h1>
<p class="page__desc"><span class="page__desc--bold">&ldquo;It's not what you say, it's how you say it.&rdquo;</span><br><br>

Tone is used to ehance voice. It expresses mood and dictates how something is read. Tone should be dynamic, and adapt depending on the situation. Choose the tone that will best fit your audience, context, and their conditions. For example, getting started or onboarding content may be more lighthearted, while error messages should be more direct and distinct.</p>
