{{#markdown}}

## Labels

Think carefully about the needs and experience of the user when you choose which labels to use. If the primary audience for the user interface has expectations of terminology based on their business tasks or experience, take those expectations into account. The clearer the labels, the less additional assistance users will require.

- Use verbs or verb-noun combinations that describe the action to be completed. Do not use a noun alone as an action label.
- Follow labelling conventions for a given context. For example, a convention for adding a file to an email uses the action &ldquo;Attach&rdquo; while in most other contexts the action to add a file is labeled &ldquo;Add.&rdquo;

## Capitalization

- Always capitalize proper names, such as United States.
- Use all uppercase letters for abbreviations, acronyms, and initials (for example, IBM and ASCII) and two-letter abbreviations (for example, AL, AK, and AZ), and for OK.
- Product names, trademarked terms, and programming terms should keep their capitalization; treat them as proper nouns.

### Sentence style capitalization

This is predominantly lowercase; capitalize only the initial letter of the first word in the text and other words that require capitalization, such as proper nouns. Examples of proper nouns include the names of specific people, places, companies, languages, protocols, and products. A string with sentence style can have punctuation at the end, such as a period, colon, or ellipsis.

**Examples:**

- Business models
- Creating Boolean expressions
- Planning network architectures
- Properties and settings for printing
- Requirements for Linux and UNIX operating systems

### Title case capitalization

This uses initial capital letters for all significant words in the text. In headline-style capitalization, capitalize the initial letter of the following words:

- The first and last words of the text.
- All nouns, pronouns, adjectives, verbs, adverbs, and subordinating conjunctions such as after, although, because, before, how, if, than, that, though, until, when, where, whether, and while

In headline-style capitalization, do not capitalize the initial letter of the following words:

- Articles, except as the first word
- Coordinating conjunctions
- Prepositions, except as the first or last word

<div class="border-top-color--navy-gray-9 pt1">
See the <a href="https://new-console.ng.bluemix.net/docs/overview/glossary/index.html" target="_blank">Bluemix Glossary Terms</a> for further guidance.
</div>

{{/markdown}}
