<!-- Sidebar main navigation -->

<div class="menu">

  <a class="menu__header" href="/index.html">IBM Bluemix <br><span class="menu__header--bold">Design System</span></a>

  <ul class="menu__main-nav">

    <!-- Overview -->
    <li class="main-nav__item">
      <a href="/" class="item__heading">Overview</a>
    </li>

    <!-- Guidelines -->
    <li class="main-nav__item">
        <a class="item__heading" id="guidelines">Guidelines</a>
        <ul class="item__sub-nav">
            {{#each views.guidelines.items}}
            <li class="sub-nav__item">
                <a href="../guidelines/{{@key}}.html" class="item__link">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </li>

    <!-- Base Elements -->
    <li class="main-nav__item">
        <a class="item__heading" id="base-elements">Base Elements</a>
        <ul class="item__sub-nav">
            {{#each materials.docs--base-elements.items}}
            <li class="sub-nav__item">
                <a href="../base-elements/{{@key}}.html" class="item__link">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </li>

    <!-- Components -->
    <li class="main-nav__item">
        <a class="item__heading" id="components">Components</a>
        <ul class="item__sub-nav">
            {{#each materials.docs--components.items}}
            <li class="sub-nav__item">
                <a href="../components/{{@key}}.html" class="item__link">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </li>

    <!-- Templates -->
    <li class="main-nav__item">
        <a class="item__heading" id="templates">Templates</a>
        <ul class="item__sub-nav">
            {{#each views.templates.items}}
            <li class="sub-nav__item">
                <a href="../templates/{{@key}}.html" class="item__link">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </li>
  </ul>

</div>
