<div class="menu">

    <p>IBM <span>Bluemix</span> Design System</p>

	<ul>
		<li>
			<a href="index.html" class="menu__heading">Overview</a>
		</li>

        {{#each guidelines}}
        <li>
            <a href="{{@key}}.html" class="menu__heading">{{name}}</a>
            <ul>
                {{#each items}}
                <li>
                    <a href="{{@key}}.html" target="_blank">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}

		{{#each materials}}
		<li>
			<a href="{{@key}}.html" class="menu__heading">{{name}}</a>
			<ul>
				{{#each items}}
				<li>
					<a href="{{@../key}}.html#{{@key}}">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		</li>
		{{/each}}

		{{#each templates}}
		<li>
			<a href="{{@key}}.html" class="menu__heading">{{name}}</a>
			<ul>
				{{#each items}}
				<li>
					<a href="{{@../key}}/{{@key}}.html" target="_blank">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		</li>
		{{/each}}
	</ul>


</div>
