<!-- Sidebar main navigation -->

<div class="menu">

    <p class="menu__header">IBM Bluemix <br><span class="menu__header--bold">Design System</span></p>

	<ul class="menu__main-nav">

        <!-- Overview -->
		<li class="main-nav__item">
			<a href="index.html" class="item__heading">Overview</a>
		</li>

        <!-- Guidelines -->
        <li class="main-nav__item">
            <a href="guidelines.html" class="item__heading">Guidelines</a>
            <ul class="item__sub-nav">
                {{#each views.guidelines.items}}
                <li class="sub-nav__item">
                    <a href="guidelines/{{@key}}.html" target="_blank" class="item__link">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>

        <!-- Components and Base Elements -->
		{{#each materials}}
		<li class="main-nav__item">
			<a href="{{@key}}.html" class="item__heading">{{name}}</a>
			<ul class="item__sub-nav">
				{{#each items}}
				<li class="sub-nav__item">
					<a href="{{@../key}}.html#{{@key}}" class="item__link">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		</li>
		{{/each}}

        <!-- Templates -->
        <li class="main-nav__item">
            <a href="templates.html" class="item__heading">Templates</a>
            <ul class="item__sub-nav">
                {{#each views.templates.items}}
                <li class="sub-nav__item">
                    <a href="templates/{{@key}}.html" target="_blank" class="item__link">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
	</ul>

</div>
