<section class="page-header">
  <div class="page-info">
    <p class="category white">{{category}}</p>
    <h1>{{capitalize name}}</h1>
    <div class="mt-half mb1">
      {{#each tag as |tag|}}
      <span class="tag-light--{{tag.class}}">{{tag.text}}</span>
      {{/each}}
    </div>
  </div>
  <nav data-tabs data-tabs-navigation class="bx--tabs tabs--light" role="navigation">
    <div class="bx--tabs__trigger tabs__trigger--light">
      <a href="javascript:void(0)" class="bx--tabs__trigger-text tabs__trigger-text--light"></a>
      <svg>
        <use xlink:href="/assets/sprite.svg#service--down-arrow"></use>
      </svg>
    </div>
    <ul class="bx--tabs__nav tabs__nav--light bx--tabs--hidden" role="tablist">
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#foundation">Foundation</a></li>
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#usage">Usage</a></li>
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#style">Style</a></li>
    </ul>
  </nav>
</section>
