<div data-theme-switcher class="theme-switcher-btns">
  <button data-toggle-theme="dark" class="theme-switcher-btns__btn theme-switcher-btns__btn--dark">
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#asleep--glyph"></use>
    </svg>
  </button>
  <button data-toggle-theme="light" class="theme-switcher-btns__btn theme-switcher-btns__btn--light">
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#light"></use>
    </svg>
  </button>
</div>
