{{#markdown}}

### Labels
Effective form labeling helps users understand what information to enter into a text field. Using a placeholder (hint text) as a label is often applied as a space-saving method. However, this is not recommended because it hides context and presents accessibility issues. Hint text also increases cognitive load since users are forced to remember a label even after its filled out.

Accessibility best practices include:

- Labels must be visible when a field gets focus.
- Labels must be announced to the screen reader on focus.
- Ensure the helper text that appears under a field is read when an assistive technology user stops at a field using ARIA.

### Placeholder text
Placeholder text is used to complement a field and provide additional assistance to the user. It is helpful to provide examples of the data format required. Placeholder text should disappear once the user has inputted data into the text field.

<p class="caption">Example:</p>
<div>
  <img src="/assets/images/usage/text-fields.png"/>
</div>

### Validation
Real time validation helps to streamline the process and keep data clean when the user is filling out data. Including helper or error text before, during, or after a user interacts with a text field can aid the user in making correct decisions.

<p class="caption">Example:</p>
<div>
  <img src="/assets/images/usage/text-fields-validation.png"/>
</div>

## Mobile
Text fields on mobile should typically be stacked vertically, with labels and or hints above each field.

### Keyboard

- When the user touches an input field, a cursor is displayed and the keyboard is shown.
- Provide the keyboard that’s relevant to the data they are entering.

{{/markdown}}
