{{#markdown}}

### Labels
Effective form labeling helps users understand what information to put into the text field. As a space-saving method, often placeholder/hint text is used as a label. This is not best practice, since the interaction of the label disappearing can cause issues for people with cognitive issues or who use a screen magnifier. It also increases cognitive load for all users who would have to remember the purpose of the field after they filled it in with text.

- Label must be visible when the field gets focus
- The label must be announced to the screen reader on focus
- Ensure helper text that appears under a field is read when the assistive technology user stops at the field using aria

### Placeholder text
Placeholder text is used to complement a field and provide additional assistance to the user. It is helpful to provide examples of the data format required. Placeholder text should dissapear once the user has inputted data into the text field.

<p class="caption">Example:</p>
<div>
  <img src="/assets/images/usage/text-fields.png"/>
</div>

### Validation
Real time validation helps to streamline the process and keep data clean when the user is filling out data. Including helper or error text before, during, or after a user interacts with a text field can aid the user in making correct decisions.

<p class="caption">Example:</p>
<div>
  <img src="/assets/images/usage/text-fields-validation.png"/>
</div>

## Mobile
Text fields on mobile should typically be stacked vertically, with labels and or hints above each field.

### Keyboard

- When the user touches an input field, a cursor is displayed and the keyboard is shown
- Provide the keyboard that’s relevant to the data they are entering

{{/markdown}}
