{{#markdown}}

## Structure

<div class="view__section">

<div class="view__half">

### Basics

Text fields are one color, filled at 10% opacity. The width of a text field should appropriately fit the design and layout of the content.

**Select Box Background Color: rgb (255,255,255) at 10% opacity**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Text_Field_2px_640.png">
<img src="/assets/images/Text_Field_2px_640(1).png">
</picture>
<p class="caption">Text Field Basics | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

### States

- Default Non-Selected State: Browser Defined
- Hover: 1px blue outline (rgb 90, 170, 250)
- Form Validation: 2px bottom border (rgb 255, 80, 80)
- Help: Tool tip should be left aligned with the text field box and underlined to indicate a link
- Disabled: 50% opacity

**Hover Border weight: 1px**
**Hover Border color: rgb (90, 170, 250)**
**Form Validation Bottom Border weight: 2px**
**Form Validation Bottom Border color: rgb (255, 80, 80)**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Text_Field_States_2px_640.png">
<img src="/assets/images/Text_Field_States_2px_640(1).png">
</picture>
<p class="caption">Text Field States</h5>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Groupings
Text fields can be grouped horizontally and vertically for tablet and desktop views. Text fields cannot be grouped horizontally for mobile views.

**Padding between vertical groupings: 32px / 2em**
**Padding between horizontal groupings: 16px / 2em**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Text_Field_Groupings_2px_640.png">
<img src="/assets/images/Text_Field_Groupings_2px_640(1).png">
</picture>
<p class="caption">Text Field Grouping Orientations</h5>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Text field labels should be set in title case, with the first letter of every word capitalized. Text labels should be 3 words or less. Text field text should be set in sentence case with only the first letter of the first word capitalized. Text fields text should follow the Bluemix Typography font stack for sans-serif.

</div>

</div>

{{/markdown}}
