{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

Text fields are a single color fill at 10% opacity. The width of a text field should appropriately fit the design and layout of the content.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/text-fields/Text_Field_Mobile@2x.png">
    <img src="/assets/images/style/text-fields/Text_Field_Desktop@2x.png">
    </picture>
    <p class="caption">Text Field Basics | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/text-fields/light-ui/Text_Field_Mobile_Light@2x.png">
    <img src="/assets/images/style/text-fields/light-ui/Text_Field_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Text Field Basics | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#ffffff at 10% opacity</p>
          <p class="table--light">$color__inputs--bg</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Background</p>
          <p class="table--light">#3d70b2 at 10% opacity</p>
          <p class="table--light">$color__inputs--bg--light-ui</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### States

**Default Non-Selected State:** Browser Defined
**Help:** Tool tip should be left aligned with the text field box and underlined to indicate a link
**Disabled:** 50% opacity

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/text-fields/Text_Field_States_Mobile@2x.png">
    <img src="/assets/images/style/text-fields/Text_Field_States_Desktop@2x.png">
    </picture>
    <p class="caption">Text Field States</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/text-fields/light-ui/Text_Field_States_Mobile_Light@2x.png">
    <img src="/assets/images/style/text-fields/light-ui/Text_Field_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Text Field States</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Hover outline</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Form validation bottom border</p>
      <p class="table--light">2px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Form validation</p>
          <p class="table--light">#ff50f0</p>
          <p class="table--light">$color__red-40</p>
        </div>
        <div class="table__row">
          <p>Hover outline</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Form validation</p>
          <p class="table--light">#e71d21</p>
          <p class="table--light">$color__red-50</p>
        </div>
        <div class="table__row">
          <p>Hover outline</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Groupings
Text fields may be grouped horizontally and vertically for tablet and desktop views. Text fields cannot be grouped horizontally for mobile views.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/text-fields/Text_Field_Groupings_Mobile@2x.png">
    <img src="/assets/images/style/text-fields/Text_Field_Groupings_Desktop@2x.png">
    </picture>
    <p class="caption">Text Field Grouping Orientations</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/text-fields/light-ui/Text_Field_Groupings_Mobile_Light@2x.png">
    <img src="/assets/images/style/text-fields/light-ui/Text_Field_Groupings_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Text Field Grouping Orientations</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between vertical groupings</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Padding between horizontal groupings</p>
      <p class="table--light">16px</p>
      <p class="table--light">2rem</p>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Text field labels should be set in title case with the first letter of every word capitalized, and should not exceed more than 3 words. Text field text should be set in sentence case, with only the first letter of the first word capitalized. Text fields text should follow the Bluemix Typography font stack for sans-serif.

</div>

</div>

{{/markdown}}
