{{#markdown}}

## General

Buttons are used primarily on &ldquo;action items.&rdquo; Some examples are &ldquo;Add, Save, Delete, Sign Up.&rdquo; Do not use buttons as navigational elements; use links instead. A link takes the user to a new page and is not associated with an action.

### Text

In the UI, buttons and descriptions of buttons use the verb of the actionable step. For example, &ldquo;Delete&rdquo; instead of &ldquo;OK,&rdquo; &ldquo;Yes,&rdquo; or &ldquo;Done.&rdquo;  &ldquo;Save&rdquo; can be used if the action is to finalize the editing of existing information.

### Icon Usage

- Use small icons (16px or less) within buttons.
- Small icons are distinguished by their solid shape and knocked-out details.
- Icons should always appear to the right of the text.
- Icons used in buttons must be directly related to the action that the user is taking.
- Icons must be the same color value as the text within a button.

<p class="caption pt2 pb1">Example:</p>
<div class="small-img">
  <img src="/assets/images/button.png" />
</div>

{{/markdown}}
