{{#markdown}}

## General

Buttons are used primarily on action items. Some examples include **Add, Save, Delete, Sign Up.** Do not use buttons as navigational elements. Instead, use links because it takes the user to a new page and is not associated with an action. Each page may have 1 to 2 primary buttons. Any remaining calls-to-action are represented as secondary buttons.

### Labels

Button labels tell users what will happen when they click the button. Use verbs that describe the action, such as **Add** or **Delete.** Use sentence-style capitalization (only the first word in a phrase and any proper nouns capitalized) and no more than 3 words for button labels.

For sets of buttons, use specific labels, such as **Save** or **Discard**, instead of using **OK** and **Cancel**. This advice is particularly helpful when the user is confirming an action.

Use the ellipsis (...) only for buttons that open a modal where users must provide more information. The modal's title (without the ellipsis) matches the button label. Do not use an ellipsis in wizard buttons.

For consistency, see Labels and Idioms for the approved list of action labels.

### Icon Usage

- Use glyphs (16px) within buttons.
- Glyphs are distinguished by their solid shape and knocked-out details.
- Icons should always appear to the right of the text.
- Icons used in buttons must be directly related to the action that the user is taking.
- Icons must be the same color value as the text within a button.

<p class="caption pt2 pb1">Example:</p>
<div class="small-img">
  <img src="/assets/images/usage/elements/button.png" />
</div>

## Copy button
The copy button is styled differently than other buttons because it serves a different purpose. It must be accompanied by a confirmation that states the successful action of copying an item to the users clipboard. The copy button uses the `copy-code` glyph.

<p class="caption pt2 pb1">Example:</p>
<div>
  <img src="/assets/images/usage/elements/button2.gif" />
</div>

{{/markdown}}
