{{#markdown}}

## Structure



<div class="view__section">

<div class="view__half">

  ### Basics

  Primary buttons are single-colored, filled buttons with a contrasting color as the text label.

  Secondary buttons have a solid 2px border with no fill. The text and border color on secondary buttons styles should be the same color.

  **Button height: 40px / 2.5em**
  **Padding left and right of text: 16px / 1em**
  **Font size: 14px / .875 rem**
  **Font weight: bold / 700**

  ### Padding

  A button can not have any element or text within 16 pixels / 1 em of its borders.

  **External Padding: 16px / 1em**

</div>

<div class="view__half">
<picture>
  <source media="(max-width: 550px)" srcset="/assets/images/Primary_Button_640_2px.png">
  <img src="/assets/images/Primary_Button_640_2px(1).png" />
</picture>
<p class="caption pt0">Primary Buttons | units in px / ems</p>
<picture>
  <source media="(max-width: 550px)" srcset="/assets/images/Secondary_Button_640_2px.png">
  <img src="/assets/images/Secondary_Button_640_2px(1).png" />
</picture>
<p class="caption pt0">Secondary Buttons | units in px / ems</p>
</div>

</div>



<div class="view__section">

<div class="view__half">

  ### Groupings

  In a set of buttons, the primary button style is positioned on the outside of the set. The secondary button is positioned on the inside of the set.

  **Space between buttons: 16px**

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Groupings_640_2px.png">
    <img src="/assets/images/Groupings_640_2px(1).png" />
  </picture>
  <p class="caption pt0">Button Groupings | units in px / ems
</div>

</div>



<div class="view__section">

<div class="view__half">

### Button with Icons

There must be 16 pixels / 1 em between the text and the icon within the button.

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Button_with_icon_640_2px.png">
    <img src="/assets/images/Button_with_icon_640_2px(1).png" />
  </picture>
  <p class="caption pt0">Button with Icon | units in px / ems
</div>

</div>



## States

<div class="view__section">

  <div class="view__half">

  ### Primary Style

  **Focus:** Browser Defined
  **Hover:** Filled and one shade lighter on the IBM Design Language color scale than normal color. Text stays the same color.
  **Disabled:** 50% opacity.

  ### Secondary Style

  **Focus:** Browser Defined
  **Hover:** Filled with the same color as the stroke in the normal state. Text should change to a contrast color.
  **Disabled:** 50% opacity.

  </div>

  <div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Button_States_640_2px(1).png">
    <img src="/assets/images/Button_States_640_2px.png">
  </picture>
  </div>

</div>



## Typography

<div class="view__section">

  <div class="view__full">

  Button text should be set in title case, with the first letter of each word capitalized.
  Button labels should not exceed more than 3 words. Button text should follow the Bluemix Typography font stack for sans-serif.

  **Font-size: 14px / .875rem**
  **Font-weight: bold / 700**

  </div>

</div>

{{/markdown}}
