{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

  ### Basics

  Primary buttons are a single color fill with a contrasting color for the label. Secondary buttons have a solid 2px border with no fill. The label and border color on secondary buttons styles are the same color.

  <div class="style-img">
    <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Primary_Button_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Primary_Button_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Primary buttons | units in px / rems</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Secondary_Button_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Secondary_Button_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Secondary buttons | units in px / rems</p>
    </div>
    <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Primary_Button_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Primary_Button_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Primary buttons | units in px / rems</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Secondary_Button_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Secondary_Button_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Secondary buttons | units in px / rems</p>
    </div>
  </div>

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>PROPERTY</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Height</p>
        <p class="table--light">40</p>
        <p class="table--light">2.5</p>
      </div>
      <div class="table__row">
        <p>Small button height</p>
        <p class="table--light">32</p>
        <p class="table--light">2</p>
      </div>
      <div class="table__row">
        <p>Padding left and right of text</p>
        <p class="table--light">16</p>
        <p class="table--light">1</p>
      </div>
      <div class="table__row">
        <p>Font size</p>
        <p class="table--light">14</p>
        <p class="table--light">.875</p>
      </div>
    </div>
    <div class="table">
      <div class="table__header">
        <p>FONT WEIGHT</p>
        <p>KEYWORD</p>
        <p>NUMERICAL VALUE</p>
      </div>
      <div class="table__row">
        <p>Button text</p>
        <p class="table--light">Bold</p>
        <p class="table--light">700</p>
      </div>
    </div>
  </div>
</div>

</div>


<div class="view__section">

<div class="view__full">

  ### Padding

  A button cannot have any element or text within 16 pixels / 1 rem of its borders.

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>PROPERTY</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Internal side padding</p>
        <p class="table--light">16</p>
        <p class="table--light">1</p>
      </div>
      <div class="table__row">
        <p>Button external padding</p>
        <p class="table--light">16</p>
        <p class="table--light">1</p>
      </div>
      <div class="table__row">
        <p>Small button external padding</p>
        <p class="table--light">10</p>
        <p class="table--light">.625</p>
      </div>
    </div>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__full">

  ### Groupings

  For button groups, the primary button style is positioned on the outside of the set. The secondary button is positioned on the inside of the set.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Groupings_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Groupings_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Button groupings | units in px / rems</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Groupings_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Groupings_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Button groupings | units in px / rems</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Space between buttons</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Button with icons

There must be 16 pixels / 1 rem between the label text and an icon on a button.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Button_with_icon_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Button_with_icon_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Button with icon | units in px / rems</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Button_with_Icon_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Button_with_Icon_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Button with icon | units in px / rems</p>
  </div>
</div>

### Copy Button

The Copy Button is a button with an icon that has specific dimensions.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">40</p>
      <p class="table--light">2.5</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">106</p>
      <p class="table--light">6.625</p>
    </div>
  </div>
</div>

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Copy_Button_Mobile_Dark@2x.png">
      <img src="/assets/images/style/buttons/Copy_Button_Desktop_Dark@2x.png" />
    </picture>
    <p class="caption pt0">Copy Button | units in px / rems</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Copy_Button_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Copy_Button_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Copy Button | units in px / rems</p>
  </div>
</div>


</div>

</div>

## States

<div class="view__section">

  <div class="view__full">

  ### Primary style

  **Focus:** Browser defined
  **Hover:** Filled and one shade lighter on the IBM Design Language color scale than normal color. Text stays the same color.
  **Disabled:** 50% opacity.

  ### Secondary style

  **Focus:** Browser defined
  **Hover:** Filled and the same color as the stroke in the normal state. Text should change to a contrast color.
  **Disabled:** 50% opacity.

<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Normal</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color_blue-30</p>
        </div>
        <div class="table__row">
          <p>Hover</p>
          <p class="table--light">#7cc7ff <span class="table__swatch--blue-20"></span></p>
          <p class="table--light">$color__blue-20</p>
        </div>
        <div class="table__row">
          <p>Disabled</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span><br>at 50% opacity</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Normal</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
        <div class="table__row">
          <p>Hover</p>
          <p class="table--light">#5596e6 <span class="table__swatch--blue-40"></span></p>
          <p class="table--light">$color__blue-40</p>
        </div>
        <div class="table__row">
          <p>Disabled</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span><br>at 50% opacity</p>
          <p class="table--light">$color__blue-51</p>
        </div>
      </div>
    </div>
  </div>

  <div class="style-img">
    <div class="style-img--dark">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Button_States_Mobile@2x.png">
        <img src="/assets/images/style/buttons/Button_States_Desktop@2x.png">
      </picture>
    </div>
    <div class="style-img--light">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/States_Both_Mobile_Light@2x.png">
        <img src="/assets/images/style/buttons/light-ui/States_Both__Desktop_Light@2x.png">
      </picture>
    </div>
  </div>

  ### Copy Button
  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>PROPERTY</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Padding between button and tooltip</p>
        <p class="table--light">6</p>
        <p class="table--light">.375</p>
      </div>
    </div>
  </div>

  <div class="style-img">
    <div class="style-img--dark">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Copy_Button_States_Mobile_Dark@2x.png">
        <img src="/assets/images/style/buttons/Copy_Button_States_Desktop_Dark@2x.png" />
      </picture>
      <p class="caption pt0">Copy Button states | units in px / rems</p>
    </div>
    <div class="style-img--light">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Copy_Button_States_Mobile_Light@2x.png">
        <img src="/assets/images/style/buttons/light-ui/Copy_Button_States_Desktop_Light@2x.png" />
      </picture>
      <p class="caption pt0">Copy Button states | units in px / rems</p>
    </div>
  </div>

  </div>

</div>

</div>

## Typography

<div class="view__section">

  <div class="view__full">

  Button labels should be set in sentence case, with only the first word in a phrase and any proper nouns capitalized.

  Button labels should not exceed more than 3 words. Button text should follow the typography font stack for sans-serif.

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>FONT-SIZE</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Button text</p>
        <p class="table--light">14</p>
        <p class="table--light">.875</p>
      </div>
    </div>
    <div class="table">
      <div class="table__header">
        <p>FONT-WEIGHT</p>
        <p>KEYWORD</p>
        <p>NUMERICAL VALUE</p>
      </div>
      <div class="table__row">
        <p>Button text</p>
        <p class="table--light">Bold</p>
        <p class="table--light">700</p>
      </div>
    </div>
  </div>

  </div>

</div>

{{/markdown}}
