{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

  ### Basics

  Primary buttons are a single color fill with a contrasting color for the text of the label.

  Secondary buttons have a solid 2px border with no fill. The text and border color on secondary buttons styles are the same color.

  <div class="style-img">
    <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Primary_Button_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Primary_Button_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Primary Buttons | units in px / ems</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Secondary_Button_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Secondary_Button_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Secondary Buttons | units in px / ems</p>
    </div>
    <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Primary_Button_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Primary_Button_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Primary Buttons | units in px / ems</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Secondary_Button_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Secondary_Button_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Secondary Buttons | units in px / ems</p>
    </div>
  </div>

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>PROPERTY</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Height</p>
        <p class="table--light">40px</p>
        <p class="table--light">2.5rem</p>
      </div>
      <div class="table__row">
        <p>Small Button height</p>
        <p class="table--light">32px</p>
        <p class="table--light">2rem</p>
      </div>
      <div class="table__row">
        <p>Padding left and right of text</p>
        <p class="table--light">16px</p>
        <p class="table--light">1rem</p>
      </div>
      <div class="table__row">
        <p>Font size</p>
        <p class="table--light">14px</p>
        <p class="table--light">.875rem</p>
      </div>
    </div>
    <div class="table">
      <div class="table__header">
        <p>FONT WEIGHT</p>
        <p>KEYWORD</p>
        <p>NUMERICAL VALUE</p>
      </div>
      <div class="table__row">
        <p>Button text</p>
        <p class="table--light">Bold</p>
        <p class="table--light">700</p>
      </div>
    </div>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__full">

  ### Padding

  A button cannot have any element or text within 16 pixels / 1 em of its borders.

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>PROPERTY</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Internal side padding</p>
        <p class="table--light">16px</p>
        <p class="table--light">1rem</p>
      </div>
      <div class="table__row">
        <p>Button external padding</p>
        <p class="table--light">16px</p>
        <p class="table--light">1rem</p>
      </div>
      <div class="table__row">
        <p>Small Button external padding</p>
        <p class="table--light">10px</p>
        <p class="table--light">.625rem</p>
      </div>
    </div>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__full">

  ### Groupings

  For button groups, the primary button style is positioned on the outside of the set. The secondary button is positioned on the inside of the set.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Groupings_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Groupings_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Button Groupings | units in px / ems</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Groupings_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Groupings_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Button Groupings | units in px / ems</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Space between buttons</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Button with Icons

There must be 16 pixels / 1 em between the label text and an icon on a button.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Button_with_icon_Mobile@2x.png">
      <img src="/assets/images/style/buttons/Button_with_icon_Desktop@2x.png" />
    </picture>
    <p class="caption pt0">Button with Icon | units in px / ems</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/Button_with_Icon_Mobile_Light@2x.png">
      <img src="/assets/images/style/buttons/light-ui/Button_with_Icon_Desktop_Light@2x.png" />
    </picture>
    <p class="caption pt0">Button with Icon | units in px / ems</p>
  </div>
</div>

</div>

</div>

## States

<div class="view__section">

  <div class="view__full">

  ### Primary Style

  **Focus:** Browser Defined
  **Hover:** Filled and one shade lighter on the IBM Design Language color scale than normal color. Text stays the same color.
  **Disabled:** 50% opacity.

  ### Secondary Style

  **Focus:** Browser Defined
  **Hover:** Filled and the same color as the stroke in the normal state. Text should change to a contrast color.
  **Disabled:** 50% opacity.

  <div class="style-img">
    <div class="style-img--dark">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/Button_States_Mobile@2x.png">
        <img src="/assets/images/style/buttons/Button_States_Desktop@2x.png">
      </picture>
    </div>
    <div class="style-img--light">
      <picture>
        <source media="(max-width: 550px)" srcset="/assets/images/style/buttons/light-ui/States_Both_Mobile_Light@2x.png">
        <img src="/assets/images/style/buttons/light-ui/States_Both__Desktop_Light@2x.png">
      </picture>
    </div>
  </div>

  </div>
</div>

## Typography

<div class="view__section">

  <div class="view__full">

  Button text should be set in title case, with the first letter of each word capitalized.
  Button labels should not exceed more than 3 words. Button text should follow the Bluemix Typography font stack for sans-serif.

  <div class="style-properties max-width-45">
    <div class="table">
      <div class="table__header">
        <p>FONT-SIZE</p>
        <p>PX</p>
        <p>REM</p>
      </div>
      <div class="table__row">
        <p>Button text</p>
        <p class="table--light">14px</p>
        <p class="table--light">.875rem</p>
      </div>
    </div>
    <div class="table">
      <div class="table__header">
        <p>FONT-WEIGHT</p>
        <p>KEYWORD</p>
        <p>NUMERICAL VALUE</p>
      </div>
      <div class="table__row">
        <p>Button text</p>
        <p class="table--light">Bold</p>
        <p class="table--light">700</p>
      </div>
    </div>
  </div>

  </div>

</div>

{{/markdown}}
