{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

When tabs are needed for navigation, primary level tabbing should be used first. If another sub-set of navigation is needed within a tab than, the secondary level tabbing should be used.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Current tab bottom border</p>
      <p class="table--light">3</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Bottom divider</p>
      <p class="table--light">1</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Current tab text color</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
        <div class="table__row">
          <p>Current tab bottom border color</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Current tab text color</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
        <div class="table__row">
          <p>Current tab bottom border color</p>
          <p class="table--light">#3d70b2 <span class="table__swatch--blue-51"></span></p>
          <p class="table--light">$color__blue-51</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Primary level tabs

<div class="overlay-image width-full mt1">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/tabs/Tabs@2x.png">
    <a href="/assets/images/style/tabs/Tabs@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/tabs/light-ui/Tabs_Desktop_Light@2x.png">
    <a href="/assets/images/style/tabs/light-ui/Tabs_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Primary level tabs | units in px / rem</p>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between tab options and bottom of header</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Padding between tabs</p>
      <p class="table--light">48</p>
      <p class="table--light">3</p>
    </div>
    <div class="table__row">
      <p>Height of header</p>
      <p class="table--light">148</p>
      <p class="table--light">9.25</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Secondary level tabs

<div class="overlay-image width-full mt1">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/tabs/Secondary_Level_Tabs@2x.png">
    <a href="/assets/images/style/tabs/Secondary_Level_Tabs@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/tabs/light-ui/Secondary_Level_Tabs_Desktop_Light@2x.png">
    <a href="/assets/images/style/tabs/light-ui/Secondary_Level_Tabs_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Secondary level tabs | units in px / rem</p>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between tab options and horizontal divider border</p>
      <p class="table--light">8</p>
      <p class="table--light">0.5</p>
    </div>
    <div class="table__row">
      <p>Padding between tabs</p>
      <p class="table--light">48</p>
      <p class="table--light">3</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Two tab levels
<div class="style-img">
<div class="overlay-image mt1">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/tabs/Tabs_In_Context@2x.png">
    <a href="/assets/images/style/tabs/Tabs_In_Context@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/tabs/light-ui/All_Tabs_Padding_Desktop_Light@2x.png">
    <a href="/assets/images/style/tabs/light-ui/All_Tabs_Padding_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Two tab levels | units in px / rem</p>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between tab levels</p>
      <p class="table--light">48</p>
      <p class="table--light">3</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

## Typography

Tab option text for both primary and secondary levels should be set in sentence case. Tab option text should not exceed more than three words. Text should follow the typography font stack for sans-serif.

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Primary level tab options</p>
      <p class="table--light">14</p>
      <p class="table--light">0.875</p>
    </div>
    <div class="table__row">
      <p>Secondary level tab options</p>
      <p class="table--light">12</p>
      <p class="table--light">0.75</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Primary level tab options</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Secondary level tab options</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
  </div>
</div>

</div>

</div>


{{/markdown}}
