{{#markdown}}

## General

### Text
Each text title for a tab should appropriately describe its content and set user expectations. Titles should be as concise as possible: one, or if necessary, two words. Keep in mind that at mobile widths the character length of the title will impact the experience.

Icons are not permitted in the tab titles.

### Number of Tabs
There is a maximum of six tabs displayed. This is to maintain an uncluttered UI and reduce cognitive load for users.

### Order
Tab order should be consistent across service instances. If service instances require custom tabs they should be displayed after the default tabs. Tabs with related content should be grouped adjacent to each other.

### Secondary Level
Tabs are used to quickly navigate between views within the same context. This is to ensure a consistent, simple, and easily navigable experience for users. An intuitive taxonomy and descriptive tab titles can go a long way toward a good user experience.

A secondary level of tabs is permitted in the case of displaying multiple sets or views of the same content, or switching between discrete, but related content. The second level manipulates the view or the content within its parent tab, and thus is part of the active tab. It should look and feel like as shown below.

<div class="overlay-image">
<img class="thumbnail-img" src="/assets/images/tabs-secondary-level.png" />
<a href="/assets/images/tabs-secondary-level.png" target="_blank" class="overlay">
<img src="/assets/images/ibm-eye.png" />
<p>View at 100%</p>
</a>
</div>

## Standard Use Cases

Tabs are used within the <a href="http://design-system.stage1.mybluemix.net/templates/instance-dashboards.html"> Service Dashboard.</a>

### Manage
Content aiding in the users productive use workflow, and any additional learning content will be within the Manage tab.

### Service Credentials
The service credentials tab shows the service instance credentials to an end user. Currently, users have the ability to create mulitple sets of credentials. Services that do not use credentials will not be required to have this tab.

### Connections
This tab provides a way for users to bind their service instance to an existing app or service instance. Service to service bindings will be supported in the near future.

### Getting Started
Get Started is defined as the bare-minimum set of usage instructions an end-user needs to get up and running. Getting started content may manifest itself in different ways across the platform. Instill user confidence by presenting the quickest path to success.

**Use Case**
Get Started at the instance level should be all about getting a user up and running as fast as possible. At this level, getting started content manifests itself in the <a href="http://design-system.stage1.mybluemix.net/templates/instance-dashboards.html">Instance Dashboard</a> under the Getting Started tab.Upon creation of a service instance the content on the Getting Started tab is the first thing a user encounters and will likely dictate how successful they are with the service.

**Implementation**
Service providers should provide consistent getting started documentation using the <a href="https://releaseblueprints.ibm.com/display/CLOUDOE/getting+started+template+and+guidelines">Bluemix Getting Started Template and Guidelines.</a> Content on the Getting Started tab is populated directly from Bluemix Documentation when registering your service [New Link Coming].

**Example**
<div class="overlay-image">
<img class="thumbnail-img" src="/assets/images/tabs-example-4.png" />
<a href="/assets/images/tabs-example-4.png" target="_blank" class="overlay">
<img src="/assets/images/ibm-eye.png" />
<p>View at 100%</p>
</a>
</div>

### Custom Tabs
We understand some services will require an additional level of functionality not currently supported with the default tabs. Service providers who validate a need for an additional tab are permited one custom tab.

{{/markdown}}

<!--  COMMENTING OUT UNTIL TAB STRUCTURE IS FINALIZED

<p class="caption">Example:</h5>
<div class="overlay-image">
<img class="thumbnail-img" src="/assets/images/tabs-service-console.png" />
<a href="/assets/images/tabs-service-console.png" target="_blank" class="overlay">
<img src="/assets/images/ibm-eye.png" />
<p>View at 100%</p>
</a>
</div>
-->
