{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

When tabs are needed for navigation, Primary Level tabbing should be used first. If another sub-set of navigation is needed within a tab than, the Secondary Level tabbing should be used.

**Current tab text color:**
**Dark UI:** #5aaafa
**Light UI:** #3d70b2

**Current tab bottom border color:**
**Dark UI:** #5aaafa
**Light UI:** #3d70b2

**Current tab bottom border: 3px**
**Bottom divider color: 8c9ba5**
**Bottom divider: 1px**

### Primary Level Tabs

**Padding between tab options and bottom of header: 16px / 1em**
**Padding between tabs: 48px / 3em**
**Height of header: 148px / 9.25em**

<div class="overlay-image width-full mt2">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/tabs/Tabs@2x.png">
    <a href="/assets/images/style/tabs/Tabs@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/tabs/light-ui/Tabs_Desktop_Light@2x.png">
    <a href="/assets/images/style/tabs/light-ui/Tabs_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Primary Level Tabs | units in px / em</p>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Secondary Level Tabs

**Padding between tab options and horizontal divider border: 8px / .5em**
**Padding between tabs: 48px / 3em**

<div class="overlay-image width-full mt2">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/tabs/Secondary_Level_Tabs@2x.png">
    <a href="/assets/images/style/tabs/Secondary_Level_Tabs@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/tabs/light-ui/Secondary_Level_Tabs_Desktop_Light@2x.png">
    <a href="/assets/images/style/tabs/light-ui/Secondary_Level_Tabs_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Secondary Level Tabs | units in px / em</p>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Two Tab Levels

**Padding between Tab Levels: 48px / 3em**

<div class="overlay-image width-full mt2">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/style/tabs/Tabs_In_Context@2x.png">
    <a href="/assets/images/style/tabs/Tabs_In_Context@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/style/tabs/light-ui/All_Tabs_Padding_Desktop_Light@2x.png">
    <a href="/assets/images/style/tabs/light-ui/All_Tabs_Padding_Desktop_Light@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<p class="caption">Two Tab Levels | units in px / em</p>

</div>

</div>

<div class="view__section">

<div class="view__full">

## Typography

Tab option text for both Primary and Secondary levels should be set in title case, with the first letter of each word capitalized. Tab option text should not exceed more than 3 words. Text should follow the Bluemix Typography font stack for sans-serif.

**Primary level tab options font-size: 14px / .875rem**
**Primary level tab options font-weight: bold / 700**
**Secondary level tab options font-size: 12 / .75rem**
**Secondary level tab options font-weight: bold / 700**

</div>

</div>


{{/markdown}}
