---
fabricator: true
name: buttons
title: Buttons | Carbon Design System
category: elements
mainDesc: "express what action will occur when the user clicks or touches it. Buttons are used to initialize an action, either in the background or foreground of an experience."
iterations:
  button--primary:
    title: "Primary button"
    htmlFile: "src/materials/base-elements/button--primary.html"
    desc: "Primary buttons should be used for the principle call to action on the page. What is the most important action your user should take? Primary buttons should be three words or less."
    needWrap: "true"
  button--secondary:
    title: "Secondary button"
    htmlFile: "src/materials/base-elements/button--secondary.html"
    desc: "Secondary buttons should be used for secondary actions on each page. Secondary buttons should be three words or less."
    needWrap: "true"
  button--right-icon:
    title: "Button with icon"
    htmlFile: "src/materials/base-elements/button--right-icon.html"
    desc: "When words are not enough, icons can be used in buttons to better communicate what the button does. Icons are always paired with text."
    needWrap: "true"
  button--disabled:
    title: "Disabled button"
    htmlFile: "src/materials/base-elements/button--disabled.html"
    desc: "Disabled buttons may be used when the user cannot proceed until input is collected."
    needWrap: "true"
  button-set:
    title: "Sets of buttons"
    htmlFile: "src/materials/base-elements/sets-of-buttons.html"
    desc: "Sets of buttons are used when an action required by the user has more than one option. Always use a positive action button (primary) paired with a negative action button (secondary). Positive action buttons should be on the right, while negative action buttons will be on the left."
    needWrap: "true"
  button--small:
    title: "Small button"
    htmlFile: "src/materials/base-elements/button--small.html"
    desc: "Small buttons may be used when there is not enough vertical space for a regular sized button. This issue is most commonly found in tables. Small buttons should have three words or less."
    needWrap: "true"
  button--copy:
      title: "Copy button"
      htmlFile: "src/materials/base-elements/button--copy.html"
      desc: "The copy button can be used when the user needs to copy information, such as a code snippet, to their clipboard."
      needWrap: "true"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden pb5">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> buttons-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> buttons-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
