---
fabricator: true
name: checkboxes
title: Checkboxes | IBM Bluemix Design System
category: elements
mainDesc: "are used when there is a list of options and the user may select multiple options, including all or none."
iterations:
  checkbox:
    title: "Checkbox"
    htmlFile: "src/views/temp-materials/checkbox.html"
    desc: ""
    needWrap: "true"
  checkbox--disabled:
    title: "Disabled Checkbox"
    htmlFile: "src/views/temp-materials/checkbox-disabled.html"
    desc: ""
    needWrap: "true"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> checkbox-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> checkbox-style}}
</div>
<!-- View: Style ends -->

{{>line-numbers}}
