---
fabricator: true
name: checkbox
category: elements
mainDesc: "are used when there is a list of options, and the user may select multiple, including all or none."
iterations:
  checkbox:
    title: "Checkbox"
    htmlFile: "base-elements/checkbox.html"
    desc: ""
  checkbox--disabled:
    title: "Disabled Checkbox"
    htmlFile: "base-elements/checkbox--disabled.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> checkbox-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> checkbox-style}}
</div>
<!-- View: Style ends -->

{{>line-numbers}}
