---
fabricator: true
name: forms
title: Forms | IBM Bluemix Design System
category: elements
mainDesc: "are used for submitting data."
tag:
  new:
    text: New in 6.0.0
    class: third-party
iterations:
  form:
    title: "Forms"
    htmlFile: "src/materials/base-elements/form.html"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> forms-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> forms-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
