---
fabricator: true
name: lists
title: Lists | IBM Bluemix Design System
category: elements
mainDesc: "consists of multiple line items of related content grouped together and organized vertically."
iterations:
  list--unordered:
    title: "Unordered List"
    htmlFile: "base-elements/list--unordered.html"
    desc: "Unordered or bulleted lists are commonly used to present content of equal status or value. They generally present items in a random order."
  list--ordered:
    title: "Ordered List"
    htmlFile: "base-elements/list--ordered.html"
    desc: "Ordered or numbered lists are used if a particular order to the items is warranted. They imply sequence and order, and are most commonly used when giving a set of instructions."

---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> lists-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> lists-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
