---
fabricator: true
name: lists
title: Lists | Carbon Design System
category: elements
mainDesc: "consist of related content grouped together and organized vertically."
iterations:
  list--unordered:
    title: "Unordered list"
    htmlFile: "src/materials/base-elements/list--unordered.html"
    desc: "Unordered or bulleted lists are used to present content of equal status or value."
  list--ordered:
    title: "Ordered list"
    htmlFile: "src/materials/base-elements/list--ordered.html"
    desc: "Ordered or numbered lists imply sequence and order, and are commonly used when giving a set of instructions."

---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> lists-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> lists-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
