---
fabricator: true
name: Modules
title: Modules | Carbon Design System
category: components
mainDesc: "are used to organize content in a structural manner."
tag:
  new:
    text: Under Review
    class: deprecated
iterations:
  modules:
    title: "Modules"
    htmlFile: "src/materials/components/modules.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> modules-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden bx--global-light-ui">
  {{> modules-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
