---
fabricator: true
name: number inputs
title: Number input | IBM Bluemix Design System
category: elements
mainDesc: "are similar to text fields, but contain controls used to increase or decrease an incremental value."
tag:
  new:
    text: New in 6.0.0
    class: third-party
iterations:
  number-input:
    title: "Number input"
    htmlFile: "base-elements/number-input.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{>number-input-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> number-input-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
