---
fabricator: true
name: Radio buttons
title: Radio buttons | Carbon Design System
category: elements
mainDesc: "are used when a list of two or more options are mutually exclusive, meaning the user must select only one option."
iterations:
  radio-buttons:
    title: "Radio buttons"
    htmlFile: "src/materials/base-elements/radio.html"
    desc: ""
  radio-buttons--disabled:
    title: "Disabled radio buttons"
    htmlFile: "src/materials/base-elements/radio--disabled.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> radio-buttons-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden bx--global-light-ui">
  {{> radio-buttons-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
