---
fabricator: true
name: search
title: Search | IBM Bluemix Design System
category: elements
mainDesc: "enables users to specify a word or a phrase to find particular relevant pieces of content without the use of navigation. Search can be used as the primary means of discovering content, or as a filter to aid the user in finding content."
iterations:
  search:
    title: "Search"
    htmlFile: "base-elements/search.html"
    desc: "Search is used primarily to filter large sets of information that is contextual to the content on the page. Search results manipulate a group of primary content on the page. Do not use search for navigating to other parts of the site."
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> search-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> search-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
