---
fabricator: true
name: select
title: Select | Carbon Design System
category: elements
mainDesc: "is a type of input that is used in forms, where a user is submitting data and chooses one option from a list."
iterations:
  select:
    title: "Select"
    htmlFile: "src/materials/base-elements/select.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> select-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> select-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
