---
fabricator: true
name: select
category: elements
mainDesc: "dropdowns display a list below the title when it is selected. They are used primarily in forms, where a user chooses one option from a list. Once the user selects an item, the dropdown will dissapear and the field will reflect the user's choice."
iterations:
  select:
    title: "Select"
    htmlFile: "base-elements/select.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> select-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> select-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
