---
fabricator: true
name: Tags
category: elements
mainDesc: "are used for items that need to be labeled, categorized, or organized using keywords that describe them."
tag:
  new:
    text: New in 6.0.0
    class: third-party
iterations:
  text-aligns:
    title: "Tags"
    htmlFile: "components/tags.html"
    needWrap: "true"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> tags-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> tags-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
