---
fabricator: true
name: text fields
title: Text fields | IBM Bluemix Design System
category: elements
mainDesc: "enable the user to interact with and input data. Use when the application requires long-form content from the user."
iterations:
  text-field:
    title: "Text field"
    htmlFile: "src/materials/base-elements/text.html"
    desc: "A single line field field is used when the input anticipated by the user is a single line of text as opposed to a paragraph."
    needWrap: "true"
  text-area:
    title: "Text area"
    htmlFile: "src/materials/base-elements/textarea.html"
    desc: "A text area is used when you anticipate the user to input more than 1 sentence."
    needWrap: "true"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> text-fields-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> text-fields-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
