---
fabricator: true
name: toggle
title: Toggle | Carbon Design System
category: elements
mainDesc: "is a control that's used to quickly switch between two possible states. "
iterations:
  toggle:
    title: "Toggle"
    htmlFile: "src/materials/base-elements/toggle.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> toggles-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> toggles-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
