---
fabricator: true
name: Tooltips
title: Tooltips | Carbon Design System
category: components
mainDesc: "provide additional information upon hover or focus. They often contain helper text that is contextual to an element. "
tag:
  new:
    text: Under Review
    class: deprecated
iterations:
  tooltips:
    title: "Tooltips"
    htmlFile: "src/views/temp-materials/tooltips.html"
    desc: "New tooltip styles will be released soon, please refer to the Style tab for the current design."
    needWrap: "true"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> tooltips-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> tooltips-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
