---
fabricator: true
name: Tooltips
category: components
mainDesc: "provide additional information upon hover or focus. They often contain helper text that is contextual to an element. "
iterations:
  tooltips:
    title: "Tooltips"
    htmlFile: "components/tooltip.html"
    desc: ""
    needWrap: "true"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> tooltips-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> tooltips-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
