{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

There are several types of cards, each having its own measurements and attributes. Please select the appropriate card based on content and card needs. Find the measurement and visual details for each card type listed below. Card icons can be found in the <a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank">Bluemix Icon Repo</a> or on the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography Library</a> page.

</div>

</div>

<div class="view__section">

<div class="view__half">

### App Card

**App card height: 225px / 14.063em**
**App card width: 200px / 12.5em**
**Card information section: 177px / 11.063em**
**Status bar height: 48px / 3em**
**App icon: 50px / 3.125em**

**Card color:**
**Dark UI:** #20343e
**Light UI:** #ffffff

**Card border: 1px**

**Card border color:**
**Dark UI:** #152934
**Light UI:** #dfe3e6

**Status bar color:**
**Dark UI:** #152934
**Light UI:** #fof3f6

**Divider border: 1px**

**Divider color:**
**Dark UI:** #394b54
**Light UI:** #f0f3f6

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/Card_Apps_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Apps/Card_Apps_Desktop@2x.png">
  </picture>
  <p class="caption">App Card | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Desktop_Light@2x.png">
  </picture>
  <p class="caption">App Card | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Container Card

**Container card height: 225px / 14.063em**
**Container card width: 200px / 12.5em**
**Card information section: 177px / 11.063em**
**Status bar height: 48px / 3em**
**Container icon: 50px / 3.125em**

**Card color:**
**Dark UI:** #20343e
**Light UI:** #ffffff

**Card border: 1px**

**Card border color:**
**Dark UI:** #152934
**Light UI:** #dfe3e6

**Status bar color:**
**Dark UI:** #152934
**Light UI:** #f0f3f6

**Divider border: 1px**

**Divider color:**
**Dark UI:** #394B54
**Light UI:** #f0f3f6

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/Card_Containers_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Containers/Card_Containers_Desktop@2x.png">
  </picture>
  <p class="caption">Container Card | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Container Card | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Quota Card
Refer to the <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html" target="_blank">Buttons</a> section for button styling and guidelines.

**Quota card height: 225px / 14.063em**
**Quota card width: 200px / 12.5em**

**Card color:**
**Dark UI:** #152934
**Light UI:** #ffffff

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/Card_Quota_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Quotas/Card_Quota_Desktop@2x.png">
  </picture>
  <p class="caption">Quota Card | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Quota Card | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Service Card

Refer to the <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html" target="_blank">Buttons</a> and <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/links.html" target="_blank">Link</a> sections for button and link styling and guidelines.

**Service card height: 240px / 15em**
**Service card width: 200px / 12.5em**
**Service card information section: 185px / 11.5763em**
**Status bar height: 53px / 3.313em**
**Service icon: 50px / 3.125em**

**Card color:**
**Dark UI:** #20343e
**Light UI:** #ffffff

**Card border: 1px**

**Card border color:**
**Dark UI:** #152934
**Light UI:** #dfe3e6

**Status bar color:**
**Dark UI:** #152934
**Light UI:** #f0f3f6

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/Card_Service_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Service/Card_Service_Desktop@2x.png">
  </picture>
  <p class="caption">Service Card | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Service Card | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Virtual Servers Card

**Virtual Servers card height: 253px / 14.688em**
**Virtual Servers card width: 200px / 12.5em**
**Virtual Server card information section: 184px / 11.5em**
**Status bar height: 48px / 3em**
**Virtual Server icon: 50px / 3.125em**

**Card color:**
**Dark UI:** #20343e
**Light UI:** #ffffff

**Card border: 1px**

**Card border color:**
**Dark UI:** #152934
**Light UI:** #dfe3e6

**Status bar color:**
**Dark UI:** #152934
**Light UI:** #f0f3f6

**Divider border: 1px**

**Divider color:**
**Dark UI:** #394B54
**Light UI:** #f0f3f6

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Desktop@2x.png">
  </picture>
  <p class="caption">Virtual Servers Card | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Virtual Servers Card | units in px / em</p>
</div>
</div>

</div>

## Padding

<div class="view__section">

<div class="view__full">

The internal padding and padding between card elements is different for each card type. Please see the measurements below for each cards spacing.

</div>

</div>

<div class="view__section">

<div class="view__half">

### App Card

**Internal padding: 16px / 1em**
**Top of card to icon: 32px / 2em**
**Icon to app name: 24px / 1.5em**
**App url to status bar: 32px / 2em**

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Elements_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Elements_Desktop@2x.png">
  </picture>
  <p class="caption">App Card Padding | units in px / em</p>
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Internal_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Internal_Desktop@2x.png">
  </picture>
  <p class="caption">App Card Padding | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_Desktop_Light@2x.png">
  </picture>
  <p class="caption">App Card Padding | units in px / em</p>
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_2_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_2_Desktop_Light@2x.png">
  </picture>
  <p class="caption">App Card Padding | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Container Card

**Internal padding: 16px / 1em**
**Top of card to icon: 32px / 2em**
**Icon to container name: 24px / 1.5em**
**Container information to status bar: 32px / 2em**

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Elements_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Elements_Desktop@2x.png">
  </picture>
  <p class="caption">Container Card Padding | units in px / em</p>
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Internal_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Internal_Desktop@2x.png">
  </picture>
  <p class="caption">Container Card Padding | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Padding_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Containers/light-ui/Card_Contianers_Padding_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Container Card Padding | units in px / em</p>
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/light-ui/Card_Contianers_Padding_2_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Padding_2_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Container Card Padding | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Quota Card

**Top of card to number: 40px / 2.5em**
**Number to status information: 12px / .75em**
**Status information to details button: 16px / 1em**
**Details button to bottom of card: 42px / 2.625em**

</div>

<div class="view__half">
<div class="style-img--dark">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/Card_Quota__Padding_Elements_Mobile@2x.png">
  <img src="/assets/images/style/cards/Card_Quotas/Card_Quota__Padding_Elements_Desktop@2x.png">
  </picture>
  <p class="caption">Quota Card Padding | units in px / em</p>
</div>
<div class="style-img--light">
  <picture>
  <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Padding_Mobile_Light@2x.png">
  <img src="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Padding_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Quota Card Padding | units in px / em</p>
</div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Service Card

**Internal padding sides: 16px / 1em**
**Top of card to icon: 32px / 2em**
**Icon to service name: 24px /1.5em**
**Service information to credentials bar: 24px / 1.5em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/Card_Service_Padding_Elements_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Service/Card_Service_Padding_Elements_Desktop@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/Card_Service_Padding_Internal_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Service/Card_Service_Padding_Internal_Desktop@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_2_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_2_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
  </div>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Virtual Servers Card

**Internal padding: 16px / 1em**
**Top of card to icon: 32px / 2em**
**Icon to virtual server name: 24px /1.5em**
**Virtual server information to status bar: 24px / 1.5em**

</div>

<div class="view__half">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Elemental_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Elemental_Desktop@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Internal_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Internal_Desktop@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_2_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_2_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
  </div>
</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Card names and card information should be set in title case with the first letter of each word capitalized. A card url should be set in all lower case letter. Status text should be set in title case with the first letter of each word capitalized. All card type should follow the Bluemix Typography font stack for sans-serif.

### App Card

**Card name font-size: 18px / 1.125rem**
**Card name font-weight: light / 300**
**App url font-size: 12px / .75em**
**App url font-weight:roman / 400**

**App url font color:**
**Dark UI:** #5aaafa
**Light UI:** #3d70b2

**Status text font-size: 12px / .75em**
**Status text font-weight: roman / 400**

### Container Card

**Card name font-size: 18px / 1.125rem**
**Card name font-weight: light / 300**
**Container information font-size: 12px / .75em**
**Container information font-weight: roman / 400**

**Container information font color:**
**Dark UI:** #5aaafa
**Light UI:** #3d70b2

**Status text font-size: 12px / .75em**
**Status text font-weight: roman / 400**

### Quota Card

**All text alignment: centered**
**Number font-size: 46px / 2.875em**
**Number font-weight: light / 300**
**Status information font-size: 14px / .875em**
**Status information font-weight: roman / 400**

### Service Card

**Card name font-size: 18px / 1.125em**
**Card name font-weight: light / 300**
**Service information font-size: 12px / .75em**
**Service information font-weight: roman / 400**

**Service information color:**
**Dark UI: #8C9BA5**
**Light UI: #5a6872**

### Virtual Servers Card

**Card name font-size: 18px / 1.125em**
**Card name font-weight: light / 300**
**Virtual Server information font-size: 12px / .75em**
**Virtual Server information font-weight: roman / 400**

**Virtual Server information font color:**
**Dark UI: #5aaafa**
**Light UI: #3d70b2**

**Status text font-size: 12px / .75em**
**Status text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
