{{#markdown}}

## Structure
Cards may be as minimal as having a title with an icon and description to being more detailed to include a chart, live metrics, or metadata.
### Icon Usage
Icons are commonly used in cards to provide context at a quick glance.

### Title
Titles describe the subject of the data on a card.

### Description
The card's description section lives just below the title, and can be used to provide additional information (IP address, URL, instance name).

### Footer
The footer is commonly used for interactive elements, which can be any of the following: secondary buttons, links, and action icons. It can also contain additional informational content, such as plan name or app status.

### Overflow menu
An overflow menu is a common pattern used within cards. When clicked, it presents additional menu options that directly relate to the card. For more usage guidelines, see <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/overflow-menu.html" target="_blank"> Overflow Menu.</a>

## Example

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/components/cards.png" />
  <a href="/assets/images/usage/components/cards.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
