{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

There are several types of cards, each having its own measurements and attributes. Please select the appropriate card based on content and card needs. Find the measurement and visual details for each card type listed below. Card icons can be found in the <a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank">Bluemix Icon Repo</a> or on the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography Library</a> page.

</div>

</div>

<div class="view__section">

<div class="view__full">

### App Card
<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/Card_Apps_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Apps/Card_Apps_Desktop@2x.png">
    </picture>
    <p class="caption">App Card | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Desktop_Light@2x.png">
    </picture>
    <p class="caption">App Card | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">225px</p>
      <p class="table--light">14.063rem</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">200px</p>
      <p class="table--light">12.5rem</p>
    </div>
    <div class="table__row">
      <p>Information Section</p>
      <p class="table--light">177px</p>
      <p class="table--light">11.063rem</p>
    </div>
    <div class="table__row">
      <p>Status Bar</p>
      <p class="table--light">48px</p>
      <p class="table--light">3rem</p>
    </div>
    <div class="table__row">
      <p>App Icon</p>
      <p class="table--light">50px</p>
      <p class="table--light">3.125rem</p>
    </div>
    <div class="table__row">
      <p>Border</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Divider</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#20343e</p>
          <p class="table--light">$color__navy-gray-2</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#394b54</p>
          <p class="table--light">$color__navy-gray-4</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#ffffff</p>
          <p class="table--light">$color__white</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#dfe3e6</p>
          <p class="table--light">$color__gray-3</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#f0f3f6</p>
          <p class="table--light">$color__gray-2</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#f0f3f6</p>
          <p class="table--light">$color__gray-2</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Container Card
<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/Card_Containers_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Containers/Card_Containers_Desktop@2x.png">
    </picture>
    <p class="caption">Container Card | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Container Card | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">225px</p>
      <p class="table--light">14.063rem</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">200px</p>
      <p class="table--light">12.5rem</p>
    </div>
    <div class="table__row">
      <p>Information Section</p>
      <p class="table--light">177px</p>
      <p class="table--light">11.063rem</p>
    </div>
    <div class="table__row">
      <p>Status Bar</p>
      <p class="table--light">48px</p>
      <p class="table--light">3rem</p>
    </div>
    <div class="table__row">
      <p>App Icon</p>
      <p class="table--light">50px</p>
      <p class="table--light">3.125rem</p>
    </div>
    <div class="table__row">
      <p>Border</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Divider</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#20343e</p>
          <p class="table--light">$color__navy-gray-2</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#394b54</p>
          <p class="table--light">$color__navy-gray-4</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#ffffff</p>
          <p class="table--light">$color__white</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#dfe3e6</p>
          <p class="table--light">$color__gray-3</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#f0f3f6</p>
          <p class="table--light">$color__gray-2</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#f0f3f6</p>
          <p class="table--light">$color__gray-2</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Quota Card

Refer to the <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html" target="_blank">Buttons</a> section for button styling and guidelines.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/Card_Quota_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Quotas/Card_Quota_Desktop@2x.png">
    </picture>
    <p class="caption">Quota Card | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Quota Card | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">225px</p>
      <p class="table--light">14.063rem</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">200px</p>
      <p class="table--light">12.5rem</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#ffffff</p>
          <p class="table--light">$color__white</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Service Card

Refer to the <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html" target="_blank">Buttons</a> and <a class="base-link" href="http://design-system.stage1.mybluemix.net/base-elements/links.html" target="_blank">Link</a> sections for button and link styling and guidelines.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/Card_Service_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Service/Card_Service_Desktop@2x.png">
    </picture>
    <p class="caption">Service Card | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Service Card | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">225px</p>
      <p class="table--light">14.063rem</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">200px</p>
      <p class="table--light">12.5rem</p>
    </div>
    <div class="table__row">
      <p>Information Section</p>
      <p class="table--light">185px</p>
      <p class="table--light">11.5763rem</p>
    </div>
    <div class="table__row">
      <p>Status Bar</p>
      <p class="table--light">53px</p>
      <p class="table--light">3.313rem</p>
    </div>
    <div class="table__row">
      <p>Icon</p>
      <p class="table--light">50px</p>
      <p class="table--light">3.125rem</p>
    </div>
    <div class="table__row">
      <p>Border</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Divider</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#20343e</p>
          <p class="table--light">$color__navy-gray-2</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#394B54</p>
          <p class="table--light">$color__navy-gray-2</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#ffffff</p>
          <p class="table--light">$color__white</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#dfe3e6</p>
          <p class="table--light">$color__navy-gray-8</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#394b54</p>
          <p class="table--light">$color__navy-gray-4</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Virtual Servers Card

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Desktop@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">253px</p>
      <p class="table--light">14.688rem</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">200px</p>
      <p class="table--light">12.5rem</p>
    </div>
    <div class="table__row">
      <p>Information Section</p>
      <p class="table--light">184px</p>
      <p class="table--light">11.5rem</p>
    </div>
    <div class="table__row">
      <p>Status Bar</p>
      <p class="table--light">48px</p>
      <p class="table--light">3rem</p>
    </div>
    <div class="table__row">
      <p>Icon</p>
      <p class="table--light">50px</p>
      <p class="table--light">3.125rem</p>
    </div>
    <div class="table__row">
      <p>Border</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Divider</p>
      <p class="table--light">1px</p>
      <p class="table--light">-</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#20343e</p>
          <p class="table--light">$color__navy-gray-2</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#394B54</p>
          <p class="table--light">$color__navy-gray-2</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Card Background</p>
          <p class="table--light">#ffffff</p>
          <p class="table--light">$color__white</p>
        </div>
        <div class="table__row">
          <p>Card Border</p>
          <p class="table--light">#dfe3e6</p>
          <p class="table--light">$color__navy-gray-8</p>
        </div>
        <div class="table__row">
          <p>Status Bar</p>
          <p class="table--light">#152935</p>
          <p class="table--light">$color__blue-90</p>
        </div>
        <div class="table__row">
          <p>Divider</p>
          <p class="table--light">#394b54</p>
          <p class="table--light">$color__navy-gray-4</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

## Padding

The internal padding and padding between card elements is different for each card type. Please see the measurements below for each cards spacing.
<br>

<div class="view__section">

<div class="view__full">

### App Card

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Elements_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Elements_Desktop@2x.png">
    </picture>
    <p class="caption">App Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Internal_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Apps/Card_Apps_Padding_Internal_Desktop@2x.png">
    </picture>
    <p class="caption">App Card Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">App Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_2_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Apps/light-ui/Card_Apps_Padding_2_Desktop_Light@2x.png">
    </picture>
    <p class="caption">App Card Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal Padding</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Top of card to icon</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Icon to app name</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>App URL to status bar</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Container Card

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Elements_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Elements_Desktop@2x.png">
    </picture>
    <p class="caption">Container Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Internal_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Containers/Card_Containers_Padding_Internal_Desktop@2x.png">
    </picture>
    <p class="caption">Container Card Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Containers/light-ui/Card_Contianers_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Container Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Containers/light-ui/Card_Contianers_Padding_2_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Containers/light-ui/Card_Containers_Padding_2_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Container Card Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal Padding</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Top of card to icon</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Icon to app name</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>App URL to status bar</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Quota Card

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/Card_Quota__Padding_Elements_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Quotas/Card_Quota__Padding_Elements_Desktop@2x.png">
    </picture>
    <p class="caption">Quota Card Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Quotas/light-ui/Card_Quota_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Quota Card Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Top of card to number</p>
      <p class="table--light">40px</p>
      <p class="table--light">2.5rem</p>
    </div>
    <div class="table__row">
      <p>Number to status info</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Status info to details button</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Details button to bottom of card</p>
      <p class="table--light">42px</p>
      <p class="table--light">2.625rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Service Card

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/Card_Service_Padding_Elements_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Service/Card_Service_Padding_Elements_Desktop@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/Card_Service_Padding_Internal_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Service/Card_Service_Padding_Internal_Desktop@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_2_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Service/light-ui/Service_Card_Padding_2_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Service Card Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal Padding</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Top of card to icon</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Icon to service name</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Service info to credentials bar</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Virtual Servers Card

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Elemental_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Elemental_Desktop@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Internal_Mobile@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/Card_VS_Padding_Internal_Desktop@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_2_Mobile_Light@2x.png">
    <img src="/assets/images/style/cards/Card_Virtual_Servers/light-ui/Virtual_Server_Padding_2_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Virtual Servers Card Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal Padding</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Top of card to icon</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
    <div class="table__row">
      <p>Icon to virtual server name</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Virtual server info to status bar</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Card names and card information should be set in title case with the first letter of each word capitalized. A card url should be set in all lower case letter. Status text should be set in title case with the first letter of each word capitalized. All card type should follow the Bluemix Typography font stack for sans-serif.

### App Card

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">18px</p>
      <p class="table--light">1.125rem</p>
    </div>
    <div class="table__row">
      <p>App URL</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Status text</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
    <div class="table__row">
      <p>App URL</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Status text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>App URL</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>App URL</p>
          <p class="table--light">#3d70b2</p>
          <p class="table--light">$color__blue-51</p>
        </div>
      </div>
    </div>
  </div>
</div>

### Container Card

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">18px</p>
      <p class="table--light">1.125rem</p>
    </div>
    <div class="table__row">
      <p>Container information</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Status text</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
    <div class="table__row">
      <p>Container information</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Status text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Container information</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Container information</p>
          <p class="table--light">#3d70b2</p>
          <p class="table--light">$color__blue-51</p>
        </div>
      </div>
    </div>
  </div>
</div>

### Quota Card

<div class="style-properties max-width-45 mb2">
  <p class="bold">All text alignment: Centered</p>
  <div class="table">
    <div class="table__header">
      <p>FONT SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Number</p>
      <p class="table--light">46px</p>
      <p class="table--light">2.875rem</p>
    </div>
    <div class="table__row">
      <p>Status information</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Number</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
    <div class="table__row">
      <p>Status information</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

### Service Card

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">18px</p>
      <p class="table--light">1.125rem</p>
    </div>
    <div class="table__row">
      <p>Service information</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
    <div class="table__row">
      <p>Service information</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Service information</p>
          <p class="table--light">#8c9ba5</p>
          <p class="table--light">$color__navy-gray-7</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Service information</p>
          <p class="table--light">#5a6872</p>
          <p class="table--light">$color__navy-gray-6</p>
        </div>
      </div>
    </div>
  </div>
</div>

### Virtual Servers Card

<div class="style-properties max-width-45 mb2">
  <div class="table">
    <div class="table__header">
      <p>FONT SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">18px</p>
      <p class="table--light">1.125rem</p>
    </div>
    <div class="table__row">
      <p>Virtual server information</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Status text</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Card name</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
    <div class="table__row">
      <p>Virtual server information</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Status text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Virtual server information</p>
          <p class="table--light">#5aaafa</p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Virtual server information</p>
          <p class="table--light">#3d70b2</p>
          <p class="table--light">$color__blue-51</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
