// MARGIN

.mx-half {
  margin: 0 .5em;
}

.m0 {
  margin: 0;
}

.ml0 {
  margin-left: 0;
}

@for $i from 1 through 10 {

  .m#{$i} {
    margin: 1em * $i;
  }

  .mx#{$i} {
    margin-left: 1em * $i;
    margin-right: 1em * $i;
  }

  .my#{$i} {
    margin-top: 1em * $i;
    margin-bottom: 1em * $i;
  }

  .mb#{$i} {
    margin-bottom: 1em * $i;
  }

  .mt#{$i} {
    margin-top: 1em * $i;
  }

  .mr#{$i} {
    margin-right: 1em * $i;
  }

  .ml#{$i} {
    margin-left: 1em * $i;
  }
}

// MEDIA QUERIES

.sm--mt1 {
  @include breakpoint(bp--xs--major) {
    margin-top: 1em;
  }
}

.sm--mr0 {
  @include breakpoint(bp--sm--major) {
    margin-right: 0;
  }
}
