// PADDING

.p0 {
  padding: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pt0 {
  padding-top: 0;
}

.px-half {
  padding: 0 .5rem;
}

.py15 {
  padding: 1.5rem 0;
}

@for $i from 1 through 10 {

  .p#{$i} {
    padding: 1rem * $i;
  }

  .px#{$i} {
    padding-left: 1rem * $i;
    padding-right: 1rem * $i;
  }

  .py#{$i} {
    padding-top: 1rem * $i;
    padding-bottom: 1rem * $i;
  }

  .pb#{$i} {
    padding-bottom: 1rem * $i;
  }

  .pt#{$i} {
    padding-top: 1rem * $i;
  }

  .pr#{$i} {
    padding-right: 1rem * $i;
  }

  .pl#{$i} {
    padding-left: 1rem * $i;
  }
}

// MEDIA QUERIES

.sm--pt0 {
  @include breakpoint(bp--xs--major) {
    padding-top: 0;
  }
}

.sm--pt1 {
  @include breakpoint(bp--xs--major) {
    padding-top: 1rem;
  }
}

.sm--pt2 {
  @include breakpoint(bp--xs--major) {
    padding-top: 2rem;
  }
}

.sm--pb3 {
  @include breakpoint(bp--xs--major) {
    padding-bottom: 3rem;
  }
}

.sm--pb0 {
  @include breakpoint(bp--xs--major) {
    padding-bottom: 0;
  }
}

.sm--pb1 {
  @include breakpoint(bp--xs--major) {
    padding-bottom: 1rem;
  }
}

.sm--pb2 {
  @include breakpoint(bp--xs--major) {
    padding-bottom: 2rem;
  }
}

.sm--pb3 {
  @include breakpoint(bp--xs--major) {
    padding-bottom: 3rem;
  }
}
