.page_md {
  h1,
  h2,
  h3 {
    @include font-smoothing;
  }

  video {
    margin: 1rem 0;
    max-width: 38rem;
    width: 100%;
  }

  [data-page="components-usage-loading"] & blockquote {
    margin: 1rem 0 2rem;

    & > p {
      font-style: italic;
      color: $color__navy-gray-6;
    }
  }

  h3#css-modifiers {
    padding-top: 0;
  }

  > p:not(:empty) {
    max-width: 38rem;
    line-height: 1.75;
    padding: 0 0 1rem;

    + h2,
    + h4 {
      padding-top: 1rem;
    }

    + h3 {
      padding-top: 2rem;
    }

    + ul {
      padding-top: 0;
    }

    + h2 {
      margin-top: 4rem;
    }
  }

  h2 {

    & + table {
      margin-top: 0;
    }
  }

  > p:not(:empty):first-child {
     margin-bottom: 4rem;

    strong {
      font-size: 1.125rem;
      line-height: 1.5;
      word-wrap: break-word;
      letter-spacing: 0;
    }
  }

  h4 {
    color: $color__blue-90;
    padding: 4rem 0 1rem;
    font-weight: 600;
    font-size: 1rem;

    & + table {
      margin-top: 0;
    }
  }

  p strong {
    -webkit-font-smoothing: auto;
  }

  p em {
    font-size: rem(14px);
    color: $color__navy-gray-6;
  }

  > em {
    color: $color__navy-gray-6;
  }

  p strong em {
    font-size: 1.125rem;
    color: $color__blue-40;
    font-style: normal;
  }

  img {
    width: 100%;
    margin: 1rem 0 0;
  }

  a.bx--btn {
    margin-top: 1rem;
  }

  p code,
  li code {
    font-size: .875rem;
    padding: .25rem;
    background-color: $field-01;
    color: $color__navy-gray-6;
    font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    -webkit-font-smoothing: auto;
  }

  pre {
    margin: 0 0 1rem;
    width: 100%;
    max-width: 38rem;
    border: 2px solid #F5F7FA;

    code {
      font-size: .875rem;
      // white-space: pre-wrap;
      word-break: break-all;
      line-height: 1.5;
    }

    & + h4 {
      padding-top: 1rem;
    }
  }

  table {
    width: 100%;
    max-width: 38rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.25;

    & + p {
      margin-top: 3rem;
    }

    & + h2 {
      margin-top: 2rem;
    }

    & + hr + hr + blockquote {
      margin-top: 2rem;
    }

    thead {

      th {
        font-size: rem(12px);
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;
        letter-spacing: 1px;
        padding: 1rem 3rem 1rem 0;
        border-bottom: 2px solid $color__blue-40;
        white-space: nowrap;
      }
    }

    tbody {

      tr {
        border-bottom: 1px solid $color__gray-1;

        td {
          font-size: rem(14px);
          padding: 1rem 3rem 1rem 0;

          strong {
            letter-spacing: 0;
          }

          &:first-child {
            font-weight: 600;
            white-space: nowrap;
          }
        }
      }
    }
  }

  ul,
  ol {
    @include font-size('16');
    @include font-smoothing;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.75;
    max-width: 38rem;

    li {
      font-weight: 400;
      padding-left: .25rem;
    }

    & + h3 {
      padding-top: 2rem;
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  .image-set {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 100%;
    }

    img:first-child:nth-last-child(2),
    img:first-child:nth-last-child(2) ~ img {

      @include breakpoint('900px') {
        width: 50%;
      }
    }

    img:first-child:nth-last-child(3),
    img:first-child:nth-last-child(3) ~ img {
      @include breakpoint('900px') {
        width: 33.3333%;
      }
    }
  }

  .image-overlay {
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 1rem;

    img {
      width: 100%;
      z-index: 1;
      margin: 0 !important;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 98.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba($color__blue-30, .8);
      color: $color__white;
      font-size: rem(12px);
      font-style: normal;
      cursor: pointer;
      transition: $transition--base ease;
      opacity: 0;
      z-index: 2;
      text-decoration: none;

      img {
        width: auto;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    // &:hover,
    // &:focus {

    //   .image-overlay__overlay {
    //     opacity: 1;
    //   }
    // }
  }

  blockquote p img {
    width: 3.2rem;
    float: left;
    margin: 0 2rem .75rem 0;
  }

  blockquote + p strong {
    font-size: 1rem;
    color: $color__blue-40;
  }

  blockquote {
    margin: 1.75rem 0 0;
    line-height: 1.75;
    width: 100%;
    max-width: 38rem;
  }

  hr + hr {
    & + table {
      max-width: 45rem;
    }

    & + table thead {
      display: none;
    }

    & + table tbody tr {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & + table tbody tr td {
      font-size: 1rem;
      line-height: 1.5;

      em {
        font-style: normal;
        font-weight: 400;
      }

      &:nth-child(1) {
        white-space: initial;
        float: left;
      }

      &:nth-child(2) {
        white-space: nowrap;
        font-size: 4rem;
        text-align: right;
        line-height: 1;
      }
    }

    & + table tbody tr {
      border-bottom: 0;

      &:nth-child(1) {
        td:nth-child(2) {
          font-weight: 300;
        }
      }

      &:nth-child(2) {
        td:nth-child(2) {
          font-weight: 400;
        }
      }

      &:nth-child(3) {
        td:nth-child(2) {
          font-weight: 700;
        }
      }
    }
  }

  // Do's and Dont's list
  hr + hr {
    & + p {
      display: flex;
      align-items: center;
      padding-bottom: 0 !important;
      font-size: .875rem;

      img {
        width: auto !important;
        padding-right: .5rem;
      }

      & + p {
        border-left: 10px solid #8cd211;
        display: flex;
        align-items: center;
        padding: 1rem !important;
        font-size: 1.25rem;
        font-style: italic;
        font-weight: 300;
      }

      & + blockquote {
        margin: 0 !important;
      }

      & + blockquote p {
        border-left: 10px solid #ff5050;
        display: flex;
        align-items: center;
        padding: 1rem !important;
        font-size: 1.25rem;
        font-style: italic;
        font-weight: 300;
      }
    }
  }

  hr + hr {
    + h3 {
      position: relative;
      margin-top: 2rem;
      margin-bottom: 3rem;

      strong {
        position: absolute;
        top: 0;
        left:0;
        z-index: 2;
        color: $color__white;
        letter-spacing: 0;
        font-size: 1.625rem;
        top: 2.2rem;
        left: 1.625rem;
      }

      > img {
        width: auto !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  blockquote + hr + p {
    font-style: italic;
    margin-top: 1rem;
    color: $color__navy-gray-6;
  }

  hr + p img {
    width: 100%;
    display: block;

    @include breakpoint('600px') {
      width: auto;
    }
  }

  hr + hr + blockquote {
    margin-top: 1rem;
  }

  hr + hr + blockquote p {
    margin-bottom: 1.5rem;
  }

  hr + hr + blockquote p img {
    width: 100%;
    position: static;
    margin: 0;
    float: none;
    display: block;

    @include breakpoint('600px') {
      width: 50%;
    }
  }

  hr + table {
    max-width: 45rem;
  }
}
