{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

Radio buttons have two states, selected and unselected. Selected buttons are filled by a small, solid dot encircled by a 2px border. The dot and border should be the same color. Unselected buttons have a 2px border with no fill.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/radio-buttons/Radio_Button_Mobile@2x.png">
      <img src="/assets/images/style/radio-buttons/Radio_Button_Desktop@2x.png">
    </picture>
    <p class="caption">Radio button | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/radio-buttons/light-ui/Radio_Button_Text_Mobile_Light@2x.png">
      <img src="/assets/images/style/radio-buttons/light-ui/Radio_Button_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Radio button | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height and width</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Border</p>
      <p class="table--light">2px</p>
      <p class="table--light">-</p>
    </div>
    <div class="table__row">
      <p>Smaller fill dot height and width</p>
      <p class="table--light">8px</p>
      <p class="table--light">0.5rem</p>
    </div>
  </div>

  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Non-selected state border</p>
          <p class="table--light">#8c9ba5 <span class="table__swatch--navy-gray-7"></span></p>
          <p class="table--light">$color__navy-gray-7</p>
        </div>
        <div class="table__row">
          <p>Selected state</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Non-selected state border</p>
          <p class="table--light">#8c9ba5 <span class="table__swatch--navy-gray-7"></span></p>
          <p class="table--light">$color__navy-gray-7</p>
        </div>
        <div class="table__row">
          <p>Selected state</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></span></p>
          <p class="table--light">$color__blue-30</p>
        </div>
      </div>
    </div>
  </div>

</div>

</div>


</div>

<div class="view__section">

<div class="view__full">

### Padding

Radio buttons cannot have any element or text within 16 pixels of its borders.
There should be 16px / 1rem between the radio button and the radio button label text.

<div class="style-img">
<div class="style-img--dark">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/radio-buttons/Radio_Button_Padding_Mobile@2x.png">
    <img src="/assets/images/style/radio-buttons/Radio_Button_with_Padding_Desktop@2x.png">
  </picture>
  <p class="caption">Radio button padding | units in px / rem</p>
</div>
<div class="style-img--light">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/radio-buttons/light-ui/Radio_Button_Padding_Mobile_Light@2x.png">
    <img src="/assets/images/style/radio-buttons/light-ui/Radio_Button_Padding_Desktop_Light@2x.png">
  </picture>
  <p class="caption">Radio button padding | units in px / rem</p>
</div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>External padding</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
    <div class="table__row">
      <p>Padding between label and button</p>
      <p class="table--light">16px</p>
      <p class="table--light">1rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

## Typography

Number input labels should be set in bold and sentence case, with only the first word in a phrase and any proper nouns capitalized. Number input text should be set in roman and only contain numbers, no letters. All number input type should follow the typography font stack for sans-serif.


<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Legend</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Legend</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Label</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
