{{#markdown}}

### Headings
If necessary, a heading can accompany a set of radio buttons to provide further clarity for the user. Use sentence-style capitalization (only the first word in a phrase and any proper nouns capitalized).

<p class="caption">Example:</h5>
<div class="small-img">
  <img src="/assets/images/usage/elements/radio-buttons-1.png"/>
</div>


### Lables
Always use a clear and concise label for radio buttons. Be explicit about the action that will follow if the radio button is selected. Labels appear to the right of radio buttons. Use sentence-style capitalization (only the first word in a phrase and any proper nouns capitalized) and no more than 3 words.

### Default selection
A set of radio buttons should default to having one option selected. Never display them without a default selection.

<p class="caption">Example:</h5>
<div class="small-img">
  <img src="/assets/images/usage/elements/radio-buttons-2.png"/>
</div>

{{/markdown}}
