s{{#markdown}}

### Title
If necessary, a title may accompany a set of radio buttons to provide further clarity into what the user is making a selection on.

<p class="caption">Example:</h5>
<div class="bg-navy-gray-3">
  <img src="/assets/images/usage/radio-buttons-default.png"/>
</div>


### Lables
A radio button should always be accompanied by a clear and concise label. Be explicit about the action that will follow if the radio button is selected. Labels appear to the right of radio buttons.

### Default Selection
A set of radio buttons should default to having one option selected. Never display them without a default selection.

<p class="caption">Example:</h5>
<div class="bg-navy-gray-3">
  <img src="/assets/images/usage/radio-buttons-title.png"/>
</div>

{{/markdown}}
