<!--
  Checkbox (SVG)
  * Available as default in `7.x`
  * Uses SVG to create checkmark (bluemix-icons)
  * Compatible with all browsers
-->

<!-- Disabled Checkbox SVG (input + label) -->
<input disabled id='disabled-checkbox-svg' class='bx--checkbox bx--checkbox--svg' type='checkbox' value='green' name='checkbox'>
<label for='disabled-checkbox-svg' class='bx--checkbox__label'>
  <span class='bx--checkbox__appearance'>
    <svg class='bx--checkbox__checkmark'>
      <use xlink:href='https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--check-padding'></use>
    </svg>
  </span>
  Disabled Checkbox SVG (input + label)
</label>

<!-- Disabled Checkbox SVG (label > input) -->
<label class='bx--checkbox__label'>
  <input disabled class='bx--checkbox bx--checkbox--svg' type='checkbox' value='yellow' name='checkbox'>
  <span class='bx--checkbox__appearance'>
    <svg class='bx--checkbox__checkmark'>
      <use xlink:href='https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--check-padding'></use>
    </svg>
  </span>
  <span class='bx--checkbox__label-text'>Disabled Checkbox SVG (label > input)</span>
</label>
