.grid-example {

  &__grids {
    display: flex;
    list-style: none;
    margin-left: 0 !important;

    li {
      list-style-type: none !important;
      margin-right: 1rem;
      height: 14rem;

      .image-overlay__overlay {
        height: 14rem;
      }

      &:last-child {
        margin-right: 0;

        a p {
          font-size: rem(10px);
        }

        a img {
          width: 80%;
        }
      }

      > img {
        width: 100%;
        height: 100%;
        margin: 0 !important;
      }
    }
  }

  &__keys {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    p:first-child {
      font-weight: 700;
    }

    p {
      margin-right: .5rem;
      display: flex;
      align-items: center;
    }

    p span {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin: 0 .5rem;

      &.columns {
        background-color: #F5F7FA;
        border: 1px solid $color__navy-gray-6;
      }

      &.gutter {
        background-color: #4CFCFC;
      }

      &.margins {
        background-color: #4BFBA1;
      }
    }
  }
}