// COLORS.SCSS

// Text colors
$text-color-dark: $color__blue-90;
$text-color-light: $color__white;

// Heading colors
$heading-color: $color__blue-30;

// Link colors
$link-color-dark: $color__blue-30;
$link-color-light: $color__blue-51;

// Background colors
$dark-bg-color: #1d3649;

// Button colors
$primary-button-color: $color__blue-51;
