body {
  @include reset;
  @include helvetica;
  background-color: $color__white;
  color: $text-color-dark;

  hr {
    display: none;
  }
}

.container {
  margin-left: 0;
  transition: $transition--base ease;

  @include breakpoint('bp--md--major') {
    margin-left: $width--side-nav;
  }

  &--expanded {
    margin-left: 0;
  }
}

a {
  @include font-smoothing;
  color: $color__blue-51;
  font-weight: 600;

  &:hover {
    color: $color__blue-40;
  }
}