{{#markdown}}

## General

Toggles should be used for binary actions that occur immediately after the user &ldquo;flips&rdquo; the toggle switch. They are commonly used for &ldquo;On/Off&rdquo; situations.

<p class="caption">Example</h5>
<div>
  <img src="/assets/images/usage/toggles.png" />
</div>

### Titles

Titles can be used to accompany Toggles to provide further clarification as to what action the toggle will perform.

### Labels

Use a label to accompany a toggle so the user is aware of the action that will occur. Labels should be 3 words or less, and appear on both sides of the toggle.

### Language

Labels should be adjectives, which describe the state of the object affected, rather than a verb. Verbs describe an action, in which case the user does not know whether the action has taken place or is yet to take place.

## Example:

<div>
  <img src="/assets/images/usage/toggle-ui.png" />
</div>

{{/markdown}}
