{{#markdown}}

## Structure

<div class="view__section">

<div class="view__half">

### Basics

Toggles have two states: action on and action off. When an action state is on, the toggle button should be solid and on the right end of the toggle bar. When an action state is off, the button should have a 2px border with no fill and be on the left end of the toggle bar.
The font for the unactive state should be lighter than the active state.

**Toggle Button height & width: 24px / 2.5em**
**Button Border: 2 px / .125 em**
**Font size: 14px / .875 em**
**Font weight: normal / 400**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/toggle/Toggle_Mobile@2x.png">
<img src="/assets/images/style/toggle/Toggle_Desktop@2x.png">
</picture>
<p class="caption">Toggle | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__half">

### Padding
Toggles can not have any element or text within 16 pixels / 1em of its borders.

**External Padding: 16px**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/style/toggle/Toggle_With_Padding_Mobile@2x.png">
<img src="/assets/images/style/toggle/Toggle_With_Padding_Desktop@2x.png">
</picture>
<p class="caption">Toggle Padding | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__full">

### Typography

Toggle text should be set in title case, with the first letter of each word capitalized. Toggle labels should be 3 words or less. Toggle text should follow the Bluemix Typography font stack for sans-serif.

</div>

</div>

{{/markdown}}
