{{#markdown}}

## General

Toggles are used for binary actions that occur immediately after the user &ldquo;flips&rdquo; the toggle switch. They are commonly used for &ldquo;On/Off&rdquo; situations.

<div>
  <img src="/assets/images/usage/toggles.png" />
</div>
<p class="caption">Example</h5>

### Titles

A title may accompany a toggle to further clarify the action the toggle will perform.

### Labels

Use labels with a toggle so the action of the toggle is clear. Labels should be 3 words or less and appear on both sides of a toggle.

### Language

Use adjectives rather than verbs to describe labels and the state of the object affected.

## Example:

<div>
  <img src="/assets/images/usage/toggle-ui.png" />
</div>

{{/markdown}}
