{{#markdown}}

## Format

### Size
To maintain consistency, generic notifications have a fixed width but the height may vary depending on content. The width and height of inline notifications may vary depending on content.

### Title
All notifications have titles that inform the subject of the content presented.

### Message
The body or message of the notification must be contained within two lines. Be as descriptive as possible, and try to include troubleshooting actions or next steps. If you can communicate the main message of your notification to the user within the title, a secondary message may not be needed.

### Dismissal
All notifications must have at least one method of dismissal. Typically, it is a small &ldquo;x&rdquo; in the upper right hand corner.

### Color

<div>
  <h4 style="color: #8cd211" class="bold">Green 30: Success</h4>
  <div class="py1">
    <img src="/assets/images/usage/notification-green.png" />
  </div>
</div>
<div>
  <h4 style="color: #efc100" class="bold">Yellow 30: Warning</h4>
  <div class="py1">
    <img src="/assets/images/usage/notification-yellow.png" />
  </div>
</div>
<div>
  <h4 style="color: #ff5050" class="bold">Red 40: Error</h4>
  <div class="py1">
    <img src="/assets/images/usage/notification-red.png" />
  </div>
</div>
<div>
  <h4 style="color: #7cc7ff" class="bold">Blue 20: Informational</h4>
  <div class="py1">
    <img src="/assets/images/usage/notification-blue.png" />
  </div>
</div>

### Icons
Icons may provide additional clarity. They should be placed to the left of the title. See the Style tab for further specs about icons.

<div class="py1">
  <img src="/assets/images/usage/notification-icons.png" />
</div>



## Placement

### Generic Notifications
Generic notifications always slide in and out a page from the top-right corner. Actionable notifications do not appear on mobile screen widths.

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/notifications-generic.png" />
  <a href="/assets/images/usage/notifications-generic.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>


### Inline Notifications
Inline notifications appear near its related item.

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/inline-notification-1.png" />
  <a href="/assets/images/usage/inline-notification-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
