{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics
There are three types of notifications: inline, generic, and modal. Please refer to the usage tab when determining notification type. The border color of a notification and its accompanying icon indicate the notification state. The left border of a notification should be 5px, while the remaining sides are 1px.

Notifications on desktop and tablet should not exceed two lines, including the notification title. Notifications on mobile should not exceed three lines, including the notification title.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/Notifications_Mobile@2x.png">
      <img src="/assets/images/style/notifications/Notifications_Desktop@2x.png">
    </picture>
    <p class="caption">Notifications | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/light-ui/Inline_Notifications_Mobile_Light@2x.png">
      <img src="/assets/images/style/notifications/light-ui/Inline_Notifications_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Notifications | units in px / rem</p>
  </div>
</div>
<br>

### Inline mobile notifications
<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>One-line notification height</p>
      <p class="table--light">40</p>
      <p class="table--light">2.5</p>
    </div>
    <div class="table__row">
      <p>Two-line notification height</p>
      <p class="table--light">56</p>
      <p class="table--light">3.5</p>
    </div>
    <div class="table__row">
      <p>Three-line notification height</p>
      <p class="table--light">85</p>
      <p class="table--light">5.313</p>
    </div>
    <div class="table__row">
      <p>Padding around close icon</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Notification icon height and width</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Padding around notification state icon</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Left notification border</p>
      <p class="table--light">5</p>
      <p class="table--light">-</p>
    </div>
  </div>
</div>

**Width: Varies based on content**
<br>

### Inline desktop and tablet notifications
<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>One-line notification height</p>
      <p class="table--light">40</p>
      <p class="table--light">2.5</p>
    </div>
    <div class="table__row">
      <p>Two-line notification height</p>
      <p class="table--light">56</p>
      <p class="table--light">3.5</p>
    </div>
    <div class="table__row">
      <p>Padding between top and bottom of notification and text</p>
      <p class="table--light">12</p>
      <p class="table--light">0.75</p>
    </div>
    <div class="table__row">
      <p>Padding around close icon</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Notification icon height and width</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Padding around notification state icon</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Left notification border</p>
      <p class="table--light">5</p>
      <p class="table--light">-</p>
    </div>
  </div>
</div>

**Width: Varies based on content**

</div>

</div>

<div class="view__section">

<div class="view__full">

### Generic notifications mobile, desktop, and tablet

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/ToastNotifications_Mobile@2x.png">
      <img src="/assets/images/style/notifications/ToastNotifications_Desktop@2x.png">
    </picture>
    <p class="caption">Generic notifications | units in px / rem</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/ToastNotifications_Padding_Mobile@2x.png">
      <img src="/assets/images/style/notifications/ToastNotifications_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Generic notifications internal padding | units in px / rem</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/ToastNotifications_Padding2_Mobile@2x.png">
      <img src="/assets/images/style/notifications/ToastNotifications_Padding2_Desktop@2x.png">
    </picture>
    <p class="caption">Generic notifications external padding | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/light-ui/Toast_Notification_Mobile_Light@2x.png">
      <img src="/assets/images/style/notifications/light-ui/Toast_Notification_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Generic notifications | units in px / rem</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/light-ui/Toast_Notification_Internal_Padding_Mobile_Light@2x.png">
      <img src="/assets/images/style/notifications/light-ui/Toast_Notification_Internal_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Generic notifications internal padding | units in px / rem</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/light-ui/Toast_Notification_External_Padding_Mobile_Light@2x.png">
      <img src="/assets/images/style/notifications/light-ui/Toast_Notification_External_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Generic notifications external padding | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">80</p>
      <p class="table--light">5</p>
    </div>
    <div class="table__row">
      <p>Width</p>
      <p class="table--light">270</p>
      <p class="table--light">16.875</p>
    </div>
    <div class="table__row">
      <p>Internal padding on right side</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Internal padding on left side</p>
      <p class="table--light">80</p>
      <p class="table--light">5</p>
    </div>
    <div class="table__row">
      <p>Internal padding top to title</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Internal padding subtitle to caption</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
    <div class="table__row">
      <p>Internal padding caption to bottom</p>
      <p class="table--light">8</p>
      <p class="table--light">0.5</p>
    </div>
    <div class="table__row">
      <p>Internal padding around 'x' icon</p>
      <p class="table--light">8</p>
      <p class="table--light">0.5</p>
    </div>
    <div class="table__row">
      <p>External padding between notifications</p>
      <p class="table--light">8</p>
      <p class="table--light">0.5</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Modal Notifications

Please refer to the <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/modals.html" target="_blank">Modal</a> section for additional guidelines on styling and using modals.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/Notifications_Modal_Mobile@2x.png">
      <img class="pt0" src="/assets/images/style/notifications/Notifications_Modal_Desktop@2x.png">
    </picture>
    <p class="caption">Modal notifications | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/light-ui/Modal_Notification_Mobile_Light@2x.png">
      <img class="pt0" src="/assets/images/style/notifications/light-ui/Modal_Notification_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Modal notifications | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Close button height and width</p>
      <p class="table--light">10</p>
      <p class="table--light">0.625</p>
    </div>
    <div class="table__row">
      <p>Padding between buttons</p>
      <p class="table--light">16</p>
      <p class="table--light">1</p>
    </div>
  </div>
</div>

**Notification height & width: varies based on content and layout**

</div>

</div>

<div class="view__section">

<div class="view__full">

### States
There are four states for notifications: warning, informational, error, and success. The notification state is indicated by icon and border color. This rule applies to all three types of notifications (inline, toast, and modal). All icons may be found in the <a class="base-link" href="https://pages.github.ibm.com/bluemix/bluemix-icons/" target="_blank"> Icon Repo</a> or the <a class="base-link" href="http://design-system.stage1.mybluemix.net/essentials/iconography.html#library" target="_blank">Iconography</a> page.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/Notifications_States_Mobile@2x.png">
      <img src="/assets/images/style/notifications/Notifications_States_Desktop@2x.png">
    </picture>
    <p class="caption">Notifications states | units in px / rem</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/Notifications_States2_Mobile@2x.png">
      <img src="/assets/images/style/notifications/Notifications_States2_Desktop@2x.png">
    </picture>
    <p class="caption">Notifications states | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/light-ui/Inline_Notification_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/notifications/light-ui/Inline_Notification_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Notifications states | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/notifications/light-ui/Inline_Notification_Two_Lines_States_Mobile_Light@2x.png">
      <img src="/assets/images/style/notifications/light-ui/Inline_Notification_Two_Lines_States__Desktop_Light@2x.png">
    </picture>
    <p class="caption">Notifications states | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Warning notification</p>
          <p class="table--light">#efc100 <span class="table__swatch--yellow-30"></p>
          <p class="table--light">$color__yellow-30</p>
        </div>
        <div class="table__row">
          <p>Informational notification</p>
          <p class="table--light">#7cc7ff <span class="table__swatch--blue-20"></p>
          <p class="table--light">$color__blue-20</p>
        </div>
        <div class="table__row">
          <p>Error notification</p>
          <p class="table--light">#ff5050 <span class="table__swatch--red-40"></p>
          <p class="table--light">$color__red-40</p>
        </div>
        <div class="table__row">
          <p>Success notification</p>
          <p class="table--light">#8cd211 <span class="table__swatch--green-30"></p>
          <p class="table--light">$color__green-30</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>Warning notification</p>
          <p class="table--light">#efc100 <span class="table__swatch--yellow-30"></p>
          <p class="table--light">$color__yellow-30</p>
        </div>
        <div class="table__row">
          <p>Informational notification</p>
          <p class="table--light">#5aaafa <span class="table__swatch--blue-30"></p>
          <p class="table--light">$color__blue-30</p>
        </div>
        <div class="table__row">
          <p>Error notification</p>
          <p class="table--light">#e71d32 <span class="table__swatch--red-50"></p>
          <p class="table--light">$color__red-50</p>
        </div>
        <div class="table__row">
          <p>Success notification</p>
          <p class="table--light">#5aa700 <span class="table__swatch--green-40"></p>
          <p class="table--light">$color__green-40</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

## Typography

<div class="view__section">

<div class="view__full">

Notification titles should be set in bold and title case with the first letter of each word capitalized. Notification titles should not exceed more than three words. Notification text should be set in sentence case with only the first word capitalized. All notification type should follow the Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">14</p>
      <p class="table--light">0.875</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">14</p>
      <p class="table--light">0.875</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Title</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
