.side-nav__main-nav {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
  width: 100%;

  .main-nav-item {
    padding: .225rem 0;

    &:hover,
    &:focus {
      color: $color__blue-51;
    }

    &:focus {
      outline: 0;
    }

    &__heading {
      @include font-size('16');
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $color__blue-90;
      font-weight: 600;
      text-decoration: none;
      padding: .875rem rem(20px);
      margin: 0;
      line-height: 1.5;
      border-left: 4px solid transparent;
      transition: 200ms ease;

      @include breakpoint('620px') {
        @include font-size('14');
        padding: .2825rem rem(20px);
      }
    }

    &__arrow {
      height: rem(8px);
      width: rem(8px);
      fill: $color__navy-gray-7;
      transition: .3s;
    }

    &__open {

      & > .main-nav-item__heading .main-nav-item__arrow {
        transform: rotate(-180deg);
      }
    }

    &__active {

      .main-nav-item__heading {
        font-weight: 700;
        color: $color__blue-51;
        border-left: 4px solid $color__blue-51;
      }
    }

    &:hover,
    &:focus {

      .main-nav-item__heading {
        color: $color__blue-51;
      }
    }

    &:focus {
      outline: 0;
    }
  }

  .main-nav-item--sub {
    padding-top: 0;

    > .sub-nav__item:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0;
      padding: .3rem 1rem .2rem 2rem;
      cursor: pointer;
    }

    .sub-nav__inner-sub-nav .sub-nav__item {
      margin-top: 0;
      padding: .5rem 1rem .5rem 3rem;
      cursor: pointer;
    }

    &.main-nav-item__open {
      .main-nav-item__arrow {
        transform: rotate(-180deg);
      }
    }
  }
}
