.side-nav {
  @include font-smoothing;
  font-size: rem(14px);
  background-color: #1d3649; // color not in our library
  border-right: 2px solid $color__navy-gray-3;
  width: rem(245px);
  height: 100%;
  padding: 1rem 1.25rem 2rem 1.5rem;
  position: fixed;
  overflow-y: auto;
  z-index: 3;

  &__logo {
    display: inline-block;
    color: $color__blue-20;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    span {
      font-weight: 700;
      color: $color__white;
    }
  }

  &__link {
    width: 100%;
    border-color: $color__blue-30;
    color: $color__blue-30;
    margin-bottom: 1rem;
    justify-content: space-between;

    &:hover {
      background-color: $color__blue-30;
    }
  }

  &__text {
    font-size: .875rem;
    color: $color__white;
    margin: .25rem 0;
  }

  &__github-issue-link {
    color: $color__blue-30;
    cursor: pointer;
  }

  &__copyright-text {
    font-size: .75rem;
    color: $color__white;
    margin-top: 1.5rem;
  }
}

.menu__sub-nav {
  list-style: none;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: .3s;

  .sub-nav__item {
    text-transform: capitalize;
    margin-left: 0;
    padding: .5rem;
    color: $color__navy-gray-8;

    &:hover {
      color: $color__blue-30;
    }

    &:first-child {
      margin-top: 1rem;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      font-weight: normal;
    }
  }
}

.side-nav__menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;

  .menu-item {
    border-top: 1px solid $color__blue-20;
    padding: 1.2rem 0 1.2rem .25rem;

    &:hover {
      color: $color__blue-30;
    }

    &:last-child {
      border-bottom: 1px solid $color__blue-20;
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-size: .875rem;
      color: $color__navy-gray-8;
      font-weight: 600;
      margin-bottom: 0;
      letter-spacing: 1px;
      text-decoration: none;
    }

    &__arrow {
      height: rem(8px);
      width: rem(8px);
      fill: $color__gray-3;
      margin-right: .5rem;
      transition: .3s;
    }

    &__open {

      & .menu__sub-nav {
        max-height: 60rem;
      }

      & .menu-item__arrow {
        transform: rotate(-180deg);
      }
    }
  }
}
