///////////////////////////////
// BASE STYLES               //
///////////////////////////////

body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  background-color: $color__white;
  color: $color__text--dark;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  @include font-smoothing;
}

h1 {
  font-size: 4rem;
  color: $color__white;
  font-weight: 200;
  padding: 0 0 .5rem 0;

  @include breakpoint(bp--sm--major) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

img {
  width: auto;
}

code {
  font-size: .75rem;
  padding: .25rem .5rem;
  margin: 0 .25rem;
}

strong {
  letter-spacing: 0;
}

p {
  max-width: 70rem;
}

.base-link {
  color: $color__blue-51;
  font-weight: 700;

  &:hover {
    color: $color__blue-40;
  }
}

// PAGE CONTAINER
.container {
  width: 100%;
  margin-left: $width__menu - 2.5em;
  min-height: 100vh;
  transition: $transition--slow;

  &.is-expanded {
    margin-left: 0;

    .view {
      max-width: 80rem;

      @include breakpoint(bp--sm--major) {
        margin: 0 2em 0 2em;
      }
    }
  }

  &.fixed {
    position: fixed;
  }

  @media screen and (max-width: $width__screen-size--small) {
    margin-left: 0;
  }
}

// FULL RENDER VIEW
.generatedIcons {
  position: absolute;
}

.rendered {
  width: 100vw;
  padding: 1rem;
  background-color: $color__navy-gray-3;
  color: $color__white;

  .theme-switcher-btns {

    &__btn {
      width: 3rem;
      height: 3rem;
      background: none;
      border: none;

      svg {
        width: rem(25px);
        height: rem(25px);
      }
    }
  }
}
