// BREAKPOINT MIXIN:

$breakpoints: (
  bp--xs--major: 768px,
  bp--sm--major: 1140px,
  bp--md--major: 1320px,
);

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    @media screen and (max-width: map-get($breakpoints, $size)) {
      @content;
    }
  }

  @else {
    @media screen and (max-width: $size) {
      @content;
    }
  }
}
