@mixin text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color-brightness) < ($light-color / 2) {
    color: $color__white;
  }

  @else {
    color: $color__blue-90;
  }
}

// This tag mixin is a placeholder until we refactor
// the one in the component library
@mixin tag-light($background-color, $color) {
  @include font-size('12');
  display: inline;
  align-items: center;
  font-weight: 200;
  padding: .45rem 1rem;
  height: 1.25rem;
  margin: .1875rem .1875rem .1875rem 0;
  border-radius: .9375rem;
  background-color: $background-color;
  color: $color;
}
