// Bluemix overwrites

form {
  width: 30em;
}

.bx--search {
  width: 35em;
}

.bx--notification {
  width: 30em;
}

.bx--tabs li a {
  text-decoration: none;
}

.bx--file__label:after {
  height: 2.2em;
  padding: .2em 1rem;
}

.bx--text__input {
  width: 35em;

  @media screen and (max-width: $width__screen-size--small) {
    width: 22em;
  }
}

.bx--table {
  width: 100%;
}

.bx--tabs {

  @media screen and (max-width: $width__screen-size--small) {
    width: 100%;
  }
}

.bx--table__column-title, .bx--table__body__cell {

  @media screen and (max-width: 1445px) {
    width: 15%;
  }

  @media screen and (max-width: $width__screen-size--medium) {
    width: auto;
  }
}

.bx--detail-page-header--no-tabs {
  min-width: 50rem;
}

.bx--sets-of-buttons {
  margin-bottom: 1rem;
}

.bx--checkbox__label {
  margin-bottom: .25rem;
}

.bx--number {
  min-width: 20rem;
}

.bx--number__input {
  margin: 0;
}

.bx--tooltip__top {
  margin-bottom: .5em;
}

.bx--overflow-menu {
  position: relative;

  &:focus {
    outline: none;
  }

  &__icon {

    &:focus {
      box-shadow: 0px 2px 15px -2px rgba(0, 85, 255, 1);
    }
  }

  &:active,
  &.bx--overflow-menu--open {
    .bx--overflow-menu__icon {
      color: $color__white;
      border: 1px solid #3577b9;
      box-shadow: 0px 0px 2px 2px #3577b9;
    }
  }
}

.bx--overflow-menu__options {
  left: auto;
  right: rem(-20px);

  &:before {
    left: 8.9rem; // temporary
    right: rem(40px);
  }
}

.bx--content-switcher__btn {
  background-color: transparent;
}

.bx--content-switcher {
  margin-bottom: 1rem;
}

.bx--notification--new {
  min-width: 30rem;
  margin-bottom: .5rem;

  p {
    line-height: 1;
  }
}

.bx--notification-inline--warning,
.bx--notification-inline--error,
.bx--notification-inline--info,
.bx--notification-inline--success {
  margin-bottom: .5rem;

  p {
    line-height: 1;
  }
}

.bx--global-light-ui .bx--tabs__nav-item {
  background: none;

  &:hover {
    background: none;
  }
}

.bx--radio:checked + .bx--radio__label .bx--radio__appearance {
  z-index: auto;
}

.bx--search-with-options .bx--search__input {
  height: auto;
}

.bx--select__arrow {
  fill: $color__blue-30;
}

.bx--overflow-menu__icon {
  width: 100%;
}

.bx--dropdown__arrow {
  fill: $color__blue-30;
}
