// Bluemix overwrites

form {
  width: 30em;
}

.bx--search {
  width: 35em;
}

.bx--notification {
  width: 30em;
}

.bx--tabs li a {
  text-decoration: none;
}

.bx--text__input {
  width: 35em;

  @media screen and (max-width: $width__screen-size--small) {
    width: 22em;
  }
}

.bx--table {
  width: 100%;
}

.bx--tabs {

  @media screen and (max-width: $width__screen-size--small) {
    width: 100%;
  }
}

.bx--table__column-title, .bx--table__body__cell {

  @media screen and (max-width: 1445px) {
    width: 15%;
  }

  @media screen and (max-width: $width__screen-size--medium) {
    width: auto;
  }
}

.bx--detail-page-header--no-tabs {
  min-width: 50rem;
}

.bx--sets-of-buttons {
  margin-bottom: 1rem;
}

.bx--checkbox__label {
  margin-bottom: .25rem;
}

.bx--number {
  min-width: 20rem;
}

.bx--tooltip__top {
  margin-bottom: .5em;
}

.bx--content-switcher {
  margin-bottom: 1rem;
}

.bx--notification--new {
  min-width: 30rem;
  margin-bottom: .5rem;

  p {
    line-height: 1;
  }
}

.bx--notification-inline--warning,
.bx--notification-inline--error,
.bx--notification-inline--info,
.bx--notification-inline--success {
  margin-bottom: .5rem;

  p {
    line-height: 1;
  }
}

.bx--radio:checked + .bx--radio__label .bx--radio__appearance {
  z-index: auto;
}

.bx--inline-left-nav {
  position: static;
  min-height: 40rem;
  height: auto;
}

.bx--overflow-menu__options.bx--global-light-ui {
  background: $color__white;
  border: 1px solid $color__gray-1;

  &:before {
    top: -.45rem;
    background-color: $color__white;
    border-top: 1px solid $color__gray-1;
    border-left: 1px solid $color__gray-1;
  }
}

.bx--accordion {
  width: 100%;
}
