.resources {
  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;

    div {
      min-width: 200px;
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 2rem;
      width: 100%;
      max-width: 100%;

      h4 {
        white-space: nowrap;
        padding-top: 1rem;
      }

      a {
        margin-top: 2rem;
      }

      p {
        margin-bottom: 0;
        max-width: 25rem !important;
      }

      @include breakpoint('575px') {
        max-width: 70%;
      }

      @include breakpoint('bp--sm--major') {
        flex-basis: calc(50% - 3rem);
        max-width: 100%;
        margin-right: 3rem;

        a {
          margin-top: 0;
        }

        p {
          margin-bottom: 2rem;
          min-height: 48px;
        }
      }
    }
  }

  &__tile {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: $text-01;
    width: calc(50% - 1rem);
    height: 190px;
    padding: 2rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    min-width: 390px;
    max-width: 630px;

    &:hover {
      color: $text-01;
    }

    @media all and (max-width: 1283px) {
      width: 100%;
    }

    @media all and (max-width: 600px) {
      min-width: 100%;
      height: 220px;
    }
  }

  &__tile-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin: 0 1.25rem 0 .25rem;
  }

  &__tile-icon img {
    width: 100%;
    margin: 0;
  }

  &__tile-info p:first-child {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: $text-01;
    margin: 0 0 .75rem 0;
    padding: 0;
  }

  &__tile-info p {
    font-size: 16px;
  }
}
