<p class="page__main-desc">
  These guidelines apply for developers and writers working with Bluemix UI and documentation. They include guidelines for conversational style, as well as guidelines for capitalization, punctuation, and wording in the user interface. The guidelines are based on conversational style, which is one that engages the reader. They are based also on IBM style, which ensures that information is translatable and usable.
</p>

<h1 class="page__heading">Do's</h1>
  <h3 class="page__small-heading">Be simple and precise</h3>
    <p class="page__desc">When possible, use shorter, simple terms rather than formal, longer ones.
      Keep sentences concise, simple, friendly, and punchy. State only what the user needs to know.  Eliminate redundancy.  Keep sentences short (15 words or less, if possible). Text should be quick to read, incisive, and engaging. </p>
  <h3 class="page__small-heading">Use Active Voice</h3>
    <p class="page__desc">Use active voice as much as possible.  Active voice focuses on the performer of the action and is often clearer, shorter, and more direct than passive voice.  </p>
    <div class="link-examples">
      <div class="do-example">
        <h5 class="page__example-heading"><img src="/assets/images/green-check.png" />Active Voice: </h5>
        <img class="do-example__img" src="/assets/images/active-voice.png" />
      </div>
      <div class="dont-example">
        <h5 class="page__example-heading"><img src="/assets/images/red-x.png" /> Passive Voice: </h5>
        <img class="dont-example__img" src="/assets/images/passive-voice.png" />
      </div>
    </div><br><br><br>
    <p class="page__desc"><span class="page__desc--bold">Exceptions</span><br>
    Passive voice is acceptable when any of these conditions are true:
      <ul class="page__desc--list bx--list--unordered">
        <li>The system performs the action.</li>
        <li>It is more appropriate to focus on the receiver of the action.</li>
        <li>You want to avoid blaming the user for an error, such as in an error message.</li>
        <li>The information is clearer in passive voice (eg.&ldquo;The file was deleted.&rdquo; instead of &ldquo;You deleted the file.&rdquo;)</li>
      </ul>
    </p>

    <h3 class="page__small-heading">Use Second Person</h3>
        <p class="page__desc">In most cases, use second person (&ldquo;you&rdquo;) to speak directly to the reader.
          In the user interface, an exception is in the case of possessive adjectives.
          <br><br>
          You can use first person (&ldquo;my&rdquo;) in headings or labels that are very specific to the user or customer data.  For example, &ldquo;My Account&rdquo; or &ldquo;My Usage&rdquo;. In explanatory text for the heading or label, switch to second person (&ldquo;your&rdquo;). For example, &ldquo;Your usage is calculated from the 1st day of the month.&rdquo;</p>


  <h1 class="page__heading">Dont's</h1>
    <h3 class="page__small-heading">Please, Thank You, Congratulations</h3>
        <p class="page__desc">Do not use &ldquo;please&rdquo; in any instructions in documentation or UI. Terms of politeness are superfluous, convey the wrong tone for technical material, and are not regarded the same way in all cultures. <br><br>&ldquo;Please&rdquo; is allowed in UI only when the user is being inconvenienced.  For example, &ldquo;Indexing might take a few minutes. Please wait.&rdquo;</p>

    <h3 class="page__small-heading">Exclamation Marks ( ! )</h3>
        <p class="page__desc">In general, in both UI and documentation, exclamation points are not recommended.  However, exclamation points can be used to further conversational style on a very limited basis. If used, no more than one exclamation point should be used in a context such as a single window or a single documentation topic. <br><br>Exclamation points must be used only positively, and never negatively.  For example: &ldquo;Your IBM Bluemix account is ready!&rdquo;, but not &ldquo;You reached your usage limit!&rdquo;</p>

    <h3 class="page__small-heading">Questions ( ? )</h3>
        <p class="page__desc">In general, in both UI and documentation, questions can be used to further conversational style, but should be limited. Make sure that headings that use questions are meaningful. In UI, questions can be used as a confirmation prompt in a modal.<br><br>For example:</p>
          <ul class="page__desc--list bx--list--unordered">
            <li>As a heading in UI or topical information: &ldquo;What is Bluemix?&rdquo; </li>
            <li>As a confirmation prompt in UI: &ldquo;Are you sure that you want to close your document without saving your changes?&rdquo;</li>
            </ul>
        </p>

    <h3 class="page__small-heading">&ldquo;May&rdquo;</h3>
        <p class="page__desc">Use &ldquo;can&rdquo; to indicate ability, or use &ldquo;might&rdquo; to indicate possibility.</p>

        <p class="page__desc"><span class="page__desc--bold">Ability</span></p>
        <div class="link-examples">
            <div class="do-example">
              <h5 class="page__example-heading"><img src="/assets/images/green-check.png" /></h5>
              <img class="do-example__img" src="/assets/images/ability-good.png" />
            </div>
          <div class="dont-example">
          <h5 class="page__example-heading"><img src="/assets/images/red-x.png" /> </h5>
            <img class="dont-example__img" src="/assets/images/ability-bad.png" />
          </div>
        </div><br><br><br><br>

        <p class="page__desc"><span class="page__desc--bold">Possibility:</span></p>
        <div class="link-examples">
            <div class="do-example">
                <h5 class="page__example-heading"><img src="/assets/images/green-check.png" /></h5>
              <img class="do-example__img" src="/assets/images/possibility-good.png" />
            </div>
          <div class="dont-example">
          <h5 class="page__example-heading"><img src="/assets/images/red-x.png" /> </h5>
            <img class="dont-example__img" src="/assets/images/possibility-bad.png" />
          </div>
        </div>
