.main-nav__sub-nav {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;

  .sub-nav-item__arrow {
    height: rem(8px);
    width: rem(8px);
    fill: $color__navy-gray-7;
    transition: 0.3s;
  }

  .main-nav-item__open & {
    max-height: 100rem;
  }

  .sub-nav__item {
    @include typescale('epsilon');
    text-transform: capitalize;
    margin-left: 0;
    padding: 0.875rem 0.875rem 0.875rem 2rem;
    color: $text-01;
    border-left: 4px solid transparent;

    @include breakpoint('620px') {
      @include typescale('zeta');
      padding: 0.5rem 0.5rem 0.5rem 2rem;
    }

    &:hover,
    &:focus {
      color: $brand-01;
    }

    &:focus {
      outline: 0;
      font-weight: 600;
    }

    &:first-child {
      margin-top: 0.25rem;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      font-weight: normal;

      &:hover,
      &:focus {
        color: $brand-01;
      }

      &:focus {
        outline: 0;
        font-weight: 600;
      }
    }

    &.selected {
      border-left: 4px solid $brand-01;
      color: $brand-01;

      .sub-nav__item-link {
        font-weight: 600;
      }
    }
  }
}

.sub-nav__inner-sub-nav {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;

  .main-nav-item__open > & {
    margin: 0.5rem 0;
    max-height: 80rem;
  }

  > .sub-nav__item {
    padding-left: 3rem;
  }
}
