//---------------------------------------------------------------
// MAIN.SCSS
//---------------------------------------------------------------

//---------------------------------------------------------------
// Vendor
//---------------------------------------------------------------

$css--font-face: true;
$css--reset: true;
$font-path: '/assets/fonts';

@import 'node_modules/carbon-components/src/globals/scss/styles';

//---------------------------------------------------------------
// Global
//---------------------------------------------------------------

@import 'global/vars';
@import 'global/mixins';
@import 'global/layout';
@import 'global/browser-fixes';
@import 'global/404';

//---------------------------------------------------------------
// Components
//---------------------------------------------------------------

@import '../internal/Page/page.scss';
@import '../internal/MarkdownPage/markdown-page.scss';
@import '../internal/SideNav/sidenav.scss';
@import '../internal/SideNavToggle/toggle-btn.scss';
@import '../internal/ColorCard/colorcard.scss';
@import '../internal/PageHeader/page-header.scss';
@import '../internal/PageTabs/page-tabs.scss';
@import '../internal/CodePage/code-page.scss';
@import '../internal/ComponentExample/component-example.scss';
@import '../internal/ComponentExample/component-overrides.scss';
@import '../internal/IconCard/iconcard.scss';
@import '../internal/CodeExample/code-example.scss';
@import '../internal/LiveComponent/live-component.scss';
@import '../internal/Page/page.scss';
@import '../internal/LayerTypes/layer-types.scss';
@import '../internal/GlossaryNav/glossary-nav.scss';
@import '../internal/MotionExample/motion-example.scss';
@import '../internal/TypographyTable/typography-table.scss';
@import '../internal/ImageGrid/image-grid.scss';
@import '../internal/ColorContrast/color-contrast.scss';
@import '../internal/GridExample/grid-example.scss';
@import '../internal/LayerUsage/layer-usage.scss';
@import '../internal/BrandColors/brand-colors.scss';
@import '../internal/Page/page-overwrites.scss';
@import '../internal/Page/page-overrides.scss';
@import '../internal/DosAndDonts/dos-and-donts.scss';
@import '../internal/IconEmptyState/icon-empty-state.scss';
@import '../internal/OverviewPage/overview-page.scss';
@import '../internal/PageFooter/page-footer.scss';
@import '../internal/GlobalSearch/global-search.scss';

@import '../pages/overview/overview.scss';
@import '../pages/guidelines/guidelines.scss';
@import '../pages/component-status/component-status.scss';
@import '../pages/resources/resources.scss';
