{{#markdown}}

## Structure

### Header

A header provides consistency and context to the module. Use sentence-style capitalization (only the first word in a phrase and any proper nouns capitalized) and no more than 3 words. Buttons or links used within a header should always be right-aligned.

### Footer

A footer can be used for content or actions that need to be persistent throughout the module.

### Max Height

It is recommeded to design within the set height of a module. All content in a module needs to fit without internal scrolling.

### Max Width

Modules have a max width in order to structurally fit within the context of the UI.

## Empty States

In the case where a module has no data to display, an empty state must be shown that gives the user guidance on next steps. It is recommended to include an actionary item such as a button or a link that gives the user further direction.

<p class="caption">Example:</h5>
<div class="small-img">
  <img src="/assets/images/usage/elements/module-1.png"/>

  <img src="/assets/images/usage/elements/module-2.png" />
</div>

## Overflow

If there is an overflow of content, use a **View more** link to redirect the user to a page with additional content. Use sentence-style capitalization (only the first word in a phrase and any proper nouns capitalized) for the link text.

<p class="caption">Example:</h5>
<div class="small-img">
  <img src="/assets/images/usage/elements/module-3.png" />
</div>

{{/markdown}}
