{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

The height of a module always stays the same. The width does not have a set size, however, it should fit within the Bluemix Grid. Meaning a module should start or end before or after a gutter, not in the middle of a column or gutter. The modules should be modular so that they can stack.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/modules/Modules_Mobile@2x.png">
      <img src="/assets/images/style/modules/Modules_Desktop@2x.png">
    </picture>
    <p class="caption pt0">Modules | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/modules/light-ui/Modules_Mobile_Light@2x.png">
      <img src="/assets/images/style/modules/light-ui/Modules_Desktop_Light@2x.png">
    </picture>
    <p class="caption pt0">Modules | units in px / em</p>
  </div>
  <div class="mb0 pb0 overlay-image">
    <div class="style-img--dark">
      <img class="thumbnail-img" src="/assets/images/style/modules/Module_Bluemix_Grid_Example@2x.png" />
      <a href="/assets/images/style/modules/Module_Bluemix_Grid_Example@2x.png" target="_blank" class="overlay">
        <img class="width-auto" src="/assets/images/icons/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
    </div>
    <div class="style-img--light">
      <img class="thumbnail-img" src="/assets/images/style/modules/light-ui/Modules_Grid_(12_Columns-20px_Gutters)_Full_Image_Light_@2x.png" />
      <a href="/assets/images/style/modules/light-ui/Modules_Grid_(12_Columns-20px_Gutters)_Full_Image_Light_@2x.png" target="_blank" class="overlay">
        <img class="width-auto" src="/assets/images/icons/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
    </div>
  </div>
  <p class="caption pt0">Modules fit over the Bluemix Grid</h5>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">300px</p>
      <p class="table--light">18.75rem</p>
    </div>
  </div>
</div>

**Width: flexible but should fit to grid**

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Padding around and between modules, above and below, and along the sides should be 20px / 1.25em, which is the same width as the gutter on the Bluemix grid.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/modules/Modules_Padding_Mobile@2x.png">
      <img src="/assets/images/style/modules/Modules_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Modules Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/modules/light-ui/Modules_Padding_Mobile_Light@2x.png">
      <img src="/assets/images/style/modules/light-ui/Modules_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Modules Padding | units in px / em</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Internal Padding</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
    <div class="table__row">
      <p>Padding between modules</p>
      <p class="table--light">20px</p>
      <p class="table--light">1.25rem</p>
    </div>
  </div>
</div>

</div>

</div>

## Typography
<div class="view__section">

<div class="view__full">

  Module headers should be set in bold and sentence case, with only the first word in a phrase and any proper nouns capitalized. Module headers should not exceed more than 3 words. Module internal labels should also be set in sentence case and should not exceed more than 3 words.

  Module content text should be set in sentence case, with only the first word in each sentence and any proper nouns capitalized. Data text should be set in title case with the first letter of each word capitalized. All module type should follow the Bluemix Typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Header</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Internal Labels</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
    <div class="table__row">
      <p>Module Content</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Data text</p>
      <p class="table--light">32px</p>
      <p class="table--light">2rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Header</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Internal Labels</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Module Content</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
    <div class="table__row">
      <p>Data text</p>
      <p class="table--light">Light</p>
      <p class="table--light">300</p>
    </div>
  </div>
</div>

</div>

</div>



{{/markdown}}
