{{#markdown}}

<!-->

## Structure
<div class="view__section">

<div class="view__half">

### Basics

The height of a module is always the same. The width, does not have a set size, however it should fit within the Bluemix Grid. Meaning a module should start or end  before or after a gutter, not in the middle of a column or gutter.

**Module Height: 300px / 18.75em**
**Module width: flexible but should fit to grid**

<div class="mb0 pb0 overlay-image">
  <img class="thumbnail-img" src="/assets/images/Module_Bluemix_Grid_Example_2px.png" />
  <a href="/assets/images/Module_Bluemix_Grid_Example_2px.png" target="_blank" class="overlay">
    <img class="width-auto" src="/assets/images/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
</div>
<p class="caption pt0">Modules fit over the Bluemix Grid</h5>

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Modules_2px_640.png">
    <img src="/assets/images/Modules_2px_640(1).png">
  </picture>
  <p class="caption pt0">Modules | units in px / em</p>
</div>

</div>

<!-->

<div class="view__section">

<div class="view__half">

### Padding

Padding between modules, both above/below and on the sides, should be 20px / 1.25em, the same width as the gutter on the Bluemix grid. The modules should be modular so that they can stack.

**Internal Padding: 24px / 1.5em**
**Padding between Modules: 20px / 1.25em**

</div>

<div class="view__half">
  <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/Modules_Padding_2px_640.png">
    <img src="/assets/images/Modules_Padding_2px_640(1).png">
  </picture>
  <p class="caption">Modules Padding | units in px / em</p>
</div>

</div>

<!-->

## Typography
<div class="view__section">

<div class="view__full">

Module headers should be set in bold and title case with the first letter of each word capitalized. Module headers should not exceed more than 3 words. Module internal labels should be set in all caps and not exceed three words. Module content text should be set in sentence case, with the first letter of the first word in each sentence capitalized. Data text should be set in title case with the first letter of each word capitalized. All module type should follow the Bluemix Typography font stack for sans-serif.

**Header font-size: 14px / .875rem**
**Header font-weight: bold / 700**
**Internal Labels font-size: 12px / .75rem**
**Internal Labels font-size: bold / 700**
**Internal Labels character spacing: 1px**
**Module content text font-size: 14px / .875rem**
**Module content text font-weight: roman / 400**
**Data Text font-size: 32px / 2rem**
**Data Text font-weight: light / 300**

</div>

</div>

<!-->

{{/markdown}}
