{{#markdown}}

## Structure

<div class="view__section">

<div class="view__half">

### Basics
All tags have the same height however the width of tags varies based on the amount of content. All four corners of a tag are rounded with a 15px radius.

**Tag height: 20px / 1.25em**
**Tag width: varies based on amount of content**
**Radius of rounded rectangle: 15px**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Tag_2px_640.png">
<img src="/assets/images/Tag_2px_640(1).png">
</picture>
<p class="caption">Tags | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding
Tags cannot have any element or text within 3px / .188 em of their borders. Internally there must be 10px / .625em of space between the tag text and sides of the tag.

**Padding between tags horizontally: 3px / .188 em**
**Padding between tags vertically: 3px / .188 em**
**Pading on sides of text: 10px / .625em**

</div>

</div>

<div class="view__section">

<div class="view__half">

### States
There are many different types of tags, each type is detemined by color. All tag background colors should be at 20% opacity.

**IBM color: IBM Blue 20, #7CC7FF**
**Beta color: Bluemix Light Gray, #DFE6EB**
**Third-Party color: IBM Teal 20, #6EEDD8**
**Local/Dedicated/Custom color: IBM Purple 20, #D7AAFF**
**Experimental color: IBM Orange 20, #FFA573**
**Community color: IBM Green 20, #B4E051**
**Private color: IBM Yellow 20, #FDD600**

</div>

<div class="view__half">
<picture>
<source media="(max-width: 550px)" srcset="/assets/images/Tag_States_2px_640(1).png">
<img src="/assets/images/Tag_States_2px_640.png">
</picture>
<p class="caption">Tags | units in px / em</p>
</div>

</div>

<div class="view__section">

<div class="view__full">

### Typography
Tag text should be set in title case with the first letter of each word capitalized. Tags should only have one word, however if more than one is necessary than the words should be connected using a hyphen with no spaces. Text should follow the Bluemix Typography font stack for san-serif.
Tag text should be the same color as the background of the tag it sits on but at 100% opacity (full color).

**Tag text font-size: 12px / .75rem**
**Tag text font-weight: roman / 400**

</div>

</div>

{{/markdown}}
