{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics
All tags have the same height. However, the width of tags varies based on the amount of content. All four corners of a tag are rounded with a 15px radius.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/tags/Tag_Mobile@2x.png">
      <img src="/assets/images/style/tags/Tag_Desktop@2x.png">
    </picture>
    <p class="caption">Tags | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/tags/light-ui/Tags_Mobile_Light@2x.png">
      <img src="/assets/images/style/tags/light-ui/Tags_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tags | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Height</p>
      <p class="table--light">20px</p>
      <p class="table--light">1.25rem</p>
    </div>
    <div class="table__row">
      <p>Radius of rounded rectangle</p>
      <p class="table--light">15px</p>
      <p class="table--light">0.938rem</p>
    </div>
  </div>
</div>

**Width: varies based on amount of content**

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding
Tags cannot have any element or text within 3px / .188 em of its borders. Internally, there must be 10px / .625em of space between the tag text and the sides of the tag.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>PROPERTY</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Padding between tags horizontally</p>
      <p class="table--light">3px</p>
      <p class="table--light">.188rem</p>
    </div>
    <div class="table__row">
      <p>Padding between tags vertically</p>
      <p class="table--light">3px</p>
      <p class="table--light">.188rem</p>
    </div>
    <div class="table__row">
      <p>Padding on sides of text</p>
      <p class="table--light">10px</p>
      <p class="table--light">.625rem</p>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### States
There are many different types of tags, and each type is determined by color:

<div class="style-img">
  <div class="style-img--dark">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tags/Tag_States_Mobile@2x.png">
    <img src="/assets/images/style/tags/Tag_States_Desktop@2x.png">
    </picture>
    <p class="caption">Tags | units in px / rem</p>
  </div>
  <div class="style-img--light">
    <picture>
    <source media="(max-width: 550px)" srcset="/assets/images/style/tags/light-ui/Tag_States_Mobile_Light@2x.png">
    <img src="/assets/images/style/tags/light-ui/Tag_States_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Tags | units in px / rem</p>
  </div>
</div>

<div class="style-properties max-width-45">
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <p>Dark UI only: All tag background colors should be at 20% opacity with text at 100% opacity.</p>
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>IBM</p>
          <p class="table--light">#7cc7ff <span class="table__swatch--blue-20"></span></p>
          <p class="table--light">$color__blue-20</p>
        </div>
        <div class="table__row">
          <p>Beta</p>
          <p class="table--light">#dfe6eb <span class="table__swatch--navy-gray-8"></span></p>
          <p class="table--light">$color__navy-gray-8</p>
        </div>
        <div class="table__row">
          <p>Third-party</p>
          <p class="table--light">#6eedd8 <span class="table__swatch--teal-20"></span></p>
          <p class="table--light">$color__teal-20</p>
        </div>
        <div class="table__row">
          <p>Local/Dedicated/Custom</p>
          <p class="table--light">#d7aaff <span class="table__swatch--purple-20"></span></p>
          <p class="table--light">$color__purple-20</p>
        </div>
        <div class="table__row">
          <p>Experimental</p>
          <p class="table--light">#ffa573 <span class="table__swatch--orange-20"></span></p>
          <p class="table--light">$color__orange-20</p>
        </div>
        <div class="table__row">
          <p>Community</p>
          <p class="table--light">#bfe051 <span class="table__swatch--green-20"></span></p>
          <p class="table--light">$color__green-20</p>
        </div>
        <div class="table__row">
          <p>Private</p>
          <p class="table--light">#fdd600 <span class="table__swatch--yellow-20"></span></p>
          <p class="table--light">$color__yellow-20</p>
        </div>
      </div>
    </div>
    <div class="style-properties__light">
      <div class="table">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>IBM</p>
          <p class="table--light">#c0e6ff <span class="table__swatch--blue-10"></span></p>
          <p class="table--light">$color__blue-10</p>
        </div>
        <div class="table__row">
          <p>Beta</p>
          <p class="table--light">#dfe6eb <span class="table__swatch--navy-gray-8"></span></p>
          <p class="table--light">$color__navy-gray-8</p>
        </div>
        <div class="table__row">
          <p>Third-party</p>
          <p class="table--light">#a7fae6 <span class="table__swatch--teal-10"></span></p>
          <p class="table--light">$color__teal-10</p>
        </div>
        <div class="table__row">
          <p>Local/Dedicated/Custom</p>
          <p class="table--light">#eed2ff <span class="table__swatch--purple-10"></span></p>
          <p class="table--light">$color__purple-10</p>
        </div>
        <div class="table__row">
          <p>Experimental</p>
          <p class="table--light">#ffd791 <span class="table__swatch--orange-10"></span></p>
          <p class="table--light">$color__orange-10</p>
        </div>
        <div class="table__row">
          <p>Community</p>
          <p class="table--light">#c9f08f <span class="table__swatch--green-10"></span></p>
          <p class="table--light">$color__green-10</p>
        </div>
        <div class="table__row">
          <p>Private</p>
          <p class="table--light">#fde876 <span class="table__swatch--yellow-10"></span></p>
          <p class="table--light">$color__yellow-10</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Typography
Tag text should be set in title case with the first letter of each word capitalized. Tags should only have one word. However, if more than one is necessary then connect the words using a hyphen with no spaces. Text should follow the typography font stack for sans-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>Tag text</p>
      <p class="table--light">12px</p>
      <p class="table--light">.75rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT-WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Tag text</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
  <div class="style-properties__switcher">
    <div class="style-properties__dark">
      <p class="table--light">Tag text should be the same color as the background of the tag it sits on but at 100% opacity (full color).</p>
    </div>
    <div class="style-properties__light">
      <div class="table mb2">
        <div class="table__header">
          <p>COLOR</p>
          <p>HEX</p>
          <p>SCSS VARIABLE</p>
        </div>
        <div class="table__row">
          <p>IBM</p>
          <p class="table--light">#325c80 <span class="table__swatch--blue-60"></span></p>
          <p class="table--light">$color__blue-60</p>
        </div>
        <div class="table__row">
          <p>Beta</p>
          <p class="table--light">#394b54 <span class="table__swatch--navy-gray-4"></span></p>
          <p class="table--light">$color__navy-gray-4</p>
        </div>
        <div class="table__row">
          <p>Third-party</p>
          <p class="table--light">#006d5d <span class="table__swatch--teal-60"></span></p>
          <p class="table--light">$color__teal-60</p>
        </div>
        <div class="table__row">
          <p>Local/Dedicated/Custom</p>
          <p class="table--light">#734098 <span class="table__swatch--purple-60"></span></p>
          <p class="table--light">$color__purple-60</p>
        </div>
        <div class="table__row">
          <p>Experimental</p>
          <p class="table--light">#872a0f <span class="table__swatch--orange-60"></span></p>
          <p class="table--light">$color__orange-60</p>
        </div>
        <div class="table__row">
          <p>Community</p>
          <p class="table--light">#2d660a <span class="table__swatch--green-60"></span></p>
          <p class="table--light">$color__green-60</p>
        </div>
        <div class="table__row">
          <p>Private</p>
          <p class="table--light">#735f00 <span class="table__swatch--yellow-60"></span></p>
          <p class="table--light">$color__yellow-60</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
