{{#markdown}}

## Service tags

Bluemix uses tags to categorize services in the catalog.

- **IBM:** This is an IBM branded service.
- **Beta:** This service is in the final stages of development and needs some final polish and refinement.
- **Community:** This is a community-driven service that is open sourced.
- **Third-Party:** This service is from a Third-Party Vendor.

<div class="small-img">
  <img src="/assets/images/usage/elements/tags-1.png" />
</div>

## Example

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/elements/tags-2.png" />
  <a href="/assets/images/usage/elements/tags-2.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
