{{#markdown}}

## Service Tags

Bluemix uses tags to categorize services in the catalog.

- IBM: is an IBM branded service.
- Beta: The service is in the final stages of development and needs some final polish and refinement.
- Community: A community-driven service that is open sourced.
- Third-Party: The service is from a Third Party vendor.

<div class="py1">
  <img src="/assets/images/usage/tags-1.png" />
</div>

## Example

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/usage/tag-example-2.png" />
  <a href="/assets/images/usage/tag-example-2.png" target="_blank" class="overlay">
  <img src="/assets/images/icons/ibm-eye.png" />
  <p>View at 100%</p>
  </a>
</div>

{{/markdown}}
