main[data-page|='components'] {
  img:not(.ibm-eye) {
    background-color: $color__gray-3;
  }
}

main[data-page|='data-vis'] {
  img:not(.ibm-eye) {
    background-color: white;
    border: 1px solid $ui-03;
  }

  .gif {
    width: 100%;
    max-width: 38rem;
    border: 1px solid $ui-03;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gif > img {
    border: none;
    width: auto;
  }

  .color__example {
    width: 8.25rem;
    height: 5rem;
  }
}

main[data-page='data-vis-usage-pie-chart'] {
  .gif {
    border: none;
    background: $ui-02;
  }

  .gif > img {
    max-width: 300px;
  }
}

main[data-page|='whats-new'] {
  img:not(.ibm-eye) {
    background-color: white;
    border: 1px solid $ui-03;
  }
}

main[data-page='style-spacing'],
main[data-page='utilities-disabled-states'],
main[data-page='utilities-filtering'],
main[data-page='utilities-common-actions'] {
  img {
    background-color: $ui-02;
  }
}

img[src='/images/small-loading-1.gif'],
img[src='/images/data-table-style-2.png'],
img[src='/images/data-table-style-1.png'],
img[src='/images/date-picker-style-1.png'],
img[src='/images/dropdown-style-9.png'],
img[src='/images/form-style-3.png'],
img[src='/images/number-input-style-2.png'],
img[src='/images/search-style-4.png'],
img[src='/images/select-style-1.png'],
img[src='/images/tab-usage-1.png'],
img[src='/images/text-input-style-1.png'] {
  border: 1px solid $ui-03;
}
