main[data-page="components-form-style"] {
  #color {
    padding-bottom: 1.5rem;
  }
}

main[data-page="guidelines-general-content"] {
  img[alt="voice"] {
    width: 3rem;
    margin-right: 1.7rem;
    margin-left: .5rem;
  }

  img[alt="tone"] {
    width: 4rem;
    margin-right: 1.2rem;
  }
}

main[data-page="guidelines-guidelines-content"] {
  img:not([alt="capitalization"]) {
    padding-bottom: 1rem;
  }

  #-don-t-be-too-formal-br-or-stuffy-don-t-be-too-formal-or-stuffy-images-content-guidelines-4-png- {
    line-height: 28px;
  }

  h3:not(#sentence-style):not(#headline-style) {
    min-height: 103px;
    padding: 0;
  }

  p em {
    font-size: 1rem;
    color: $color__blue-90;
  }
}

main[data-page="guidelines-bluemix-brand"] {
  .image-grid img {
    margin-bottom: 1rem;
  }

  .image-grid.donts strong{
    margin-bottom: 0 !important;
  }
}

main[data-page|=components-style] {
  hr + hr + blockquote p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color__gray-3;
    padding: 1rem 0;
    margin-bottom: .5rem;

    img {

    }
  }
}

main[data-page="guidelines-general-content"] {
  strong {
    color: $brand-01 !important;
  }
}

main[data-page="getting-started-FAQ"] {
  a {
    color: black;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $brand-01;
    }
  }

  .page_md h4 > a {
    color: black;
    cursor: default;

    &:hover {
      color: black;
    }
  }

  h2 + h4 {
    padding-top: 0;
  }

  ul + h4 {
    padding-top: 1rem;
  }
}

