---
fabricator: true
name: Accessibility
title: Accessibility | IBM Bluemix Design System
category: Essentials
tag:
  new:
    text: New in 6.0.0
    class: third-party
---
<section class="page-header">
  <div class="page-info">
    <p class="category white">{{category}}</p>
    <h1>{{capitalize name}}</h1>
  </div>
  <nav data-tabs data-tabs-navigation class="bx--tabs tabs--light" role="navigation">
    <div class="bx--tabs__trigger tabs__trigger--light">
      <a href="javascript:void(0)" class="bx--tabs__trigger-text tabs__trigger-text--light"></a>
      <svg>
        <use xlink:href="/assets/sprite.svg#service--down-arrow"></use>
      </svg>
    </div>
    <ul class="bx--tabs__nav tabs__nav--light bx--tabs--hidden" role="tablist">
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#usage">Keyboard</a></li>
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#library">Color</a></li>
    </ul>
  </nav>
</section>

  <div id="usage" class="view hidden">
    {{> keyboard-guidelines}}
  </div>

  <div id="library" class="view hidden">
    {{> color_contrast}}
  </div>
