---
fabricator: true
category: Essentials
title: Content Guide | Carbon Design System
name: Content Guide
---

<section class="page-header">
  <div class="page-info">
    <p class="category white">{{category}}</p>
    <h1>{{capitalize name}}</h1>
  </div>
  <nav data-tabs data-tabs-navigation class="bx--tabs tabs--light" role="navigation">
    <div class="bx--tabs__trigger tabs__trigger--light">
      <a href="javascript:void(0)" class="bx--tabs__trigger-text tabs__trigger-text--light"></a>
      <svg>
        <use xlink:href="/assets/sprite.svg#service--down-arrow"></use>
      </svg>
    </div>
    <ul class="bx--tabs__nav tabs__nav--light bx--tabs--hidden" role="tablist">
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#general">General</a></li>
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#guidelinesTab">Guidelines</a></li>
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="bx--tabs__nav-link item__link" href="#glossary">Glossary</a></li>
    </ul>
  </nav>
</section>

  <div id="general" class="view hidden">
    {{> general}}
  </div>

  <div id="guidelinesTab" class="view hidden">
    {{> guidelines}}
  </div>

  <div id="glossary" class="view hidden">
    {{> glossary}}
  </div>

</div>
