---
fabricator: true
name: Grids
title: Grids | IBM Bluemix Design System
category: Essentials
---

{{> page-header}}



<div class="view">

  <p class="main">
    <span class="blue-30">Grid systems</span> are used for creating page layouts through a series of rows and columns that house your content. The Bluemix designs use a responsive, mobile first, fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases.
  </p>

  <h2>Basic Structure</h2>
  <ul class="flex-row ml0 mt1 sm--flex-column lh0">
    <li class="flex-column mr2 sm--mr0">
      <p class="bold pb1">1440 px</p>
      <div class="overlay-image">
        <img class="thumbnail-img" src="/assets/images/guidelines/1440px-2x.png" />
        <a href="/assets/images/guidelines/1440px-2x.png" target="_blank" class="overlay">
          <img src="/assets/images/icons/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
      </div>
    </li>
    <li class="flex-column mr2 sm--mr0">
      <p class="bold pb1">768 px</p>
      <div class="overlay-image">
        <img class="thumbnail-img" src="/assets/images/guidelines/768px-2x.png" />
        <a href="/assets/images/guidelines/768px-2x.png" target="_blank" class="overlay">
          <img src="/assets/images/icons/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
      </div>
    </li>
    <li class="flex-column mr2 sm--mr0">
      <p class="bold pb1">320 px</p>
      <div class="overlay-image">
        <img class="thumbnail-img" src="/assets/images/guidelines/320px-2x.png" />
        <a href="/assets/images/guidelines/320px-2x.png" target="_blank" class="overlay">
          <img src="/assets/images/icons/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
      </div>
    </li>
  </ul>
  <ul class="grid-examples__keys wrapped-list ml0 list-reset">
    <p class="bold">Key:</p>
    <li>Columns</li>
    <li>/ Gutter</li>
    <li>/ Margins</li>
  </ul>

{{#markdown}}

## How it works:

### Gutters

Columns create gutters (gaps between column content) via padding.
For devices with a screen width greater than 768px, the column padding is 20px.For devices with a screen width less than 768px, the column padding is 10px.


** Screen width ≥ 768px = 20px gutters**
** Screen width < 768px = 10px gutters**


### Columns

Bluemix designs should be limited to twelve columns.
If designers feel that they need fewer columns in their grid, they can specify the number of twelve available columns they wish to span.

This can translate to percentages of the twelve columns. Using this method, a designer can create a folded, less granular grid. For example, if your component spans three equal columns, that is equal to 25% of twelve columns.


**Column count: 12**

<img class="width-full" src="/assets/images/guidelines/column-spread_2x.png" />
<p class="smaller" style= "font-style:italic">@1440px - 12 Columns / 20px Gutters / 5% Margins</p>

### Margins

The twelve column grid does not have a maximum width.
It has a width of 100%, with built in margins that create padding between column count and the edges of the viewport.

**In devices with a screen width greater than 768px, the margins are 5% on the left, 5% on the right.**

Example: Screen Width 768px
5% left = 38px (rounded to nearest whole pixel)
5% right = 38px (rounded to nearest whole pixel)
12 columns + gutters = 768px - 38px - 38px = 692px (rounded to nearest whole pixel)

**In devices with a screen width less than 768px, the margins are 3% on the left, 3% on the right.**

Example: Screen Width 320px
3% left = 10px (rounded to nearest whole pixel)
3% right = 10px (rounded to nearest whole pixel)
12 columns + gutters = 320px - 10px - 10px = 300px (rounded to nearest whole pixel)

### Breakpoints

<ul class="wrapped-list">
<li class="width-half sm--width-full mb2">

**Extra small devices Phones (< 768px)**
12 Equal Columns
Column Padding: 5px left, 5px right
Gutter: 5px + 5px = 20px
Outer Margins: 3% left, 3% right

</li>
<li class="width-half sm--width-full mb2">

**Small devices Tablets (≥ 768px)**
12 Equal Columns
Column Padding: 10px left, 10px right
Gutters: 10px + 10px = 20px
Outer Margins: 5% left, 5% right

</li>
<li class="width-half sm--width-full mb2">

**Medium devices Desktops (≥ 992px)**
12 Equal Columns
Column Padding: 10px left, 10px right
Gutters: 10px + 10px = 20px
Outer Margins: 5% left, 5% right

</li>
<li class="width-half sm--width-full mb2">

**Large devices Desktops (≥ 1200px)**
12 Equal Columns
Column Padding: 10px left, 10px right
Gutters: 10px + 10px = 20px
Outer Margins: 5% left, 5% right

</li>
</ul>

## Use the Grid

Starter grid templates can be found in the Design Kit. Included example grid sizes are 1440px, 768px and 320px.

<a class="cta-btns--border__btn cta-btns--border__btn--dark bx--btn--secondary" href="https://github.ibm.com/Bluemix/design-kit" data-design-kit target="_blank">Design Kit<svg class="btn-icon btn-icon--rotated"><use xlink:href="/assets/sprite.svg#common--previous"></use></svg></a>

{{/markdown}}

</div>
