---
fabricator: true
title: Iconography
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">Global</p>
      <h1 id="{{name}}" class="page__large-heading">{{title}}</h1>
  </div>
  <nav data-tabs data-tabs-navigation class="bx--tabs tabs--light" role="navigation">
    <div class="bx--tabs__trigger tabs__trigger--light">
    <a href="javascript:void(0)" class="bx--tabs__trigger-text tabs__trigger-text--light"></a>
      <svg>
        <use xlink:href="https://new-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
      </svg>
    </div>
    <ul class="bx--tabs__nav tabs__nav--light bx--tabs--hidden" role="tablist">
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="item__link" href="#usage">Usage</a></li>
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="item__link" href="#library">Library</a></li>
      <li class="bx--tabs__nav-item nav__item--light" role="presentation"><a class="item__link" href="#contribution">Contribution</a></li>
    </ul>
  </nav>
</div>

<div class="page__container">

  <div id="usage" class="view--typography is-active">
    {{> icon-usage}}
  </div>

  <div id="library" class="view--color">
    {{> icon-library}}
  </div>

  <div id="contribution" class="view--grid">
    {{> icon-contribution}}
  </div>
</div>
