---
fabricator: true
category: Essentials
title: Motion | Carbon Design System
name: Motion
tag:
  new:
    text: New in 6.0.0
    class: third-party
---
<!-- <h1>test</h1> -->
 {{> page-header }}
<div class="view">

{{#markdown}}


## Principles

Motion is an indicator of life, it breathes soul into a static object—giving it a certain personality, tone, rhythm, and purpose. When used properly, motion design should feel like a well choreographed dance, with all of the elements acting and reacting to one another in sync. Start with a clear objective, layering in movements that mimic reality and guide the user through an interface.

### Purposeful

Motion within an experience should be meaningful and intentional. It is used to establish hierarchy and draw the user’s attention to essential elements, giving them an understanding of an object’s role within the design. In order to convey this, the motion needs to be quick, direct, and precise.

### Familiar

Motion design should mirror movements we encounter in the physical world around us. Mimicking the expected behavior of objects from reality, creates repetition and consistency, which enables users to anticipate what comes next. Providing motion feedback can help guide the user’s workflow, creating a clear path towards their end goal.

### Unobtrusive

Motion should be used with discretion—a little bit goes a long way. When applied properly, motion goes unnoticed. If a motion feels like it is calling attention to itself, tone it down! Subtlety ensures that the user won’t be distracted and allows for a cohesive motion experience across components.


## Guidelines

### Duration

Movement should be slow enough that the user can recognize what's happening, but fast enough that they are never waiting. The magnitude of change in an animation and its importance combine to determine its duration.  Most animations in our component library last between 100 and 300 milliseconds.
<span style="font-weight: 700">Note:</span> We use milliseconds instead of seconds to reinforce the importance of subtle interactions.

<div class="motion-demo duration py2 px3 my2 paused">
  <div class="motion-demo__track my1">
    <div class="motion-demo__element right-duration"></div>
    <p class="right-text pb0 caption">
      <svg class="fill-green-30">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--check-padding"></use>
      </svg>
      300ms
    </p>
  </div>
  <div class="motion-demo__track my1">
    <div class="motion-demo__element wrong-duration"></div>
    <p class="right-text pb0 caption">
      <svg class="fill-red-50">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--close"></use>
      </svg>
      600ms
    </p>
  </div>
  <div class="motion-demo__overlay center-text">
    <button class="overlay__button">
      <svg width="99px" height="100px" viewBox="4 4 99 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon class="play-icon" stroke="none" fill-rule="evenodd" transform="translate(54.000000, 54.000000) rotate(-270.000000) translate(-54.000000, -54.000000) " points="54 5 103 103 5 103"></polygon>
        <g class="pause-icon hidden" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="37" height="98"></rect>
          <rect x="61" y="0" width="37" height="98"></rect>
        </g>
      </svg>
    </button>
  </div>
</div>


Here are some other common durations:

<div class="table m0 p0 max-width-45">
  <div class="table__header">
    <p>TYPE</p>
    <p>DURATION</p>
  </div>
  <div class="table__row">
    <p>Buttons/Small Components</p>
    <p>100-200ms</p>
  </div>
  <div class="table__row">
    <p>Alerts/Table Reorder</p>
    <p>250-300ms</p>
  </div>
  <div class="table__row">
    <p>Panels/Modals</p>
    <p>300-400ms</p>
  </div>
  <div class="table__row">
    <p>Page Transitions</p>
    <p>500-700ms</p>
  </div>
</div>

### Easing

Strictly linear movement appears strange to the human eye. An animation should accelerate and decelerate smoothly throughout its duration to appear as natural as possible.

<div class="motion-demo py2 px3 my2 paused">
  <div class="motion-demo__track my1">
    <div class="motion-demo__element easing"></div>
    <p class="right-text pb0 caption">
      <svg class="fill-green-30">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--check-padding"></use>
      </svg>
      Easing
    </p>
  </div>
  <div class="motion-demo__track my1">
    <div class="motion-demo__element no-easing"></div>
    <p class="right-text pb0 caption">
      <svg class="fill-red-50">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--close"></use>
      </svg>
      No-Easing
    </p>
  </div>
  <div class="motion-demo__overlay center-text">
    <button class="overlay__button">
      <svg width="99px" height="100px" viewBox="4 4 99 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon class="play-icon" stroke="none" fill-rule="evenodd" transform="translate(54.000000, 54.000000) rotate(-270.000000) translate(-54.000000, -54.000000) " points="54 5 103 103 5 103"></polygon>
        <g class="pause-icon hidden" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="37" height="98"></rect>
          <rect x="61" y="0" width="37" height="98"></rect>
        </g>
      </svg>
    </button>
  </div>
</div>

Bluemix has three specific easing curves, standard, ease-out, and ease-in.

You can think of "in" and "out" as referring to the side of the curve where more time will be spent. So an ease-out will slow down into it's final position. More time is dedicated to the end of the curve or the "out".

**Standard: cubic-bezier(.5, 0, .1, 1)**
The standard cubic-beziar is used for the majority of animations. Especially when extra context is needed or when an element is removed from the screen but easily accessible (i.e. slide out navigation panel). Acceleration and deceleration occur asymmetrically to feel natural. This means that more emphasis is placed on the end of the curve than at the beginning. In most cases a user will need greater easing at the end of a movement to allow their eye to register the new state of the element.

<div class="easing-demo my2 paused">
  <div class="easing-demo__curve standard">
    <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="standard-curve" fill="none" fill-rule="evenodd">
        <path d="M308.613556,11.0327944 C46.9895515,7.38131987 149.49053,309.874432 11,309.874427"></path>
      </g>
      <polyline fill="none" points="10.8641341 10.9289277 10.8641341 312.930566 309.508426 312.930566"></polyline>
      <g id="standard-curve" fill="none" fill-rule="evenodd">
        <path class="standard-curve" d="M308.613556,11.0327944 C46.9895515,7.38131987 149.49053,309.874432 11,309.874427" stroke-dasharray="465"></path>
      </g>
    </svg>
  </div>
  <div class="easing-demo__track p1">
    <div class="easing-demo__element"></div>
  </div>
  <div class="motion-demo__overlay center-text">
    <button class="overlay__button">
      <svg width="99px" height="100px" viewBox="4 4 99 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon class="play-icon" stroke="none" fill-rule="evenodd" transform="translate(54.000000, 54.000000) rotate(-270.000000) translate(-54.000000, -54.000000) " points="54 5 103 103 5 103"></polygon>
        <g class="pause-icon hidden" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="37" height="98"></rect>
          <rect x="61" y="0" width="37" height="98"></rect>
        </g>
      </svg>
    </button>
  </div>
</div>

**Ease-out: cubic-bezier(0, 0, .25, 1)**
The ease-out cubic-beziar is used for adding elements to the stage or changing on-screen states at a users' input.
Ease-out is a much more dramatic curve because it is used for moving elements onto the stage. In which case the object will slowly come to rest allowing the user to adjust to its arrival.

<div class="easing-demo my2 paused">
  <div class="easing-demo__curve">
    <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="out-curve" fill="none" fill-rule="evenodd">
        <path d="M314.772644,10.4076925 C90.6179356,10.4076925 14.1472477,310.555156 14.1472477,310.555156"></path>
      </g>
      <polyline fill="none" points="10.8641341 10.9289277 10.8641341 312.930566 309.508426 312.930566"></polyline>
      <g id="out-curve" fill="none" fill-rule="evenodd">
        <path class="ease-out-curve" d="M314.772644,10.4076925 C90.6179356,10.4076925 14.1472477,310.555156 14.1472477,310.555156" stroke-dasharray="456"></path>
      </g>
    </svg>
  </div>
  <div class="easing-demo__track p1">
    <div class="easing-demo__element"></div>
  </div>
  <div class="motion-demo__overlay center-text">
    <button class="overlay__button">
      <svg width="99px" height="100px" viewBox="4 4 99 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon class="play-icon" stroke="none" fill-rule="evenodd" transform="translate(54.000000, 54.000000) rotate(-270.000000) translate(-54.000000, -54.000000) " points="54 5 103 103 5 103"></polygon>
        <g class="pause-icon hidden" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="37" height="98"></rect>
          <rect x="61" y="0" width="37" height="98"></rect>
        </g>
      </svg>
    </button>
  </div>
</div>

**Ease-in: cubic-bezier(.25, 0, 1, 1)**
The ease-in cubic-beziar is used primarily for removing elements from the screen or stage.
Ease-in does not need as much easing since it is primarily used for objects exiting the stage. Therefore, slow it slightly to allow the user to recognize that it is exiting before speeds out of view.

<div class="easing-demo my2 paused">
  <div class="easing-demo__curve">
    <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="in-curve" fill="none" fill-rule="evenodd">
        <path d="M310.223828,10 C310.223828,10 88.1895065,310.22381 10,310.223828"></path>
      </g>
      <polyline fill="none" points="10.8641341 10.9289277 10.8641341 312.930566 309.508426 312.930566"></polyline>
      <g id="in-curve" fill="none" fill-rule="evenodd">
        <path class="ease-in-curve" d="M310.223828,10 C310.223828,10 88.1895065,310.22381 10,310.223828" stroke-dasharray="429"></path>
      </g>
    </svg>
  </div>
  <div class="easing-demo__track p1">
    <div class="easing-demo__element"></div>
  </div>
  <div class="motion-demo__overlay center-text">
    <button class="overlay__button">
      <svg width="99px" height="100px" viewBox="4 4 99 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon class="play-icon" stroke="none" fill-rule="evenodd" transform="translate(54.000000, 54.000000) rotate(-270.000000) translate(-54.000000, -54.000000) " points="54 5 103 103 5 103"></polygon>
        <g class="pause-icon hidden" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="37" height="98"></rect>
          <rect x="61" y="0" width="37" height="98"></rect>
        </g>
      </svg>
    </button>
  </div>
</div>

### Properties

The reality of the web is that some properties are better to animate than others since <a class="base-link" href="https://csstriggers.com/" target="_blank">some properties</a> trigger more work for the browser than others. With a few exceptions, animations should be created by making changes to the transform and opacity properties.

{{/markdown}}

</div>
