<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

    <link rel="stylesheet" href="{{baseurl}}/assets/bluemix-design-system/styles/styles.css">
	{{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/bluemix-design-system/styles/main.css">{{/if}}

</head>
<body>

	{{#if fabricator}}
		{{> icons}}
		{{> menu}}
		<div class="container">
			{{> control-bar}}
	{{/if}}

    {% body %}

    {{#if fabricator}}
		</div>

    <script src="{{baseurl}}/assets/bluemix-design-system/scripts/main.js"></script>
	{{/if}}

</body>
</html>
