<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<link rel="stylesheet" href="{{baseurl}}/assets/styles/main.css">

</head>
<body>

	{{#if fabricator}}
		{{> menu}}
		<div class="container">
	{{/if}}

    {% body %}

    {{#if fabricator}}
		</div>

    <script src="{{baseurl}}/assets/scripts/main.js"></script>
	{{/if}}

</body>
</html>
