---
fabricator: true
name: Accordion
title: Accordion | Carbon Design System
category: components
mainDesc: "enables users to expand and collapse sections of content."
tag:
  new:
    text: New in 6.0.0
    class: third-party
iterations:
  tabs:
    title: "Accordion"
    htmlFile: "src/materials/components/accordion.html"
    jsFile: ""
    desc: ""
---

<!--EXAMPLES NEED TO BE ADDED TO THIS PAGE-->

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> accordion-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden bx--global-light-ui">
  {{> accordion-style}}
</div>
<!-- View: Style ends -->
