---
fabricator: true
name: cards
title: Cards | IBM Bluemix Design System
category: components
mainDesc: "provide an at-a glance preview of the content they link to, and frequently contain easily-consumable content. Whenever you are creating a collection of items which each surface a large amount of information in a similar schema, cards may be a useful pattern.
"
iterations:
  card--app:
    title: "App Card"
    htmlFile: "components/card--app.html"
    desc: ""
  card--container:
    title: "Container Card"
    htmlFile: "components/card--container.html"
    desc: ""
  card--quota:
    title: "Quota Card"
    htmlFile: "components/card--quota.html"
    desc: ""
  card--service:
    title: "Service Card"
    htmlFile: "components/card--service.html"
    desc: ""
  card--virtual-server:
    title: "Virtual Server Card"
    htmlFile: "components/card--virtual-server.html"
    desc: ""
  card:
    title: "Empty Card"
    htmlFile: "components/card.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> cards-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> cards-style}}
</div>
<!-- View: Style ends -->


{{> line-numbers}}
