---
fabricator: true
name: cards
category: components
mainDesc: "provide an at-a glance preview of the content they link to, and frequently contain easily-consumable content. Whenever you are creating a collection of items which each surface a large amount of information in a similar schema, cards may be a useful pattern.
"
iterations:
  card--app:
    title: "App Card"
    htmlFile: "components/card--app.html"
    desc: ""
  card--container:
    title: "Container Card"
    htmlFile: "components/card--container.html"
    desc: ""
  card--quota:
    title: "Quota Card"
    htmlFile: "components/card--quota.html"
    desc: ""
  card--service:
    title: "Service Card"
    htmlFile: "components/card--service.html"
    desc: ""
  card--virtual-server:
    title: "Virtual Server Card"
    htmlFile: "components/card--virtual-server.html"
    desc: ""
  card:
    title: "Empty Card"
    htmlFile: "components/card.html"
    desc: ""
---

<!-- Item header -->
<section class="page__header">
  <div class="page__info">
    <p class="page__category">{{category}}</p>
    <h1 id="{{name}}" class="page__large-heading">{{capitalize name}}</h1>
  </div>
  <nav data-tabs class="tabs tabs--light">
    <div class="tabs__trigger tabs__trigger--light"><p class="trigger__text"></p>
      <svg>
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
      </svg>
    </div>
    <ul class="tabs__nav tabs__nav--light tabs--hidden">
      <li class="nav__item nav__item--light selected toggle-view--foundation"><a class="item__link" href="">Foundation</a></li>
      <li class="nav__item nav__item--light toggle-view--usage"><a class="item__link" href="">Usage</a></li>
      <li class="nav__item nav__item--light toggle-view--style"><a class="item__link" href="">Style</a></li>
    </ul>
  </nav>
</section>
<!-- Item header ends -->

<!-- Item main container -->
<div class="page__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="page__main-desc">
      <span class="highlight">{{capitalize name}}</span> {{mainDesc}}
    </p>

  <h2 class="page__main-heading">Variations</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="page" id="{{dasherize item.title}}">

      <h2 class="page__heading">{{item.title}}</h2>

      <p class="page__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="element__example">

  <div class="example__rendered">

  <div class="rendered__element">
  {{{findFile item.htmlFile}}}
  </div>
  <input type="text" value="" class="hiddenHTMLSnippet" />

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy code__copy--html">
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <span class="copyFeedback">Copied!</span>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy code__copy--js">
    <div class="copyFeedback">Copied!</div>
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  <!-- End of Code Snippets -->

  </div>

  {{/if}}

  {{/markdown}}

  {{#if item.jsFile}}
  <input type="text" class="hiddenJSSnippet" value="{{{findFile item.jsFile}}}"/>
  {{/if}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">

    <h2 class="page__heading">Structure</h2>
    <p class="page__desc">Cards can be as minimal as a title, icon and description, or as detailed as including a title, chart, several live metrics, and several pieces of metadata.</p>

    <h3 class="page__small-heading">Icon Usage</h3>
    <p class="page__desc">Icons are commonly used in cards to give context to the content at a quick glance. </p>

    <h3 class="page__small-heading">Title</h3>
    <p class="page__desc">Titles provide meaning to the data that the card is displaying.</p>

    <h3 class="page__small-heading">Description</h3>
    <p class="page__desc">The card's description section lives just below the title, and can be used to provide additional information (IP address, URL, instance name).</p>

    <h3 class="page__small-heading">Footer</h3>
    <p class="page__desc">The footer is commonly used for interactive elements, which can be any of the following: secondary buttons, links, and action icons.<br> It can also contain additional informational content, such as plan name or app status.</p>

    <h3 class="page__small-heading">Overflow Menu</h3>
    <p class="page__desc">An overflow menu is a common pattern used within cards. It is used to present additional menu options that directly relate to the card. For more usage guidelines, see <a class="bx--link--dark" href="http://design-system.stage1.mybluemix.net/components/overflow-menu.html">Overflow Menu.</a> </p>

    <h2 class="page__heading">Example</h2>
    <div class="page__img--thumbnail">
      <img class="thumbnail-img" src="/assets/images/cards-UI-example.png" />
      <a href="/assets/images/cards-UI-example.png" target="_blank" class="overlay">
        <img src="/assets/images/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
    </div>

  <!--  -->

  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="page__heading">Style</h1>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
