---
fabricator: true
name: content switchers
title: Content Switchers | IBM Bluemix Design System
category: components
mainDesc: "manipulate the content shown following an exclusive or “either/or” pattern. Either view A is shown or view B."
iterations:
  content-switcher:
    title: "Content Switcher"
    htmlFile: "src/views/temp-materials/content-switcher.html"
    jsFile: "src/materials/js/content-switcher.js"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> content-switcher-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> content-switcher-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
