---
fabricator: true
name: content switchers
category: components
mainDesc: "manipulate the content shown following an exclusive or “either/or” pattern. Either view A is shown or view B."
iterations:
  content-switcher:
    title: "Content Switcher"
    htmlFile: "components/content-switcher.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- Item main container -->
<div class="page__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="page__main-desc">
      <span class="highlight">{{capitalize name}}</span> {{mainDesc}}
    </p>

  <h2 class="page__main-heading">Foundation</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="page" id="{{dasherize item.title}}">

      <h2 class="page__heading">{{item.title}}</h2>

      <p class="page__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="element__example">

  <div class="example__rendered">

  <div class="rendered__element--column">
  {{{findFile item.htmlFile}}}
  </div>
  <input type="text" value="" class="hiddenHTMLSnippet" />

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy code__copy--html">
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <span class="copyFeedback">Copied!</span>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy code__copy--js">
    <div class="copyFeedback">Copied!</div>
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  <!-- End of Code Snippets -->

  </div>

  {{/if}}

  {{/markdown}}

  {{#if item.jsFile}}
  <input type="text" class="hiddenJSSnippet" value="{{{findFile item.jsFile}}}"/>
  {{/if}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">

    <h3 class="page__small-heading">Text</h3>
    <p class="page__desc">No more than two words may be used for any title. Be concise and specific with the text.</p>

    <h3 class="page__small-heading">Default Selection</h3>
    <p class="page__desc">Based on usage, there should be a default selection. This would be the first option in the switcher.</p>

    <h3 class="page__small-heading">Example</h3>
    <p class="page__desc">The Content Switcher is used for large groups of content, as opposed to the <a class="bx--link--dark" href="http://design-system.stage1.mybluemix.net/base-elements/toggles.html">Toggle</a>  which is meant for a &ldquo;Yes/No&rdquo; or &ldquo;On/Off&rdquo; binary decision.<br>
    <!--<br> An example situation for a Content Switcher is within a form, where some of the fields are dependent on the selected option of a prior field.--></p>
    <div class="page__img--thumbnail">
      <img class="thumbnail-img" src="/assets/images/content-switcher-example.gif" />
      <a href="/assets/images/content-switcher-example.gif" target="_blank" class="overlay">
        <img src="/assets/images/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
    </div>

  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="page__heading">Structure</h1>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Basics</h3>
        <p class="page__desc--small">Content switchers must have at least two options for the user to choose from. Each container that makes up the content switcher is equal in size. The width of a container is determined by the length of the longest container option text plus the 32 px / 2em on both sides of the text.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Content Switcher height: 40px / 2.5em</span><br>
          <span class="page__desc--bold">Content Switcher container width: varies based on amount of content</span><br>
          <span class="page__desc--bold">Content Switcher fill color: #5AAAFA</span><br>
          <span class="page__desc--bold">Border: 1px</span><br>
          <span class="page__desc--bold">Border color: #5AAAFA</span><br>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Content_Switcher_2px_640(1).png">
          <img src="/assets/images/Content_Switcher_2px_640.png">
        </picture>
        <h5 class="page__example-heading">Content Switcher | units in px / em</h5>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__full-width">
        <h3 class="page__x-small-heading">States</h3>
        <p class="page__desc--small">Content switchers have two states: selected and not selected. Selected states are a solid color. There must always be only one selected state, no more, no less. Unselected options have 1px border with no fill.</p>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Padding</h3>
        <p class="page__desc--small">Internally there must be 32px / 2em of space between the content container option text and sides of the content container.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Padding between side of content box and text: 32px / 2em</span><br>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Content_Switcher_Padding_2px_640(1).png">
          <img src="/assets/images/Content_Switcher_Padding_2px_640.png">
        </picture>
        <h5 class="page__example-heading">Content Switcher Padding | units in px / em</h5>
      </div>
    </div>
    <h1 class="page__heading">Typography</h1>
    <div class="view--style__section">
      <div class="view--style__full-width">
        <p class="page__desc--small">Content switcher text should be set in title case with the first letter of each word capitalized. Content Switcher option text should not exceed more than 3 words. Text should follow the Bluemix Typography font stack for sans-serif.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Content switcher font-size: 14px / .875em</span><br>
          <span class="page__desc--bold">Content switcher font-weight: roman / 400</span><br>
        </p>
      </div>
    </div>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
