---
fabricator: true
name: Content switcher
title: Content switcher | Carbon Design System
category: components
mainDesc: "manipulates the content shown following an exclusive or “either/or” pattern."
tag:
  new:
    text: Updated
    class: third-party
iterations:
  content-switcher:
    title: "Content switcher"
    htmlFile: "src/views/temp-materials/content-switcher.html"
    jsFile: "src/materials/js/content-switcher.js"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> content-switcher-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> content-switcher-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
