---
fabricator: true
name: Detail page header
title: Detail page header | Carbon Design System
category: components
mainDesc: "is used to label the page and act as a form of navigation."
iterations:
  detail-page-header--no-tabs:
    title: "Detail page header without tabs"
    htmlFile: "src/materials/components/detail-page-header--no-tabs.html"
    iframeLink: "../materials/components/detail-page-header--no-tabs.html"
    desc: "The basic header contains a page title and a back arrow."
  detail-page-header--with-tabs:
    title: "Detail page header with tabs"
    htmlFile: "src/materials/components/detail-page-header--with-tabs.html"
    iframeLink: "../materials/components/detail-page-header--with-tabs.html"
    desc: "An expanded version of the header includes a breadcrumb title, page title, and tabs to be used as a navigational element."
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> detail-page-header-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> detail-page-header-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
