---
fabricator: true
name: Dropdown
title: Dropdowns | Carbon Design System
category: components
mainDesc: "are used for navigating or filtering existing content. Each dropdown consists of options or actions that can affect elements on the page."
iterations:
  dropdown:
    title: "Dropdown"
    htmlFile: "src/materials/components/dropdown.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> dropdown-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden bx--global-light-ui">
  {{> dropdown-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
