---
fabricator: true
name: Dropdowns
category: components
mainDesc: "is a menu that displays items contextual to its surrounding content."
iterations:
  dropdown:
    title: "Dropdown"
    htmlFile: "components/dropdown.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- Item main container -->
<div class="page__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="page__main-desc">
      <span class="highlight">{{capitalize name}}</span> {{mainDesc}}
    </p>

  <h2 class="page__main-heading">Foundation</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="page" id="{{dasherize item.title}}">

      <h2 class="page__heading">{{item.title}}</h2>

      <p class="page__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="element__example">

  <div class="example__rendered">

  <div class="rendered__element">
  {{{findFile item.htmlFile}}}
  </div>
  <input type="text" value="" class="hiddenHTMLSnippet" />

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy code__copy--html">
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <span class="copyFeedback">Copied!</span>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy code__copy--js">
    <div class="copyFeedback">Copied!</div>
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  <!-- End of Code Snippets -->

  </div>

  {{/if}}

  {{/markdown}}

  {{#if item.jsFile}}
  <input type="text" class="hiddenJSSnippet" value="{{{findFile item.jsFile}}}"/>
  {{/if}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h1 class="page__heading">General</h1>
    <p class="page__desc">
    Dropdown lists are used when the selection of items are of secondary importance. If space is a concern, use dropdowns to minimize distraction. </p>
    <h3 class="page__small-heading">Text</h3>
    <p class="page__desc">
      Dropdown content should be limited to a single line of text that describes the action it will perform when selected. Do not use multiple lines of text, images, or icons within a dropdown. Sort the items in logical order, such as grouping related options together. </p>
    <h3 class="page__small-heading">Length</h3>
    <p class="page__desc">
      Dropdown options should be as succinct as possible. Long dropdown menus that require scrolling make it difficult for users to see all their options within one glance.  </p>

    <h1 class="page__heading">Interaction</h1>
      <p class="page__desc">Dropdowns should appear on-click, rather than on hover. Hover-activated dropdowns increase cognitive load on users and are not recommended for use due to usability purposes. <br><br>Dropdown menus should appear above all other elements within the UI. They can be dismissed by clicking outside of the menu item or on the parent element. Generally, selecting an item from the dropdown menu will also dismiss the menu. </p>
      <h5 class="page__example-heading">Example:</h5>

    <h1 class="page__heading">Usage</h1>
    <h3 class="page__small-heading">Dropdown as a Filter</h3>
    <p class="page__desc">Dropdowns can be used to filter a set of data. </p>
    <div class="page__img--thumbnail">
      <img class="thumbnail-img" src="/assets/images/dropdown-filter.png" />
      <a href="/assets/images/dropdown-filter.png" target="_blank" class="overlay">
        <img src="/assets/images/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
    </div>

    <h3 class="page__small-heading">Dropdown for additional options</h3>
    <p class="page__desc">Dropdowns can be used to perform batch actions on sets of data.</p>
    <div class="page__img--thumbnail">
      <img class="thumbnail-img" src="/assets/images/dropdown-actions.png" />
      <a href="/assets/images/dropdown-actions.png" target="_blank" class="overlay">
        <img src="/assets/images/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
    </div>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="page__heading">Structure</h1>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Basics</h3>
        <p class="page__desc--small">Dropdown menus have two major states, open and closed. The open and closed menu should be the same width and appropriately fit the design, layout, and content. The height of closed menu should always be 40px / 2.5em. The height of an open menu will vary based on the amount of menu options it has. Please note the various color differences for closed and open menus.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Dropdown Menu height: 40px / 2.5em</span>
          <span class="page__desc--bold">Dropdown Menu width: varies based on content and layout</span>
        </p>
        <p class="page__desc--small">Closed Dropdown Menu:</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Background color: white at 10% opacity (rgba: 255, 255, 255, 0.15)</span>
        </p>
        <p class="page__desc--small">Open Dropdown Menu:</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Background color: white at 10% opacity (rgba: 255, 255, 255, 0.15)</span><br>
          <span class="page__desc--bold">Dropdown menu bar color: #3A4B54</span>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Menu_Dropdown_2px_640(1).png">
          <img src="/assets/images/Menu_Dropdown_2px_640.png">
        </picture>
        <h5 class="page__example-heading">Dropdown Basics | units in px / em</h5>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Padding</h3>
        <p class="page__desc--small">Internally there must be 16px / 1em of space between the sides of the dropdown menu and the elements within the menu.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Internal side padding: 16px / 1em</span>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Menu_Dropdown_Padding_2px_640.png">
          <img src="/assets/images/Menu_Dropdown_Padding_2px_640(1).png">
        </picture>
        <h5 class="page__example-heading">Dropdown Padding | units in px / em</h5>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">States</h3>
        <p class="page__desc--small">In addition to the open and closed states, dropdown menus have hover, new selection, and disabled states.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Hover border: 1px</span><br>
          <span class="page__desc--bold">Hover color: #5AAAFA</span><br>
          <span class="page__desc--bold">Disabled: 50% opacity</span><br>
          <span class="page__desc--bold">New Selection color fill: #5AAAFA</span>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Menu_Dropdown_States_2px_640.png">
          <img src="/assets/images/Menu_Dropdown_States_2px_640(1).png">
        </picture>
        <h5 class="page__example-heading">Dropdown States</h5>
      </div>
    </div>
    <h1 class="page__heading">Typography</h1>
    <div class="view--style__section">
      <div class="view--style__full-width">
        <p class="page__desc--small">All dropdown menu text should be set in title case with the first letter of each word capitalized. Dropdown menu options should not exceed more than 3 words. Text should follow the Bluemix Typography font stack for sans-serif.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Dropdown menu label font-size: 14 px/ .875rem</span><br>
          <span class="page__desc--bold">Dropdown menu label font-weight: bold / 700</span><br>
          <span class="page__desc--bold">Dropdown menu option text font-size: 14px /.875rem</span><br>
          <span class="page__desc--bold">Dropdown menu option text font-weight: roman / 400</span>
        </p>
      </div>
    </div>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
