---
fabricator: true
name: Interior left navigation
title: Interior left navigation | Carbon Design System
category: components
mainDesc: "organizes the content structure and provides context to support user orientation. This pattern accommodates the breadth of content and tasks users expect to see."
tag:
  new:
    text: New in 6.0.0
    class: third-party
iterations:
  content-switcher:
    title: "Interior left navigation"
    htmlFile: "src/materials/components/inline-left-nav.html"
    jsFile: "src/materials/js/inline-left-nav.js"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> interior-left-nav-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> interior-left-nav-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
