---
fabricator: true
name: Left Navigation
title: Left Navigation | IBM Bluemix Design System
category: components
mainDesc: "organizes content structure and provides context to support user orientation within Bluemix. This pattern accommodates the breadth of content and tasks users expect to see."
tag:
  new:
    text: Updated
    class: third-party
iterations:
  content-switcher:
    title: "Left Navigation"
    htmlFile: "src/views/temp-materials/content-switcher.html"
    jsFile: "src/materials/js/content-switcher.js"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> content-switcher-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> left-nav-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
