---
fabricator: true
name: Loading
title: Loading | Carbon Design System
category: components
mainDesc: "spinners are used when retrieving data or performing slow computations, and help to notify users that loading is underway."
iterations:
  loading:
    title: "Loading"
    htmlFile: "src/materials/components/loading.html"
    jsFile: "src/materials/js/loading.js"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> loading-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> loading-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
