---
fabricator: true
name: Modals
category: components
mainDesc: "communicate information to a user within a secondary window, and allow users to maintain the context of their task. Modals interrupt the users workflow, therefore they should be used sparingly."
iterations:
  modals--transactional:
    title: "Transactional Modals"
    htmlFile: "components/modal--transactional.html"
    jsFile: "js/modals.js"
    desc: "Transactional modals are used to validate user decisions or to gain secondary confirmation from the user. Typically, the modal requests either a 'yes' or 'no' response."
  modals--passive:
    title: "Passive Modals"
    htmlFile: "components/modal--passive.html"
    jsFile: "js/modals.js"
    desc: "This modal is used as a style of notifications. We  highly discourage the use of this, due to its disruptive nature. Passive modal notifications should only appear if there is an action the user needs to address immediately. Passive modal notifications are persistent on screen. That is, they do not automatically go away after appearing. Users must either engage with or dismiss the notification."
  modals--inputs:
    title: "Input Modals"
    htmlFile: "components/modal--inputs.html"
    jsFile: "js/modals.js"
    desc: "Input modals are used to follow up with previous user input. These modals should include areas for input that the user can interact with, such as forms, dropdowns, selectors, and links."
---

<!-- Item header -->
<section class="page__header">
  <div class="page__info">
    <p class="page__category">{{category}}</p>
    <h1 id="{{name}}" class="page__large-heading">{{capitalize name}}</h1>
  </div>
  <nav data-tabs class="tabs tabs--light">
    <div class="tabs__trigger tabs__trigger--light"><p class="trigger__text"></p>
      <svg>
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
      </svg>
    </div>
    <ul class="tabs__nav tabs__nav--light tabs--hidden">
      <li class="nav__item nav__item--light selected toggle-view--foundation"><a class="item__link" href="">Foundation</a></li>
      <li class="nav__item nav__item--light toggle-view--usage"><a class="item__link" href="">Usage</a></li>
      <li class="nav__item nav__item--light toggle-view--style"><a class="item__link" href="">Style</a></li>
    </ul>
  </nav>
</section>
<!-- Item header ends -->

<!-- Item main container -->
<div class="page__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="page__main-desc">
      <span class="highlight">{{capitalize name}}</span> {{mainDesc}}
    </p>

  <h2 class="page__main-heading">Variations</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="page" id="{{dasherize item.title}}">

      <h2 class="page__heading">{{item.title}}</h2>

      <p class="page__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="element__example">

  <div class="example__rendered">

  <div class="rendered__element">
  {{{findFile item.htmlFile}}}
  </div>
  <input type="text" value="" class="hiddenHTMLSnippet" />

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy code__copy--html">
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <span class="copyFeedback">Copied!</span>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy code__copy--js">
    <div class="copyFeedback">Copied!</div>
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  <!-- End of Code Snippets -->

  </div>

  {{/if}}

  {{/markdown}}

  {{#if item.jsFile}}
  <input type="text" class="hiddenJSSnippet" value="{{{findFile item.jsFile}}}"/>
  {{/if}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h2 class="page__heading">General</h2>
    <p class="page__desc">
    <ul class="page__desc--list">
      <li>Modals should not contain scrolling content</li>
      <li>If your modal contains informational content only, consider using a <a href="http://design-system.stage1.mybluemix.net/components/notifications.html">Notification</a> instead</li>
    </ul>>
  </p>
    <h3 class="page__small-heading">Dismissal</h3>
      <p class="page__desc">Modals can be dismissed in 3 ways:<br>
        <ul class="page__desc--list">
          <li>Using the "x" in the upper right hand corner of the modal</li>
          <li>Pressing the <code>ESC</code> key</li>
          <li>Clicking / touching outside of the modal area</li>
        </ul>
      </p>

  <h2 class="page__heading">Structure</h2>
    <h3 class="page__small-heading">Header</h3>
    <p class="page__desc">Include a heading within the modal that mirrors the action or button that was clicked by the user. Headers include a close button ("x") in the upper right hand corner of the modal.  </p>
    <h3 class="page__small-heading">Body</h3>
    <p class="page__desc">The body content within a modal should be as minimal as possible. Some base elements that can be used in modals are: form fields, text area, select, and radio buttons.</p>
    <h3 class="page__small-heading">Footer</h3>
    <p class="page__desc">The footer area of a modal typically contains a set of buttons. Refer to <a href="http://design-system.stage1.mybluemix.net/base-elements/buttons.html">button</a> guidelines for usage.  </p>

    <h2 class="page__heading">Examples</h2>
      <h3 class="page__small-heading">Transactional Modals</h3>
      <p class="page__desc">Typically, the modal requests either a "yes" or "no" response from the user. Use when secondary confirmation is needed.</p>

      <h3 class="page__small-heading">Input Modal</h3>
      <p class="page__desc">Modals used in this case should include areas for input that the user can interact with. These can include but are not limited to: forms, dropdowns, selectors, and links.</p>

  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="page__heading">Style</h1>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
