---
fabricator: true
name: Modals
title: Modals | IBM Bluemix Design System
category: components
mainDesc: "communicate information via a secondary window and allow the user to maintain the context of a particular task. Use modals sparingly because they interrupt user workflow."
iterations:
  modals--transactional:
    title: "Transactional Modals"
    htmlFile: "src/views/temp-materials/modal--transactional.html"
    jsFile: "src/materials/js/modals.js"
    desc: "Transactional modals are used to validate user decisions or to gain secondary confirmation from the user. Typically, the modal requests either a 'yes' or 'no' response."
  modals--passive:
    title: "Passive Modals"
    htmlFile: "src/materials/components/modal--passive.html"
    jsFile: "src/materials/js/modals.js"
    desc: "This modal is used as a style of notifications. We  highly discourage the use of this, due to its disruptive nature. Passive modal notifications should only appear if there is an action the user needs to address immediately. Passive modal notifications are persistent on screen. That is, they do not automatically go away after appearing. Users must either engage with or dismiss the notification."
  modals--inputs:
    title: "Input Modals"
    htmlFile: "src/materials/components/modal--inputs.html"
    jsFile: "src/materials/js/modals.js"
    desc: "Input modals are used to follow up with previous user input. These modals should include areas for input that the user can interact with, such as forms, dropdowns, selectors, and links."
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> modals-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> modals-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
