---
fabricator: true
name: Notifications
category: components
mainDesc: "are messages that communicate information to the user. "
iterations:
  alert--danger:
    title: "Generic Notifications"
    htmlFile: "components/alert--danger.html"
    desc: "Generic notifications are typically passive, meaning they won't affect the user's workflow if not addressed. These notifications can include real time updates, to notify the user of activities happening in the system. These can contain information about an app, service, or compute resource starting, stopping, or reaching a threshold."
  alert--info:
    title: "Inline Notifications"
    htmlFile: "components/alert--info.html"
    desc: "Inline notifications appear in-page, and are important to the context of what the user's workflow."
  alert--misc:
    title: "Modal Notifications"
    htmlFile: "components/alert--misc.html"
    desc: "This style of notification is highly discouraged, due to it's disruptive nature. Notifications should only appear within a modal if there is an action the user needs to address immediately. Modal notifications are persistent on screen. That is, they do not automatically go away after appearing. Users must either engage with or dismiss the notification."

---

<!-- Item header -->
<section class="item__header">
  <div class="item__info">
    <p class="item__category">{{category}}</p>
    <h1 id="{{name}}" class="item__main-heading">{{capitalize name}}</h1>
  </div>
  <ul class="item__tabs">
    <li class="toggle-view--foundation is-selected">Foundation</li>
    <li class="toggle-view--usage">Usage</li>
    <li class="toggle-view--style">Style</li>
  </ul>
</section>
<!-- Item header ends -->

<!-- Item main container -->
<div class="item__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="item__main-desc">
      <span class="highlight">{{capitalize name}}</span> {{mainDesc}}
    </p>

  <h2 class="item-section__main-heading">Variations</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="item-section" id="{{dasherize item.title}}">

      <h2 class="item-section__heading">{{item.title}}</h2>

      <p class="item-section__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="item-section__example">

  <div class="example__rendered">

  <div class="rendered__item">
  {{{findFile item.htmlFile}}}
  </div>
  <input type="text" value="" class="hiddenHTMLSnippet" />

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy code__copy--html">
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <span class="copyFeedback">Copied!</span>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy code__copy--js">
    <div class="copyFeedback">Copied!</div>
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  <!-- End of Code Snippets -->

  </div>

  {{/if}}

  {{/markdown}}

  {{#if item.jsFile}}
  <input type="text" class="hiddenJSSnippet" value="{{{findFile item.jsFile}}}"/>
  {{/if}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h2 class="item-section__heading">Format</h2>
      <h3>Size</h3>
        <p class="item-section__desc">Generic notifications have a fixed width to maintain consistency, but their height can vary depending on content. <br>Inline notifications width and height may vary depending on the type of content presented.  </p>

      <h3>Title</h3>
        <p class="item-section__desc">All notifications should have titles to give users a quick means of understanding the content of the notification. Titles should match the notification color (see below for color meaning). App, service, and compute resource names should be bolded.</p>

      <h3>Message</h3>
        <p class="item-section__desc">The body or message of the notification must be contained within two lines. Be as descriptive as possible, and try to include troubleshooting actions or next steps. If you can communicate the main message of your notification to the user within the title, a secondary message may not be needed.  </p>

      <h3>Date</h3>
        <p class="item-section__desc">Every notification should be time-stamped.
          <br>Use the following rules to display time:
            <ul class="list--unordered">
              <li class="list__item">Less than one hour: "30 minutes ago"</li>
              <li class="list__item">Less than 24 hours ago: "3 hours ago"</li>
              <li class="list__item">Less than a month ago: "12 days ago"</li>
              <li class="list__item">Less than a year ago: "8 months ago"</li>
              <li class="list__item">Over a year: Follow ISO 8601 Standards: "2016-01-19"</li>
            </ul>
          </p>
<br>
       <h3>Color</h3>
            <h4>Green 30: Success</h4>
            <h4>Yellow 30: Warning</h4>
            <h4>Red 30: Error</h4>
            <h4>Blue 20: Informational</h4>
<br>

        <h3>Icons</h3>
          <p class="item-section__desc">Icons aren't used in generic notifications, due to the space constraints. When icons appear in inline or modal notifications, they are placed to the left of the title. See the Style tab for further specs about icons.</p>
<br>

    <h2 class="item-section__heading">Placement</h2>
        <h3> Generic Notifications</h3>
          <p class="item-section__desc">These should always appear in the top right corner, and slide in from off canvas. Actionable notifications do not appear on mobile screen widths.</p>

        <h3>Inline Notifications</h3>
          <p class="item-section__desc">These should appear close to the item that they are related to. </p>

    <h2 class="item-section__heading">Dismissal</h2>
          <p class="item-section__desc">All notifications must have one method of dismissal. Typically, it is a small "x" in the upper right hand corner.</p>

  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="item-section__heading">Style</h1>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
