---
fabricator: true
name: Notifications
title: Notifications | IBM Bluemix Design System
category: components
mainDesc: "are messages that communicate information to the user. "
iterations:
  notification--danger:
    title: "Generic Notifications"
    htmlFile: "components/notification--danger.html"
    desc: "Generic notifications are typically passive, meaning they won't affect the user's workflow if not addressed. These notifications can include real time updates, to notify the user of activities happening in the system. These can contain information about an app, service, or compute resource starting, stopping, or reaching a threshold."
  notification--info:
    title: "Inline Notifications"
    htmlFile: "components/notification--info.html"
    desc: "Inline notifications appear in-page, and are important to the context of what the user's workflow."
  notification--misc:
    title: "Modal Notifications"
    htmlFile: "components/notification--misc.html"
    desc: "This style of notification is highly discouraged, due to it's disruptive nature. Notifications should only appear within a modal if there is an action the user needs to address immediately. Modal notifications are persistent on screen. That is, they do not automatically go away after appearing. Users must either engage with or dismiss the notification."

---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> notifications-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> notifications-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
