---
fabricator: true
name: Notifications
title: Notifications | Carbon Design System
category: components
mainDesc: "are messages that communicate information to the user. "
tag:
  new:
    text: Updated
    class: third-party
iterations:
  notification--toast:
    title: "Generic notifications"
    htmlFile: "src/views/temp-materials/generic-notifications.html"
    desc: "Generic notifications are passive and do not affect the user's workflow. Messages may include real-time updates to notify the user of system activities. For example, information about an app, service, or compute resource (starting, stopping, or reaching a threshold)."
  notification--inline:
    title: "Inline notifications"
    htmlFile: "src/views/temp-materials/inline-notifications.html"
    desc: "Inline notifications appear in-page and are context related."
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> notifications-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> notifications-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
