---
fabricator: true
name: Overflow Menu
title: Overflow Menu | IBM Bluemix Design System
category: components
mainDesc: "appears when additonal options need to be presented to the user, but there is design concern for space."
iterations:
  overflow-menu:
    title: "Overflow Menu"
    htmlFile: "src/materials/components/overflow-menu.html"
    jsFile: "src/materials/js/overflow-menu.js"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> overflow-menu-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> overflow-menu-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
