---
fabricator: true
name: Overflow Menu
category: components
mainDesc: "appears when additonal options need to be presented to the user, but there is design concern for space."
iterations:
  overflow-menu:
    title: "Overflow Menu"
    htmlFile: "components/overflow-menu.html"
    jsFile: "js/overflow-menu.js"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- Item main container -->
<div class="page__container">

  <!-- View: Foundation -->
  <div class="view--foundation is-active">

    <p class="page__main-desc">
      <span class="highlight">{{capitalize name}}</span> {{mainDesc}}
    </p>

  <h2 class="page__main-heading">Foundation</h2>

  <!-- Element Loop -->
  {{#each iterations as |item|}}
    <section class="page" id="{{dasherize item.title}}">

      <h2 class="page__heading">{{item.title}}</h2>

      <p class="page__desc">{{#if item.desc}}{{item.desc}}{{/if}}</p>

  {{#if item.htmlFile}}

  <div class="element__example">

  <div class="example__rendered">

  <div class="rendered__element">
  {{{findFile item.htmlFile}}}
  </div>
  <input type="text" value="" class="hiddenHTMLSnippet" />

  {{#markdown}}

  <a class="rendered__view-full-size" href="#">View full render</a>

  <!-- <button class="btn--theme-switcher">Light Theme</button> -->

  </div>

  <div class="example__code">

  <ul class="code__tabs">
    <li class="tabs__html is-selected">HTML</li>
    {{#if item.jsFile}}<li class="tabs__js">JS</li>{{/if}}
  </ul>

  <!-- HTML Code -->
  <div class="code__html is-active">

  ```markup
  {{{findFile item.htmlFile}}}
  ```

  <button class="code__copy code__copy--html">
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <span class="copyFeedback">Copied!</span>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  {{#if item.jsFile}}
  <!-- JS Code -->

  <div class="code__js">

  ```js
  {{{findFile item.jsFile}}}
  ```

  <button class="code__copy code__copy--js">
    <div class="copyFeedback">Copied!</div>
    Copy
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg class="copy-icon" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-1" transform="translate(-969.000000, -1535.000000)" fill="#2D3F49">
          <g id="Group-3-Copy-9" transform="translate(919.000000, 1523.000000)">
            <g id="code_32" transform="translate(50.000000, 12.000000)">
                <path d="M3.86084806,7.99360578e-15 L-4.4408921e-15,4 L3.86084806,8 L5.33333333,6.47423793 L2.94601191,4 L5.33333333,1.52576207 L3.86084806,7.99360578e-15 Z" id="Shape"></path>
                <path d="M12.1391519,7.99360578e-15 L10.6666667,1.52576207 L13.0539881,4 L10.6666667,6.47423793 L12.1391519,8 L16,4 L12.1391519,7.99360578e-15 Z" id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <button class="code__show-full">Show full code <img src="../assets/images/icon--down-arrow.svg" /></button>

  </div>

  <!-- End of Code Snippets -->

  </div>

  {{/if}}

  {{/markdown}}

  {{#if item.jsFile}}
  <input type="text" class="hiddenJSSnippet" value="{{{findFile item.jsFile}}}"/>
  {{/if}}

  {{/if}}
  </section>
  {{/each}}

  <!-- View: Foundation ends -->
  </div>

  <!-- View: Usage -->
  <div class="view--usage">
    <h1 class="page__heading">General</h1>
      <h3 class="page__small-heading">Text</h3>
      <p class="page__desc">The text within an overflow menu should be direct so users can quickly decide on an action. <br> <br>Actions that could cause a significant change to the user's data (Delete app, Delete Service, etc), should be separated by a horizontal rule and live below the primary set of actions.  </p>
      <h5 class="page__example-heading">Example:</h5>
      <div class="page__img--x-small">
        <img src="/assets/images/overflow-cards.png" />
      </div>

      <h3 class="page__small-heading">Positioning</h3>
      <p class="page__desc">Depending on where the overflow menu is appears within the UI, the caret/arrow can be left or right aligned so the overflow menu is clearly visible.</p>
      <h5 class="page__example-heading">Left-aligned overflow menu:</h5>
      <div class="page__img--x-small">
        <img src="/assets/images/overflow-menu-left.png" />
    </div>
      <h5 class="page__example-heading">Right-aligned overflow menu:</h5>
      <div class="page__img--x-small">
        <img src="/assets/images/overflow-menu-right.png" />
    </div>


      <h1 class="page__heading">Usage</h1>
      <h3 class="page__small-heading">Overflow menu in Detail Page Header</h3>
        <p class="page__desc"> </p>
        <h5 class="page__example-heading">Example:</h5>

        <h3 class="page__small-heading">Overflow menu in Cards</h3>
        <p class="page__desc">Due to the space constraints, it is often not possible to contain all relevent actions to manipulate an object within the card. An overflow menu may be used to present additional menu options that directly relate to the card.</p>
        <h5 class="page__example-heading">Example:</h5>
          <div class="page__img--x-small">
            <img src="/assets/images/overflow-cards-2.png" />
        </div>
  </div>
  <!-- View: Usage ends -->

  <!-- View: Style -->
  <div class="view--style">
    <h1 class="page__heading">Structure</h1>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Basics</h3>
        <p class="page__desc--small">The overflow menu should always have a width of 180px / 11.25. The height of an overflow menu is determined by the amount of content in the menu. The overflow menu icon can be found on the <a class="bx--link--dark" href="https://pages.github.ibm.com/Bluemix/bluemix-icons/">Bluemix Icons</a> page.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Overflow menu height: varies based on content</span><br>
          <span class="page__desc--bold">Overflow menu width: 180px / 11.25em</span><br>
          <span class="page__desc--bold">Line height: 32px / 2em</span><br>
          <span class="page__desc--bold">Dividing Line border: 1px</span><br>
          <span class="page__desc--bold">Dividing Line color: #5A6872</span>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Overflow_menu_2px_640(1).png">
          <img src="/assets/images/Overflow_menu_2px_640.png">
        </picture>
        <h5 class="page__example-heading">Overflow Menu | units in px / em</h5>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">States</h3>
        <p class="page__desc--small">Open overflow menus have a hover state, indicated by a color change. All hover states should be #5AAAFA unless the option the user is hovering over cannot be undone, in which case the color is #FF5050. Menu option text color changes during a hover state.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Regular hover color: #5AAAFA</span><br>
          <span class="page__desc--bold">Warning hover color: #FF5050</span><br>
          <span class="page__desc--bold">Text hover color: #152934</span>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Overflow_menu_States_2px_640.png">
          <img src="/assets/images/Overflow_menu_States_2px_640(1).png">
        </picture>
        <h5 class="page__example-heading">Overflow Menu States | units in px / em</h5>
      </div>
    </div>
    <div class="view--style__section">
      <div class="view--style__left-column">
        <h3 class="page__x-small-heading">Padding</h3>
        <p class="page__desc--small">Internally there must be 16px / 1em of space between the menu text and sides of the overflow menu.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Internal Padding: 16px / 1em</span><br>
          <span class="page__desc--bold">Padding between menu icon and overflow menu: 8px / .5em</span><br>
        </p>
      </div>
      <div class="view--style__right-column">
        <picture>
          <source media="(max-width: 550px)" srcset="/assets/images/Overflow_menu_Padding_2px_640.png">
          <img src="/assets/images/Overflow_menu_Padding_2px_640(1).png">
        </picture>
        <h5 class="page__example-heading">Overflow Menu Padding | units in px / em</h5>
      </div>
    </div>
    <h1 class="page__heading">Typography</h1>
    <div class="view--style__section">
      <div class="view--style__full-width">
        <p class="page__desc--small">Overflow menu text should be set in title case with the first letter of each significant word capitalized. Text should follow the Bluemix Typography font stack for sans-serif.</p>
        <p class="page__desc--small">
          <span class="page__desc--bold">Overflow menu font-size: 14px / .875rem</span><br>
          <span class="page__desc--bold">Overflow menu font-weight: roman / 400</span>
        </p>
      </div>
    </div>
  </div>
  <!-- View: Style ends -->

</div>

<!-- Item main container ends -->

<script>
  const codeSnippets = document.querySelectorAll('pre');
  if (codeSnippets) {
    for (let i = 0; i < codeSnippets.length; i+= 1) {
      codeSnippets[i].classList.add('line-numbers');
    }
  }
</script>
