---
fabricator: true
name: Overflow menu
title: Overflow menu | Carbon Design System
category: components
mainDesc: "is used when additional options are available to the user and there is a space constraint."
iterations:
  overflow-menu:
    title: "Overflow menu"
    htmlFile: "src/materials/components/overflow-menu.html"
    jsFile: "src/materials/js/overflow-menu.js"
    desc: ""
    expandHeight: true
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> overflow-menu-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden bx--global-light-ui">
  {{> overflow-menu-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
