---
fabricator: true
name: Progress Indicator
title: Progress Indicator | Carbon Design System
category: components
mainDesc: "are a visual representation of a users progress through a set of steps. They guide the user through a number of steps in order to complete a specified process."
iterations:
  progress-indicator:
    title: "Progress Indicator"
    htmlFile: "src/materials/components/progress-indicator.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Foundation -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> progress-indicator-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden bx--global-light-ui">
  {{> progress-indicator-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
