---
fabricator: true
name: tables
title: Tables | Carbon Design System
category: elements
mainDesc: "present raw data sets and lend meaning to the data, while maintaining that the data is readable, scannable, and easily comparable."
tag:
  new:
    text: Under Review
    class: deprecated
iterations:
  table:
    title: "Table"
    htmlFile: "src/materials/base-elements/table.html"
    iframeLink: "../materials/base-elements/table.html"
    desc: ""
  table--checkboxes:
    title: "Table with Checkboxes"
    htmlFile: "src/materials/base-elements/table--checkbox.html"
    iframeLink: "../materials/base-elements/table--checkbox.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> tables-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> tables-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
