---
fabricator: true
name: tables
title: Tables | IBM Bluemix Design System
category: elements
mainDesc: "are used to present raw data sets. Their main purpose is to lend meaning to a set of data, while still making the data readable, scannable, and easily comparable."
iterations:
  table:
    title: "Table"
    htmlFile: "src/materials/base-elements/table.html"
    desc: ""
  table--checkboxes:
    title: "Table with Checkboxes"
    htmlFile: "src/materials/base-elements/table--checkbox.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> tables-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> tables-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
