---
fabricator: true
name: tables
title: Tables | Carbon Design System
category: elements
mainDesc: "present raw data sets and lend meaning to the data, while maintaining that the data is readable, scannable, and easily comparable."
tag:
  new:
    text: New in 6.0.0
    class: third-party
iterations:
  enhanced-table:
    title: "Enhanced Table"
    htmlFile: "src/materials/base-elements/responsive-tables.html"
    desc: ""
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> tables-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden">
  {{> tables-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
