---
fabricator: true
name: Tabs
title: Tabs | Carbon Design System
category: components
mainDesc: "are used to quickly navigate between views within the same context."
iterations:
  tabs:
    title: "Tabs"
    htmlFile: "src/views/temp-materials/tabs.html"
    iframeLink: "../materials/tabs.html"
    jsFile: "src/materials/js/tabs.js"
    desc: "Tabs follow a modified Priority Plus pattern to provide optimal usability at all screen sizes. It is a responsive navigation pattern that maximizes horizontal space at all widths."
    needWrap: "true"
---

<!-- Item header -->
{{> tabsnav}}
<!-- Item header ends -->

<!-- View: Usage -->
<div id="foundation" class="hidden">
  {{> render-item}}
</div>
<!-- View: Foundation ends -->

<!-- View: Usage -->
<div id="usage" class="view hidden">
  {{> tabs-usage}}
</div>
<!-- View: Usage ends -->

<!-- View: Style -->
<div id="style" class="view hidden bx--global-light-ui">
  {{> tabs-style}}
</div>
<!-- View: Style ends -->

{{> line-numbers}}
