{{#markdown}}

### Length
Generally, lists should be used when there is a single line item of information per line. For larger or more complex sets of data, consider using a <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/tables.html#foundation" target="_blank">Table</a>.

### Order
The default order of a list should make sense given the context and help facilitate the user's goal. Arrange list items in a logical way. For example, if the list is about resource use, the default order might be highest resource use to lowest. If there is no better method for arranging them, put them in alphabetical or numeric order. Grouping items by categories into smaller, more specific lists might be more meaningful to users in some contexts.

### Text

Use list items that are grammatically parallel. For example, do not mix passive voice with active voice or declarative sentences (statements) with imperative sentences (direct command). Capitalize the first word of each item in a list.

### Filter & sort 
Lists can be filterable and sortable, allowing the user to manipulate and view the content as they see fit.

{{/markdown}}
