{{#markdown}}

### Length
Generally, lists should be used when there is a single line item of information per line. For larger or more complex sets of data, consider using a <a href="http://design-system.stage1.mybluemix.net/components/tables.html#foundation" target="_blank">Table</a>.

### Order
The default order of a list should make sense given the context and help facilitate the user's goal. For example, if the list is about resource use, the default order may be highest resource use to lowest, instead of being sorted alphabetically. If there is no such meaningful default, alpabetical or numeric order should be used. Grouping items by categories into smaller, more specific lists may be more meaningful to users in some contexts.

### Filter & Sort
Lists can be filterable and sortable, allowing the user to manipulate and view the content as they see fit.

{{/markdown}}
