{{#markdown}}

## Structure

{{> theme-switcher-btns}}

<div class="view__section">

<div class="view__full">

### Basics

There are two types of lists: ordered and unordered.
Level 1 **ordered** list points are marked numerically while Level 2 points are marked with a dash.
Level 1 **unordered** list points are bulleted while Level 2 points are marked with a dash.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/Ordered_List_Mobile@2x.png">
      <img src="/assets/images/style/lists/Ordered_List_Desktop@2x.png">
    </picture>
    <p class="caption">Ordered List | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/Unordered_List_Mobile@2x.png">
      <img src="/assets/images/style/lists/Unordered_List_Desktop@2x.png">
    </picture>
    <p class="caption">Unordered List | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/light-ui/Ordered_Lists_Mobile_Light@2x.png">
      <img src="/assets/images/style/lists/light-ui/Ordered_Lists_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Ordered List | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/light-ui/Unordered_Lists_Mobile_Light@2x.png">
      <img src="/assets/images/style/lists/light-ui/Unordered_Lists_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Unordered List | units in px / em</p>
  </div>
</div>

</div>

</div>

<div class="view__section">

<div class="view__full">

### Padding

Lists cannot have any element or text within 16 px / 1em of its borders.

<div class="style-img">
  <div class="style-img--dark">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/Ordered_List_Padding_Mobile@2x.png">
      <img src="/assets/images/style/lists/Ordered_List_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Ordered List Padding | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/Unordered_List_Padding_Mobile@2x.png">
      <img src="/assets/images/style/lists/Unordered_List_Padding_Desktop@2x.png">
    </picture>
    <p class="caption">Unordered List Padding | units in px / em</p>
  </div>
  <div class="style-img--light">
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/light-ui/Ordered_Lists_Padding_Mobile_Light@2x.png">
      <img src="/assets/images/style/lists/light-ui/Ordered_Lists_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Ordered List Padding | units in px / em</p>
    <picture>
      <source media="(max-width: 550px)" srcset="/assets/images/style/lists/light-ui/Unordered_Lists_Padding_Mobile_Light@2x.png">
      <img src="/assets/images/style/lists/light-ui/Unordered_Lists_Padding_Desktop_Light@2x.png">
    </picture>
    <p class="caption">Unordered List Padding | units in px / em</p>
  </div>
</div>

</div>

</div>



## Typography

<div class="view__section">

<div class="view__full">

Level 1 of any list type should be set in bold and sentence case, with only the first word in a phrase and any proper nouns capitalized. Level 2 of any list type should also be set in sentence case, with only the first word in a phrase and any proper nouns capitalized in roman. All list text should follow the Bluemix Typography font stack for san-serif.

<div class="style-properties max-width-45">
  <div class="table">
    <div class="table__header">
      <p>FONT-SIZE</p>
      <p>PX</p>
      <p>REM</p>
    </div>
    <div class="table__row">
      <p>List text</p>
      <p class="table--light">14px</p>
      <p class="table--light">.875rem</p>
    </div>
    <div class="table__row">
      <p>Line height</p>
      <p class="table--light">24px</p>
      <p class="table--light">1.5rem</p>
    </div>
  </div>
  <div class="table">
    <div class="table__header">
      <p>FONT WEIGHT</p>
      <p>KEYWORD</p>
      <p>NUMERICAL VALUE</p>
    </div>
    <div class="table__row">
      <p>Level 1 List</p>
      <p class="table--light">Bold</p>
      <p class="table--light">700</p>
    </div>
    <div class="table__row">
      <p>Level 2 List</p>
      <p class="table--light">Normal</p>
      <p class="table--light">400</p>
    </div>
  </div>
</div>

</div>

</div>

{{/markdown}}
