{{#markdown}}

### Length
Generally, lists should be used to present simple pieces of information. For more complex sets of data, consider using a <a class="base-link" href="http://design-system.stage1.mybluemix.net/components/tables.html#foundation" target="_blank">Table</a>.

### Order
Arrange list items in a logical way. For example, if the list is about resource use, the default order might be highest resource use to lowest. Grouping items in categories into smaller, more specific lists might be more meaningful in some contexts. Alternatively, organize in alphabetical or numeric order.

### Text

Use list items that are grammatically parallel. For example, do not mix passive voice with active voice or declarative sentences (statements) with imperative sentences (direct command). Capitalize the first word of each item in a list.

### Filter & sort
Lists can be filterable and sortable, enabling users to manipulate and view content as they see fit.

{{/markdown}}
