---
fabricator: true
name: Bluemix Architecture
category: Templates
---

{{> page-header}}



  <div class="view">
    <p class="main">
      <span class="blue-30">Bluemix</span> is an open-standards, cloud-based platform for building, managing, and running apps of all types. It supports several programming languages and services, as well as integrated DevOps to build, run, deploy and manage applications on the cloud. Bluemix is based on Cloud Foundry open technology and runs on SoftLayer infrastructure.
    </p>
  </div>

</div>
