---
fabricator: true
name: Catalog
title: Catalog Template | IBM Bluemix Design System
category: Templates
---

{{> page-header}}

<div class="view templates">

<!--  {{> theme-switcher-btns}} -->

  <p class="main">
    The <span class="blue-30">Catalog</span> displays a list of services and offerings hosted on Bluemix. These include Boilerplates, Cloud Foundry applications, Watson services, and Containers.
  </p>

  {{#markdown}}

  ## Bluemix catalog

<div class="two-columns-img">
  <div class="overlay-image first-column">
    <div class="style-img--dark">
    <!--  <img class="thumbnail-img" src="/assets/images/templates/Catalog/Dark/Add Menu - Desktop - Dark UI.png">
      <a href="/assets/images/templates/Catalog/Dark/Add Menu - Desktop - Dark UI.png" target="_blank" class="overlay">
      <img src="/assets/images/icons/ibm-eye.png" />
      <p>View at 100%</p>
      </a>
    </div>
    <div class="style-img--light"> -->
      <img class="thumbnail-img" src="/assets/images/templates/Catalog/Light/catalog-1.png">
      <a href="/assets/images/templates/Catalog/Light/catalog-1.png" target="_blank" class="overlay">
      <img src="/assets/images/icons/ibm-eye.png" />
      <p>View at 100%</p>
      </a>
    </div>
  </div>

  <div class="second-column">
 <div class="style-img--dark">
      <!--   <img src="/assets/images/templates/Catalog/Dark/Add Menu - Mobile - Dark UI.png">
    </div>
    <div class="style-img--light"> -->
      <img src="/assets/images/templates/Catalog/Light/catalog-2.png">
    </div>
  </div>
</div>

  ## Catalog service icon
  The catalog service icon is an opportunity for you to create or utilize an icon or logo that illustrates your service. Once submitted, your icon will need to be approved by the Bluemix Design Systems team and IBM legal team.

  <p class="caption">Your service icon in the Bluemix catalog:</p>
  <div class="mt2 mb2">
    <img src="/assets/images/templates/Catalog/catalog-3.png" />
  </div>


  ### SVG & pixel sizes

  An SVG and 4 transparent background PNGs are required for your catalog icon. Borders are used here to show total dimensions; icons should not include a border when submitted.

  <div class="mt2 mb2">
    <img src="/assets/images/templates/Catalog/catalog-4.png" />
  </div>

  ### Multiple services
  If you have multiple services, you should use the same icon with a different color for each service. The example here shows how a row of services from the same provider would look in the catalog.

  <div class="mt2 mb2 max-width-45">
    <img class="width-full" src="/assets/images/templates/Catalog/catalog-5.png" />
  </div>

  ### Color
  We recommend you use 1-4 colors max in your catalog icon. Use color combinations that work well together. Avoid using too may colors, a gray-scale palette, and colors with too little contrast. Refer to the <a class="base-link" href="http://www.ibm.com/design/language/framework/visual/color" target="_blank">IBM Design Language color palette</a> for color inspiration and accessiblity guidelines.

  **Do:**

  * Get creative
  * Be symmetrical
  * Use a bold line weight/stroke
  * Use two similar colors to create depth and value


  **Don't:**

  * Gradients
  * Drop shadows
  * Use more than 2px line weight/stroke
  * Use a color background

  {{/markdown}}

</div>
