---
fabricator: true
name: Catalog
title: Catalog Template | IBM Bluemix Design System
category: Templates
---

{{> page-header}}

<div class="view">

  <p class="main">
    The <span class="blue-30">Catalog</span> displays a list of services and offerings hosted on Bluemix. These include Boilerplates, Cloud Foundry applications, Watson services, and Containers.
  </p>

  {{#markdown}}

  ## Bluemix catalog

  <div class="overlay-image">
    <img class="thumbnail-img" src="/assets/images/usage/catalog.png" />
    <a href="/assets/images/usage/catalog.png" target="_blank" class="overlay">
      <img src="/assets/images/icons/ibm-eye.png" />
      <p>View at 100%</p>
    </a>
  </div>

  ## Catalog service icon
  The catalog icon is an opportunity for you to create or utilize an icon or logo that illustrates your service. Once submitted, your icon will need to be approved by the Bluemix design team and IBM legal team.

  <p class="caption">Your service icon in the Bluemix catalog:</p>
  <div class="mb2">
    <img src="/assets/images/usage/service-icons.png" />
  </div>


  ### SVG & pixel sizes

  An SVG and 4 transparent background PNGs are required for your catalog icon.

  Borders are used here to show total dimensions; icons should not include a border when submitted.

  <div class="mb2">
    <img src="/assets/images/usage/icons-sizing.png" />
  </div>

  ### Multiple services
  If you have multiple services you should use the same icon with a different color for each service.

  The example here shows how a row of services from the same provider would look in the catalog.

  <div class="mb2">
    <img src="/assets/images/usage/multiple-services.png" />
  </div>

  ### Color
  We recommend you use 1-4 colors max in your catalog icon. Use color combinations that work well together. Avoid using too may colors, a gray-scale palette, and colors with too little contrast. Refer to the <a href="http://www.ibm.com/design/language/framework/visual/color">IBM Design Language color palette</a> for color inspiration and accessiblity guidelines.

  **Do:**

  * Get creative
  * Be symmetrical
  * Use a bold line weight/stroke
  * Use 2 similar colors to create depth/value


  **Don't:**

  * Gradients
  * Drop shadows
  * Use more than 2px line weight/stroke
  * Use a color background

  {{/markdown}}

</div>
