---
fabricator: true
name: Category Pages
category: Templates
---


{{> page-header}}

<div class="view">

<p class="main">
  <span class="blue-30">Category Pages</span> exist one level below the main Bluemix console. These areas are owned, built, and designed by category owners in order to provide focused experiences for their target users. Maintain a level of consistency across these experiences, while allowing for the flexibility to address the specific needs of the target users.
</p>

{{#markdown}}

## Purpose

The core purpose is to allow end users to Discover platform capabilities, See current assets, and Do productive work. Category pages should ultimately enable users to efficiently achieve productive use. They provide a prescriptive, contextual, streamlined experience focused on user workflows.

### Discover

Various types of users such as data scientists and developers may learn about a specific task or capability offered by Bluemix. Thoughtfully expose users to the breadth of our capabilities. Embed information within the experience and present capabilities and tasks intuitively, using industry standard language.

### See

Clearly prioritize data so users quickly gain insight. Information is specific and digestible. Users are able to understand how data affects them at a glance and dive deeper, if necessary.

### Do

Frame a contextual experience based on user behavior and intent to enable users to effectively accomplish tasks they set out to do. Reaching productive use is straightforward and dynamic assistance is built in at each step.

{{/markdown}}

</div>
