---
fabricator: true
name: Category Pages
title: Category Pages Template | IBM Bluemix Design System
category: Templates
---


{{> page-header}}

<div class="view">

<!-- {{> theme-switcher-btns}} -->

<p class="main">
  <span class="blue-30">Category Pages</span> exist one level below the main Bluemix console. These areas are owned, built, and designed by category owners in order to provide focused experiences for their target users. It is important to maintain a level of consistency across these experiences, while allowing for the flexibility to address the specific needs of the target users.
</p>

{{#markdown}}

## Purpose

The core purpose is to allow end users to <span style="font-weight: 700">discover</span> platform capabilities, <span style="font-weight: 700">see</span> current assets, and <span style="font-weight: 700">do</span> productive work. Category pages should ultimately enable users to efficiently achieve productive use. They provide a prescriptive, contextual, streamlined experience focused on user workflows.


<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
  <!--  <img class="thumbnail-img" src="/assets/images/templates/Category_Pages/Dark/Consoles - CF-Apps - Grid - Dark UI.png">
    <a href="/assets/images/templates/Category_Pages/Dark/Consoles - CF-Apps - Grid - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light"> -->
    <img class="thumbnail-img" src="/assets/images/templates/Category_Pages/Light/category-1.png">
    <a href="/assets/images/templates/Category_Pages/Light/category-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
<!--
<div class="second-column">
  <div class="style-img--dark">
    <img src="/assets/images/templates/Category_Pages/Dark/Consoles - CF-Apps Grid - Mobile - Dark UI.png">
  </div>
  <div class="style-img--light">
    <img src="/assets/images/templates/Category_Pages/Light/Consoles - CF-Apps - Grid - Mobile - Light UI@2x.png">
  </div> -->



### Discover

Various types of users, such as data scientists and developers, may learn about a specific task or capability offered by Bluemix. Thoughtfully expose users to the breadth of our capabilities. Embed information within the experience, and present capabilities and tasks intuitively, using industry standard language.

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
  <!--  <img class="thumbnail-img" src="/assets/images/templates/Category_Pages/Dark/Consoles - CF-Apps - ListView - Dark UI.png">
    <a href="/assets/images/templates/Category_Pages/Dark/Consoles - CF-Apps - ListView - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light"> -->
    <img class="thumbnail-img" src="/assets/images/templates/Category_Pages/Light/category-2.png">
    <a href="/assets/images/templates/Category_Pages/Light/category-2.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

### See

Clearly prioritize data so users can quickly gain insight. Information is specific and digestible. Users are able to understand how data affects them at a glance and dive deeper, if necessary.
<!--
<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/templates/Category Pages/Dark/Consoles - Containers - ListView - Dark UI.png">
    <a href="/assets/images/templates/Category Pages/Dark/Consoles - Containers - ListView - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/templates/Category Pages/Light/Consoles - Containers - ListView - Light UI@2x.png">
    <a href="/assets/images/templates/Category Pages/Light/Consoles - Containers - ListView - Light UI@2x.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>
-->

### Do

Frame a contextual experience based on user behavior and intent to enable users to effectively accomplish tasks they set out to do. Reaching productive use is straightforward, and dynamic assistance is built in at each step.

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
  <!--  <img class="thumbnail-img" src="/assets/images/templates/Category_Pages/Dark/Consoles - Empty - Dark UI.png">
    <a href="/assets/images/templates/Category_Pages/Dark/Consoles - Empty - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light"> -->
    <img class="thumbnail-img" src="/assets/images/templates/Category_Pages/Light/category-3.png">
    <a href="/assets/images/templates/Category_Pages/Light/category-3" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

{{/markdown}}

</div>
