---
fabricator: true
name: Configuration Pages
title: Configuration Pages Template | IBM Bluemix Design System
category: Templates
---

{{> page-header}}

<div class="view">

  <p class="main">
    <span class="blue-30">Configuration pages</span> appear when a user has clicked on a category from the Bluemix catalog. The user is typically creating a new instance of a service, Container, Virtual Machine, or CF App.
  </p>

{{#markdown}}

You can find the source file for these templates in the <a href="https://github.ibm.com/Bluemix/design-kit" target="_blank">Bluemix Design Kit.</a>

## App Configuration

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/configuration-runtimes.png" />
  <a href="/assets/images/configuration-runtimes.png" target="_blank" class="overlay">
  <img src="/assets/images/ibm-eye.png" />
  <p>View at 100%</p>
</a>
</div>

## Bare Metal Configuration

<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/configuration-baremetal.png" />
  <a href="/assets/images/configuration-baremetal.png" target="_blank" class="overlay">
  <img src="/assets/images/ibm-eye.png" />
  <p>View at 100%</p>
</a>
</div>

## Containers Configuration

<div class="overlay-image">
<img class="thumbnail-img" src="/assets/images/configuration-containers.png" />
<a href="/assets/images/configuration-containers.png" target="_blank" class="overlay">
<img src="/assets/images/ibm-eye.png" />
<p>View at 100%</p>
</a>
</div>

## Virtual Machines Configuration
<div class="overlay-image">
  <img class="thumbnail-img" src="/assets/images/configuration-VM.png" />
  <a href="/assets/images/configuration-VM.png" target="_blank" class="overlay">
  <img src="/assets/images/ibm-eye.png" />
  <p>View at 100%</p>
</a>
</div>

{{/markdown}}

</div>
