---
fabricator: true
name: Configuration Pages
title: Configuration Pages Template | IBM Bluemix Design System
category: Templates
---

{{> page-header}}

<div class="view">

  {{> theme-switcher-btns}}

  <p class="main">
    <span class="blue-30">Configuration pages</span> appear when a user has clicked on a category from the Bluemix catalog. The user is typically creating a new instance of a service, Container, Virtual Machine, or CF App.
  </p>

{{#markdown}}

You can find the source file for these templates in the <a href="https://github.ibm.com/Bluemix/design-kit" data-design-kit="Templates" target="_blank">Bluemix Design Kit.</a>

## App Configuration

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Dark/Configuration - Boilerplate - Dark UI.png">
    <a href="/assets/images/templates/Configuration Pages/Dark/Configuration - Boilerplate - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Light/Configuration - Boilerplate - Light UI.png">
    <a href="/assets/images/templates/Configuration Pages/Light/Configuration - Boilerplate - Light UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>


## Bare Metal Configuration

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Dark/Configuration - Baremetal - Dark UI.png">
    <a href="/assets/images/templates/Configuration Pages/Dark/Configuration - Baremetal - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Light/Configuration- Baremetal - Light UI.png">
    <a href="/assets/images/templates/Configuration Pages/Light/Configuration- Baremetal - Light UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

## Containers Configuration

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Dark/Configuration - Containers - Dark UI.png">
    <a href="/assets/images/templates/Configuration Pages/Dark/Configuration - Containers - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Light/Configuration- Containers - Light UI.png">
    <a href="/assets/images/templates/Configuration Pages/Light/Configuration- Containers - Light UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

## Service Configuration

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Dark/Configurations - Service - Dark UI.png">
    <a href="/assets/images/templates/Configuration Pages/Dark/Configurations - Service - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light">
    <img class="thumbnail-img" src="/assets/images/templates/Configuration Pages/Light/Configurations - Service - Light UI.png">
    <a href="/assets/images/templates/Configuration Pages/Light/Configurations - Service - Light UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

{{/markdown}}

</div>
