---
fabricator: true
name: Configuration Pages
category: Templates
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">{{category}}</p>
      <h1 class="page__large-heading">{{name}}</h1>
  </div>
</div>

<div class="page__container">



  <p class="page__main-desc">
    <span class="highlight">Configuration pages</span> appear when a user has clicked on a category from the Bluemix catalog. The user is typically creating a new instance of a service, Container, Virtual Machine, or CF App.
  </p>

  <p class="page__desc">You can find the source file for these templates in the <a href="https://github.ibm.com/Bluemix/design-kit" target="_blank" class="bx--link--dark">Bluemix Design Kit.</a>

  <h2 class="page__heading">App Configuration</h2>
      <div class="page__img--thumbnail">
        <img class="thumbnail-img" src="/assets/images/configuration-runtimes.png" />
        <a href="/assets/images/configuration-runtimes.png" target="_blank" class="overlay">
        <img src="/assets/images/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
      </div>

  <h2 class="page__heading">Bare Metal Configuration</h2>
      <div class="page__img--thumbnail">
        <img class="thumbnail-img" src="/assets/images/configuration-baremetal.png" />
        <a href="/assets/images/configuration-baremetal.png" target="_blank" class="overlay">
        <img src="/assets/images/ibm-eye.png" />
        <p>View at 100%</p>
      </a>
      </div>

  <h2 class="page__heading">Containers Configuration</h2>
    <div class="page__img--thumbnail">
      <img class="thumbnail-img" src="/assets/images/configuration-containers.png" />
      <a href="/assets/images/configuration-containers.png" target="_blank" class="overlay">
      <img src="/assets/images/ibm-eye.png" />
      <p>View at 100%</p>
    </a>
    </div>

  <h2 class="page__heading">Virtual Machines Configuration</h2>
  <div class="page__img--thumbnail">
    <img class="thumbnail-img" src="/assets/images/configuration-VM.png" />
    <a href="/assets/images/configuration-VM.png" target="_blank" class="overlay">
    <img src="/assets/images/ibm-eye.png" />
    <p>View at 100%</p>
  </a>
  </div>


</div>
