---
fabricator: true
title: CF App Details template
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">Templates</p>
      <h1 id="{{name}}" class="page__large-heading">Detail Pages</h1>
  </div>
</div>

<div class="page__container">
  <p class="page__main-desc">
    <span class="highlight">Detail pages</span> are used for showing information and details of an instance that exists in the user's dashboard. They appear when a user clicks on a specific item in their dashboard. Typically, these instances can include CF Apps, Services, Virtual Machines, and Containers. Use these templates as a starting point and foundation for your design.
  </p>
  <h2 class="page__heading">Service Details</h2>
    <p class="page__desc">Service detail pages exist after a user selects and provisions a service from the Bluemix catalog. Similarly, a user can access the service details for a service they have provisioned from their dashboard.<br><br>Service details act as a location for users to learn more about services, configure their service instance and connect it to an existing app or service instance.</p>
  <h3 class="page__small-heading">Learn</h3>
    <p class="page__desc"> First-time users likely have no notion of how to use a service. Provide pertinent introductory material for users to quickly and effectively get up and running. Links to service-specific API documentation and demo pages help them familiarize themselves with their surroundings.</p>
  <h3 class="page__small-heading">Configure</h3>
    <p class="page__desc">Users need to be able to easily integrate a service into their workflow. Whether it's connecting to an existing app or service, don't hide or scatter the tools they need to get the job done. The means by which they configure their service should be accessible and intuitive.</p>
    
    <h2 class="page__heading">CF App Details</h2>
    <h2 class="page__heading">Bare Metal Details</h2>
    <h2 class="page__heading">Virtual Machines Details</h2>


</div>
