---
fabricator: true
name: Instance Dashboards
category: Templates
---
<div class="page__header">
  <div class="page__info">
    <p class="page__category">{{category}}</p>
      <h1 class="page__large-heading">{{name}}</h1>
  </div>
</div>

<div class="page__container">
  <p class="page__main-desc">
    <span class="highlight">Instance Dashboards</span> are used for showing information and details of an instance that exists in the user's dashboard. They appear when a user clicks on a specific item in their dashboard. Typically, these instances can include CF Apps, Services, Virtual Machines, and Containers. Use these templates as a starting point and foundation for your design.
  </p>

  <p class="page__desc">You can find the source file for these templates in the <a href="https://github.ibm.com/Bluemix/design-kit" target="_blank" class="bx--link--dark">Bluemix Design Kit.</a>

    
  <h2 class="page__heading">Service Dashboard</h2>
    <p class="page__desc">Service dashboards may be accessed from the Global Dashboard, or after a user provisions a service from the Bluemix catalog. Service dashboards serve as locations for users to learn more about services, configure their service instance and connect it to an existing app or service instance.</p>
  <h3 class="page__small-heading">Learn</h3>
    <p class="page__desc">Provide pertinent introductory material such as links to service-specific API documentation and demos so users quickly and effectively get up and running.</p>
  <h3 class="page__small-heading">Configure</h3>
    <p class="page__desc">Enable users to easily integrate a service into their workflow. Configuring a service should be accessible.</p>

    <h2 class="page__heading">CF App Dashboard</h2>
        <div class="page__img--thumbnail">
          <img class="thumbnail-img" src="/assets/images/cf-app.png" />
          <a href="/assets/images/cf-app.png" target="_blank" class="overlay">
          <img src="/assets/images/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
        </div>

    <h2 class="page__heading">Bare Metal Dashboard</h2>
        <div class="page__img--thumbnail">
          <img class="thumbnail-img" src="/assets/images/bare-metal.png" />
          <a href="/assets/images/bare-metal.png" target="_blank" class="overlay">
          <img src="/assets/images/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
        </div>

    <h2 class="page__heading">Virtual Machines Dashboard</h2>
        <div class="page__img--thumbnail">
          <img class="thumbnail-img" src="/assets/images/vm.png" />
          <a href="/assets/images/vm.png" target="_blank" class="overlay">
          <img src="/assets/images/ibm-eye.png" />
          <p>View at 100%</p>
        </a>
        </div>

</div>
