---
fabricator: true
name: Instance Dashboards
title: Instance Dashboards Template | IBM Bluemix Design System
category: Templates
---

{{> page-header}}

<div class="view">

<!-- {{> theme-switcher-btns}} -->

  <p class="main">
    <span class="blue-30">Instance Dashboards</span> are used for showing information and details of an instance that exists in the user's dashboard. They appear when a user clicks on a specific item in their dashboard. Typically, these instances can include CF Apps, Services, Virtual Machines, and Containers. Use these templates as a starting point and foundation for your design.
  </p>

  <div class="accordion">
    <div class="panel">
      <div class="panel-heading" role="tab" id="headingOne">
        <a class="panel-title" role="button" data-toggle="open" data-parent=".accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Service dashboard
        </a>
        <svg class="panel-icon">
          <use xlink:href="/assets/sprite.svg#support--arrow-right"></use>
        </svg>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" arialabelledby="headingOne">
        <div class="panel-body">

{{#markdown}}

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
  <!--  <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 4 - Dark UI.png">
    <a href="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 4 - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light"> -->
    <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Light/dashboard-services-1.png">
    <a href="/assets/images/templates/Instance_Dashboard/Light/dashboard-services-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

Service dashboards may be accessed from the Global dashboard, or after a user provisions a service from the Bluemix catalog. Service dashboards serve as locations for users to learn more about services, configure their service instance and connect it to an existing app or service instance.<br><br>As shown in the example above, Service dashboards are comprised of a series of tabs that are defined in the service broker meta-data.

## Full integration with Bluemix
#### Getting Started
Getting Started at the instance level should be all about getting a user up and running as fast as possible.

Upon creation of a service instance, the content on the Getting Started page is the first thing a user encounters and will likely dictate how successful they are with the service.

#### Manage
Content aiding in a user's productive use workflow, and any additional learning content should surface in the Manage page. Consider providing pertinent introductory material such as links to service-specific API documentation and demos so users can quickly and effectively get up and running.

#### Service Credentials
The Service Credentials page shows the service instance credentials to an end user. Currently, users have the ability to create mulitple sets of credentials.

Services that do not use credentials are not required to have this.

#### Connections
This provides a way for users to bind their service instance to an existing app or service instance.

## Hybrid integration with Bluemix
We understand that more complex interfaces may require a launch out experience. If your service validates this need, use the Launch out template below. Include a basic description of the capabilities your service offers, as well as a description to what the user can expect to happen once they launch out.

<div class="overlay-image mt2 mb3">
 <div class="style-img--dark">
<img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Light/dashboard-launch-out-1.png">
<a href="/assets/images/templates/Instance_Dashboard/Light/dashboard-launch-out-1.png" target="_blank" class="overlay">
<img src="/assets/images/icons/ibm-eye.png" />
<p>View at 100%</p>
</a>
</div>
</div>

{{/markdown}}

        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading" role="tab" id="headingTwo">
        <a class="panel-title" role="button" data-toggle="open" data-parent=".accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Bare Metal dashboard
        </a>
        <svg class="panel-icon">
          <use xlink:href="/assets/sprite.svg#support--arrow-right"></use>
        </svg>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" arialabelledby="headingTwo">
        <div class="panel-body">

{{#markdown}}

<div class="overlay-image mt2 mb3">
 <div class="style-img--dark">
<!--     <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 2 - Dark UI.png">
    <a href="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 2 - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light"> -->
    <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Light/dashboard-bare-metal-1.png">
    <a href="/assets/images/templates/Instance_Dashboard/Light/dashboard-bare-metal-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

{{/markdown}}

        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading" role="tab" id="headingThree">
        <a class="panel-title" role="button" data-toggle="open" data-parent=".accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          CloudFoundry dashboard
        </a>
        <svg class="panel-icon">
          <use xlink:href="/assets/sprite.svg#support--arrow-right"></use>
        </svg>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" arialabelledby="headingTwo">
        <div class="panel-body">

{{#markdown}}

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
<!--    <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 3 - Dark UI.png">
    <a href="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 3 - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light"> -->
    <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Light/dashboard-cf-apps-1.png">
    <a href="/assets/images/templates/Instance_Dashboard/Light/Sdashboard-cf-apps-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

{{/markdown}}

        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading" role="tab" id="headingFour">
        <a class="panel-title" role="button" data-toggle="open" data-parent=".accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          Virtual Machine (VM) dashboard
        </a>
        <svg class="panel-icon">
          <use xlink:href="/assets/sprite.svg#support--arrow-right"></use>
        </svg>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" arialabelledby="headingFour">
        <div class="panel-body">

{{#markdown}}

<div class="overlay-image mt2 mb3">
  <div class="style-img--dark">
<!--    <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 5 - Dark UI.png">
    <a href="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 5 - Dark UI.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
  <div class="style-img--light"> -->
    <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Light/dashboard-virtual-machine-1.png">
    <a href="/assets/images/templates/Instance_Dashboard/Light/dashboard-virtual-machine-1.png" target="_blank" class="overlay">
    <img src="/assets/images/icons/ibm-eye.png" />
    <p>View at 100%</p>
    </a>
  </div>
</div>

{{/markdown}}

        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading" role="tab" id="headingFive">
        <a class="panel-title" role="button" data-toggle="open" data-parent=".accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          Object Storage dashboard
        </a>
        <svg class="panel-icon">
          <use xlink:href="/assets/sprite.svg#support--arrow-right"></use>
        </svg>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" arialabelledby="headingFive">
        <div class="panel-body">
          <div class="overlay-image mt2 mb3">
            <div class="style-img--dark">
          <!--    <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 1 - Dark UI.png">
              <a href="/assets/images/templates/Instance_Dashboard/Dark/Service Dashboard - Template 1 - Dark UI.png" target="_blank" class="overlay">
              <img src="/assets/images/icons/ibm-eye.png" />
              <p>View at 100%</p>
              </a>
            </div>
            <div class="style-img--light"> -->
              <img class="thumbnail-img" src="/assets/images/templates/Instance_Dashboard/Light/dashboard-object-storage-1.png">
              <a href="/assets/images/templates/Instance_Dashboard/Light/dashboard-object-storage-1.png" target="_blank" class="overlay">
              <img src="/assets/images/icons/ibm-eye.png" />
              <p>View at 100%</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
