$type-scale:
  .6875rem,
  .75rem,
  .875rem,
  1rem,
  1.125rem,
  1.25rem,
  1.4375rem,
  1.625rem,
  1.8125rem,
  2rem,
  2.25rem,
  2.5625rem,
  2.875rem,
  3.25rem,
  3.625rem,
  4.125rem,
  4.625rem,
  5.1875rem,
  5.875rem
;

.typography-table {
  overflow-x: scroll;
  max-width: 45rem;
  width: 100%;

  table {
    max-height: 40rem;
  }

  .expanded-table {
    table {
      max-height: 200rem;
    }
  }

  table thead tr,
  table tbody tr {
    width: 100%;
    max-width: 45rem;
  }

  table tbody tr {
    border-bottom: none;
    align-items: baseline;
  }

  table tbody td {
    white-space: nowrap;
  }

  @for $i from 1 through length($type-scale) {
    table tbody tr:nth-child(#{$i}) td:nth-child(3) {
      font-size: nth($type-scale, $i);
      white-space: nowrap;
      color: $color__navy-gray-6;
      width: 50%;
    }
  }
}